/* .hidden {
  display: none;
} */

.search-bar{
    position: relative;
    padding: 9px 10px 9px 33px;
    border-radius: 2px;
    border: 1px solid #E5E5E5;
    width: 325px;
  }
  .placeholder-search{
    position: absolute;
    left: 11px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 18px;
  }
  .search-btn{
    position: absolute;
    right: 0px;
    background-color: #808080;
    border-radius: 2px;
    border: unset;
    padding: 10px 10px;
  }
  .search-btn img{
    filter: invert(1);
    width: 18px;
  }
  .portfolio-list{
    -webkit-column-count: 3;
      -webkit-column-gap: 0;
      -moz-column-count: 3;
      -moz-column-gap: 0;
      column-count: 4;
      column-gap: 0;
  }
  .portfolio-list li {
    width: 100%;
    float: left;
    padding: 0 4px;
    margin: 4px 0;
    border-radius: 8px;
  }
  .set-width {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  ul.set-width.portfolio-list li .cardBlock  {
    margin-bottom: 3px;
    display: inline-block;
    border-radius: 8px;
  }

  .main.slideLeft{
    position: relative !important;
  }