/* .hidden {
  display: none;
} */

.search-bar{
    position: relative;
    padding: 9px 10px 9px 33px;
    border-radius: 2px;
    border: 1px solid #E5E5E5;
    width: 325px;
  }
  .placeholder-search{
    position: absolute;
    left: 11px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 18px;
  }
  .search-btn{
    position: absolute;
    right: 0px;
    background-color: #808080;
    border-radius: 2px;
    border: unset;
    padding: 10px 10px;
  }
  .search-btn img{
    filter: invert(1);
    width: 20px;
  }
  .portfolio-list{
    -webkit-column-count: 3;
      -webkit-column-gap: 0;
      -moz-column-count: 3;
      -moz-column-gap: 0;
      column-count: 4;
      column-gap: 0;
  }
  .portfolio-list li {
    width: 100%;
    float: left;
    padding: 0 4px;
    margin: 4px 0;
    border-radius: 8px;
  }
  .set-width {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  ul.set-width.portfolio-list li .cardBlock  {
    margin-bottom: 3px;
    display: inline-block;
    border-radius: 8px;
  }

  .main.slideLeft{
    position: relative !important;
  }

.tab-selection {
  display: flex;
  justify-content: center;
}

.iconsTab.nav-tabs {
  border-bottom: unset !important;
  height: fit-content;
  align-items: center;
}
.iconsTab.nav-tabs .nav-item.show .nav-link, .iconsTab.nav-tabs .nav-link.active{
  border: unset !important;
  padding: unset !important;
}
.iconsList.nav-tabs .nav-link{
  border: unset !important;
  padding: unset !important;
}
.tab-content {
  padding: 25px 0px 0px;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 8px 0px;
  color: #000000;
  font-size: 15px;
}
.nav-tabs {
   border-bottom: 0px;
}
.nav-tabs > li.active:before {
  border-color: transparent;
  border-top-color: transparent;
  border-width: 1px;
  margin-left: 0;
  height: 2px;
  background: #C49900;
  width: 100%;
  left: 0px;
}
.nav-tabs > li.active:after {
  border-color: transparent;
  border-top-color: transparent;
  border-width: 0px;
  margin-left: 0;
  left: 0px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
  color: #C49900 !important;
  font-weight: normal !important;
}
.nav-tabs>li>a{
  margin: 0px;
}
.nav-tabs > li {
  margin-right: 20px;
}
