

<div class="main">
    <!-- <app-loader [show]="loading"></app-loader>
    <app-sub-header (searchTextOutput)="searchTerm($event)"></app-sub-header>
    <app-side-drawer [inputMetaData]="aggregationsMetaData" (searchTextOutput)="filters($event)"></app-side-drawer>
    -->
    <!-- <app-loader [show]="loading"></app-loader> -->

    <app-sub-header
      (searchTextOutput)="searchTerm($event)"
      [tagsMetadata]="tagsMetadata"
      [tagsMetadataNew]="tagsMetadataNew"
      >
    </app-sub-header>
</div>

<app-side-drawer 
  #advancedFilter
  [inputMetaData]="aggregationsMetaData"
  (searchTextOutput)="filters($event)"
  (resetFilterOuput)="resetFilter()">
</app-side-drawer>
<!-- <app-content [images]="images" [videos]="videos" [audio]="audio" [searchTerm]="searchValue" (searchTextOutput)="searchDocuments($event)"
     (pageCount)="fetchNextPageResults(1, $event)"></app-content> -->

<app-content 
  #documentsView
  [documents]="documents"
  [searchTerm]="searchValue"
  [filters]="filtersParams"
  [userId]="user"
  (searchTextOutput)="searchDocuments($event)"
  (pageCount)="fetchNextPageResults(1, $event)"
  (selectDocType)="selectDocType($event)"
  (openFilterModal)="openFilterModal($event)"
  (resetFilterOuput)="resetFilter()"
  (selectDetailViewType)="selectDetailViewType($event)"
></app-content>