<section class="sub-header" >
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center">
        <h2 class="pb-4">GROUND X</h2>
        <form>
          <div class="flexible" style="justify-content: center">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                All assets
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">All assets</a></li>
                <li><a class="dropdown-item" href="#">Created</a></li>
                <li><a class="dropdown-item" href="#">Modified</a></li>
                <li><a class="dropdown-item" href="#">Last Contibutor</a></li>
                <li><a class="dropdown-item" href="#">State</a></li>
                <li><a class="dropdown-item" href="#">Nature</a></li>
                <li><a class="dropdown-item" href="#">Coverage</a></li>
              </ul>
            </div>
            <!-- <app-search></app-search> -->
            <div style="position: relative;">
              <form (ngSubmit)="searchOutputFn(searchText)" autocomplete="off">
                <input [ngModel]="searchText" (ngModelChange)="searchText=$event" [ngModelOptions]="{standalone: true}"
                  type="text" placeholder="Search files" class="search-bar">
                <button class="primary search-btn"><img
                    src="https://img.icons8.com/material-outlined/24/000000/search--v1.png" /></button>
              </form>
            </div>
          </div>
        </form>
        <div class="search-tags pt-5">
          <ul class="flexible">
            <li>
              <a href="#">Travel</a>
            </li>
            <li>
              <a href="#">Hotel</a>
            </li>
            <li>
              <a href="#">Tourist</a>
            </li>
            <li>
              <a href="#">Tourism Industry</a>
            </li>
            <li>
              <a href="#">Tourism Industry</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- <app-search></app-search> -->