<section class="sub-header pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <h2 class="pb-2">GROUND X Search</h2>
                <form>
                    <div class="flexible" style="justify-content: center">
                      <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          All assets
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">All assets</a></li>
                          <li><a class="dropdown-item" href="#">Created</a></li>
                          <li><a class="dropdown-item" href="#">Modified</a></li>
                          <li><a class="dropdown-item" href="#">Last Contibutor</a></li>
                          <li><a class="dropdown-item" href="#">State</a></li>
                          <li><a class="dropdown-item" href="#">Nature</a></li>
                          <li><a class="dropdown-item" href="#">Coverage</a></li>
                        </ul>
                      </div>
                      <search></search>
                      
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</section>