@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
html, body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
p{
  margin-bottom: unset;
}
span.active {
  background-color: red;
}

footer {
  padding-top: 2em;
}

.flexible{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}