<div *ngIf="openInModal">
  <ng-template #preview let-modal class="imgPopUpTab">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); copiedString = ''">
        <!-- <span aria-hidden="true">&times;</span> -->
        <span aria-hidden="true"><img src="../../assets/images/modalclose.svg" /></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="modalHead">
        <div class="row flexible" style="justify-content: space-between">
          <div class="col-xl-6 col-md-6">
            <ol class="publicUse" >
              <li>
                <div class="publicUseBlock" *ngIf="hasNoRestriction() && !hasPrivateAccess()">
                  <div class="publicUseBlk" >Public use</div>
                  <div class="mouseHoverInfo">
                    Can be used in the public domain, e.g. on social media.
                  </div>
                </div>

                <div class="internalUseBlock" *ngIf="internalUse() && !hasPrivateAccess()">
                  <div class="publicUseBlk">Internal use</div>
                  <div class="mouseHoverInfo">
                    Cannot be used in the public domain. i.e. only for use in internal documents or media.
                  </div>
                </div>

                <div class="privateBlock" *ngIf="hasPrivateAccess()">
                  <div class="publicUseBlk">Private</div>
                  <div class="mouseHoverInfo">
                    Yet to be published on Ground X. No usage information available.
                  </div>
                </div>
              </li>
              <li *ngIf="!hasPrivateAccess()">
                <div class="usagePermission">Usage permission{{!getApprovalUsers1() ? ' not':''}} required</div>
                <div class="mouseHoverInfo w219">
                  {{!getApprovalUsers1()? 'Does not requires approval before use':'Requires approval before use'}}.
                </div>
              </li>
              <li>
                <span class="copy-section" >
                  <a class="flexible">
                    <img src="../../../assets/images/copyIcon.png" style="width: 14px;margin-right: 6px;margin-left: 0px;">
                    <span class="copy-link pointer" (click)="copyLink()">
                      {{!copiedString ? 'Copy link' : 'Link copied!'}}
                    </span>
                  </a>
                </span>
              </li>
            </ol>
          </div>
          <div class="col-xl-6 col-md-6">
            <ul class="flexible">
              <li class="customtooltip">
                <a placement="bottom" ngbTooltip="Favourite">
                  <img *ngIf="doc.contextParameters.favorites?.isFavorite" (click)="markFavourite(doc, false)"
                    src="../../assets/images/yellow-star.svg" />
                  <img *ngIf="!doc.contextParameters.favorites?.isFavorite" (click)="markFavourite(doc, true)"
                    src="../../assets/images/black-star.png" />
                </a>
              </li>
              <li>
                <div class="downloadBlock">
                  <!-- <div class="download-icon"></div> -->
                  <div class="downloadBtn">
                    <img src="../../assets/images/download-white-icon.svg" /> Download
                  </div>
                  <div *ngIf="doc" class="download-dropdown"  [ngClass]="{ 'removeMarginTop' : !checkCopyRight()} ">

                    <div *ngIf="hasNoRestriction()" class="no-use-restrictions">
                      <p  *ngIf=" checkCopyRight()">Always credit copyright owners.</p>
                    </div>

                    <div *ngIf="hasInternalRestriction() && getApprovalUsers().length<1" class="internal-use">
                      <p  *ngIf=" checkCopyRight()">Always credit copyright owners.</p>

                      <div class="control-group" [ngClass]="{ 'removeMarginTop' : !checkCopyRight()} ">
                        <label class="control control--checkbox">I am aware this asset is for internal use only
                          <input type="checkbox" [(ngModel)]="isAware" checked="isAware" />
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                    </div>

                    <div *ngIf="getApprovalUsers().length>0" class="permission-required">
                      <p  *ngIf=" checkCopyRight()">Always credit copyright owners. <br /><br /></p>
                      <div *ngIf="!checkCanDownload() && !hasRequestPending()">
                        <p>To download this asset please send <a href="mailto:{{getCreatorEmail()}}">{{getCreator()}}</a> a message</p>
                        <input type="text" [(ngModel)]="requestComment" class="requesInput" name="requestComment"
                          placeholder="Write a comment here" />
                          <button (click)="sendRequestDownload()">Submit</button>
                      </div>
                      <div *ngIf="!checkCanDownload() && hasRequestPending()">
                        <p>Request submitted</p>
                        <p>You will be notified when the request has been approved.</p>
                      </div>
                    </div>

                    <div *ngIf="showDownloadDropdown() || checkCanDownload()" class="sub-dropdown-block">
                      <div class="downloadIcon"></div> Download
                      <div class="down-arrow-icon"></div>
                      <div class="sub-dropdown-menu">
                        <ul>
                          <li *ngFor="let view of doc.properties['picture:views']">
                            <a href="{{ getAssetUrl(null, view.content.data) || '' }}">
                              {{ view.width }} * {{ view.height }}
                              <span>{{getDownloadFileEstimation(view.content.length)}}</span>
                            </a>
                          </li>
                          <li>
                            <a href="{{ getAssetUrl(null, doc?.properties['file:content']?.data) || '' }}">
                              Original File
                              <span>{{getDownloadFileEstimation()}}</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="popupTabSec">
        <app-loader-small [show]="modalLoading"></app-loader-small>
        <div class="copyright-caption">
          <img *ngIf="checkMimeType(doc) === 'picture'" [src]="getAssetUrl(null, docUrl)" style="width: 100%" />

          <img *ngIf="checkMimeType(doc) === 'nopreview'" src="../../../assets/images/no-preview.png" style="width: 100%;height: 100px;margin: 80px 0px;" />
        </div>

        <span *ngIf="checkMimeType(doc) === 'picture'" class="picture-copyright">{{getCopyright()}}</span>
        <div *ngIf="checkMimeType(doc) === 'video'" style="height: 600; position: relative">
          <video controls style="width: 100%; height: 600px" [src]="getAssetUrl(null, docUrl)"
            crossorigin="use-credentials"></video>
        </div>
        <div *ngIf="checkMimeType(doc) === 'file'">
          <pdf-viewer [src]="getAssetUrl(null, docUrl)" [render-text]="true"
            style="display: block; width: 100%; height: 600px" [original-size]="false" [autoresize]="true"
            [show-borders]="false" (on-progress)="onFileProgress($event)"></pdf-viewer>
        </div>
        <div class="myTabContentMain" [ngClass]="{ hide: !showShadow }">
          <div class="tab-content myTabContent" id="myTabContent">
            <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="home-tab">
              <div class="timeline-content">
                <ul>
                  <li *ngFor="let log of doc.contextParameters.audit">
                    <p>
                      <span>{{ log.principalName }}</span>
                      {{ getEventString(log.eventId) }}
                      {{ getTime(log.eventDate, false) }} ago
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="comment-content">
                <ul>
                  <li *ngFor="let comment of comments" class="flexible" style="align-items: unset">
                    <div>
                      <img src=".../../assets/images/black-user.png" />
                    </div>
                    <div class="commentTextBlk">
                      <p>
                        {{ comment.author }}
                        <span>{{ getTime(comment.creationDate, false) }} ago</span>
                      </p>
                      <p>{{ comment.text }}</p>
                    </div>
                  </li>
                </ul>
                <form (submit)="saveComment(commentText)">
                  <input type="text" [(ngModel)]="commentText" class="commentInput" name="comment"
                    placeholder="Write a comment here" />
                  <img (click)="saveComment(commentText)" src="../../assets/images/Btnentercomment.svg"
                    class="enterComment" style="cursor: pointer" />
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <div class="info-content">
                <div class="row">
                  <div class="col-xl-6 col-md-6">
                    <ul>
                      <li>
                        Created
                        {{ toDateString(doc?.properties) }}
                        by
                        <br />
                        <span style="color: #ebc03f; word-break: break-all">{{getCreator()}}</span>
                      </li>

                      <li>
                        Usage approver <br /><span style="color: #ebc03f; word-break: break-all">{{
                          doc?.properties && doc?.properties["sa:downloadApprovalUsers"]
                          }}</span>
                      </li>

                      <li>
                        Name <br /><span style="opacity: 0.7; word-break: break-all">{{
                          doc?.title
                          }}</span>
                      </li>

                      <li>
                        Location <br />
                        <span style="word-break: break-all">
                          <a href="/workspace/{{doc?.properties['dc:sector']}}/{{doc?.parentRef}}"
                          (click)="navigateTo(doc?.parentRef)" class="pointer" style="color: #ebc03f;">
                            {{doc?.path?.split('/'+doc.title)[0].replace('/workspaces', '')}}
                          </a>
                        </span>
                      </li>

                      <li>
                        Description <br /><span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties["dc:description"] ||
                          doc?.properties["imd:image_description"]
                          }}</span>
                      </li>

                      <li>
                        Format <br /><span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties && doc?.properties["picture:info"]?.format
                          }}</span>
                      </li>

                    </ul>
                  </div>
                  <div class="col-xl-6 col-md-6">
                    <ul>

                      <li>
                        Dimensions <br /><span style="opacity: 0.7; word-break: break-all">{{ doc?.properties && doc?.properties["picture:info"]?.width }} x
                          {{ doc?.properties["picture:info"]?.height }}</span>
                      </li>

                      <li>
                        Size <br /><span style="opacity: 0.7; word-break: break-all">{{
                          getDownloadFileEstimation()
                          }}</span>
                      </li>

                      <li>
                        Colour Profile <br /><span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties && doc?.properties["picture:info"]?.colorSpace
                          }}</span>
                      </li>
                      <li>
                        Bit Depth <br /><span style="opacity: 0.7; word-break: break-all">{{ doc?.properties && doc?.properties["picture:info"]?.depth
                          }}</span>
                      </li>

                      <li>
                        EXIF
                        <br />
                        Date
                        <span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties || doc?.properties["dc:created"]
                          }}</span>
                        <br />
                        Orientation
                        <span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties["imd:orientation"]
                          }}</span>
                        <br />
                        Aperture
                        <span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties["imd:fnumber"]
                          }}</span>
                        <br />
                        Exposure
                        <span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties["imd:exposure_time"]
                          }}</span>
                        <br />
                        ISO
                        <span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties["imd:iso_speed_ratings"]
                          }}</span>
                        <br />
                        Focal Length
                        <span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties["imd:focalLength"]
                          }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub-body-modal flexible" style="justify-content: space-between; align-items: unset">
        <div class="mb-4" style="width: 78%">
          <span *ngIf="doc.type === 'File'" class="main-heading">{{ doc?.properties["dc:title"] }}</span>

          <div class="weight-size-block">
            <ul>
              <li>
                {{ getDownloadFileEstimation() }}
              </li>
              <li>
                <img src="../../assets/images/briefcase.svg" alt="Folder" /> {{getParentFolderName()}}
              </li>

              <!-- <li *ngIf="getUsageAllowed()">
                <span class="yellowBtn">{{getUsageAllowed()}}</span>
              </li> -->
              <!-- <li>
                <span class="copy-section" >
                  <a class="flexible">
                    <img src="../../../assets/images/copyIcon.png" style="width: 14px;margin-right: 6px;margin-left: 0px;">
                    <span class="copy-link pointer" (click)="copyLink()">
                      {{!copiedString ? 'Copy link' : 'Link copied!'}}
                    </span>
                  </a>
                </span>
              </li> -->
            </ul>
          </div>
        </div>

        <div class="flexible" style="align-items: unset; justify-content: end; width: 20%">
          <ul class="nav nav-tabs iconsList iconsTab" id="myTab" role="tablist">
            <li class="nav-item customtooltip" role="presentation">
              <a class="nav-link" id="home-tab" data-bs-toggle="tab" placement="bottom" ngbTooltip="Timeline"
                (click)="openInfo('timeline')" [ngClass]="{ active: activeTabs['timeline'] }" href="#timeline"
                role="tab" aria-controls="home" aria-selected="true"><img src="../../assets/images/clock.svg" /></a>
            </li>
            <li class="nav-item customtooltip" role="presentation" *ngIf="hasPrivateAccess()">
              <a
                class="nav-link"
                id="profile-tab"
                data-bs-toggle="tab"
                placement="bottom"
                ngbTooltip="Comments"
                (click)="openInfo('comments')"
                [ngClass]="{ active: activeTabs['comments'] }"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                ><img src="../../assets/images/Comments.svg"
              /></a>
            </li>
            <li class="nav-item customtooltip" role="presentation">
              <a class="nav-link" id="contact-tab" data-bs-toggle="tab" placement="bottom" ngbTooltip="Info"
                (click)="openInfo('info')" [ngClass]="{ active: activeTabs['info'] }" href="#contact" role="tab"
                aria-controls="contact" aria-selected="false">
                <img src="../../assets/images/Info.svg" /></a>
            </li>
          </ul>
        </div>

        <div class="search-tags pb-5">
          <ul class="flexible">
            <li *ngFor="let item of [].constructor(currentTagLength); let i = index">
              <a *ngIf="tags[i]" class="pointer" (click)="search(tags[i])">{{
                sharedService.capitaliseSelectiveTags(tags[i]) }}</a>
            </li>
            <li *ngIf="tags.length > currentTagLength">
              <button class="btn default" (click)="showMoreTags()">show more</button>
            </li>
            <li *ngIf="tags.length === currentTagLength && tags.length > DEFAULT_NUMBER_OF_TAGS_PREVIEW">
              <button class="btn default" (click)="showLessTags()">show less</button>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div *ngIf="!openInModal && doc">
  <div class="modal-body">
    <div class="modalHead">
      <div class="row flexible" style="justify-content: space-between">
        <div class="col-xl-6 col-md-6">
        </div>
        <div class="col-xl-6 col-md-6">
          <ul class="flexible">
            <li class="customtooltip">
              <a placement="bottom" ngbTooltip="Favourite">
                <img *ngIf="doc?.contextParameters?.favorites?.isFavorite" (click)="markFavourite(doc, false)"
                  src="../../assets/images/yellow-star.svg" />
                <img *ngIf="!doc?.contextParameters?.favorites?.isFavorite" (click)="markFavourite(doc, true)"
                  src="../../assets/images/black-star.png" />
              </a>
            </li>
            <li>
              <div class="downloadBlock">
                <div class="download-icon"></div>
                <div *ngIf="doc" class="download-dropdown">

                  <div *ngIf="hasNoRestriction()" class="no-use-restrictions">
                    <p>Always credit copyright owners.</p>
                  </div>

                  <div *ngIf="hasInternalRestriction()" class="internal-use">
                    <p>Always credit copyright owners.</p>

                    <div class="control-group">
                      <label class="control control--checkbox">I am aware this asset is for internal use only
                        <input type="checkbox" [(ngModel)]="isAware" checked="isAware" />
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>

                  <div *ngIf="hasRequestRestriction()" class="permission-required">
                    <p>Always credit copyright owners. <br /><br />
                      {{getApprovalUsers().length === 1 ? 'To download this asset, please reach out to the below user via email:' : 'To download this asset, please reach out to any of the following users via email:'}}</p>
                    <ul class="emailList">
                      <li *ngFor="let userName of getApprovalUsers()">
                        <div class="nameBlk">{{userName}}</div>
                        <div class="emailIconBlk">
                          <a href="mailto:{{userName}}">
                          <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.42171 1H18.5783C18.8115 1 19 1.18265 19 1.40826V12.5917C19 12.8175 18.8113 13 18.5783 13H1.42171C1.18853 13 1 12.8174 1 12.5917V1.40826C1 1.18252 1.18866 1 1.42171 1ZM18.1567 2.22922L10.2544 8.04031C10.0985 8.15476 9.88611 8.14767 9.73921 8.03486L1.84432 2.22929V12.1833H18.1569L18.1567 2.22922ZM2.67189 1.81717L10.0003 7.20578L17.3288 1.81717H2.67155H2.67189Z" fill="#EDD580" stroke="#EDD580" stroke-width="0.5"/>
                          </svg></a>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div *ngIf="showDownloadDropdown()" class="sub-dropdown-block">
                    <div class="downloadIcon"></div> Download
                    <div class="down-arrow-icon"></div>
                    <div class="sub-dropdown-menu">
                      <ul>
                        <li *ngFor="let view of doc?.properties['picture:views']">
                          <a href="{{ getAssetUrl(null, view.content.data) || '' }}">
                            {{ view.width }} * {{ view.height }}
                            <span>{{getDownloadFileEstimation(view.content.length)}}</span>
                          </a>
                        </li>
                        <li>
                          <a href="{{ getAssetUrl(null, doc?.properties['file:content']?.data) || '' }}">
                            Original File
                            <span>{{getDownloadFileEstimation(doc?.properties["file:content"]?.length)}}</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="popupTabSec">
      <app-loader-small [show]="modalLoading"></app-loader-small>
      <div class="copyright-caption">
        <img *ngIf="checkMimeType(doc) === 'picture'" [src]="getAssetUrl(null, docUrl)" style="width: 100%" />
        <img *ngIf="checkMimeType(doc) === 'nopreview'" src="../../../assets/images/no-preview.png" style="width: 100%;height: 100px;margin: 80px 0px;" />
      </div>

      <span *ngIf="checkMimeType(doc) === 'picture'" class="picture-copyright">{{getCopyright()}}</span>
      <div *ngIf="checkMimeType(doc) === 'video'" style="height: 600; position: relative">
        <video controls style="width: 100%; height: 600px" [src]="getAssetUrl(null, docUrl)"
          crossorigin="use-credentials"></video>
      </div>
      <div *ngIf="checkMimeType(doc) === 'file'">
        <pdf-viewer [src]="getAssetUrl(null, docUrl)" [render-text]="true"
          style="display: block; width: 100%; height: 600px" [original-size]="false" [autoresize]="true"
          [show-borders]="false" (on-progress)="onFileProgress($event)"></pdf-viewer>
      </div>
      <div class="myTabContentMain" [ngClass]="{ hide: !showShadow }">
        <div class="tab-content myTabContent" id="myTabContent">
          <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="home-tab">
            <div class="timeline-content">
              <ul>
                <li *ngFor="let log of doc?.contextParameters?.audit">
                  <p>
                    <span>{{ log.principalName }}</span>
                    {{ getEventString(log.eventId) }}
                    {{ getTime(log.eventDate, false) }} ago
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="comment-content">
              <ul>
                <li *ngFor="let comment of comments" class="flexible" style="align-items: unset">
                  <div>
                    <img src=".../../assets/images/black-user.png" />
                  </div>
                  <div>
                    <p>
                      {{ comment.author }}
                      <span>{{ getTime(comment.creationDate, false) }} ago</span>
                    </p>
                    <p>{{ comment.text }}</p>
                  </div>
                </li>
              </ul>
              <form (submit)="saveComment(commentText)">
                <input type="text" [(ngModel)]="commentText" class="commentInput" name="comment"
                  placeholder="Write a comment here" />
                <img (click)="saveComment(commentText)" src="../../assets/images/Btnentercomment.svg"
                  class="enterComment" style="cursor: pointer" />
              </form>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="info-content">
              <div class="row">
                <div class="col-xl-6 col-md-6">
                  <ul>
                    <li>
                      Created
                      {{ toDateString(doc?.properties) }}
                      by
                      <br />
                      <span style="color: #ebc03f; word-break: break-all">{{getCreator()}}</span>
                    </li>

                    <li>
                      Usage approver <br /><span style="color: #ebc03f; word-break: break-all">{{
                        doc?.properties && doc?.properties["sa:downloadApprovalUsers"]
                        }}</span>
                    </li>

                    <li>
                      Name <br /><span style="opacity: 0.7; word-break: break-all">{{
                        doc?.title
                        }}</span>
                    </li>

                    <li>
                      Location <br />
                      <span style=" word-break: break-all">
                        <a href="/workspace/{{doc?.properties['dc:sector']}}/{{doc?.parentRef}}" (click)="navigateTo(doc?.parentRef)" class="pointer" style="color: #ebc03f;">
                          {{doc?.path?.split('/'+doc.title)[0].replace('/workspaces', '')}}
                        </a>
                      </span>
                    </li>

                    <li>
                      Description <br /><span style="opacity: 0.7; word-break: break-all">{{
                       getDescription()
                        }}</span>
                    </li>

                    <li>
                      Format <br /><span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties && doc?.properties["picture:info"]?.format
                        }}</span>
                    </li>

                  </ul>
                </div>
                <div class="col-xl-6 col-md-6">
                  <ul>

                    <li>
                      Dimensions <br /><span style="opacity: 0.7; word-break: break-all">{{ getImageDimensions() }}</span>
                    </li>

                    <li>
                      Size <br /><span style="opacity: 0.7; word-break: break-all">{{
                        getDownloadFileEstimation()
                        }}</span>
                    </li>

                    <li>
                      Colour Profile <br /><span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties && doc?.properties["picture:info"]?.colorSpace
                        }}</span>
                    </li>
                    <li>
                      Bit Depth <br /><span style="opacity: 0.7; word-break: break-all">{{ doc?.properties && doc?.properties["picture:info"]?.depth
                        }}</span>
                    </li>

                    <li>
                      EXIF
                      <br />
                      Date
                      <span style="opacity: 0.7; word-break: break-all">{{doc?.properties || doc?.properties["dc:created"]}}</span>
                      <br />
                      Orientation
                      <span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties["imd:orientation"]
                        }}</span>
                      <br />
                      Aperture
                      <span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties["imd:fnumber"]
                        }}</span>
                      <br />
                      Exposure
                      <span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties["imd:exposure_time"]
                        }}</span>
                      <br />
                      ISO
                      <span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties["imd:iso_speed_ratings"]
                        }}</span>
                      <br />
                      Focal Length
                      <span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties["imd:focalLength"]
                        }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sub-body-modal flexible" style="justify-content: space-between; align-items: unset">
      <div class="mb-4" style="width: 78%">
        <span *ngIf="doc?.type === 'File'" class="main-heading">{{ doc?.properties["dc:title"] }}</span>
        <div class="weight-size-block">
          <ul>
            <li>
              {{ getDownloadFileEstimation(doc?.properties["file:content"]?.length || null) }}
            </li>
            <li>
              <img src="../../assets/images/briefcase.svg" alt="Folder" /> {{getParentFolderName()}}
            </li>
            <!-- <li *ngIf="getUsageAllowed()">
              <span class="yellowBtn">{{getUsageAllowed()}}</span>
            </li> -->
            <li>
              <span class="copy-section" >
                <a class="flexible">
                  <img src="../../../assets/images/copyIcon.png" style="width: 14px;margin-right: 6px;margin-left: 0px;">
                  <span class="copy-link pointer" (click)="copyLink()">
                    {{!copiedString ? 'Copy link' : 'Link copied!'}}
                  </span>
                </a>
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="flexible" style="align-items: unset; justify-content: end; width: 20%">
        <ul class="nav nav-tabs iconsList iconsTab" id="myTab" role="tablist">
          <li class="nav-item customtooltip" role="presentation">
            <a class="nav-link" id="home-tab" data-bs-toggle="tab" placement="bottom" ngbTooltip="Timeline"
              (click)="openInfo('timeline')" [ngClass]="{ active: activeTabs['timeline'] }" href="#timeline" role="tab"
              aria-controls="home" aria-selected="true"><img src="../../assets/images/clock.svg" /></a>
          </li>
          <li class="nav-item customtooltip" role="presentation">
            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" placement="bottom" ngbTooltip="Info"
              (click)="openInfo('info')" [ngClass]="{ active: activeTabs['info'] }" href="#contact" role="tab"
              aria-controls="contact" aria-selected="false">
              <img src="../../assets/images/Info.svg" /></a>
          </li>
        </ul>

      </div>

      <div class="search-tags pb-5">
        <ul class="flexible">
          <li *ngFor="let item of [].constructor(currentTagLength); let i = index">
            <a *ngIf="tags[i]" class="pointer" (click)="search(tags[i])">{{
              sharedService.capitaliseSelectiveTags(tags[i]) }}</a>
          </li>
          <li *ngIf="tags.length > currentTagLength">
            <button class="btn default" (click)="showMoreTags()">show more</button>
          </li>
          <li *ngIf="tags.length === currentTagLength && tags.length > DEFAULT_NUMBER_OF_TAGS_PREVIEW">
            <button class="btn default" (click)="showLessTags()">show less</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
