<div *ngIf="openInModal">
  <ng-template #preview let-modal class="imgPopUpTab">
    <!-- <div class="fullSIzeImg" *ngIf="fullSIzeImg" (click)="clickFullsizeImg()">
      <div class="imgFullWidth" style="background-image: url({{docUrl}});"></div>
      <!-- <img src="../../assets/images/close-modal.svg" style="width: 20px; position: absolute; top: 10px; right: 10px; height: auto;"> -/->
      <!-- <img [src]="getAssetUrl(null, docUrl)" alt="" /> -/->
    </div> -->
    <!-- <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); copiedString = '';showAllComments=false">
        <span aria-hidden="true">&times;</span> -/->
        <span aria-hidden="true"><img src="../../assets/images/modalclose.svg" /></span>
      </button>
    </div> -->
    <div class="modal-body">
      <div class="modalHead">
        <div class="row flexible" style="justify-content: space-between">
          <div class="col-xl-7 col-md-7">
            <ol class="publicUse" >
              <li>
                <div class="publicUseBlock" *ngIf="hasNoRestriction() && !hasPrivateAccess()">
                  <!-- <div class="publicUseBlk">ALL USERS <img src="../../assets/images/eye-icon.svg" class="eyeIcon" /></div> -->
                  <div class="publicUseBlk">Public <img src="../../assets/images/eye-icon.svg" class="eyeIcon" /></div>
                  <div class="mouseHoverInfo">
                    This asset is visible to all NEOM users and their external collaborators
                  </div>
                </div>

                <div class="internalUseBlock" *ngIf="internalUse() && !hasPrivateAccess()">
                  <!-- <div class="publicUseBlk">NEOM EMAIL HOLDERS <img src="../../assets/images/eye-icon.svg" class="eyeIcon" /></div> -->
                  <div class="publicUseBlk">Internal <img src="../../assets/images/eye-icon.svg" class="eyeIcon" /></div>
                  <div class="mouseHoverInfo">
                    This asset is visible to users with NEOM emails only
                  </div>
                </div>

                <div class="privateBlock" *ngIf="hasPrivateAccess()">
                  <div class="publicUseBlk">Private</div>
                  <div class="mouseHoverInfo">
                    Yet to be published on Ground X. No usage information available.
                  </div>
                </div>
              </li>
              <li *ngIf="!hasPrivateAccess() && getApprovalUsers1()">
                <div class="usagePermission">Usage permission{{!getApprovalUsers1() ? ' not':''}} required</div>
                <div class="mouseHoverInfo w219">
                  {{!getApprovalUsers1()? 'Does not requires approval before use':'Requires approval before use'}}.
                </div>
              </li>
              <li>
                <span class="copy-section" >
                  <a class="flexible">
                    <img src="../../../assets/images/copyIcon.png" style="width: 14px;margin-right: 6px;margin-left: 0px;">
                    <span class="copy-link pointer" (click)="copyLink()">
                      {{!copiedString ? 'Copy link' : 'Link copied!'}}
                    </span>
                  </a>
                </span>
              </li>
            </ol>
          </div>
          <div class="col-xl-5 col-md-5">
            <ul class="flexible">
              <li class="customtooltip">
                <a placement="bottom" ngbTooltip="Add to Favorites" style="display: inline-block;">
                  <img *ngIf="doc.contextParameters.favorites?.isFavorite" (click)="markFavourite(doc, false)"
                    src="../../assets/images/yellow-star.svg" />
                  <img *ngIf="!doc.contextParameters.favorites?.isFavorite" (click)="markFavourite(doc, true)"
                    src="../../assets/images/black-star.png" />
                </a>
              </li>
              <li>
                <div class="downloadBlock">
                  <!-- <div class="download-icon"></div> -->
                  <div class="downloadBtn">
                    <img src="../../assets/images/download-white-icon.svg" /> Download
                  </div>
                  <div *ngIf="doc" class="download-dropdown"  [ngClass]="{ 'removeMarginTop' : !checkCopyRight()} ">

                    <div *ngIf="hasNoRestriction()" class="no-use-restrictions">
                      <p  *ngIf=" checkCopyRight()">Always credit copyright owners.</p>
                    </div>

                    <div *ngIf="hasInternalRestriction() && getApprovalUsers().length<1" class="internal-use">
                      <p  *ngIf=" checkCopyRight()">Always credit copyright owners.</p>

                      <div class="control-group" [ngClass]="{ 'removeMarginTop' : !checkCopyRight()} ">
                        <label class="control control--checkbox">I am aware this asset is for internal use only
                          <input type="checkbox" [(ngModel)]="isAware" checked="isAware" />
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                    </div>

                    <div *ngIf="getApprovalUsers().length>0" class="permission-required">
                      <p *ngIf=" checkCopyRight()">Always credit copyright owners. <br /><br /></p>
                      <div *ngIf="!checkCanDownload() && !hasRequestPending() && !checkRejected()">
                        <p>To download this asset, please send <a href="mailto:{{getCreatorEmail()}}">{{getCreator()}}</a> a message below.</p>
                        <input type="text" [(ngModel)]="requestComment" class="requesInput" [ngClass]="{'goldenText': requestComment }" name="requestComment"
                          placeholder="Write a comment here. Use @ to mention." />
                          <button (click)="sendRequestDownload()" class="btn submitBtn" [disabled]="!requestComment">Submit</button>
                      </div>
                      <div class="requestSubmitted" *ngIf="!checkCanDownload() && hasRequestPending()">
                        <img src="../../assets/images/mail-send-icon.svg" alt="" class="mailSendIcon" />
                        <h3>Request submitted</h3>
                        <p>You will be notified when the request has been approved.</p>
                      </div>
                      <div class="rejectedRequest" *ngIf="!checkCanDownload() && checkRejected()">
                        <p><span>{{getCreator()}}</span> has rejected your download request:</p>
                        <p>{{rejectComment}}</p>
                      </div>
                    </div>

                    <div *ngIf="showDownloadDropdown() || checkCanDownload()" class="sub-dropdown-block">
                      <div class="downloadIcon"></div> Download
                      <div class="down-arrow-icon"></div>
                      <div class="sub-dropdown-menu">
                        <ul>
                          <li *ngFor="let view of doc.properties['picture:views']">
                            <a href="{{ getAssetUrl(null, view.content.data) || '' }}">
                              {{ view.width }} * {{ view.height }}
                              <span>{{getDownloadFileEstimation(view.content.length)}}</span>
                            </a>
                          </li>
                          <li>
                            <a href="{{ getAssetUrl(null, doc?.properties['file:content']?.data) || '' }}">
                              Original File
                              <span>{{getDownloadFileEstimation()}}</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <button type="button" class="close-modal-icon" aria-label="Close" (click)="closeModal(); copiedString = ''; showAllComments=false"><!-- (click)="modal.dismiss('Cross click'); copiedString = ''"-->
                  <img src="../../assets/images/close-modal.svg" />
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="popupTabSec modalAssets" [ngClass]="{'notPrivateAccess' : !hasPrivateAccess(), 'noPreveiwModal': checkMimeType(doc) === 'nopreview' }">
        <app-loader-small [show]="modalLoading"></app-loader-small>
        <div class="copyright-caption">
          <!-- <img src="../../assets/images/full-screen-button.svg" alt="" class="fullScreenIcon" (click)="clickFullsizeImg()" [ngClass]="{'hideIcone' : checkMimeType(doc) === 'video' || checkMimeType(doc) === 'file'}" />  background-image: url(https://res.cloudinary.com/active-bridge/image/upload/slide1.jpg);-->
          <img *ngIf="checkMimeType(doc) === 'picture'" [src]="getAssetUrl(null, docUrl)" style="width: 100%" (click)="clickFullsizeImg($event)" />
          <figure *ngIf="fullSIzeImg" class="zoom" (click)="clickFullsizeImg($event)" (mousemove)="zoom($event)" style="background-image: url({{docUrl}}); width: 100%; background-repeat: no-repeat;">
            <img [src]="getAssetUrl(null, docUrl)" />
          </figure>
          <!-- ../../../assets/images/no-preview.png -->
          <img *ngIf="checkMimeType(doc) === 'nopreview'" [ngClass]="{'nopreviewClass' : checkMimeType(doc) === 'nopreview'}" [src]="docUrl" style="width: 100%;height: 190px;margin: 2vh 0px;background-color: #fbf7e6;" />
        </div>

        <span *ngIf="checkMimeType(doc) === 'picture'" class="picture-copyright">{{getCopyright()}}</span>
        <div *ngIf="checkMimeType(doc) === 'video'" style="height: 100% !important; position: relative">
          <video controls style="width: 100%; height: 100%" [src]="getAssetUrl(null, docUrl)"
            crossorigin="use-credentials"></video>
        </div>
        <div *ngIf="checkMimeType(doc) === 'file'">
          <!-- <img [src]="docUrl" alt="" /> -->
          <pdf-viewer [src]="getAssetUrl(null, docUrl)" [render-text]="true"
            style="display: block; width: 100%; height: 100vh" [original-size]="false" [autoresize]="true"
            [show-borders]="false" (on-progress)="onFileProgress($event)"></pdf-viewer>
        </div>
        <div class="myTabContentMain" [ngClass]="{ hide: !showShadow }">
          <div class="tab-content myTabContent" id="myTabContent">
            <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="home-tab">
              <div class="timeline-content">
                <ul>
                  <li *ngFor="let log of docAudit">
                    <p>
                      <span>{{ log.principalName }}</span>
                      {{ getEventString(log.eventId) }}
                      {{ getTime(log.eventDate, false) }} ago
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <!-- <div class="comment-content 1">
                <ul>
                  <li *ngFor="let comment of comments" class="flexible" style="align-items: unset">
                    <div>
                      <img src=".../../assets/images/black-user.png" />
                    </div>
                    <div class="commentTextBlk">
                      <p>
                        {{ comment.author }}
                        <span>{{ getTime(comment.creationDate, false) }} ago</span>
                      </p>
                      <p>{{ comment.text }}</p>
                    </div>
                  </li>
                </ul>
                <form (submit)="saveComment(commentText)">
                  <input type="text" [(ngModel)]="commentText" class="commentInput" name="comment"
                    placeholder="Write a comment here. Use @ to mention." />
                  <img (click)="saveComment(commentText)" src="../../assets/images/Btnentercomment.svg"
                    class="enterComment" style="cursor: pointer" />
                </form>
              </div> -->
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <div class="info-content">
                <div class="row">
                  <div class="col-xl-6 col-md-6">
                    <ul>
                      <li>
                        Created
                        {{ toDateString(doc?.properties) }}
                        by
                        <br />
                        <span style="color: #ebc03f; word-break: break-all">{{getCreator()}}</span>
                      </li>

                      <li>
                        Usage approver <br /><span style="color: #ebc03f; word-break: break-all">{{
                          doc?.properties && doc?.properties["sa:downloadApprovalUsers"]?.length ?
                          doc?.properties && doc?.properties["sa:downloadApprovalUsers"] :
                          'Contact sector for usage approval'
                          }}</span>
                      </li>

                      <li>
                        Name <br /><span style="opacity: 0.7; word-break: break-all">{{
                          doc?.title
                          }}</span>
                      </li>

                      <li>
                        Location <br />
                        <span style="word-break: break-all">
                          <a href="/workspace/{{doc?.properties['dc:sector']}}/{{doc?.parentRef}}" target="_blank"
                           class="pointer" style="color: #ebc03f;">
                            {{doc?.path?.split('/'+doc.title)[0].replace('/workspaces', '')}}
                          </a>
                          <!-- remove click event (click)="navigateTo(doc?.parentRef)" -->
                        </span>
                      </li>

                      <li>
                        Description <br /><span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties["dc:description"] ||
                          doc?.properties["imd:image_description"]
                          }}</span>
                      </li>

                      <li>
                        Format <br /><span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties && doc?.properties["picture:info"]?.format
                          }}</span>
                      </li>

                      <li *ngIf="device">
                        Time taken <br /><span style="opacity: 0.7; word-break: break-all">{{
                        getTimeTaken()
                          }}</span>
                      </li>

                      <li *ngIf="device">
                        Camera ID <br /><span style="opacity: 0.7; word-break: break-all">{{
                        device.installationId
                          }}</span>
                      </li>

                      <li *ngIf="device">
                        Latitude <br /><span style="opacity: 0.7; word-break: break-all">{{
                        device.latitude
                          }}</span>
                      </li>

                      <li *ngIf="device">
                        Longitude <br /><span style="opacity: 0.7; word-break: break-all">{{
                        device.longitude
                          }}</span>
                      </li>

                      <li *ngIf="device">
                        Area Name <br /><span style="opacity: 0.7; word-break: break-all">{{
                        device.areaName
                          }}</span>
                      </li>

                      <li *ngIf="device">
                        Sub-Area Name <br /><span style="opacity: 0.7; word-break: break-all">{{
                        device.subAreaName
                          }}</span>
                      </li>

                      <li *ngIf="device">
                        Camera Direction <br /><span style="opacity: 0.7; word-break: break-all">{{
                        device.cameraDirection || device.direction
                          }}</span>
                      </li>

                    </ul>
                  </div>
                  <div class="col-xl-6 col-md-6">
                    <ul>

                      <li>
                        Dimensions <br /><span style="opacity: 0.7; word-break: break-all">{{ doc?.properties && doc?.properties["picture:info"]?.width }} x
                          {{ doc?.properties["picture:info"]?.height }}</span>
                      </li>

                      <li>
                        Size <br /><span style="opacity: 0.7; word-break: break-all">{{
                          getDownloadFileEstimation()
                          }}</span>
                      </li>

                      <li>
                        Colour Profile <br /><span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties && doc?.properties["picture:info"]?.colorSpace
                          }}</span>
                      </li>
                      <li>
                        Bit Depth <br /><span style="opacity: 0.7; word-break: break-all">{{ doc?.properties && doc?.properties["picture:info"]?.depth
                          }}</span>
                      </li>

                      <li>
                        EXIF
                        <br />
                        Date
                        <span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties || doc?.properties["dc:created"]
                          }}</span>
                        <br />
                        Orientation
                        <span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties["imd:orientation"]
                          }}</span>
                        <br />
                        Aperture
                        <span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties["imd:fnumber"]
                          }}</span>
                        <br />
                        Exposure
                        <span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties["imd:exposure_time"]
                          }}</span>
                        <br />
                        ISO
                        <span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties["imd:iso_speed_ratings"]
                          }}</span>
                        <br />
                        Focal Length
                        <span style="opacity: 0.7; word-break: break-all">{{
                          doc?.properties["imd:focalLength"]
                          }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub-body-modal flexible" style="justify-content: space-between; align-items: unset; padding: 16px 25px 8px;">
        <div class="" style="width: calc(100% - 90px);">
          <span *ngIf="doc.type === 'File'" class="main-heading">{{ doc?.properties["dc:title"] }}</span>

          <div class="weight-size-block">
            <ul>
              <li>
                {{ getDownloadFileEstimation() }}
              </li>
              <li>
                <img src="../../assets/images/briefcase.svg" alt="Folder" /> {{getParentFolderName()}}
              </li>
              <!-- <li *ngIf="getUsageAllowed()">
                <span class="yellowBtn">{{getUsageAllowed()}}</span>
              </li> -->
              <!-- <li>
                <span class="copy-section" >
                  <a class="flexible">
                    <img src="../../../assets/images/copyIcon.png" style="width: 14px;margin-right: 6px;margin-left: 0px;">
                    <span class="copy-link pointer" (click)="copyLink()">
                      {{!copiedString ? 'Copy link' : 'Link copied!'}}
                    </span>
                  </a>
                </span>
              </li> -->
            </ul>
          </div>
        </div>

        <div class="flexible" style="align-items: unset; justify-content: end; width: 90px;">
          <ul class="nav nav-tabs iconsList iconsTab" id="myTab" role="tablist">
            <li class="nav-item customtooltip" role="presentation">
              <a class="nav-link" id="home-tab" data-bs-toggle="tab" placement="left" ngbTooltip="Timeline"
                (click)="openInfo('timeline',this.doc?.contextParameters?.audit)" [ngClass]="{ active: activeTabs['timeline'] }" href="#timeline"
                role="tab" aria-controls="home" aria-selected="true"><img src="../../assets/images/clock.svg" style="height: 22px;" /></a>
            </li>
            <!-- <li class="nav-item customtooltip" role="presentation" *ngIf="hasPrivateAccess()">
              <a
                class="nav-link"
                id="profile-tab"
                data-bs-toggle="tab"
                placement="bottom"
                ngbTooltip="Comments"
                (click)="openInfo('comments')"
                [ngClass]="{ active: activeTabs['comments'] }"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                ><img src="../../assets/images/Comments.svg"
              /></a>
            </li> -->
            <li class="nav-item customtooltip" role="presentation">
              <a class="nav-link" id="contact-tab" data-bs-toggle="tab" placement="left" ngbTooltip="Info"
                (click)="openInfo('info')" [ngClass]="{ active: activeTabs['info'] }" href="#contact" role="tab"
                aria-controls="contact" aria-selected="false">
                <img src="../../assets/images/Info.svg" /></a>
            </li>
          </ul>
        </div>

        <div class="search-tags">
          <ul class="flexible">
            <li *ngFor="let item of [].constructor(currentTagLength); let i = index">
              <a *ngIf="tags[i]" class="pointer" (click)="search(tags[i])">{{
                sharedService.capitaliseSelectiveTags(tags[i]) }}</a>
            </li>
            <li *ngIf="tags.length > currentTagLength">
              <button class="btn default" (click)="showMoreTags()">show more</button>
            </li>
            <li *ngIf="tags.length === currentTagLength && tags.length > DEFAULT_NUMBER_OF_TAGS_PREVIEW">
              <button class="btn default" (click)="showLessTags()">show less</button>
            </li>

          </ul>
        </div>

        <div class="comment-content wd100" *ngIf="hasPrivateAccess()">
          <ul>
            <li *ngFor="let comment of comments" class="flexible" style="align-items: unset">
              <div style="align-self: center;">
                <!-- <img src=".../../assets/images/black-user.png" /> -->
                <div class="userName">{{creatUserName(comment.author)}}</div>
              </div>
              <div class="commentTextBlk">
                <p class="nameContent">
                  {{ getAuthor(comment) }}
                  <!-- <span>{{ getTime(comment.creationDate, false) }} ago</span> -->
                </p>
                <p class="bodyContent" [innerHTML]="getCommentStr(comment.text) | safe: 'htmlText'">
                </p>
              </div>
            </li>
            <li class="allComments" (click)="showAllcommentClick()" *ngIf="totalComments>comments.length"><span>View all comments</span></li>
            <!-- <li class="allComments" *ngIf="loading"><span><app-loader-small [show]="loading"></app-loader-small>View all comments</span></li> -->
          </ul>
          <!-- <div class="allComments" (click)="showAllcommentClick()" *ngIf="totalComments>comments.length"><span>View all comments</span></div> -->
          <form (submit)="saveComment(commentText)" class="commentTextForm" >
            <mwl-text-input-autocomplete-container>

              <input
                type="text"
                [(ngModel)]="commentText"
                class="commentInput"
                name="comment"
                placeholder="Write a comment here. Use @ to mention."
                mwlTextInputAutocomplete
                [findChoices]="findChoices"
                [getChoiceLabel]="getChoiceLabel"
                autocomplete="off"
                />
            </mwl-text-input-autocomplete-container>
            <button class="commentBtn" (click)="saveComment(commentText)" autocomplete="off" [disabled]="!commentText" [ngClass]="{'activeBtn' : commentText}">Send</button>
            <!-- <img (click)="saveComment(commentText)" src="../../assets/images/Btnentercomment.svg"
              class="enterComment" style="cursor: pointer" /> -->
          </form>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div *ngIf="!openInModal && doc">
  <div class="modal-body">
    <div class="modalHead">
      <div class="row flexible" style="justify-content: space-between">
        <div class="col-xl-6 col-md-6">
          <ol class="publicUse" >
            <li>
              <div class="publicUseBlock" *ngIf="hasNoRestriction() && !hasPrivateAccess()">
                <!-- <div class="publicUseBlk">ALL USERS <img src="../../assets/images/eye-icon.svg" class="eyeIcon" /></div> -->
                <div class="publicUseBlk">Public <img src="../../assets/images/eye-icon.svg" class="eyeIcon" /></div>
                <div class="mouseHoverInfo">
                  This asset is visible to all NEOM users and their external collaborators
                </div>
              </div>

              <div class="internalUseBlock" *ngIf="internalUse() && !hasPrivateAccess()">
                <!-- <div class="publicUseBlk">NEOM EMAIL HOLDERS <img src="../../assets/images/eye-icon.svg" class="eyeIcon" /></div> -->
                <div class="publicUseBlk">Internal <img src="../../assets/images/eye-icon.svg" class="eyeIcon" /></div>
                <div class="mouseHoverInfo">
                  This asset is visible to users with NEOM emails only
                </div>
              </div>

              <div class="privateBlock" *ngIf="hasPrivateAccess()">
                <div class="publicUseBlk">Private</div>
                <div class="mouseHoverInfo">
                  Yet to be published on Ground X. No usage information available.
                </div>
              </div>
            </li>
            <li *ngIf="!hasPrivateAccess() && getApprovalUsers1()">
              <div class="usagePermission">Usage permission{{!getApprovalUsers1() ? ' not':''}} required</div>
              <div class="mouseHoverInfo w219">
                {{!getApprovalUsers1()? 'Does not requires approval before use':'Requires approval before use'}}.
              </div>
            </li>
            <li>
              <span class="copy-section" >
                <a class="flexible">
                  <img src="../../../assets/images/copyIcon.png" style="width: 14px;margin-right: 6px;margin-left: 0px;">
                  <span class="copy-link pointer" (click)="copyLink()">
                    {{!copiedString ? 'Copy link' : 'Link copied!'}}
                  </span>
                </a>
              </span>
            </li>
          </ol>
        </div>
        <div class="col-xl-6 col-md-6">
          <ul class="flexible">
            <li class="customtooltip">
              <a placement="bottom" ngbTooltip="Add to Favorites" style="display: inline-block;">
                <img *ngIf="doc?.contextParameters?.favorites?.isFavorite" (click)="markFavourite(doc, false)"
                  src="../../assets/images/yellow-star.svg" />
                <img *ngIf="!doc?.contextParameters?.favorites?.isFavorite" (click)="markFavourite(doc, true)"
                  src="../../assets/images/black-star.png" />
              </a>
            </li>
            <li>
              <div class="downloadBlock">
                <!-- <div class="download-icon"></div> -->
                <div class="downloadBtn">
                  <img src="../../assets/images/download-white-icon.svg" /> Download
                </div>
                <div *ngIf="doc" class="download-dropdown">

                  <div *ngIf="hasNoRestriction()" class="no-use-restrictions">
                    <p>Always credit copyright owners.</p>
                  </div>

                  <div *ngIf="hasInternalRestriction()" class="internal-use">
                    <p>Always credit copyright owners.</p>

                    <div class="control-group">
                      <label class="control control--checkbox">I am aware this asset is for internal use only
                        <input type="checkbox" [(ngModel)]="isAware" checked="isAware" />
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>

                  <div *ngIf="hasRequestRestriction()" class="permission-required">
                    <p>Always credit copyright owners. <br /><br />
                      {{getApprovalUsers().length === 1 ? 'To download this asset, please reach out to the below user via email:' : 'To download this asset, please reach out to any of the following users via email:'}}</p>
                    <ul class="emailList">
                      <li *ngFor="let userName of getApprovalUsers()">
                        <div class="nameBlk">{{userName}}</div>
                        <div class="emailIconBlk">
                          <a href="mailto:{{userName}}">
                          <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.42171 1H18.5783C18.8115 1 19 1.18265 19 1.40826V12.5917C19 12.8175 18.8113 13 18.5783 13H1.42171C1.18853 13 1 12.8174 1 12.5917V1.40826C1 1.18252 1.18866 1 1.42171 1ZM18.1567 2.22922L10.2544 8.04031C10.0985 8.15476 9.88611 8.14767 9.73921 8.03486L1.84432 2.22929V12.1833H18.1569L18.1567 2.22922ZM2.67189 1.81717L10.0003 7.20578L17.3288 1.81717H2.67155H2.67189Z" fill="#EDD580" stroke="#EDD580" stroke-width="0.5"/>
                          </svg></a>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div *ngIf="showDownloadDropdown()" class="sub-dropdown-block">
                    <div class="downloadIcon"></div> Download
                    <div class="down-arrow-icon"></div>
                    <div class="sub-dropdown-menu">
                      <ul>
                        <li *ngFor="let view of doc?.properties['picture:views']">
                          <a href="{{ getAssetUrl(null, view.content.data) || '' }}">
                            {{ view.width }} * {{ view.height }}
                            <span>{{getDownloadFileEstimation(view.content.length)}}</span>
                          </a>
                        </li>
                        <li>
                          <a href="{{ getAssetUrl(null, doc?.properties['file:content']?.data) || '' }}">
                            Original File
                            <span>{{getDownloadFileEstimation(doc?.properties["file:content"]?.length)}}</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="popupTabSec singleAssets">
      <app-loader-small [show]="modalLoading"></app-loader-small>
      <div class="copyright-caption">
        <!-- <img *ngIf="checkMimeType(doc) === 'picture'" [src]="getAssetUrl(null, docUrl)" style="width: 100%" /> -->
        <img *ngIf="checkMimeType(doc) === 'picture'" [src]="getAssetUrl(null, docUrl)" style="width: 100%" (click)="clickFullsizeImg($event)" />
        <figure *ngIf="fullSIzeImg" class="zoom" (click)="clickFullsizeImg($event)" (mousemove)="zoom($event)" style="background-image: url({{docUrl}}); width: 100%; background-repeat: no-repeat;">
            <img [src]="getAssetUrl(null, docUrl)" />
        </figure>
        <!-- ../../../assets/images/no-preview.png -->
        <img *ngIf="checkMimeType(doc) === 'nopreview'" [src]="docUrl" style="width: 100%;height: 190px;margin: 2vh 0px; background-color: #fbf7e6;" />
      </div>

      <span *ngIf="checkMimeType(doc) === 'picture'" class="picture-copyright">{{getCopyright()}}</span>
      <div *ngIf="checkMimeType(doc) === 'video'" style="height: 600; position: relative">
        <video controls style="width: 100%; height: 600px" [src]="getAssetUrl(null, docUrl)"
          crossorigin="use-credentials"></video>
      </div>
      <div *ngIf="checkMimeType(doc) === 'file'">
        <pdf-viewer [src]="getAssetUrl(null, docUrl)" [render-text]="true" class="nitin"
          style="display: block; width: 100%; height: 100vh" [original-size]="false" [autoresize]="true"
          [show-borders]="false" (on-progress)="onFileProgress($event)"></pdf-viewer>
      </div>
      <div class="myTabContentMain" [ngClass]="{ hide: !showShadow }">
        <div class="tab-content myTabContent" id="myTabContent">
          <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="home-tab">
            <div class="timeline-content">
              <ul>
                <li *ngFor="let log of docAudit">
                  <p>
                    <span>{{ log.principalName }}</span>
                    {{ getEventString(log.eventId) }}
                    {{ getTime(log.eventDate, false) }} ago
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="comment-content">
              <ul>
                <li *ngFor="let comment of comments" class="flexible" style="align-items: unset">
                  <div>
                    <img src=".../../assets/images/black-user.png" />
                  </div>
                  <div>
                    <p>
                      {{ comment.author }}
                      <span>{{ getTime(comment.creationDate, false) }} ago</span>
                    </p>
                    <p>{{ comment.text }}</p>
                  </div>
                </li>
              </ul>
              <form (submit)="saveComment(commentText)">
                <input type="text" [(ngModel)]="commentText" class="commentInput" name="comment"
                  placeholder="Write a comment here. Use @ to mention." />
                <img (click)="saveComment(commentText)" src="../../assets/images/Btnentercomment.svg"
                  class="enterComment" style="cursor: pointer" />
              </form>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="info-content">
              <div class="row">
                <div class="col-xl-6 col-md-6">
                  <ul>
                    <li>
                      Created
                      {{ toDateString(doc?.properties) }}
                      by
                      <br />
                      <span style="color: #ebc03f; word-break: break-all">{{getCreator()}}</span>
                    </li>

                    <li>
                      Usage approver <br /><span style="color: #ebc03f; word-break: break-all">{{
                        doc?.properties && doc?.properties["sa:downloadApprovalUsers"]?.length?
                        doc?.properties && doc?.properties["sa:downloadApprovalUsers"] :
                        '“Contact sector for usage approval'
                        }}</span>
                    </li>

                    <li>
                      Name <br /><span style="opacity: 0.7; word-break: break-all">{{
                        doc?.title
                        }}</span>
                    </li>

                    <li>
                      Location <br />
                      <span style=" word-break: break-all">
                        <a href="/workspace/{{doc?.properties['dc:sector']}}/{{doc?.parentRef}}" target="_blank" class="pointer" style="color: #ebc03f;">
                          {{doc?.path?.split('/'+doc.title)[0].replace('/workspaces', '')}}
                        </a>
                        <!-- remove click event (click)="navigateTo(doc?.parentRef)" -->
                      </span>
                    </li>

                    <li>
                      Description <br /><span style="opacity: 0.7; word-break: break-all">{{
                       getDescription()
                        }}</span>
                    </li>

                    <li>
                      Format <br /><span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties && doc?.properties["picture:info"]?.format
                        }}</span>
                    </li>

                    <li *ngIf="device">
                      Time taken <br /><span style="opacity: 0.7; word-break: break-all">{{
                       getTimeTaken()
                        }}</span>
                    </li>

                    <li *ngIf="device">
                      Camera ID <br /><span style="opacity: 0.7; word-break: break-all">{{
                       device.installationId
                        }}</span>
                    </li>

                    <li *ngIf="device">
                      Latitude <br /><span style="opacity: 0.7; word-break: break-all">{{
                       device.latitude
                        }}</span>
                    </li>

                    <li *ngIf="device">
                      Longitude <br /><span style="opacity: 0.7; word-break: break-all">{{
                       device.longitude
                        }}</span>
                    </li>

                    <li *ngIf="device">
                      Area Name <br /><span style="opacity: 0.7; word-break: break-all">{{
                       device.areaName
                        }}</span>
                    </li>

                    <li *ngIf="device">
                      Sub-Area Name <br /><span style="opacity: 0.7; word-break: break-all">{{
                       device.subAreaName
                        }}</span>
                    </li>

                    <li *ngIf="device">
                      Camera Direction <br /><span style="opacity: 0.7; word-break: break-all">{{
                       device.cameraDirection
                        }}</span>
                    </li>

                  </ul>
                </div>
                <div class="col-xl-6 col-md-6">
                  <ul>

                    <li>
                      Dimensions <br /><span style="opacity: 0.7; word-break: break-all">{{ getImageDimensions() }}</span>
                    </li>

                    <li>
                      Size <br /><span style="opacity: 0.7; word-break: break-all">{{
                        getDownloadFileEstimation()
                        }}</span>
                    </li>

                    <li>
                      Colour Profile <br /><span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties && doc?.properties["picture:info"]?.colorSpace
                        }}</span>
                    </li>
                    <li>
                      Bit Depth <br /><span style="opacity: 0.7; word-break: break-all">{{ doc?.properties && doc?.properties["picture:info"]?.depth
                        }}</span>
                    </li>

                    <li>
                      EXIF
                      <br />
                      Date
                      <span style="opacity: 0.7; word-break: break-all">{{doc?.properties || doc?.properties["dc:created"]}}</span>
                      <br />
                      Orientation
                      <span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties["imd:orientation"]
                        }}</span>
                      <br />
                      Aperture
                      <span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties["imd:fnumber"]
                        }}</span>
                      <br />
                      Exposure
                      <span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties["imd:exposure_time"]
                        }}</span>
                      <br />
                      ISO
                      <span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties["imd:iso_speed_ratings"]
                        }}</span>
                      <br />
                      Focal Length
                      <span style="opacity: 0.7; word-break: break-all">{{
                        doc?.properties["imd:focalLength"]
                        }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sub-body-modal flexible" style="justify-content: space-between; align-items: unset; padding: 16px 25px 8px">

      <div class="mb-4" style="width: calc(100% - 90px);">
        <span *ngIf="doc?.type === 'File'" class="main-heading">{{ doc?.properties["dc:title"] }}</span>
        <div class="weight-size-block">
          <ul>
            <li>
              {{ getDownloadFileEstimation(doc?.properties["file:content"]?.length || null) }}
            </li>
            <li>
              <img src="../../assets/images/briefcase.svg" alt="Folder" /> {{getParentFolderName()}}
            </li>
            <!-- <li *ngIf="getUsageAllowed()">
              <span class="yellowBtn">{{getUsageAllowed()}}</span>
            </li> -->
            <li>
              <span class="copy-section" >
                <a class="flexible">
                  <img src="../../../assets/images/copyIcon.png" style="width: 14px;margin-right: 6px;margin-left: 0px;">
                  <span class="copy-link pointer" (click)="copyLink()">
                    {{!copiedString ? 'Copy link' : 'Link copied!'}}
                  </span>
                </a>
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="flexible" style="align-items: unset; justify-content: end; width: 90px">
        <ul class="nav nav-tabs iconsList iconsTab" id="myTab" role="tablist">
          <li class="nav-item customtooltip" role="presentation">
            <a class="nav-link" id="home-tab" data-bs-toggle="tab" placement="bottom" ngbTooltip="Timeline"
              (click)="openInfo('timeline',this.doc?.contextParameters?.audit)" [ngClass]="{ active: activeTabs['timeline'] }" href="#timeline" role="tab"
              aria-controls="home" aria-selected="true"><img src="../../assets/images/clock.svg" style="height: 22px;" /></a>
          </li>
          <li class="nav-item customtooltip" role="presentation">
            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" placement="bottom" ngbTooltip="Info"
              (click)="openInfo('info')" [ngClass]="{ active: activeTabs['info'] }" href="#contact" role="tab"
              aria-controls="contact" aria-selected="false">
              <img src="../../assets/images/Info.svg" /></a>
          </li>
        </ul>

      </div>

      <div class="search-tags">
        <ul class="flexible">
          <li *ngFor="let item of [].constructor(currentTagLength); let i = index">
            <a *ngIf="tags[i]" class="pointer" (click)="search(tags[i])">{{
              sharedService.capitaliseSelectiveTags(tags[i]) }}</a>
          </li>
          <li *ngIf="tags.length > currentTagLength">
            <button class="btn default" (click)="showMoreTags()">show more</button>
          </li>
          <li *ngIf="tags.length === currentTagLength && tags.length > DEFAULT_NUMBER_OF_TAGS_PREVIEW">
            <button class="btn default" (click)="showLessTags()">show less</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
