.document {
  display: block;
  width: 15%;
  float: left;
  padding: 5px;
}

img {
  width: 100%;
}
input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label.e-btn {
  /* border: 1px solid #fff; */
  /* padding: 10px; */
  display: block;
  position: relative;
  /* margin: 10px; */
  cursor: pointer;
 opacity: 0.4;
}



label{
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  /* opacity: 1 ; */
}

label:before {
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
  background-color: #fff;
}
label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label.e-btn {
  /* border-color: #ddd; */
  opacity: 1;
}

/* :checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  z-index: -1;
} */
.dropdown, .dropup{
  /* border: 1px solid #404040; */
  /* border-radius: 8px; */
  width: 170px;
}
select.btn{
  border: 1.5px solid #000;
}
.btn-check:focus+.btn, .btn:focus{
  box-shadow: unset;
  outline: 0;
}
select option {
  /* margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */
}
.dropdown-item.active, .dropdown-item:active,  .dropdown-item:hover{
  background-color: #000 !important;
}

.dropdown-toggle::after{
  position: absolute;
  right: 10px;
  top: 17px;
}
.searchP{
  font-size: 24px;
line-height: 22px;
font-weight: normal;
}
.imgHead{
  font-size: 18px;
line-height: 22px;
font-weight: normal;
}
.videosList, .docList, .videosList1{
  list-style: none;
  padding: 0;
}
.videosList li, .docList li, .videosList1 li{
  margin-right: 15px;
  position: relative;
  transition: 0.4s;
  margin-bottom: 15px;
  width: 31%;
}
.videosList li a.videoIconn{
  position: relative;
  display: block;
  transition: 0.4s;
}
.videosList li a.videoIconn:before{
  content: '';
  background-image: url(~/../../../../assets/images/button-play.svg);
  height: 60px;
  width: 60px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s;
}
.videosList1 li a.videoIconn{
  position: relative;
}
.videosList1 li a.videoIconn:before{
  content: '';
  background-image: url(~/../../../../assets/images/button-play.svg);
  height: 46px;
  width: 46px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s;
}
.videosList li:hover a.videoIconn::before{
  transform: scale(1.2);
}
.videosList1 li a.videoIconn:hover::before{
  transform: scale(1.2);
}
.fileCount{
  font-size: 14px;
line-height: 22px;
/* text-decoration-line: underline; */
color: #737373;
padding-right: 10px;
}
.dropdown button, .dropup button{
  display: block;
  width: 100%;

  text-align: left;
}
#dropdownBasic4, #dropdownManual{
  color: #C49900;
}

.imagesList{
  list-style: none;
  padding: 0px;
  align-items: unset;
}

.imagesList li{
  width: 30%;
  margin: 15px;
}


/* .container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
} */
.imgGallery{}
.imgGallery  img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Grid */
.imgGallery a{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
/* .big {
  grid-column: span 2;
  grid-row: span 2;
}
.imgGallery a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
} */
 /* .horizontal {
grid-column: span 2;
}

.vertical {
grid-row: span 2;
} */

.portfolio-list{
  -webkit-column-count: 3;
    -webkit-column-gap: 0;
    -moz-column-count: 3;
    -moz-column-gap: 0;
    column-count: 4;
    column-gap: 0;
}
.portfolio-list li {
  width: 100%;
  float: left;
  padding: 0 4px;
  /* margin: 4px 0; */
  /* border-radius: 8px; */
}
ul.set-width.portfolio-list li .cardBlock  {
  margin-bottom: 3px;
  display: inline-block;
  /* border-radius: 8px; */
}

.set-width {
  width: calc(100% + 20px);
  margin-left: -10px;
}
#view input{
  display: none;
}
.e-btn-group{
  float: right;
  margin-right: 5px;
}
.card-view ul{
  padding: 0px;
  list-style: none;;
}
.card-view ul li {
  width: 49%;
  margin: 4px;
}
.username{
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.username span:nth-child(1){
  margin-right: 9px;
}
.username span:nth-child(2){
  /* padding-left: 8px; */
  display: block;
  font-size: 14px;
line-height: 22px;
font-weight: normal;
color: #000000;
}
/* modal css */
.modalHead{
  padding: 10px 15px 15px 15px;
  background-color: #fff;
  border: unset
}
.modalHead ul, .iconsList{
  list-style: none;
  padding: 0;
  float: right;
}
.modalHead ul li, .iconsList li{
  margin-left: 15px ;
  cursor: pointer;
}
.modalHead ul li img, .iconsList li img{
  width: 25px;
}
.sub-body-modal{
  padding: 15px;
}
.main-heading{
  font-size: 24px;
line-height: 34px;
color: #000000;
border: unset;
padding-bottom: 15px;
font-weight: normal;
}
.yellowBtn{
  background: #F7E6B2;
  border-radius: 60px;
  padding: 0px 10px 2px;
  font-size: 12px;
  color: #8E6B0B;
  display: block;
  /* border-radius: 6px; */
}

.lpSecThree{
  padding: 60px 0px;
}
.lpSecThree ul{
  padding: 0px;
  list-style: none;
}
.lpSecThree ul li{
  background-color: #F9F7F2;
  border-radius: 8px;
  padding: 10px;
  width: 27%;
  margin: 10px;
}

.tripDivOne{

}
.tripDivTwo{
  padding: 15px 0px;
}
.tripDivTwo p{
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  font-weight: normal;
}
.tripDivTwo span{
  font-size: 13px;
  line-height: 13px;
  color: #737373;
}
.tripImg1{
  border-top-left-radius: 8px;
  width: 139px;
  margin: 2px;
  height: 185px;
}
.tripImg2{
  width: 90px;
  height: 90px;
  border-top-right-radius: 8px;
  margin: 2px;
}
.tripImg3{
  width: 90px;
  height: 90px;
  margin: 2px;
  border-bottom-right-radius: 8px;
}
.main-modal-head{
  font-size: 18px;
line-height: 22px;
color: #000000;

}
.downloadDrop.dropdown{
  width: unset;
}
.downloadDrop .dropdown-toggle::after{
  display: none;
}
.dropdown .dropdown-menu.show, .dropup .dropdown-menu.show {
  /* left: -150px !important;
  top: 25px !important; */
  background-color: #000;
  min-width: max-content !important;
  width: 100%
}
.sectorrBtn {
  background: transparent;
  border: unset;
  border-bottom: 1px solid #C49900;
  border-radius: 0px;
  font-size: 15px;
  line-height: 24px;
  padding: 6px 6px;
}
.settingsDropdown .dropdown-menu.show{
  left: -184px !important;
  top: 25px !important;
  background-color: #000;
  min-width: -webkit-max-content !important;
  min-width: -moz-max-content !important;
  min-width: max-content !important;
  width: 200px;
  height: 240px;
}
.dropdown .dropdown-menu.show .dropdown-item, .settingsDropdown .dropdown-menu.show .dropdown-item  ,.dropup .dropdown-menu.show .dropdown-item, .settingsDropdown .dropdown-menu.show .dropdown-item{
  color: #fff ;
}
.dropdown .dropdown-menu.show .dropdown-item span{
  text-align: right;
  float: right;
  padding-left: 15px;
}
.popupTabSec{
  /* height: 600px; */
  position: relative;
}
.popupTabSec img{
  height: 38vh;
  object-fit: contain;
  object-position: contain;
}
.picture-copyright {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 15px;
  color: #FFFFFF;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
}
.myTabContent{
  width: 98%;
  position: relative;
  overflow: scroll;
  height: 108%;
}
.myTabContentMain{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-color: transparent;
}

.myTabContentMain:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  opacity: 0.9;
}
.iconsTab.nav-tabs {
  border-bottom: unset !important;
  height: fit-content;
  align-items: center;
}
.iconsTab.nav-tabs .nav-item.show .nav-link, .iconsTab.nav-tabs .nav-link.active{
  border: unset !important;
  padding: unset !important;
}
.iconsList.nav-tabs .nav-link{
  border: unset !important;
  padding: unset !important;
}
.timeline-content ul{
  list-style: none;
  padding: 0;
  width: calc(100% - 500px);
  margin: auto;
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: auto;

}

.timeline-content ul li{
  padding-bottom: 30px;
  position: relative;
}
.timeline-content ul li::before{
  content: '';
  position: absolute;
  background-color: transparent;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: -5px;
  border: 1px solid #fff;
}
.timeline-content ul li::after{
  content: '';
  position: absolute;
  background-color: #fff;
  height: calc(100% - 11px);
  width: 1px;
  left: 0px;
  top: 11px;

}
.timeline-content ul li:nth-last-child(1)::after{
  display: none;
}
.timeline-content ul li p{
  font-size: 15px;
  line-height: 10px;
  color: #FFFFFF;
  padding-left: 30px;
  margin-bottom: unset;
}
.timeline-content ul li p span{
  color: #EBC03F;
}
/* ::-webkit-scrollbar {
  display: none;
} */

.hide {
  display: none;
}
.comment-content ul{
  list-style: none;
  padding: 0px;
  width: 100%;
  margin: auto;
  padding-top: 40px;
  height: 478px;
  overflow: scroll;
}
.comment-content ul li{
  padding: 10px 0px;
  position: relative;
}
.comment-content ul li p{
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}
.comment-content ul li img{
  height: 30px !important;
  width: 30px;
  margin-right: 10px;
}
.comment-content ul li p span{
  opacity: 0.6;
}
.comment-content, .info-content{
  position: relative;
  width: calc(100% - 200px);
  margin: auto;
}
.comment-content input{
  font-size: 15px;
  line-height: 22px;
  color: #413E3C;
  border-radius: 8px;
  border: 0px solid #fff;
  margin: auto;
  width: 100%;
  background: #F6F5F2;
  padding: 15px;
  text-align: left;
  /* margin-bottom: 10px;
  width: calc(100% - 220px);
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0; */
}
.info-content ul{
  list-style: none;
  padding: 0px;
  padding-top: 18px;
}
.info-content ul li{
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 0px 0px 18px;
}
/* for loader */
@keyframes rotate{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
.load{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top: 10px solid #EBC03F;
  border-bottom: 10px solid #EBC03F;
  animation: rotate 1.8s linear infinite;
  position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.noresult{
  font-size: 24px;
  line-height: 22px;
  text-align: center;

  color: #2B2825;
}

.e-btn{
  border: unset;
  padding: unset;
}
:checked + .e-btn::before{
  content: '';
  background-color: unset;
  transform: unset;
  border: unset;
}
.listImg{
  height: 150px !important;
}
.listImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-view p{
  font-size: 15px;
line-height: 24px;
color: #161824;
font-weight: normal;
}
.assetsDropdown .dropdown-menu.show {
  left: 0px !important;
  top: 0px !important;
  min-width: 100% !important;
  /* background-color: #fff !important; */
}
.assetsDropdown.dropdown, .assetsDropdown.dropup {
  border-bottom: 1px solid #000;
}
/* #dropdownBasic4{
  border-bottom:1px solid #C49900
} */
.assetsDropdown.dropdown, .assetsDropdown.dropup, .sectorrBtn.dropdown, .sectorrBtn.dropup{
  border-bottom:1px solid #C49900;
  width: 152px;
  margin-left: 10px;
}
/* .assetsDropdown .dropdown-menu.show .dropdown-item{
  color: #000 ;
} */
.dropdownBasic2 .dropdown-item{
  opacity: 0.4 !important;
  cursor: not-allowed !important;
}
.dropdownBasic4, .sectorDropMain {
  background-color: #fff !important;

}
.dropdownBasic4 .dropdown-item, .sectorDropMain .dropdown-item{
  color: #000 !important;
}
.dropdownBasic4 .dropdown-item:hover, .sectorDropMain .dropdown-item:hover{
background-color:#EBC03F !important;
}
.dropdownBasic2 .dropdown-item.active, .dropdownBasic2 .dropdown-item:active, .dropdownBasic2 .dropdown-item:hover {
  background-color: #000 !important;
  color: #fff !important;
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
  background-color: #fff !important;
  color: #000 !important;
}
.commonHeading{
  font-size: 15px;
  font-weight: normal;
  color: #000000;
  margin-right: 20px;
}

.clear{
  float: right;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #737373;
  cursor: pointer;
}
/* Start New CSS Umesh */
.white-bg{
  background-color: #fff !important;
}
/* .cardBlock{
  background: #F9F7F2;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  z-index: 1;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
  opacity: 1;
}
.cardBlock:hover::after{
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
  content: '';
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
  opacity: 0.3;
} */


.card-view ul.cardList{
  display: block;
  margin: 0px -5px;
}
.card-view ul.cardList li{
  width: 50%;
  float: left;
  margin: 0px;
  padding: 0px 5px 10px;
}
.cardBlock{
  background: #F9F7F2;
  /* border-radius: 8px; */
  padding: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
/* .cardBlock:after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: transparent;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
  position: absolute;
  top: 0px;
  left: 0px;
}
.cardBlock:hover:after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
} */

/* custom checkbox start */
.form-group-custom,
.hover-icon-group {
  display: block;
  margin-bottom: 15px;
  width: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 9;
  opacity: 0;
}
.hover-icon-group{
  left: auto;
  right: 15px;
  width: 40px;
}

.form-group-custom input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.activeHover .form-group-custom label, .form-group-custom:hover label{
  background: #006B44;
}
.form-group-custom label {
  position: relative;
  cursor: pointer;
  border: 0px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin: 0px;
  padding: 0px;
}

.form-group-custom label:before, .form-group-custom:hover label:before {
  content:'';
  -webkit-appearance: none;
  border: 2px solid #006B44;
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  font-size: 10.5px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 0px;
  text-align: left;
  background: #006B44;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  left: 0px;
  top: 0px;
}

.form-group-custom input:checked + label:after,
.form-group-custom input + label:after , .form-group-custom:hover input + label:after{
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  left: 17px;
  width: 6px;
  height: 20px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.form-group-custom input + label:after{
  border-color:#A3A3A3;
}
/* custom checkbox end */

.cardBlockContentHover{
  opacity: 0;
  z-index: 99;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.cardBlock:hover .cardBlockContentHover,
.cardBlock:hover .form-group-custom,
.cardBlock:hover .hover-icon-group{
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0px;
  width: auto;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.cardBlock:hover .hover-icon-group{
  top: 15px;
  left: auto;
  right: 15px;
  height: calc(100% - 30px);
}
.card-view .cardBlockContentHover ol, .set-width .cardBlockContentHover ol{
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.card-view .cardBlockContentHover ol li, .set-width .cardBlockContentHover ol li{
  width: 50%;
  float: left;
  margin: 0px;
}
.mouse-hover-bg{
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
  border-radius: 8px;
}
.cardBlock:hover .mouse-hover-bg, .activeHover .mouse-hover-bg{
  opacity: 1;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
  border-radius: 8px;
}

.activeHover .mouse-hover-bg, .activeHover .form-group-custom, .activeHover .hover-icon-group {
  opacity: 1;
}
.activeHover .hover-icon-group {
  height: calc(100% - 30px);
}


.hover-icon-group{
  display: block;
  float: right;
  width: 40px;
}
.hover-icon{
  display: block;
  background: #fff;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  padding: 10px;
  margin-bottom: 15px;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.hover-icon:hover{
  background: #006B44;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.hover-icon.download-icon {
  margin: 0px;
  bottom: 0px;
  position: absolute;
}
.hover-icon.star-icon{
  background: url(~/../../../../assets/images/star.svg) no-repeat center center #fff;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.hover-icon.plus-icon{
  background: url(~/../../../../assets/images/add-collectionbadge.svg) no-repeat center center #fff;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.hover-icon.download-icon{
  background: url(~/../../../../assets/images/downlload-arrow.svg) no-repeat center center #fff;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.hover-icon.star-icon:hover{
  background: url(~/../../../../assets/images/whitestar.png) no-repeat center center #e0b803;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.hover-icon.star-icon.active{
  background: url(~/../../../../assets/images/yellowStar.svg) no-repeat center center #fff;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
  background-size: 22px;

}
.hover-icon.plus-icon:hover{
  /* background: url(~/../../../../assets/images/add-collectionbadgeWhite.svg) no-repeat center center #e0b803;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all; */
}
.hover-icon.download-icon:hover{
  background: url(~/../../../../assets/images/downlload-arrow.svg) no-repeat center center #006B44;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.username span {
  display: inline-block;
  margin-right: 6px;
  height: 34px;
  width: 34px;
  border-radius: 100%;
  border: 2px solid #fff;
  overflow: hidden;
  vertical-align: middle;
}

.username span img {
  display: block;
  width: 100%;
  height: 100%;
}
.pa-0{
  padding: 0px !important;
}

.footer-listing{
  background: linear-gradient(0deg, #EBC03F, #EBC03F);
  padding: 20px 4%;
  margin: 0px auto;
  text-align: center;
}
.footer-listing .col-md-6:first-child{
  text-align: left;
  line-height: 30px
}
.footer-listing .col-md-6:last-child{
  text-align: right;
}
img.footer-icons {
  width: 25px;
  display: inline-block;
  margin-left: 30px;
  cursor: pointer;
}
.footer-add-items span{
  font-weight: normal;
  padding-right: 40px;
}
.footer-add-items a {
  color: #000;
  text-decoration: underline;
}
/* End New CSS Umesh */


.activeHover + .cardBlock:after    {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.cardBlock:hover:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
  border-radius: 8px;
}

/* yello footer css */

.footer-listing{
  background: linear-gradient(
    0deg, #EBC03F, #EBC03F);
        padding: 20px 4%;
        margin: 0px auto;
        text-align: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 99;
}
.footer-listing .col-md-4:first-child{
  text-align: left;
  line-height: 30px
}
.footer-listing .col-md-4:last-child{
  text-align: right;
}

.footer-add-items span{
  font-weight: normal;
  padding-right: 40px;
}
.footer-add-items a {
  color: #000;
  text-decoration: underline;
}
.listViewImg{
  height: 150px;
  object-fit: cover;
}
li .videoBlock  {
  margin-bottom: 3px;
  display: inline-block;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  background: #F9F7F2;
  width: 100%;

}
.downloadDrop.dropup{
  width: unset;
}
.search-tags ul{
  padding: 0px;
  list-style: none;
  /* justify-content: center; */
}
.search-tags ul li {
  margin-bottom: 12px;
}
.search-tags ul li a{
  background-color: #000;
  font-size: 14px;
  line-height: 5px;
  border-radius: 20px;
  padding: 15px 22px 16px 22px;
  color: #fff;
  text-decoration: unset;
  margin: 0px 5px;
  display: inline-block;
  text-transform: capitalize;
}
.weightSize{
  font-weight: normal;
font-size: 20px;
line-height: 20px;
color: #C4C4C4;

}
.close{
    position: absolute;
    left: -5%;
    top: -5%;
    z-index: 9999 !important;
    background-color: transparent;
    border: unset;
    width: max-content;
}
.modal-header button img{
  width: 35px;
}
.modal-header{
  border-bottom: unset;
  padding: unset;
  /* display: none; */
  height: 0px;
  margin: unset;
}

.nav-link::before{
  display: none;
}
.nav-link.active{
  position: relative;
}
.nav-link.active::before{

  content: '';
  background-image: url('../../assets/images/trianglearrow.svg');
  height: 18px;
  width: 18px;
  position: absolute;
  top: -16px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}
.search-tags ul li:nth-child(1) a{
  margin-left: unset;
}
input::placeholder {
  color: #C0BEBB !important;
}
.numberFiles{
  font-size: 14px;
line-height: 22px;
display: block;
padding-left: 15px;
color: #ACACAC;
}

/* masonry css */
.min-height{
  min-height: calc(100vh - 68vh);
  position: relative;
}
.min-height-search{
  min-height: calc(100vh - 68vh);
  position: relative;
}
.masonry-item {
  margin-bottom: 10px;
  /* background-color: #f1f1f1; */
  background-size: cover;
  width: calc(25% - 10px);
}
.masonry-item-thumbnail {
  margin-bottom: 10px;
  background-color: #f1f1f1;
  background-size: cover;
  width: calc(50% - 10px);
}
.cardBlock.newDesign {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
}
/* slider css */

.toggle {
  position : relative ;
  display : inline-block;
  width: 160px;
  height: 40px;
  background: #EBC03F;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

/* After slide changes */
.toggle:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: #EBC03F;
  border-radius: 100px;
  top: 1px;
  left: 1px;
  transition:  all 0.5s;
}

/* Toggle text */
p {
  font-weight: normal;
}

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left : 49px;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
  background-color: green;
}

/* Checkbox vanished */
.checkbox {
  display : none;
}
.searchcontent{
  font-size: 14px;
line-height: 22px;
text-align: center;
color: #ACACAC;
}
.commentInput{
  position: relative;
}
.enterComment{
  position: absolute;
  width: 29px;
  bottom: -69px;
  right: 121px;
  object-fit: contain;
  /* filter: invert(1); */
  height: unset !important;
}
.tag-input {
  padding: 5px 10px 9px 16px;
  border-radius: 20px;
  border: 1px solid;
  width: 100px;
}
.tags-metadata ul {
  padding-top: 10px;
}
.tags-metadata ul li {
  padding-bottom: 5px;
}
.tags-metadata ul li a{
  background-color: #000;
  font-size: 14px;
  line-height: 6px;
  border-radius: 20px;
  padding: 17px 22px;
  color: #fff;
  text-decoration: unset;
  margin: 0px 5px;
  display: inline-block;
}

/* <!-- sprint12-fixes end --> */
.masonry-item.masonryOpenDrawer{
  /* width: calc(33.33% - 10px) !important; */
}
.pdfWhiteBlock{
  background-color: #fff;
  padding: 20px;
  /* width: 255px; */
}
.recentHeading{
  font-size: 15px;
  font-weight: normal;
  color: #000000;
  margin-right: 20px;
  cursor: pointer;
}
.viewSelected {
  color: #C49900;
  border-bottom: 2px solid #C49900;
  cursor: default !important;
  padding-bottom: 6px;
}
.recentHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.slickItem {
  height: 200px;
}
.filterMenuRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.typeSelections {
  display: flex;
  flex-direction: row;
}
.moreFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
}
.itemCount {
    border: 1px solid #F6F5F2;
    border-radius: 24px;
    padding: 0px 5px;
    background-color: #F6F5F2;
    color: black;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    min-width: 24px;
    text-align: center;
    min-height: 24px;
}
.viewSelected .itemCount{
  border: 1px solid #EBC03F;
  background-color: #EBC03F;
  color: black;
}
::ng-deep .slide  #fileId {
  height: 170px;
  object-fit: fill;
  width: auto;
}
/* ::ng-deep .slide  #fileId2 {
  height: 103px;
} */
/* Custom tabs css start 12-Nov-2021 */
.customTab {
  padding: 60px 0px 40px;
}
.customTab .tab-content {
  padding: 25px 0px 40px;
}
.customTab .nav>li>a {
  position: relative;
  display: block;
  padding: 8px 0px;
  color: #000000;
  font-size: 15px;
}
.customTab .nav-tabs {
   border-bottom: 0px;
}
.customTab .nav-tabs > li.active:before {
  border-color: transparent;
  border-top-color: transparent;
  border-width: 1px;
  margin-left: 0;
  height: 2px;
  background: #C49900;
  width: 100%;
  left: 0px;
}
.customTab .nav-tabs > li.active:after {
  border-color: transparent;
  border-top-color: transparent;
  border-width: 0px;
  margin-left: 0;
  left: 0px;
}
.customTab .nav-tabs > li.active > a,
.customTab .nav-tabs > li.active > a:focus,
.customTab .nav-tabs > li.active > a:hover{
  color: #C49900 !important;
  font-weight: normal !important;
}
.customTab .nav-tabs>li>a{
  margin: 0px;
}
.customTab .nav-tabs > li {
  margin-right: 20px;
}
.customTab .image-block {
  margin: 5px;
  position: relative;
}
.customTab .tab-pane {
  position: relative;
}
.customTab .show-all {
  font-size: 15px;
  line-height: 24px;
  color: #040404;
  position: absolute;
  top: -50px;
  right: 90px;
  cursor: pointer;
}
/* Custom tabs css end 12-Nov-2021 */
.tab-pane.show {
  opacity: 1;
}
.hasFilterSelected {
  color: #EBC03F;
}
.hasFilterSelected button {
  color: black;
  background-color: #EBC03F;
  border-radius: 15px;
  margin-right: 8px;
}
.hasFilterSelected .itemCount {
  border: 1px solid #EBC03F;
  background-color: #EBC03F;
  color: black;
  margin-left: 5px;
}
/* loader */
.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  /* background: #222; */
  z-index: 999;
  /* opacity: 0.2; */
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-width: 8px;
  border-color: #DEB31A;
  border-top-color: #f8eecc;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
  opacity: 1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.downloadBlock {
  position: relative;
}
.downloadBlock::after, .sub-dropdown-block::after{
  content: '';
  display: block;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.download-dropdown {
  position: absolute;
  width: 346px;
  min-height: auto;
  /* height: auto; */
  right: 2px;
  top: 51px;
  background: #23211E;
  border-radius: 8px;
  display: none;
  z-index: 999999;
  color: #fff;
  padding: 30px;
  cursor: auto;
}
.download-icon {
  display: block;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../../assets/images/download-black.svg);
}
.downloadBlock:hover .download-icon {
  background-image: url(../../assets/images/download-yellow.svg);
}
.downloadBlock:hover .download-dropdown {
  display: block;
}
.download-dropdown p {
  font-weight: normal;
}
.sub-dropdown-block {
  position: relative;
  margin-top: 40px;
  cursor: pointer;
}

.downloadIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../../assets/images/download-white.svg);
}
.down-arrow-icon {
  height: 25px;
  width: 35px;
  float: right;
  background-image: url(../../assets/images/down-arrow-white.svg);
  border-left: 1px solid #737373;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.sub-dropdown-block:hover {
  color: #DAAA00;
}
.sub-dropdown-block:hover .downloadIcon {
  background-image: url(../../assets/images/download-yellow.svg);
}
.sub-dropdown-block:hover .down-arrow-icon {
  background-image: url(../../assets/images/down-arrow-yellow.svg);
}
.sub-dropdown-menu {
  background: #2D2926;
  clear: both;
  text-align: left;
  display: block;
  border-radius: 0px 0px 7px 7px;
  position: absolute;
  width: 100%;
  top: 40px;
  overflow: hidden;
  display: none;
}
.sub-dropdown-menu:after {content: '';display: block;clear: both;}
.sub-dropdown-menu ul {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0px !important
}
.sub-dropdown-menu ul li a {
  display: block;
  padding: 8px 20px;
  color: #fff;
  font-size: 14px;
}
.sub-dropdown-menu ul li a:hover {
  background: #EBC03F;
  color: #000
}
.sub-dropdown-menu ul li {
  margin: 0px !important;
}
.sub-dropdown-block:hover .sub-dropdown-menu {
  display: block;
}

.internal-use .control-group {
  display: block;
}
.internal-use .control {
  display: block;
  position: relative;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  padding: 0px;
  padding-left: 40px;
  border: 0px;
  margin: 30px 0px 0px;
}
.internal-use .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.internal-use .control__indicator {
  position: absolute;
  top: 8px;
  left: 0;
  height: 24px;
  width: 24px;
  background: #e6e6e6;
  border-radius: 4px;
}
.internal-use .control--radio .control__indicator {
  border-radius: 50%;
}
.internal-use .control:hover input ~ .control__indicator,
.internal-use .control input:focus ~ .control__indicator {
  background: #fff;
}
.internal-use .control input:checked ~ .control__indicator {
  background: #006845;
}
.internal-use .control:hover input:not([disabled]):checked ~ .control__indicator,
.internal-use .control input:checked:focus ~ .control__indicator {
  background: #006845;
}
.internal-use .control input:disabled ~ .control__indicator {
  background: #006845;
  opacity: 0.6;
  pointer-events: none;
}
.internal-use .control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.internal-use .control input:checked ~ .control__indicator:after {
  display: block;
}
.internal-use .control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.internal-use .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.internal-use .control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.internal-use .control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.download-dropdown a, .download-dropdown a:hover {
  color: #DAAA00;
}

.weight-size-block {
  display: inline-block;
  width: 100%;
  padding-top: 5px;
}

.weight-size-block ul {
  display: block;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.weight-size-block ul li {
  float: left;
  padding-right: 20px;
  white-space: nowrap;
  color: #737373;
  font-size: 14px;
  line-height: 20px;
  font-family: 'brownregular';
}

.weight-size-block ul li img {
  display: inline-block;
  max-width: 20px;
  vertical-align: top;
  margin-right: 5px;
}
.copyright-caption {
  position: relative;
}
.copyright-caption .image-caption {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: #fff;
  font-weight: normal;
}
.preview-heading {
  font-family: 'brownregular';
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
}
a.hover-icon.download-icon {
  position: relative;
}
a.hover-icon.download-icon:after {content: '';display: block;position: absolute;bottom: -10px;right: 0px;height: 20px;width: 30px;z-index: 0;}
/* .modalHead span{
  font-size: 18px;
line-height: 22px;
color: #000000;
font-weight: normal;
} */

.close{
  opacity: 1;
}
.copy-link{
  color: #C49900;
  font-weight: normal;
}
@media (max-width:768px) {
  .modalHead ul li, .iconsList li {
    margin-left: 10px;
    cursor: pointer;
  }
}
.downloadBtn {
  background: #289569;
  width: 140px;
  padding: 9px 20px;
  border-radius: 100px;
  color: #fff;
  font-weight: normal;
}
.downloadBtn img {
  max-width: 20px;
}

.modalHead ul li img {
  width: 30px;
}
.downloadBlock::after {
  height: 80px;
}
.permission-required ul.emailList {
  width: 100%;
  margin: 20px 0px;
  padding: 0px;
}

.permission-required ul.emailList li {
  padding: 0px;
  margin: 0px;
}
.permission-required ul.emailList li .nameBlk {
  float: left;
  cursor: auto;
  width: 85%;
}
.permission-required ul.emailList li .emailIconBlk {
  float: right;
  cursor: pointer;
}

ol.publicUse {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
ol.publicUse li {
  float: left;
  margin-right: 20px;
  position: relative;
}

ol.publicUse li .publicUseBlk, ol.publicUse li .usagePermission {
  background: #E6E2DA;
  border-radius: 4px;
  color: #645D57;
  padding: 0px 8px;
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
}

ol.publicUse li .publicUseBlk:hover, ol.publicUse li .usagePermission:hover {
  background: #B1AAA1;
  color: #1E1B19;
}
.mouseHoverInfo {
  background: #1E1B19;
  border-radius: 4px;
  padding: 4px 12px 7px;
  width: 256px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  top: 35px;
  left: 0px;
  z-index: 9;
  display: none;
}
ol.publicUse li:hover .mouseHoverInfo {
  display: block;
}
.w219 {
  width: 219px !important;
}

.internal-use .removeMarginTop .control, .removeMarginTop .sub-dropdown-block {
  margin-top: 0px !important;
}
.commentTextBlk {
  width: calc(100% - 50px);
}

.requesInput {
  border: 0px solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-bottom: 1px solid #D1CFC9;
  background: transparent;
  line-height: 34px;
  margin-top: 20px;
  width: 100%;
  vertical-align: top;
}
.requesInput.goldenText {
  border-bottom: 1px solid #EDD580;
  color: #EDD580;
}
.submitBtn {
  background: #EDD580;
  color: #040404;
  border-radius: 100px;
  padding: 0px 20px;
  line-height: 35px;
  letter-spacing: 1px;
  border: 1px solid transparent;
  outline: none;
  float: right;
  clear: both;
  margin-top: 18px;
}

.permission-required button:disabled,
.permission-required button[disabled]{
  border: 1px solid transparent;
  background-color: #EFEEE9;
  color: #BAB8B2;
  opacity: 1;
}
input.requesInput::placeholder {
  color: #D1CFC9 !important;
  opacity: 1; /* Firefox */
}
input.requesInput:-ms-input-placeholder {
  color: #D1CFC9 !important;
}
input.requesInput::-ms-input-placeholder {
  color: #D1CFC9 !important;
}
.requestSubmitted {
  text-align: center;
}
.requestSubmitted img.mailSendIcon {
  margin: 0px auto;
  width: auto !important;
}
.requestSubmitted h3 {
  color: #fff;
  padding-bottom: 20px;
  font-size: 15px;
  padding-top: 20px;
}
.requestSubmitted p {
  font-family: 'brownlight';
  color: #fff;
}
.rejectedRequest p span {
  color: #DEB31A;
}
.rejectedRequest p {
  margin-bottom: 20px;
}
.rejectedRequest p:last-child {
  margin-bottom: 0px;
}
.eyeIcon {
  display: inline-block;
  width: 16px;
  vertical-align: 0px;
}
.wd100 {
  width: 100% !important;
}
.comment-content ul li .commentTextBlk p.nameContent {
  color: #DEB31A;
}
.comment-content ul li .commentTextBlk p.bodyContent {
  color: #040404;
  font-family: 'brownlight';
}
.comment-content ul li .commentTextBlk p.bodyContent span {
  color: #DEB31A;
  opacity: 1;
  font-family: 'brownregular';
}
.comment-content ul {
  height: calc(100vh - 74vh);
  padding-top: 0px;
}
.comment-content ul li.allComments,
.comment-content .allComments {
  text-align: center;
  margin-bottom: 0px;
}
.comment-content ul li.allComments span,
.comment-content .allComments span {
  color: #BAB8B2;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
}
.comment-content ul li.allComments span:hover,
.comment-content .allComments span:hover {
  background: #F6F5F2;
  line-height: normal;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  color: #a19f98;
}
.comment-content ul li.allComments,
.comment-content .allComments {
  min-height: 61px;
  margin-bottom: 0px;
}
form.commentTextForm {
  position: relative;
}
.commentBtn {
  appearance: none;
  border: 0px;
  border-radius: 0px;
  color: #D1CFC9;
  /* letter-spacing: -0.02em; */
  position: absolute;
  right: 16px;
  top: 15px;
  background: transparent;
  padding: 0px;
}
.commentBtn.activeBtn {
  color: #DEB31A;
}
.userName {
  width: 40px;
  height: 40px;
  text-align: center;
  background: #DEB31A;
  border-radius: 100px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'brownlight';
  line-height: 40px;
  margin-right: 10px;
}
.close-modal-icon {
  padding-bottom: 0px;
}
.close-modal-icon img {
  max-width: 14px;
}
::ng-deep .custom-modalbox .mat-dialog-container {
  padding: 0px !important;
  min-height: auto !important;
  max-height: 100% !important;
  border-radius: 8px !important;
}
.popupTabSec.notPrivateAccess img {
  height: calc(100vh - 250px) !important;
}

@media  screen and (min-width: 1440px) {
  .comment-content ul {
    height: calc(100vh - 71vh);
  }
}
@media  screen and (min-width: 1680px) {
  .comment-content ul {
    height: calc(100vh - 67vh);
  }
}
@media  screen and (min-width: 1920px) {
  .comment-content ul {
    height: calc(100vh - 64vh);
  }
}