
<!-- <app-loader-small [show]="modalLoading"></app-loader-small> -->
<div *ngIf="viewType === 'GRID'" style="position: relative;">
  <!-- <img *ngIf="doc.type === 'Picture'" id="fileId" src (error)="getAssetUrl($event, doc.contextParameters.thumbnail.url)" alt=""
    (click)="openPreview()" /> -->
    <!-- <button (click)="copyLinkOfAsset()">copy link</button> -->
    <div *ngIf="checkMimeType(doc) === 'nopreview'" style="min-width: 113px; max-width: 100%; background-color: #fbf7e6;">
      <img 
        id="fileId" 
        [src]="getNoPreview(doc)" 
        alt=""
        (click)="openPreview()"
        (load)="showLock = true"
        crossorigin="use-credentials"
        loading="lazy" style="object-fit: none !important; background: #fbf7e6; width: 120px;
        margin: 0px auto;" />

        <!-- <div *ngIf="checkMimeType(doc) === 'video'" class="videoIconn">
          <img id="fileId" 
          [src]="getAssetUrl(null, doc.contextParameters.thumbnail.url)" 
          alt=""
          (click)="openPreview()"
          crossorigin="use-credentials" />
        </div> -->
      <span style="width: 1px;height: 1px;"></span>
    </div>

    <div *ngIf="checkMimeType(doc) === 'picture'" style="min-width: 113px; max-width: 100%; background-color: #f3f3f3;">
      <img 
        id="fileId" 
        [src]="getAssetUrl(null, doc.contextParameters.thumbnail.url)" 
        alt=""
        (click)="openPreview()"
        (load)="showLock = true"
        crossorigin="use-credentials"
        loading="lazy" />

        <!-- <div *ngIf="checkMimeType(doc) === 'video'" class="videoIconn">
          <img id="fileId" 
          [src]="getAssetUrl(null, doc.contextParameters.thumbnail.url)" 
          alt=""
          (click)="openPreview()"
          crossorigin="use-credentials" />
        </div> -->
      <span style="width: 1px;height: 1px;"></span>
    </div>

    <div *ngIf="checkMimeType(doc) === 'video'" style="min-width: 113px; max-width: 100%; background-color: #f3f3f3;">
      <!-- <img 
        id="fileId" 
        [src]="getAssetUrl(null, doc.contextParameters.thumbnail.url)" 
        alt=""
        (click)="openPreview()"
        (load)="showLock = true"
        crossorigin="use-credentials"
        loading="lazy" /> -->

        <!-- <div *ngIf="checkMimeType(doc) === 'video'" class="videoIconn"> -->
          <img id="fileId" 
          [src]="getAssetUrl(null, doc.contextParameters.thumbnail.url)" 
          alt=""
          (click)="openPreview()"
          crossorigin="use-credentials" />
        <!-- </div> -->
      <span style="width: 1px;height: 1px;"></span>
    </div>
    


  <img *ngIf="checkMimeType(doc) === 'file'" id="fileId2" src="../../assets/images/pdf.png" (click)="openPreview()" />
  <div *ngIf="checkMimeType(doc) === 'file'" class="pdfWhiteBlock">
    <div class="flexible pb-2" style="justify-content: space-between ;">
      <p>{{doc.title}}</p>
      <div style="display: inline-grid;
      text-align: center;">
        <img src="../../assets/images/Read.svg" style="    width: 26px;
        margin: auto;">
        <!-- <span>3 mins</span> -->
      </div>

    </div>
    <span>{{doc['dc:description']}}</span>
  </div>

  <div class="cardBlock newDesign pa-0">
    <div [ngClass]="{'activeHover': doc.isSelected}">
      <div class="mouse-hover-bg" (click)="openPreview()"></div>
      <div class="form-group-custom">
        <input class ="vh" type="checkbox" id="html-{{doc.uid}}" [checked]="doc.isSelected" [(ngModel)]="doc.isSelected"
          (change)="selectImage($event)">
        <label for="html-{{doc.uid}}"></label>
      </div>
      <div class="hover-icon-group" (click)="logDoc()">
        
        <!-- <div class="hover-icon plus-icon" placement="top" ngbTooltip="This function will be available soon"
          style="cursor: not-allowed;">
        </div> -->
        <div class="hover-icon star-icon tollTipWorkspace"
          [ngClass]="{'active': doc.contextParameters.favorites?.isFavorite}"
          (click)="markFavourite()">
          <div class="customToolTipWorkspace">Add to favorites</div>
        </div>
        

        <div class="hover-icon not-downloadable-icon tollTipWorkspace" *ngIf="hasRequestRestriction()">
          <div class="customToolTipWorkspace" style="left: auto; right: 0px; top: 35px;">File not downloadable</div>
        </div>

        <a class="hover-icon download-icon"*ngIf="doc && !checkPopupNeeds()" href="{{getFileContent()}}"></a>

        <a class="hover-icon download-icon" href="javascript:void(0)" *ngIf="checkPopupNeeds() && !hasRequestRestriction()">
          <div *ngIf="doc" class="download-dropdown">
            <div *ngIf="hasNoRestriction()" class="no-use-restrictions">
              <p *ngIf=" checkCopyRight()">Always credit copyright owners.</p>
              <div class="download-btn">
                <a href="{{getFileContent()}}" >
                  <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.9673 19.5525V12.0525" stroke="#DAAA00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.0923 16.7893L10.9673 19.9143L7.84229 16.7893" stroke="#DAAA00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.3748 14.1251H16.3123C18.0615 14.128 19.6161 13.0111 20.1715 11.3525C20.7269 9.69382 20.1582 7.86592 18.76 6.81503C17.3617 5.76414 15.4478 5.72622 14.009 6.72091C13.429 3.63287 10.6466 1.45547 7.50963 1.63483C4.37272 1.81418 1.8566 4.29453 1.63234 7.42855C1.40808 10.5626 3.5454 13.3759 6.62482 14.0001" stroke="#DAAA00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>                  
                  Download
                </a>
              </div>
            </div>

            <div *ngIf="hasInternalRestriction1() && getApprovalUsers().length <1" class="internal-use">
              <p *ngIf=" checkCopyRight()">Always credit copyright owners.</p>

              <div class="control-group" [ngClass]="{'error-disabled' : downloadErrorShow && !isAware, 'removeMarginTop' : !checkCopyRight()} ">
                <label class="control control--checkbox">I am aware this asset is for internal use only
                  <input type="checkbox" [(ngModel)]="isAware" checked="isAware" (change)="onCheckboxChange($event)"/>
                  <div class="control__indicator"></div>
                </label>
              </div>
              <div class="error" *ngIf="downloadErrorShow && !isAware">Please check the box to proceed</div>
              <div class="download-btn" (click)="downloadClick()">
                <a href="{{getFileContent()}}" [ngClass]="showDownloadDropdown() ? 'downloadActive' : 'download-disabled'">
                  <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.9673 19.5525V12.0525" stroke="#DAAA00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.0923 16.7893L10.9673 19.9143L7.84229 16.7893" stroke="#DAAA00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.3748 14.1251H16.3123C18.0615 14.128 19.6161 13.0111 20.1715 11.3525C20.7269 9.69382 20.1582 7.86592 18.76 6.81503C17.3617 5.76414 15.4478 5.72622 14.009 6.72091C13.429 3.63287 10.6466 1.45547 7.50963 1.63483C4.37272 1.81418 1.8566 4.29453 1.63234 7.42855C1.40808 10.5626 3.5454 13.3759 6.62482 14.0001" stroke="#DAAA00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>                  
                  Download
                </a>
              </div>
            </div>

            <div *ngIf="getApprovalUsers().length>0" class="permission-required">
              <p *ngIf=" checkCopyRight()">Always credit copyright owners. <br /><br /></p>
               <p> {{getApprovalUsers().length === 1 ? 'To download this asset, please reach out to the below user via email:' : 'To download this asset, please reach out to any of the following users via email:'}}</p>
              <ul class="emailList">
                <li *ngFor="let userName of getApprovalUsers()">
                  <div class="nameBlk">{{userName}}</div>
                  <div class="emailIconBlk">
                    <a href="mailto:{{userName}}">
                    <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.42171 1H18.5783C18.8115 1 19 1.18265 19 1.40826V12.5917C19 12.8175 18.8113 13 18.5783 13H1.42171C1.18853 13 1 12.8174 1 12.5917V1.40826C1 1.18252 1.18866 1 1.42171 1ZM18.1567 2.22922L10.2544 8.04031C10.0985 8.15476 9.88611 8.14767 9.73921 8.03486L1.84432 2.22929V12.1833H18.1569L18.1567 2.22922ZM2.67189 1.81717L10.0003 7.20578L17.3288 1.81717H2.67155H2.67189Z" fill="#EDD580" stroke="#EDD580" stroke-width="0.5"/>
                    </svg></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div>
      
      <div class="caption-mousehover" (click)="openPreview()" >
        <div class="weight-size-block">
          <p>{{doc.title}}</p>
          <ul>
            <li>{{getAssetDate()}}</li>
            <!-- <li><img src="../../assets/images/icon_location_white.svg" alt="Tourism"> NEOM airport</li> -->
          </ul>
        </div>
      </div>
      <div *ngIf="showLockIcon() && showLock" class="lock-icon">
        <div class="tollTipWorkspace">
          <img src="../../assets/images/lock-icon.svg" alt="" style="min-height: auto !important;" />
          <div class="customToolTipWorkspace">This asset is confidential</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="viewType === 'LIST'" class="cardBlock" style="border-radius: 8px;">
  <div class="cardBlockContent">
    <div class="row">
      <div class="col-xl-6 col-md-6" style="position: relative;">
        <p>{{doc.properties['dc:title']}}</p>
        <div class="username">
          <span>
            <img src="../../assets/images/black-user.png">
          </span>
          {{doc.properties['dc:creator'].id}}
        </div>
      </div>
      <div (click)="openPreview()" class="col-xl-6 col-md-6">
        <img src="../../assets/images/pdf.png">
        <img src (error)="getAssetUrl($event, doc.contextParameters.thumbnail.url)" alt=""
          class="w-100 shadow-1-strong rounded listViewImg"
          style="width: 100%;border-radius: 8px !important;" alt="" />

      </div>
    </div>
  </div>
  <div [ngClass]="{'activeHover': doc.isSelected}">

    <div class="form-group-custom"  >
      <input class ="vh" type="checkbox" id="html-{{doc.uid}}" [checked]="doc.isSelected" [(ngModel)]="doc.isSelected"
        (change)="selectImage($event)">
      <label for="html-{{doc.uid}}"></label>
    </div>

    <div class="hover-icon-group">

      <!-- <div class="hover-icon plus-icon" placement="top"
        ngbTooltip="This function will be available soon" style="cursor: not-allowed;">
      </div> -->
      <a class="hover-icon download-icon"
        href="{{getFileContent()}}"></a>
        <div class="hover-icon star-icon"
        [ngClass]="{'active': doc.contextParameters.favorites.isFavorite}"
        (click)="markFavourite()"></div>
    </div>
    <div *ngIf="showLockIcon() && showLock" class="lock-icon">
      <img src="../../assets/images/lock-icon.svg" alt="" style="min-height: auto !important; margin-top: 0px;" />
    </div>
    <div class="mouse-hover-bg" (click)="openPreview()"></div>

  </div>
</div>