<!-- <p>setting-navigation works!</p> -->
<div class="pb-5 pl-12">
    <h2 class="commonHeading main-title" style="font-weight: normal">
      Settings
    </h2>
  </div>
  <div class="tree">
    <ul style="list-style: none" class="leftPanel">
      <li *ngIf="checkForUserGroup()" style="padding: 0px;">
        <div class="d-flex set">
          <div style="z-index: 9; text-align: center; width: 20px;">
            <img src="../../../assets/images/down-arrow.svg" height="9px" />
            <!-- <img src="../../../assets/images/left-arrow.svg" height="14px" /> -->
          </div>
          <span style="padding-left: 10px; z-index: 9">Documentation project</span>
        </div>
        <ul class="leftPanel insideScroll" id="customScrollBar">


          <!-- 
            Previous Design
          -->
          <!-- 

             <li
            style="cursor: pointer"
            class="d-flex set"
            routerLink="/settings/devices"
            routerLinkActive="'active-tab'" 
          >
            <span>Devices <span class="counting">{{deviceCount}}</span></span>
          </li>

          -->

          <a routerLink="/settings/devices" style="text-decoration: none;">
            <li
            style="cursor: pointer"
            class="d-flex set"
            routerLinkActive="'active-tab'"
          >
            <span>Devices <span class="counting">{{deviceCount}}</span></span>
          </li>
          </a>
          

            <a routerLink="/settings/manage-suppliers" style="text-decoration: none; ">
              <li
            class="d-flex set"
            routerLinkActive="'active-tab'"
          >
            <span>Suppliers <span class="counting">{{supplierCount}}</span></span>
          </li>

            </a>

          <a routerLink="/settings/manage-locations" style="text-decoration: none;">
            <li
            style="cursor: pointer"
            class="d-flex set"
            routerLinkActive="'active-tab'"
          >
            <span>Regions <span class="counting">{{regionCount}}</span></span>
          </li>
          </a>
          

          <a routerLink="/settings/manage-access-list" style="text-decoration: none;">
            <li
            style="cursor: pointer"
            class="d-flex set"
            routerLinkActive="'active-tab'"
          >
            <span>Access lists <span class="counting">{{accessCount}}</span></span>
          </li>
          </a>

        </ul>
      </li>
      <a routerLink="/settings/manage-external-users" style="text-decoration: none;">
        <li
        style="cursor: pointer"
        class="d-flex set"
        routerLink="/settings/manage-external-users"
        routerLinkActive="'active-tab'"
      >
        <span>Manage external users</span>
      </li>
      </a>
      
      <a *ngIf="checkForUserGroup()" routerLink="/report" style="text-decoration: none;">
        <li 
        style="cursor: pointer"
        class="d-flex set"
        routerLinkActive="'active-tab'"
      >
        <span>Analytics</span>
      </li>
      </a>
      
    </ul>
  </div>
