<p>setting-navigation works!</p>
<div class="pb-5 pl-12">
    <h2 class="commonHeading main-title" style="font-weight: normal">
      Settings
    </h2>
  </div>
  <div class="tree">
    <ul style="list-style: none" class="leftPanel">
      <li
        style="cursor: pointer"
        class="d-flex set"
        routerLink="/settings/manage-external-users"
        routerLinkActive="'active-tab'"
      >
        <span>Manage external users</span>
      </li>

      <li
        style="cursor: pointer"
        class="d-flex set"
        routerLink="/settings/manage-suppliers"
        routerLinkActive="'active-tab'"
      >
        <span>Manage suppliers</span>
      </li>

      <li
        style="cursor: pointer"
        class="d-flex set"
        routerLink="/settings/manage-locations"
        routerLinkActive="'active-tab'"
      >
        <span>Manage locations</span>
      </li>

      <li
        style="cursor: pointer"
        class="d-flex set"
        routerLink="/settings/devices"
        routerLinkActive="'active-tab'"
      >
        <span>Devices</span>
      </li>
    </ul>
  </div>