<div class="manageAccessBlock">

  <!-- NOTE: Following block is hidden, because this is old code and we will remiove it once locked folder is deployed on prod -->
  <div style="display: none;">
    <div class="manageAccessHeader">
        <div class="imgBlock"><img src="../../assets/images/folder-table-list.svg" /></div>
        <div class="nameBlock">{{selectedFolder.title}}</div>
        <div *ngIf="docIsPrivate" class="tagBlock">Private</div>
    </div>

    <div class="breadcrumbBlock">
        <span  *ngFor="let c of folderStructure; let i = index">/<span [ngClass]="i === folderStructure.length - 1? 'active': ''"> {{c.title}}</span> </span> 
    </div>

    <div *ngIf="docIsPrivate" class="whenYouConvert">
        When you convert this folder to published, it's contents will become available for all Ground X users or internal users only. They will appear in Ground X search.
    </div>

    <!-- <div *ngIf="!docIsPrivate" class="whenYouConvert"> -->
        <!-- When you make this folder private, it's contents are available only for the folder members and they will not appear in Ground X search anymore. -->
        <!-- When you make this folder private, it will no longer appear in search results and its contents are will be available only for the folder members -->
    <!-- </div> -->

    <div *ngIf="!docIsPrivate" class="makePrivate tollTipWorkspace">
        <label class="control control--checkbox">
          Make this folder private
          <input type="checkbox" (click)="getCheckAction($event)" />
          <div class="control__indicator"></div>
        </label>
        <span class="showTollTip">
          <img src="../../assets/images/Info-icon.svg" alt="" class="infoIcon" />
          <div class="customToolTipWorkspace infoHover">
            <!-- You can collaborate with specified users privately. You can invite users to a private folder after you have created it. -->
            Private folders are commonly used to restrict files to specific users or receive files from external users.
          </div>
        </span>
    </div>

    <div *ngIf="docIsPrivate" class="makePrivate tollTipWorkspace">
        <label class="control control--checkbox">
          Publish this folder
          <input type="checkbox" (click)="getCheckAction($event)" />
          <div class="control__indicator"></div>
        </label>
        <!-- <span class="showTollTip">
          <img src="../../assets/images/Info-icon.svg" alt="" class="infoIcon" />
          <div class="customToolTipWorkspace infoHover">You can collaborate with specified users privately. You can invite users to a private folder after you have created it.</div>
        </span> -->
    </div>
    <div *ngIf="!!error" style="color: red;">{{error}}</div>
  </div>

  <div class="manageAccessNewUi">
    <div class="breadcrumbBlock">
      <span>{{removeWorkspacesFromString(selectedFolder["properties"]["dc:path"])}} /<span class="active">{{selectedFolder.title}}</span></span> 
    </div>
    <div class="lockFolder">
      <div class="slideToggleBlk"><mat-slide-toggle [disabled]="lockedChildren.length > 0 || !isUserOwner()" [checked]="docIsPrivate" (change)="togglerUserActivated($event)"></mat-slide-toggle></div>
      <div class="slideContent">
        Lock folder
        <p>A locked folder and its contents will be only accessible by a selected group of individual people inside or outside of NEOM. </p>
      </div>
    </div>

    <div *ngIf="lockedChildren.length"><!-- <div *ngIf="!docIsPrivate">  -->
      <div class="lockFolderInfo">
        This folder can't be locked because it contains locked folders by other users. Please contact the owners to move their folders to a different location in order to lock this folder.
      </div>

      <div class="makeAdminBlock customTableStyle">
        <table class="folderListview pb-5">
            <tr>
                <th style="width:30%">Owner</th>
                <th style="width:70%">Location</th>
            </tr>
            <tr *ngFor="let data of lockedChildren">
              <td>
                <div class="tollTipCustom">
                  <div class="itemTitleContent">{{data.creator}}</div>
                </div>
              </td>
              <td>
                <div class="tollTipCustom">
                  <div class="itemTitleContent bold">{{data.path+'/'+data.title}}</div>
                </div>
              </td>
            </tr>
        </table>
      </div>
    </div>

    <div *ngIf="docIsPrivate">
      <app-add-user-modal
        #addUserModal
        [selectedFolder]="data.selectedFolder"
        [folderId]="data.selectedFolder.uid"
        [folderCollaborators]="folderCollaborators"
        (parentOutput)="acknowledgeParent($event)"
      ></app-add-user-modal>
    </div>

    <!-- Classifications -->
    <div class="reviewClassifications" *ngIf="isPrivate && !docIsPrivate">
      <div class="whenYouConvert">
        You're unlocking this folder and publishing its assets. You must review the classifications of its assets below.
      </div>
      <div class="uploadAssetsBlock">
        <div class="folder-img">
            <img src="../../assets/images/folder-icon.svg" style="width: 60px;margin: 0 14px 0 0;">
        </div>
        <div class="folder-content">
          <div class="folderHeading">
            {{selectedFolder?.title}}
            <span>{{removeWorkspacesFromString(selectedFolder["properties"]["dc:path"])}} / {{selectedFolder.title}}</span> 
            <span class="fileSize">{{data?.countAndSize?.count}} assets, {{data?.countAndSize?.size}}</span>
          </div>
        </div>
      </div>

      <div class="classifications">
        <h5>Please review the classifications of the uploaded files.</h5>
        <div class="row">
          <div class="col-md-6 mb-20">
            <div class="row">
              <div class="col-md-3 labelHeading">
                Confidentiality
              </div>
              <div class="col-md-9">
                <ng-select 
                  bindLabel="name"
                  placeholder="Specify sensitivity"
                  [(ngModel)]="confidentiality">
                  <ng-option 
                    *ngFor="let c of confidentialityDropdown | keyvalue" 
                    [value]="c.value" 
                    [disabled]="checkConfidentialityOptionDisabled(c.value)">
                      {{c.value.name}}
                   </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-20">
            <div class="row">
              <div class="col-md-3 labelHeading">
                Access right
              </div>
              <div class="col-md-9">
                <ng-select 
                  bindLabel="name"
                  placeholder="Specify visibility"
                  [(ngModel)]="accessRight">
                  <ng-option 
                    *ngFor="let c of accessRightDropdown | keyvalue" 
                    [value]="c.value" 
                    [disabled]="checkAccessOptionDisabled(c.value)">
                      {{c.value.name}}
                   </ng-option>
                </ng-select>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-20">
            <div class="row">
              <div class="col-md-3">
                Usage right
              </div>
              <div class="col-md-9 makePrivate">
                <label class="control control--checkbox" style="font-family: 'brownlight';">
                  <input 
                  [(ngModel)]="downloadApproval" 
                  type="checkbox" 
                  (change)="onCheckDownloadApproval($event)"
                  />
                  <div class="control__indicator"></div>
                  Approval required before download
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row" *ngIf="downloadApproval">
              <div class="col-md-3">
                {{SPECIFIC_USER_LABEL}}
              </div>
              <div class="col-md-9 makePrivate">
                <ng-select style="height: unset !important;" 
                  (change)="userOverall()"
                  [items]="userList$ | async"
                  bindLabel="id"
                  bindValue="id"
                  [multiple]="true"
                  [hideSelected]="true"
                  [trackByFn]="trackByFn"
                  [minTermLength]="2"
                  [loading]="userLoading"
                  typeToSearchText="Search users"
                  [typeahead]="userInput$"
                  [(ngModel)]="overallUsers"
                  [ngClass]="{'goldenText': overallUsers }"
                  [searchable]="true"
                  [clearable]="true" >
                  <ng-template ng-option-tmp let-item="item">
                      {{item.id}} ({{item.fullname}})
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="button-groups">
      <button (click)="closeModal()" class="cancel-btn">Cancel</button>
      <!-- <button (click)="updateRights()" class="upload-btn" [disabled]="!makePrivate" [ngClass]="{'disabled': !makePrivate}">Make private</button>  -->
      <button (click)="updateRights()" [disabled]="lockedChildren.length || loading" [ngClass]="{'disabled': loading || lockedChildren.length}" class="upload-btn">Save changes</button>
  </div>
</div>
