<div class="upload-modal">
    <button type="button" class="close-modal-icon" aria-label="Close" (click)="closeModal()">
       <img src="../../assets/images/close-modal.svg" style="width: 20px" />
    </button>
    <div class="contentBlockOverflow">
        <div class="uploadHeading">
            <span>{{generateUploadHeader()}}</span>
            <span>{{generateUploadDate()}}</span>
            <!-- <div *ngIf="loading && totalPercent < 100" class="uploadProgress">Uploading... {{totalPercent}}%</div>
            <div *ngIf="totalPercent == 100" class="uploadProgressDone">
                <img src="../../assets/images/Tick-box.svg" />
                Uploaded
            </div> -->
        </div>
        <img src="../../assets/images/Installation-search-icon.svg" class="installation-search-icon" *ngIf="!showUpload" />
        <div class="searchBar mb-5 zindex-1" *ngIf="!showUpload">
            <img src="../../assets/images/Iocn_Search.svg" class="searchIcon" />
            <input type="search" placeholder="{{selectedDevice? this?.selectedDevice.installationId + ' ' + this?.selectedDevice.area + ' ' + this.selectedDevice.location:  'Search installation ID, region, location or monthly footage'}}"
                [(ngModel)]="searchText"
                (ngModelChange)="onSearchBarChange($event)"
                [ngModelOptions]="{ standalone: true }"
                type="text"
                class="search-bar"
                [ngClass]="{ removeBorderRadious: searchPopup }"
                (click)="inputClicked()"
                (blur)="blurOnSearch()"
                (clickOutside)="outClick()"
                bindLabel="id"
                bindValue="id"
                [multiple]="false"
                typeToSearchText="Search users"
            />
            <div class="searchPopup" *ngIf="searchPopup && !tagClicked" id="customScrollBar" style="overflow-y: auto;">
                <ul>
                    <!-- <li class="flex" (click)="showUploadBlock()"><span>Monthly footage</span> <span>OXAGON</span></li>
                    <li class="flex" (click)="showUploadBlock()"><span>Monthly footage</span> <span>TROJENA</span></li> -->
                    <li *ngFor="let device of filteredInstallationIdList" class="flex" (click)="showUploadBlock(device)"><span class="numberBlk">{{device.installationId}}</span> <span class="ellipsis">{{device.area}}</span> <span>{{device.location}}</span></li>
                </ul>
            </div>
        </div>

        <div *ngIf="selectedDevice && showDatePicker" class="searchBar mb-5">
            <!-- <img src="../../assets/images/calendar-icon.svg" class="searchIcon" />
            <input *ngIf="!showDateDropdown" 
            type="text" 
            placeholder="Set a date for the upload" 
            (click) = "showDateDropdown = !showDateDropdown"
            /> -->
            <!-- <input
            *ngIf="showDateDropdown"
            value="{{uploadDate}}"  
            type="date" 
                [(ngModel)]="uploadDate" 
                (click) = "selectDate()"
            /> -->

            <span class="custom-date-picker1" style="margin-right: 22px;">
                <mat-form-field appearance="fill">
                    <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Set the date the media assets were captured" [(ngModel)]="uploadDate" style="width: 100%; border-bottom: 0px solid #000; line-height: 34px; padding-bottom: 0px;" (click)="picker.open()" >
                    <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </span>
            
        </div>

        <div *ngIf="showUpload" class="customScrollBar" style="overflow-y: auto;">
            <div class="dropzoneContent filesAdded" *ngIf="(files.length>0 || srtFiles.length) && !publishStep" ngx-dropzone (change)="onSelect($event)">
                <img src="../../assets/images/add-copyright-golden.svg" />
                <h2>Drag and drop to add your assets <span>or click to select files</span></h2>
            </div>
            <!-- <div *ngIf="files && files.length > 0" class="select-all">
                <label class="container">
                    <input type="checkbox" [(ngModel)]="isSelectAll">
                    Select all
                </label>
                <span class="custom-date-picker">
                    <mat-form-field appearance="fill">
                        <input matInput [matDatepicker]="picker" (dateChange)="updateSelectAllDate()" [(ngModel)]="allDate" style="width: 100%; border-bottom: 0px solid #000;" (click)="$event.stopPropagation(); picker.open()" >
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </span>
            </div> -->
            <div class="uanet_dropzone" [ngClass]="{'addHeight' : countFile }" ngx-dropzone [disableClick]="loading || publishStep" [expandable]="true" (change)="onSelect($event)">
                <ngx-dropzone-label *ngIf="!publishStep && !srtFiles.length">
                    <div class="dropzoneContent defaultTextUpload">
                        <img src="../../assets/images/add-copyright-golden.svg" />
                        <h2>Drag and drop to add your assets <span>or click to select files</span></h2>
                    </div>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files; let i = index" [file]="f" [removable]="!loading && !publishStep" (removed)="onRemove(f)">
                    <ngx-dropzone-label>
                        <div class="flex">
                            <span>{{ f.name }}</span>
                            <!-- <span *ngIf="!showInfo" class="gettingInfo" (click)="gettingInfo($event)">Getting info...</span> -->
                            <span *ngIf="!isDroneOperator" class="custom-date-picker">
                                <mat-form-field appearance="fill">
                                    <input matInput [matDatepicker]="picker" [max]="maxDate" [(ngModel)]="dates[i]" style="width: 100%; border-bottom: 0px solid #000;" (click)="$event.stopPropagation(); picker.open()" >
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </span>
                        </div>
                         <!-- ({{ f.type }}) -->
                    </ngx-dropzone-label>
                </ngx-dropzone-image-preview>

                <div class="customSrtPreview" *ngFor="let f of srtFiles; let i = index">
                    <img src="../../assets/images/srt-icon.svg" alt="" />
                    <div class="flex">
                        <span>{{ f.name }}</span>
                        <span *ngIf="!isDroneOperator" class="custom-date-picker" style="margin-right: 22px;">
                            <mat-form-field appearance="fill">
                                <input matInput [matDatepicker]="picker" [max]="maxDate" [(ngModel)]="srtDates[i]" style="width: 100%; border-bottom: 0px solid #000;" (click)="$event.stopPropagation(); picker.open()" >
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </span>
                        <ngx-dropzone-remove-badge class="ng-star-inserted" style="margin-top: 3px;" (click)="$event.stopPropagation();onRemoveSrt(f)">
                            <svg>
                                <line x1="0" y1="0" x2="10" y2="10"></line>
                                <line x1="0" y1="10" x2="10" y2="0"></line>
                            </svg>
                        </ngx-dropzone-remove-badge>
                    </div>
                </div>

                <div class="whenYouConvert" *ngIf="checkDroneUploader()">
                    Please ensure drone videos are uploaded with corresponding .SRT files.
                </div>
            </div>
        </div>

    </div>
    <div class="buttonBlock">
        <button *ngIf="!cancleBlock" class="cancel-btn" (click)="cancleShowHide()">Cancel</button>
        <button [disabled]="!uploadDate" *ngIf="isNextButton" (click)="next()" class="upload-btn">Next</button>
        <button [disabled]="files?.length === 0 && !srtFiles.length" (click)="startUpload()" *ngIf="!cancleBlock && !publishStep && !isNextButton && !allowPublish" class="upload-btn"  style="position: relative">
            <app-loader-small [show]="startUpLoading"></app-loader-small> Start upload
        </button>
        <button [disabled]="loading" (click)="publishAssets()" *ngIf="!cancleBlock && publishStep && allowPublish" class="upload-btn">Publish</button>

        <div *ngIf="cancleBlock">Are you sure you want to cancel the upload?</div>
        <div *ngIf="cancleBlock" class="cancleUpload">
            <button class="cancel-btn mr-20" (click)="closeModal()">Yes</button>
            <button class="cancel-btn" (click)="cancleShowHide()">Nevermind</button>
        </div>
    </div>
</div>
