::ng-deep .cdk-overlay-pane.custom-modalbox {
    width: 1080px !important;
    max-width: calc(100vw - 120px) !important;
    max-height: calc(100vh - 40px) !important;
    margin-right: auto !important;
    margin-left: auto !important;
    position: absolute !important;
    height: 100%;
    top: 20px !important;
    right: 0px !important;
    left: 0px !important;
}
::ng-deep .custom-modalbox .mat-dialog-container {
    padding: 0px !important;
    min-height: auto !important;
    max-height: 100% !important;
    border-radius: 8px !important;
}
.upload-modal {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    height: 100%;
}
.buttonBlock {
    display: flex;
    padding: 30px 30px 10px;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.contentBlockOverflow {
    display: inherit;
    margin: 0px 30px;
    flex-shrink: inherit;
    flex-basis: inherit;
    flex-direction: inherit;
    flex-grow: 1;
    overflow: hidden auto;
    background: #F7F7F7;
    border-radius: 8px;
}
.uploadHeading {
    background: #EFEEE9;
    color: #040404;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 15px;
    display: flex;
    justify-content: space-between;
}
.cancel-btn{
    color: #23211E;
    background: #fff;
    border-radius: 50px;
    padding: 8px 32px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.055em;
    border: 1px solid #23211E;
}
.upload-btn {
    color: #fff;
    margin-left: 20px;
    background: #000;
    border-radius: 50px;
    padding: 8px 32px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.055em;
    border: 1px solid #000;
}
.upload-btn:disabled {
    color: #fff;
    margin-left: 20px;
    background: #868585;
    border-radius: 50px;
    padding: 8px 32px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.055em;
    border: 1px solid #868585;
}
img.installation-search-icon {
    display: block;
    margin: 25px auto 20px;
    max-width: 100px;
}
.searchBar {
    max-width: 550px;
    width: 100%;
    margin: 0px auto;
    position: relative;
}
.searchBar img {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 25px;
}
.searchBar input {
    border: 0px;
    outline: none;
    width: 100%;
    border-bottom: 2px solid #040404;
    background: transparent;
    padding: 0px 40px 10px;
    font-family: 'brownlight';
    font-size: 18px;
    color: #040404;
    text-align: left;
}
.searchBar input::placeholder {
    color: #040404 !important;
    opacity: 1;
    text-align: left;
}
.searchBar input:-ms-input-placeholder {
    color: #040404 !important;
    text-align: left;
}
.searchBar input::-ms-input-placeholder {
    color: #040404 !important;
    text-align: left;
}
.searchPopup {
    position: absolute;
    top: 39px;
    left: 0;
    width: 100%;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #2D2926;
    min-height: calc(100vh - 410px);
    height: calc(100vh - 410px);
    overflow: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 0px;
}
li.flex, .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px 6px 44px;
    cursor: pointer;
}
li.flex:hover {
    background: #E1BB33;
}
li.flex span.ellipsis {
    width: 60%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.expandable {
    min-height: calc(100vh - 273px) !important;
    background: transparent !important;
    border: 0px !important;
    /* flex-wrap: wrap-reverse !important; */
}
.dropzoneContent h2 {
    font-family: 'brownlight';
    font-size: 22px;
    color: #937206;
    padding-top: 10px;
}
.dropzoneContent h2 span {
    display: block;
    font-size: 16px;
    padding-top: 10px;
}
.dropzoneContent img {
    max-width: 40px;
    width: 100%;
}
.customScrollBar {
    min-height: calc(100vh - 231px) !important;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0px;
}
.dropzoneContent.filesAdded {
    display: block;
    min-height: auto !important;
    padding: 15px;
    background: transparent;
    height: auto !important;
    border: 0px !important;
    padding-bottom: 0px;
}
.dropzoneContent.filesAdded img {
    max-width: 25px !important;
    width: 100%;
    display: inline-block;
}
.dropzoneContent.filesAdded h2, .dropzoneContent.filesAdded h2 span {
    display: inline-block;
    padding-top: 0px;
}
.dropzoneContent.filesAdded h2 {
    font-size: 15px;
    font-family: 'brownregular';
    padding-left: 10px;
}
.dropzoneContent.filesAdded h2 span {
    font-size: 13px;
    font-family: 'brownlight';
    padding-left: 5px;
}
.contentBlockOverflow ::ng-deep ngx-dropzone-image-preview {
    display: block !important;
    width: 100%;
    height: auto !important;
    min-height: auto !important;
    padding: 0px !important;
    margin: 0px 0px 10px !important;
}
.contentBlockOverflow ::ng-deep ngx-dropzone-image-preview img {
    max-width: 28px !important;
    width: 100% !important;
    height: 20px;
}
.uanet_dropzone {
    padding: 15px;
}
.customScrollBar .expandable {
    align-items: flex-start !important;
    display: block;
}
.contentBlockOverflow ::ng-deep ngx-dropzone-remove-badge {
    opacity: 1 !important;
    background: transparent !important;
    right: 0px !important;
    top: 5px !important;
}
.contentBlockOverflow ::ng-deep ngx-dropzone-remove-badge svg line{
    stroke: #BAB8B2 !important;
}
.contentBlockOverflow ::ng-deep ngx-dropzone-label {
    margin: 0px auto !important;
    padding-left: 10px;
    font-size: 13px;
    top: 5px;
    width: calc(100% - 70px);
}
.contentBlockOverflow ::ng-deep ngx-dropzone-image-preview .flex {
    padding: 0px !important;
}
.gettingInfo {
    font-size: 13px;
    font-family: 'brownlight';
    color: #007BB5;
}
.dropzoneContent.defaultTextUpload {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.folderListview ::ng-deep mat-form-field {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.folderListview ::ng-deep mat-form-field::after {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    background: url(../../assets/images/down-arrow.svg) no-repeat center center;
    background-size: 100%;
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: -1;
}
::ng-deep .mat-calendar-body-selected {
    background-color: #EDD580;
    color: #000;
}
.custom-date-picker ::ng-deep input.mat-input-element {
    border-bottom: 0px solid #000 !important;
    text-align: right;
    width: 75px !important;
    height: 20px !important;
}
.custom-date-picker ::ng-deep input.mat-input-element::-webkit-input-placeholder {
    color: #040404 !important;
}
.custom-date-picker ::ng-deep input.mat-input-element:-ms-input-placeholder {
    color: #040404 !important;
}
.custom-date-picker ::ng-deep input.mat-input-element::placeholder {
    color: #040404 !important;
}
.custom-date-picker ::ng-deep .mat-form-field-label-wrapper {
    top: 0em;
    padding-top: 0;
}
.custom-date-picker ::ng-deep button.mat-focus-indicator.mat-icon-button.mat-button-base:after {
    content: "";
    display: block;
    background-image: url('../../assets/images/calendar-dark-icon.svg') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}
.custom-date-picker ::ng-deep .mat-form-field-infix {
    width: 104px;
    line-height: 20px;
}
.custom-date-picker ::ng-deep .mat-icon-button {
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 6px;
}
.custom-date-picker ::ng-deep .mat-datepicker-popup {
    width: 296px !important;
    position: absolute !important;
    right: 0px !important;
    box-shadow: 2px 2px 6px 3px rgb(0 0 0 / 25%);
    border-radius: 8px;
    left: 725px !important;
    bottom: 83px !important;
    overflow: hidden;
    height: max-content !important;
}
.custom-date-picker ::ng-deep .mat-calendar-body-today.mat-calendar-body-selected{
    box-shadow: unset !important;
}
.custom-date-picker ::ng-deep .mat-calendar-body-selected {
    background-color: #EDD580;
    color: #000;
}
.custom-date-picker ::ng-deep .mat-form-field-underline {
    display: none !important;
}
.mr-20 {
    margin-right: 20px;
}
.expandable.addHeight {
    min-height: calc(100vh - 232px) !important;
    position: relative !important;
}
.uploadProgress {
    color: #007BB5;
}
.uploadProgressDone {
    color: green;
}

.select-all {
    margin-top: 20px;
    display: flex;
    margin-right: 30px;
}

.mat-calendar-table-header-divider {
    display: none !important;
}
.whenYouConvert {
    background: #E6F2FF;
    border-radius: 8px;
    padding: 8px 16px;
    color: #0072A2;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    transform: translate(-50%, 0px);
    left: 50%;
    white-space: nowrap;
}
.customSrtPreview {
    position: relative;
}
.customSrtPreview img {
    overflow: hidden;
    border-radius: 4px;
    max-width: 28px !important;
    width: 100% !important;
    height: 20px;
    position: absolute;
    top: 8px;
}
.customSrtPreview .flex span {
    font-size: 14px;
    color: #717386;
}
.customSrtPreview .flex {
    padding: 6px 20px 6px 37px
}

::ng-deep .addHeight.ngx-dz-hovered {
    border: 1px dashed #937206 !important;
}
.zindex-1 {
    z-index: 1;
}

/* .custom-date-picker1 ::ng-deep input.mat-input-element {
    border-bottom: 0px solid #000 !important;
    text-align: right;
    width: 75px !important;
    height: 20px !important;
} */
.custom-date-picker1 ::ng-deep input.mat-input-element::-webkit-input-placeholder {
    color: #040404 !important;
}
.custom-date-picker1 ::ng-deep input.mat-input-element:-ms-input-placeholder {
    color: #040404 !important;
}
.custom-date-picker1 ::ng-deep input.mat-input-element::placeholder {
    color: #040404 !important;
}
.custom-date-picker1 ::ng-deep .mat-form-field-label-wrapper {
    top: 0em;
    padding-top: 0;
}
.custom-date-picker1 ::ng-deep button.mat-focus-indicator.mat-icon-button.mat-button-base:after {
    content: "";
    display: block;
    background-image: url('../../assets/images/calendar-icon.svg') !important;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: 18px; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-size: 80%;
}
.custom-date-picker1 ::ng-deep .mat-form-field-infix {
    width: 104px;
    line-height: 20px;
}
.custom-date-picker1 ::ng-deep .mat-icon-button {
    width: 30px;
    height: 30px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 0.mat-form-field-infixpx;
}
.custom-date-picker1 ::ng-deep .mat-datepicker-popup {
    width: 296px !important;
    position: absolute !important;
    right: 0px !important;
    box-shadow: 2px 2px 6px 3px rgb(0 0 0 / 25%);
    border-radius: 8px;
    left: 725px !important;
    bottom: 83px !important;
    overflow: hidden;
    height: max-content !important;
}
.custom-date-picker1 ::ng-deep .mat-calendar-body-today.mat-calendar-body-selected{
    box-shadow: unset !important;
}
.custom-date-picker1 ::ng-deep .mat-calendar-body-selected {
    background-color: #EDD580;
    color: #000;
}
.custom-date-picker1 ::ng-deep .mat-button-wrapper {
    display: none;
}
.custom-date-picker1 ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 0px 0px 0 0 !important;
    padding: 0px !important;
}
.custom-date-picker1 ::ng-deep .mat-form-field-underline {
    display: none !important;
    border-bottom: 1px solid #040404;
}
.custom-date-picker1 ::ng-deep .mat-datepicker-toggle, 
.custom-date-picker1 ::ng-deep .mat-datepicker-content .mat-calendar-next-button, 
.custom-date-picker1 ::ng-deep .mat-datepicker-content .mat-calendar-previous-button {
    position: absolute;
    left: 0px;
}
.custom-date-picker1 ::ng-deep .mat-form-field-infix {
    border: 0px;
    background: #f7f7f7;
    padding-bottom: 4px;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple, 
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    display: none;
}
.custom-date-picker1 ::ng-deep .mat-form-field-infix {
    border-top: 0px solid transparent;
    border-bottom: 2px solid #040404;
}

::ng-deep .mat-snack-bar-container.snackBarMiddle {
    /* transform: translate(-50%, -50%) !important;
    top: 50% !important;
    position: absolute !important;
    left: 50% !important; */
    background: #2D2926 !important;
    /* margin: 67% 24px !important; */
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    border-radius: 50px;
    box-shadow: none !important;
    height: 30px !important;
    text-align: center;
  }
  ::ng-deep .mat-simple-snackbar {
    font-size: 13px !important;
    font-weight: normal !important;
    text-align: center !important;
    font-family: 'brownregular' !important;
    justify-content: center !important;
  }
  ::ng-deep .mat-snack-bar-container.snackBarMiddle, 
  ::ng-deep .mat-snack-bar-container.snackBarMiddleRecover {
    text-align: center !important;
    margin: 100px auto !important;
    min-width: 100%;
  }
.buttonBlock ::ng-deep app-loader-small .text-center {
    top: 0px !important;
    left: 0px !important;
    border-radius: 100px !important;
    background: #fff !important;
}
::ng-deep .mat-snack-bar-container.snackBarMiddle {	
    /* transform: translate(-50%, -50%) !important;	
    top: 50% !important;	
    position: absolute !important;	
    left: 50% !important; */	
    background: #2D2926 !important;	
    /* margin: 67% 24px !important; */	
    font-size: 12px;	
    font-weight: normal;	
    color: #fff;	
    border-radius: 50px;	
    box-shadow: none !important;	
    height: 30px !important;	
    text-align: center;	
}	
::ng-deep .mat-simple-snackbar {	
    font-size: 13px !important;	
    font-weight: normal !important;	
    text-align: center !important;	
    font-family: 'brownregular' !important;	
    justify-content: center !important;	
}	
::ng-deep .mat-snack-bar-container.snackBarMiddle, 	
::ng-deep .mat-snack-bar-container.snackBarMiddleRecover {	
    text-align: center !important;	
    margin: 100px auto !important;	
    min-width: 100%;	
}
