.document {
  display: block;
  width: 15%;
  float: left;
  padding: 5px;
}

img {
  width: 100%;
}
input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}
.dropdown{
  /* border: 1px solid #404040; */
  border-radius: 8px;
  width: 170px;
}
select.btn{
  border: 1.5px solid #000;
}
select option {
  /* margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */
}
.dropdown-item.active, .dropdown-item:active,  .dropdown-item:hover{
  background-color: #000 !important;
}

.dropdown-toggle::after{
  
  position: absolute;
  right: 10px;
  top: 17px;

}
.searchP{
  font-size: 24px;
line-height: 22px;
font-weight: 600;
}
.imgHead{
  font-size: 18px;
line-height: 22px;
font-weight: 600;
}
.videosList, .docList{
  list-style: none;
  padding: 0;
}
.videosList li, .docList li{
  margin-right: 15px;
  position: relative;
  transition: 0.4s;
  margin-bottom: 15px;
}
.videosList li:before{
  content: '';
  background-image: url(~/../../../../assets/images/button-play.svg);
  height: 60px;
  width: 60px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s;
}
.videosList li:hover::before{
  transform: scale(1.2);
}
.fileCount{
  font-size: 14px;
line-height: 22px;
text-decoration-line: underline;
color: #737373;
}
.dropdown  button{
  display: block;
  width: 100%;
  text-align: left;
}
.imagesList{
  list-style: none;
  padding: 0px;
  align-items: unset;
}

.imagesList li{
  width: 30%;
  margin: 15px;
}


/* .container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
} */
.imgGallery{}
.imgGallery  img {
	margin-top: 8px;
	vertical-align: middle;
}

/* Grid */
.imgGallery a{
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}
/* .big {
  grid-column: span 2;
  grid-row: span 2;
}
.imgGallery a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
} */
 /* .horizontal {
grid-column: span 2;
} 

.vertical {
grid-row: span 2;
} */

.portfolio-list{
  -webkit-column-count: 3;
    -webkit-column-gap: 0;
    -moz-column-count: 3;
    -moz-column-gap: 0;
    column-count: 4;
    column-gap: 0;
}
.portfolio-list li {
  width: 100%;
  float: left;
  padding: 0 4px;
  margin: 4px 0;
  border-radius: 8px;
}
.set-width {
  width: calc(100% + 20px);
  margin-left: -10px;
}
#view input{
  display: none;
}
.e-btn-group{
  float: right;
}
.card-view ul{
  padding: 0px;
  list-style: none;;
}
.card-view ul li {
  width: 48%;
  margin: 4px;
}
.username{
  position: absolute;
  bottom: 0px;
}

/* modal css */
.modalHead{
  padding: 8px 5px;
  background-color: #fff;
}
.modalHead ul, .iconsList{
  list-style: none;
  padding: 0;
  float: right;
}
.modalHead ul li, .iconsList li{
  margin-left: 15px ;
}
.modalHead ul li img, .iconsList li img{
  width: 25px;
}
.sub-body-modal{
  padding: 15px;
}
.main-heading{
  font-size: 24px;
line-height: 34px;
color: #000000;
border: unset;
padding-bottom: 15px;
}
.yellowBtn{
  background-color: #EBC03F;
  padding: 10px;
  font-size: 13px;
  line-height: 13px;
  color: #FFFFFF;
  border-radius: 6px;
}

.lpSecThree{
  padding: 60px 0px;
}
.lpSecThree ul{
  padding: 0px;
  list-style: none;
}
.lpSecThree ul li{
  background-color: #F9F7F2;
  border-radius: 8px;
  padding: 10px;
  width: 27%;
  margin: 10px;
}

.tripDivOne{

}
.tripDivTwo{
  padding: 15px 0px;
}
.tripDivTwo p{
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 600;
}
.tripDivTwo span{
  font-size: 13px;
  line-height: 13px;
  color: #737373;
}
.tripImg1{
  border-top-left-radius: 8px;
  width: 139px;
  margin: 2px;
  height: 185px;
}
.tripImg2{
  width: 90px;
  height: 90px;
  border-top-right-radius: 8px;
  margin: 2px;
}
.tripImg3{
  width: 90px;
  height: 90px;
  margin: 2px;
  border-bottom-right-radius: 8px;
}
.main-modal-head{
  font-size: 18px;
line-height: 22px;
color: #000000;

}
.downloadDrop.dropdown{
  width: unset;
}
.downloadDrop .dropdown-toggle::after{
  display: none;
}
.dropdown .dropdown-menu.show {
  left: -150px !important;
  top: 25px !important;
  background-color: #000;
  min-width: max-content !important;
}
.settingsDropdown .dropdown-menu.show{
  left: -119px !important;
  top: 25px !important;
  background-color: #000;
  min-width: max-content !important;
}
.dropdown .dropdown-menu.show .dropdown-item{
  color: #fff;
}
.dropdown .dropdown-menu.show .dropdown-item span{
  text-align: right;
  float: right;
  padding-left: 15px;
}
.popupTabSec{
  height: 600px;
  position: relative;
}
.popupTabSec img{
  height: 600px;
  object-fit: cover;
  object-position: center;
}
.myTabContent{
  width: 100%;
  position: relative;
overflow: scroll;
height: 100%;
}
.myTabContentMain{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.myTabContentMain:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  opacity: 0.7;
}
.iconsTab.nav-tabs {
  border-bottom: unset !important;
  height: fit-content;
  align-items: center;
}
.iconsTab.nav-tabs .nav-item.show .nav-link, .iconsTab.nav-tabs .nav-link.active{
  border: unset !important;
  padding: unset !important;
}
.iconsList.nav-tabs .nav-link{
  border: unset !important;
  padding: unset !important;
}
.timeline-content ul{
  list-style: none;
  padding: 0;
  width: calc(100% - 500px);
  margin: auto;
  position: relative;
  padding-top: 60px;
  margin: auto;

}

.timeline-content ul li{
  padding-bottom: 70px;
  position: relative;
}
.timeline-content ul li::before{
  content: '';
  position: absolute;
  background-color: transparent;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: -5px;
  border: 1px solid #fff;
}
.timeline-content ul li::after{
  content: '';
  position: absolute;
  background-color: #fff;
  height: calc(100% - 11px);
  width: 1px;
  left: 0px;
  top: 11px;

}
.timeline-content ul li:nth-last-child(1)::after{
  display: none;
}
.timeline-content ul li p{
  font-size: 18px;
  line-height: 14px;
  color: #FFFFFF;
  padding-left: 30px;
  margin-bottom: unset;
}
.timeline-content ul li p span{
  color: #EBC03F;
}
::-webkit-scrollbar {
  display: none;
}

.hide {
  display: none;
}
.comment-content ul{
  list-style: none;
  padding: 0px;
  width: 100%;
  margin: auto;
  padding-top: 40px;
}
.comment-content ul li{
  padding: 15px 0px;
  position: relative;
}
.comment-content ul li p{
  font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}
.comment-content ul li img{
  height: 30px !important;
  width: 30px;
  margin-right: 10px;
}
.comment-content ul li p span{
  opacity: 0.6;
}
.comment-content, .info-content{
  position: relative;
  width: calc(100% - 200px);
  margin: auto;
}
.comment-content input{
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #fff;
  width: calc(100% - 220px);
  margin: auto;
  position: absolute;
  bottom: -80px;
  text-align: center;
  background: transparent;
  padding: 15px;
  left: 0;
  text-align: left;
  right: 0;
}
.info-content ul{
  list-style: none;
  padding: 0px;
  padding-top: 50px;
}
.info-content ul li{
  font-size: 18px;
line-height: 22px;
color: #FFFFFF;
padding: 15px 0px;
}
/* for loader */
@keyframes rotate{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}