.document {
  display: block;
  width: 15%;
  float: left;
  padding: 5px;
}

img {
  width: 100%;
}
input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label.e-btn {
  /* border: 1px solid #fff; */
  /* padding: 10px; */
  display: block;
  position: relative;
  /* margin: 10px; */
  cursor: pointer;
 opacity: 0.4;
}



label{
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  /* opacity: 1 ; */
}

label:before {
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
  background-color: #fff;
}
label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label.e-btn {
  /* border-color: #ddd; */
  opacity: 1;
}

/* :checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  z-index: -1;
} */
.dropdown, .dropup{
  /* border: 1px solid #404040; */
  /* border-radius: 8px; */
  min-width: 170px;
}
select.btn{
  border: 1.5px solid #000;
}
.btn-check:focus+.btn, .btn:focus{
  box-shadow: unset;
  outline: 0;
}
select option {
  /* margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */
}
.dropdown-item.active, .dropdown-item:active,  .dropdown-item:hover{
  background-color: #000 !important;
}

.dropdown-toggle::after{
  position: absolute;
  right: -5px;
  top: 13px;
  color: transparent;
  background: url(../../assets/images/down-arrow-yellow.svg) no-repeat right center;
  background-size: contain;
  width: 29px;
  height: 12px;
}
.searchP{
  font-size: 24px;
line-height: 22px;
font-weight: 600;
}
.imgHead{
  font-size: 18px;
line-height: 22px;
font-weight: 600;
}
.videosList, .docList, .videosList1{
  list-style: none;
  padding: 0;
}
.videosList li, .docList li, .videosList1 li{
  margin-right: 15px;
  position: relative;
  transition: 0.4s;
  margin-bottom: 15px;
  width: 31%;
}
.videosList li a.videoIconn{
  position: relative;
  display: block;
  transition: 0.4s;
}
.videosList li a.videoIconn:before{
  content: '';
  background-image: url(~/../../../../assets/images/button-play.svg);
  height: 60px;
  width: 60px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s;
}
.videosList1 li a.videoIconn{
  position: relative;
}
.videosList1 li a.videoIconn:before{
  content: '';
  background-image: url(~/../../../../assets/images/button-play.svg);
  height: 46px;
  width: 46px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s;
}
.videosList li:hover a.videoIconn::before{
  transform: scale(1.2);
}
.videosList1 li a.videoIconn:hover::before{
  transform: scale(1.2);
}
.fileCount{
  font-size: 14px;
line-height: 22px;
/* text-decoration-line: underline; */
color: #737373;
padding-right: 10px;
}
.dropdown button, .dropup button{
  display: block;
  width: 100%;
  text-align: left;
  padding-right: 30px;
}
#dropdownBasic4, #dropdownManual{
  color: #C49900;
}

.imagesList{
  list-style: none;
  padding: 0px;
  align-items: unset;
}

.imagesList li{
  width: 30%;
  margin: 15px;
}


/* .container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
} */
.imgGallery{}
.imgGallery  img {
	margin-top: 8px;
	vertical-align: middle;
}

/* Grid */
.imgGallery a{
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}
/* .big {
  grid-column: span 2;
  grid-row: span 2;
}
.imgGallery a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
} */
 /* .horizontal {
grid-column: span 2;
}

.vertical {
grid-row: span 2;
} */

.portfolio-list{
  -webkit-column-count: 3;
    -webkit-column-gap: 0;
    -moz-column-count: 3;
    -moz-column-gap: 0;
    column-count: 4;
    column-gap: 0;
}
.portfolio-list li {
  width: 100%;
  float: left;
  padding: 0 4px;
  /* margin: 4px 0; */
  /* border-radius: 8px; */
}
ul.set-width.portfolio-list li .cardBlock  {
  margin-bottom: 3px;
  display: inline-block;
  /* border-radius: 8px; */
}

.set-width {
  width: calc(100% + 20px);
  margin-left: -10px;
}
#view input{
  display: none;
}
.e-btn-group{
  float: right;
  margin-right: 5px;
}
.card-view ul{
  padding: 0px;
  list-style: none;;
}
.card-view ul li {
  width: 49%;
  margin: 4px;
}
.username{
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.username span:nth-child(1){
  margin-right: 9px;
}
.username span:nth-child(2){
  /* padding-left: 8px; */
  display: block;
  font-size: 14px;
line-height: 22px;
font-weight: 600;
color: #000000;
}
/* modal css */
.modalHead{
  padding: 8px 15px;
  background-color: #fff;
  border: unset
}
.modalHead ul, .iconsList{
  list-style: none;
  padding: 0;
  float: right;
}
.modalHead ul li, .iconsList li{
  margin-left: 15px ;
  cursor: pointer;
}
.modalHead ul li img, .iconsList li img{
  width: 25px;
}
.sub-body-modal{
  padding: 15px;
}
.main-heading{
  font-size: 24px;
line-height: 34px;
color: #000000;
border: unset;
padding-bottom: 15px;
font-weight: 600;
}
.yellowBtn{
  background: #F7E6B2;
  border-radius: 60px;
  padding: 0px 10px;
  font-size: 12px;
  color: #8E6B0B;
  height: 23px;
  width: 100%;
  display: block;
  line-height: 23px;
}

.lpSecThree{
  padding: 60px 0px;
}
.lpSecThree ul{
  padding: 0px;
  list-style: none;
}
.lpSecThree ul li{
  background-color: #F9F7F2;
  border-radius: 8px;
  padding: 10px;
  width: 27%;
  margin: 10px;
}

.tripDivOne{

}
.tripDivTwo{
  padding: 15px 0px;
}
.tripDivTwo p{
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 600;
}
.tripDivTwo span{
  font-size: 13px;
  line-height: 13px;
  color: #737373;
}
.tripImg1{
  border-top-left-radius: 8px;
  width: 139px;
  margin: 2px;
  height: 185px;
}
.tripImg2{
  width: 90px;
  height: 90px;
  border-top-right-radius: 8px;
  margin: 2px;
}
.tripImg3{
  width: 90px;
  height: 90px;
  margin: 2px;
  border-bottom-right-radius: 8px;
}
.main-modal-head{
  font-size: 18px;
line-height: 22px;
color: #000000;

}
.downloadDrop.dropdown{
  width: unset;
}
.downloadDrop .dropdown-toggle::after{
  display: none;
}
.dropdown .dropdown-menu.show, .dropup .dropdown-menu.show {
  /* left: -150px !important;
  top: 25px !important; */
  background-color: #000;
  min-width: max-content !important;
  width: 100%;
  min-height: 104px;
}
.sectorrBtn {
  background: transparent;
  border: unset;
  border-bottom: 2px solid #C49900;
  border-radius: 0px;
  font-size: 15px;
  line-height: 24px;
  padding: 6px 0px;
}
.settingsDropdown .dropdown-menu.show{
  left: -184px !important;
  top: 25px !important;
  background-color: #000;
  min-width: -webkit-max-content !important;
  min-width: -moz-max-content !important;
  min-width: max-content !important;
  width: 200px;
  height: 240px;
}
.dropdown .dropdown-menu.show .dropdown-item, .settingsDropdown .dropdown-menu.show .dropdown-item  ,.dropup .dropdown-menu.show .dropdown-item, .settingsDropdown .dropdown-menu.show .dropdown-item{
  color: #fff ;
}
.dropdown .dropdown-menu.show .dropdown-item span{
  text-align: right;
  float: right;
  padding-left: 15px;
}
.popupTabSec{
  height: 600px;
  position: relative;
}
.popupTabSec img{
  height: 600px;
  object-fit: cover;
  object-position: center;
}
.myTabContent{
  width: 100%;
  position: relative;
overflow: scroll;
height: 100%;
}
.myTabContentMain{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-color: transparent;
}

.myTabContentMain:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  opacity: 0.7;
}
.iconsTab.nav-tabs {
  border-bottom: unset !important;
  height: fit-content;
  align-items: center;
}
.iconsTab.nav-tabs .nav-item.show .nav-link, .iconsTab.nav-tabs .nav-link.active{
  border: unset !important;
  padding: unset !important;
}
.iconsList.nav-tabs .nav-link{
  border: unset !important;
  padding: unset !important;
}
.timeline-content ul{
  list-style: none;
  padding: 0;
  width: calc(100% - 500px);
  margin: auto;
  position: relative;
  padding-top: 60px;
  margin: auto;

}

.timeline-content ul li{
  padding-bottom: 70px;
  position: relative;
}
.timeline-content ul li::before{
  content: '';
  position: absolute;
  background-color: transparent;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: -5px;
  border: 1px solid #fff;
}
.timeline-content ul li::after{
  content: '';
  position: absolute;
  background-color: #fff;
  height: calc(100% - 11px);
  width: 1px;
  left: 0px;
  top: 11px;

}
.timeline-content ul li:nth-last-child(1)::after{
  display: none;
}
.timeline-content ul li p{
  font-size: 18px;
  line-height: 14px;
  color: #FFFFFF;
  padding-left: 30px;
  margin-bottom: unset;
}
.timeline-content ul li p span{
  color: #EBC03F;
}
::-webkit-scrollbar {
  display: none;
}

.hide {
  display: none;
}
.comment-content ul{
  list-style: none;
  padding: 0px;
  width: 100%;
  margin: auto;
  padding-top: 40px;
  height: 478px;
  overflow: scroll;
}
.comment-content ul li{
  padding: 15px 0px;
  position: relative;
}
.comment-content ul li p{
  font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}
.comment-content ul li img{
  height: 30px !important;
  width: 30px;
  margin-right: 10px;
}
.comment-content ul li p span{
  opacity: 0.6;
}
.comment-content, .info-content{
  position: relative;
  width: calc(100% - 200px);
  margin: auto;
}
.comment-content input{
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #fff;
  width: calc(100% - 220px);
  margin: auto;
  position: absolute;
  bottom: -80px;
  text-align: center;
  background: transparent;
  padding: 15px;
  left: 0;
  text-align: left;
  right: 0;
}
.info-content ul{
  list-style: none;
  padding: 0px;
  padding-top: 50px;
}
.info-content ul li{
  font-size: 18px;
line-height: 22px;
color: #FFFFFF;
padding: 15px 0px;
}
/* for loader */
@keyframes rotate{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
.load{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top: 10px solid #EBC03F;
  border-bottom: 10px solid #EBC03F;
  animation: rotate 1.8s linear infinite;
  position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.noresult{
  font-size: 24px;
  line-height: 22px;
  text-align: center;

  color: #2B2825;
}

.e-btn{
  border: unset;
  padding: unset;
}
:checked + .e-btn::before{
  content: '';
  background-color: unset;
  transform: unset;
  border: unset;
}
.listImg{
  height: 150px !important;
}
.listImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-view p{
  font-size: 16px;
line-height: 24px;
color: #161824;
font-weight: 600;
}
.assetsDropdown .dropdown-menu.show {
  left: 0px !important;
  top: 0px !important;
  min-width: 100% !important;
  min-height: 71px;
  /* background-color: #fff !important; */
}
.assetsDropdown.dropdown, .assetsDropdown.dropup {
  border-bottom: 1px solid #000;
  width: 152px;
  margin-left: 10px;
}
/* #dropdownBasic4{
  border-bottom:1px solid #C49900
} */
.assetsDropdown.dropdown, .assetsDropdown.dropup, .sectorrBtn.dropdown, .sectorrBtn.dropup{
  border-bottom:1px solid #C49900;
  width: 152px;
  margin-left: 10px;
}
/* .assetsDropdown .dropdown-menu.show .dropdown-item{
  color: #000 ;
} */
.dropdownBasic2 .dropdown-item{
  opacity: 0.4 !important;
  cursor: not-allowed !important;
}
.dropdownBasic4, .sectorDropMain {
  background-color: #fff !important;

}
.dropdownBasic4 .dropdown-item, .sectorDropMain .dropdown-item{
  color: #000 !important;
}
.dropdownBasic4 .dropdown-item:hover, .sectorDropMain .dropdown-item:hover{
background-color:#EBC03F !important;
}
.dropdownBasic2 .dropdown-item.active, .dropdownBasic2 .dropdown-item:active, .dropdownBasic2 .dropdown-item:hover {
  background-color: #000 !important;
  color: #fff !important;
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
  background-color: #fff !important;
  color: #000 !important;
}
.commonHeading{
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  margin-right: 40px;
}

.clear{
  float: right;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #737373;
  cursor: pointer;
}
/* Start New CSS Umesh */
.white-bg{
  background-color: #fff !important;
}
/* .cardBlock{
  background: #F9F7F2;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  z-index: 1;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
  opacity: 1;
}
.cardBlock:hover::after{
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
  content: '';
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
  opacity: 0.3;
} */


.card-view ul.cardList{
  display: block;
  margin: 0px -5px;
}
.card-view ul.cardList li{
  width: 50%;
  float: left;
  margin: 0px;
  padding: 0px 5px 10px;
}
.cardBlock{
  background: #F9F7F2;
  /* border-radius: 8px; */
  padding: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
/* .cardBlock:after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: transparent;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
  position: absolute;
  top: 0px;
  left: 0px;
}
.cardBlock:hover:after{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
} */

/* custom checkbox start */
.form-group-custom,
.hover-icon-group {
  display: block;
  margin-bottom: 15px;
  width: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 9;
  /* opacity: 0; */
}
.form-group-custom{

}
.hover-icon-group{
  left: auto;
  right: 15px;
  width: 40px;
}

.form-group-custom input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.activeHover .form-group-custom label, .form-group-custom:hover label{
  background: #006B44;
}
.form-group-custom label {
  position: relative;
  cursor: pointer;
  border: 0px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin: 0px;
  padding: 0px;
}

.form-group-custom label:before, .form-group-custom:hover label:before {
  content:'';
  -webkit-appearance: none;
  border: 2px solid #006B44;
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  font-size: 10.5px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 0px;
  text-align: left;
  background: #006B44;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  left: 0px;
  top: 0px;
}

.form-group-custom input:checked + label:after,
.form-group-custom input + label:after , .form-group-custom:hover input + label:after{
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  left: 17px;
  width: 6px;
  height: 20px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.form-group-custom input + label:after{
  border-color:#A3A3A3;
}
/* custom checkbox end */

.cardBlockContentHover{
  opacity: 0;
  z-index: 99;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.cardBlock:hover .cardBlockContentHover,
.cardBlock:hover .form-group-custom,
.cardBlock:hover .hover-icon-group{
  /* opacity: 1; */
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0px;
  width: auto;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.cardBlock:hover .hover-icon-group{
  top: 15px;
  left: auto;
  right: 15px;
  height: calc(100% - 30px);
}
.card-view .cardBlockContentHover ol, .set-width .cardBlockContentHover ol{
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.card-view .cardBlockContentHover ol li, .set-width .cardBlockContentHover ol li{
  width: 50%;
  float: left;
  margin: 0px;
}
.mouse-hover-bg{
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.cardBlock:hover .mouse-hover-bg, .activeHover .mouse-hover-bg{
  opacity: 1;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}

.activeHover .mouse-hover-bg, .activeHover .form-group-custom, .activeHover .hover-icon-group {
  opacity: 1;
}
.activeHover .hover-icon-group {
  height: calc(100% - 30px);
}


.hover-icon-group{
  display: block;
  float: right;
  width: 40px;
}
.hover-icon{
  display: block;
  background: #fff;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  padding: 10px;
  margin-bottom: 15px;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.hover-icon:hover{
  background: #006B44;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.hover-icon.download-icon {
  margin: 0px;
  bottom: 0px;
  position: absolute;
}
.hover-icon.star-icon{
  background: url(~/../../../../assets/images/star.svg) no-repeat center center #fff;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.hover-icon.plus-icon{
  background: url(~/../../../../assets/images/add-collectionbadge.svg) no-repeat center center #fff;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.hover-icon.download-icon{
  background: url(~/../../../../assets/images/downlload-arrow.svg) no-repeat center center #fff;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.hover-icon.star-icon:hover{
  background: url(~/../../../../assets/images/whitestar.png) no-repeat center center #e0b803;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.hover-icon.star-icon.active{
  background: url(~/../../../../assets/images/yellowStar.svg) no-repeat center center #fff;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
  background-size: 22px;

}
.hover-icon.plus-icon:hover{
  /* background: url(~/../../../../assets/images/add-collectionbadgeWhite.svg) no-repeat center center #e0b803;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all; */
}
.hover-icon.download-icon:hover{
  background: url(~/../../../../assets/images/downlload-arrow.svg) no-repeat center center #006B44;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.username span {
  display: inline-block;
  margin-right: 6px;
  height: 34px;
  width: 34px;
  border-radius: 100%;
  border: 2px solid #fff;
  overflow: hidden;
  vertical-align: middle;
}

.username span img {
  display: block;
  width: 100%;
  height: 100%;
}
.pa-0{
  padding: 0px !important;
}

.footer-listing{
  background: linear-gradient(0deg, #EBC03F, #EBC03F);
  padding: 20px 4%;
  margin: 0px auto;
  text-align: center;
}
.footer-listing .col-md-6:first-child{
  text-align: left;
  line-height: 30px
}
.footer-listing .col-md-6:last-child{
  text-align: right;
}
img.footer-icons {
  width: 25px;
  display: inline-block;
  margin-left: 30px;
  cursor: pointer;
}
.footer-add-items span{
  font-weight: 600;
  padding-right: 40px;
}
.footer-add-items a {
  color: #000;
  text-decoration: underline;
}
/* End New CSS Umesh */


.activeHover + .cardBlock:after    {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}
.cardBlock:hover:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
}

/* yello footer css */

.footer-listing{
  background: linear-gradient(
    0deg, #EBC03F, #EBC03F);
        padding: 20px 4%;
        margin: 0px auto;
        text-align: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 99;
}
.footer-listing .col-md-4:first-child{
  text-align: left;
  line-height: 30px
}
.footer-listing .col-md-4:last-child{
  text-align: right;
}

.footer-add-items span{
  font-weight: 600;
  padding-right: 40px;
}
.footer-add-items a {
  color: #000;
  text-decoration: underline;
}
.listViewImg{
  height: 150px;
  object-fit: cover;
}
li .videoBlock  {
  margin-bottom: 3px;
  display: inline-block;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  background: #F9F7F2;
  width: 100%;

}
.downloadDrop.dropup{
  width: unset;
}
.search-tags ul{
  padding: 0px;
  list-style: none;
  justify-content: center;
}
.search-tags ul li a{
  background-color: #000;
  font-size: 14px;
  line-height: 5px;
  border-radius: 20px;
  padding: 15px 22px 16px 22px;
  color: #fff;
  text-decoration: unset;
  margin: 0px 5px;
  display: inline-block;
}
.weightSize{
  font-weight: 600;
font-size: 20px;
line-height: 20px;
color: #C4C4C4;

}
.close{
    position: absolute;
    left: -8%;
    top: -10%;
    z-index: 9999 !important;
    background-color: transparent;
    border: unset;
}
.modal-header button img{
  width: 35px;
}
.modal-header{
  border-bottom: unset;
  padding: unset;
}

.nav-link::before{
  display: none;
}
.nav-link.active{
  position: relative;
}
.nav-link.active::before{

  content: '';
  background-image: url('../../assets/images/trianglearrow.svg');
  height: 18px;
  width: 18px;
  position: absolute;
  top: -16px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}
.search-tags ul li:nth-child(1) a{
  margin-left: unset;
}
input::placeholder {
  color: #fff !important;
}
.numberFiles{
  font-size: 14px;
line-height: 22px;
display: block;
padding-left: 15px;
color: #ACACAC;
}

/* masonry css */
.min-height{
  min-height: calc(100vh - 68vh);
  position: relative;
}
.min-height-search{
  min-height: calc(100vh - 68vh);
  position: relative;
}
.masonry-item {
  margin-bottom: 10px;
  /* background-color: #f1f1f1; */
  background-size: cover;
  width: calc(25% - 10px);
}
.masonry-item-thumbnail {
  margin-bottom: 10px;
  background-color: #f1f1f1;
  background-size: cover;
  width: calc(50% - 10px);
}
.cardBlock.newDesign {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
}
/* slider css */

.toggle {
  position : relative ;
  display : inline-block;
  width: 160px;
  height: 40px;
  background: #EBC03F;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

/* After slide changes */
.toggle:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: #EBC03F;
  border-radius: 100px;
  top: 1px;
  left: 1px;
  transition:  all 0.5s;
}

/* Toggle text */
p {
  font-weight: bold;
}

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left : 49px;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
  background-color: green;
}

/* Checkbox vanished */
.checkbox {
  display : none;
}
.searchcontent{
  font-size: 14px;
line-height: 22px;
text-align: center;
color: #ACACAC;
}
.commentInput{
  position: relative;
}
.enterComment{
  position: absolute;
  width: 29px;
  bottom: -69px;
  right: 121px;
  object-fit: contain;
  /* filter: invert(1); */
  height: unset !important;
}
.tag-input {
  padding: 5px 10px 9px 16px;
  border-radius: 20px;
  border: 1px solid;
  width: 100px;
}
.tags-metadata ul {
  padding-top: 10px;
}
.tags-metadata ul li {
  padding-bottom: 5px;
}
.tags-metadata ul li a{
  background-color: #000;
  font-size: 14px;
  line-height: 6px;
  border-radius: 20px;
  padding: 17px 22px;
  color: #fff;
  text-decoration: unset;
  margin: 0px 5px;
  display: inline-block;
}

/* <!-- sprint12-fixes end --> */
.masonry-item.masonryOpenDrawer{
  /* width: calc(33.33% - 10px) !important; */
}
.pdfWhiteBlock{
  background-color: #fff;
  padding: 20px;
  /* width: 255px; */
}
.recentHeading{
  font-size: 16px;
  font-weight: 100;
  color: #000000;
  margin-right: 20px;
  cursor: pointer;
}
.viewSelected {
  color: #C49900;
  border-bottom: 2px solid #C49900;
  cursor: default !important;
  padding-bottom: 6px;
  font-weight: 600;
}
.recentHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.slickItem {
  height: 200px;
}
.filterMenuRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.typeSelections {
  display: flex;
  flex-direction: row;
}
.moreFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
}
.itemCount {
    border: 1px solid #F6F5F2;
    border-radius: 24px;
    padding: 0px 5px;
    background-color: #F6F5F2;
    color: black;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
}
.viewSelected .itemCount{
  border: 1px solid #EBC03F;
  background-color: #EBC03F;
  color: black;
}
::ng-deep .slide  #fileId {
  height: 170px;
}
::ng-deep .slide  #fileId2 {
  height: 103px;
}
/* Custom tabs css start 12-Nov-2021 */
.customTab {
  padding: 60px 0px 40px;
}
.customTab .tab-content {
  padding: 25px 0px 0px;
}
.customTab .nav>li>a {
  position: relative;
  display: block;
  padding: 8px 0px;
  color: #000000;
  font-size: 16px;
}
.customTab .nav-tabs {
   border-bottom: 0px;
}
.customTab .nav-tabs > li.active:before {
  border-color: transparent;
  border-top-color: transparent;
  border-width: 1px;
  margin-left: 0;
  height: 2px;
  background: #C49900;
  width: 100%;
  left: 0px;
}
.customTab .nav-tabs > li.active:after {
  border-color: transparent;
  border-top-color: transparent;
  border-width: 0px;
  margin-left: 0;
  left: 0px;
}
.customTab .nav-tabs > li.active > a,
.customTab .nav-tabs > li.active > a:focus,
.customTab .nav-tabs > li.active > a:hover{
  color: #C49900 !important;
  font-weight: normal !important;
}
.customTab .nav-tabs>li>a{
  margin: 0px;
}
.customTab .nav-tabs > li {
  margin-right: 20px;
}
.customTab .image-block {
  margin: 5px;
  position: relative;
}
.customTab .tab-pane {
  position: relative;
}
.customTab .show-all {
  font-size: 16px;
  line-height: 24px;
  color: #040404;
  position: absolute;
  top: -56px;
  right: 0px;
  cursor: pointer;
}
/* Custom tabs css end 12-Nov-2021 */
.tab-pane.show {
  opacity: 1;
}
.hasFilterSelected {
  color: #EBC03F;
}
.hasFilterSelected button {
  color: black;
  background-color: #EBC03F;
  border-radius: 15px;
  margin-right: 8px;
  border: unset;
}
.hasFilterSelected .itemCount {
  border: 1px solid #EBC03F;
  background-color: #EBC03F;
  color: black;
  margin-left: 5px;
}
/* loader */
.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  /* background: #222; */
  z-index: 999;
  /* opacity: 0.2; */
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-width: 8px;
  border-color: #DEB31A;
  border-top-color: #f8eecc;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
  opacity: 1;
}

@keyframes spin {
100% {
  transform: rotate(360deg);
}
}
/* ::ng-deep document-card img {
  max-height: 170px;
  min-width: 230px;
} */

.back-btn span {
  cursor: pointer;
}
.view-title {
  font-size: 25px;
  font-weight: 700;
  padding: 5px 0;
}
.sectorsDropdown .dropdown .dropdown-menu.show, .sectorsDropdown .dropup .dropdown-menu.show{
  min-height: 209px;
  overflow: scroll;
}
.back-btn img {
  width: 7px;
  margin-right: 4px;
  vertical-align: -1px;
}
/* .slide-inner{
  padding: 0 5px;
} */
.recentFont{
  font-size: 28px !important;
  vertical-align: 10px;
}
.masonry-item img {
  display: block !important;
  min-height: 100px;
  height: 100%;
}

/* mobile responsive */
@media(max-width: 991.5px){
  .customTab .show-all{
    right: 0;
  }
  .recentFont{
    font-size: 21px !important;
  }
  .noresult {
    font-size: 16px;
    line-height: normal;
    padding-bottom: 5px !important;
}
}

.showMoreBtn {
  display: block;
  margin: 30px auto;
  width: fit-content;
  background: #937206;
  color: #fff;
  border-radius: 50px;
  padding: 8px 20px 10px;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  cursor: pointer;
  letter-spacing: 0.05em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border: 0px;
}
::ng-deep .slick-prev.slick-disabled:before, 
::ng-deep .slick-next.slick-disabled:before {
  opacity: 0 !important;
}

.pb-50{
  padding-bottom: 50px !important;
}
.positionRelative{
  position: relative;
}
@media (max-width:768px)  {
  .customTab {
    padding: 10px 0px 30px !important;
  }
  .customTab .pb-50 {
    padding-bottom: 30px !important;
  }
  .customTab .tab-content {
    padding: 20px 0px 0px !important;
  }
}

/* custom masonry end */
.masonrZindex {
  z-index: 9 !important;
}
.customTagBar {
  padding: 9px 0px 4px;
  background: #23211E;
  text-align: center;
}

.customTagSlider {
  width: 100%;
  max-width: 650px;
  margin: 0px auto;
  padding-top: 0px;
  display: inline-block;
}
.customTagSlider .item .card {
  display: inline-block;
  width: auto;
  min-width: 70px;
  height: auto;
  background-size: cover;
  position: relative;
  background-color: black;
  color: white;
  border-radius: 24px;
  border: 0px;
  padding: 5px 10px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  outline: none;
}
::ng-deep .customTagSlider .slick-prev:before {
  content: '';
  background: url(../../assets/images/arrow-prev-white.svg) no-repeat center center !important;
  display: block;
  opacity: 1;
  background-size: contain;
  cursor: pointer;
  width: 17px;
  height: 17px;
}
::ng-deep .customTagSlider .slick-next:before {
  content: '';
  background: url(../../assets/images/arrow-next-white.svg) no-repeat center center !important;
  display: block;
  opacity: 1;
  background-size: contain;
  cursor: pointer;
  width: 17px;
  height: 17px;
}
::ng-deep .customTagSlider .slick-slide {
  margin-right: 15px;
}
::ng-deep .customTagSlider .slick-slide:last-child {
  margin-right: 0px;
}
::ng-deep .customTagSlider .slick-initialized .slick-slide {
  opacity: 1 !important;
}
::ng-deep .customTagSlider .slick-prev.slick-disabled:before, ::ng-deep .customTagSlider .slick-next.slick-disabled:before {
  opacity: 0.5 !important;
}
.text-left {
  text-align: left !important;
}
.relatedTagHeading {
  display: inline-block;
  padding-right: 0px;
  color: #D1CFC9;
  line-height: 32px;
}
.customTagBar ul {display: inline-block;}
.customTagBar ul li {display: inline-block; padding: 0px 30px;vertical-align: top;}