
<app-loader [show]="loading"></app-loader>
<section class="min-height">
  <!-- <div *ngIf="loading">
    <div  class="text-center">
        <div class="overlay">
            <div class="overlay__inner">
                <div class="overlay__content"><span class="spinner"></span></div>
            </div>
        </div>
    </div>
</div> -->



  <div class="customTab" *ngIf="checkShowRecent()">
    <div id="exTab2" class="container">
      <h2 class="commonHeading pb-4" style="font-size: 28px">Recent activities</h2>
      <ul class="nav nav-tabs">
        <li class="active"><a  href="#recentlyUploaded" (click)="selectTab('recentUpload')" data-toggle="tab">Recently Uploaded</a></li>
        <li><a href="#recentlyViewed" (click)="selectTab('recentView')" data-toggle="tab">Recently Viewed</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="recentlyUploaded">
          <div class="show-all">Show all</div>
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
          >
            <div ngxSlickItem *ngFor="let file of recentDataShow; let i = index" class="slide">
              <document-card
                [doc]="file"
                [viewType]="viewType"
                (onOpenPreview)="open(file, file.type)"
                (onSelect)="selectImage($event, file, i)"
                (onMarkFavourite)="markFavourite(file, 'recent')"
                >
              </document-card>
            </div>
          </ngx-slick-carousel>
        </div>
        <div class="tab-pane" id="recentlyViewed">
          <div class="show-all">Show all</div>
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
          >
            <div ngxSlickItem *ngFor="let file of recentDataShow; let i = index" class="slide">
              <document-card
                [doc]="file"
                [viewType]="viewType"
                (onOpenPreview)="open(file, file.type)"
                (onSelect)="selectImage($event, file, i)"
                (onMarkFavourite)="markFavourite(file, 'recent')"
                >
              </document-card>
            </div>
          </ngx-slick-carousel>

          <div *ngIf="!recentDataShow?.length" class="col-xl-12 col-md-12 ">
            <div class="text-center" style="height: 150px;">
              <!-- <img src="../../assets/images/search.svg" style="width: 50px;"> -->
              <h2 class="noresult pb-3 pt-4">No recenetly viewed asset found</h2>
              <p class="searchcontent">Click on an asset in order to preview it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="exTab3" class="container">
      <ul class="nav nav-tabs">
        <li><a class="commonHeading" style="font-size:28px"  href="#favourite" data-toggle="tab">Favourites</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="favourite">
          <div class="show-all">Show all</div>
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
          >
            <div ngxSlickItem *ngFor="let file of favourites; let i = index" class="slide">
              <document-card
                [doc]="file"
                [viewType]="viewType"
                (onOpenPreview)="open(file, file.type)"
                (onSelect)="selectImage($event, file, i)"
                (onMarkFavourite)="markFavourite(file, 'recent')"
                >
              </document-card>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>

  <section class="search-subpage pt-5 pb-5">

    <div *ngIf="!checkShowRecent()" class="container">
      <div class="row" style="justify-content: space-between">
        <div class="main-headingSearch flexible pb-4 col-xl-8" style="align-items: baseline;">
          <span *ngIf="searchTerm.ecm_fulltext" (click)="documents = ''; selectTab('recentUpload')" class="commonHeading" style="font-size: 28px; text-transform: capitalize; cursor: pointer;">
            {{searchTerm.ecm_fulltext}} <img src="../assets/images/circle-close.png" style="width: 14px;margin-left: 3px;">
          </span>
          <!-- <span class="numberFiles">{{documents.resultsCount}} files</span> -->
       </div>

        <div class="col-xl-4">
          <div class="row" style="">
            <div class="col-xl-8">
              <span><b>Sort by:</b> </span>
              <div ngbDropdown class="d-inline-block mb-4 assetsDropdown">

                <button class="btn" id="dropdownBasic4" ngbDropdownToggle>{{sortValue || 'All assets'}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic4" class="dropdownBasic4">
                  <button (click)="dropdownMenu($event); sortValue = 'Created'" ngbDropdownItem
                    value='dc:created'>Created</button>
                  <button (click)="dropdownMenu($event); sortValue = 'Modified'" ngbDropdownItem
                    value='dc:modified'>Modified</button>
                  <button (click)="dropdownMenu($event); sortValue = 'Last Contibutor'" ngbDropdownItem
                    value='dc:lastContributor'>Last Contibutor</button>
                  <!-- <button (click)="dropdownMenu($event); sortValue = 'State'" ngbDropdownItem value='state'>State</button>
                  <button (click)="dropdownMenu($event); sortValue = 'Nature'" ngbDropdownItem value='dc:nature'>Nature</button>
                  <button (click)="dropdownMenu($event); sortValue = 'Coverage'" ngbDropdownItem value='dc:coverage'>Coverage</button> -->
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div id="view" class="e-btn-group flexible">
                <div>
                  <input type="radio" (change)="viewChange($event)" id="left" name="align" value="gallery" checked />
                  <label class="e-btn" for="left"><img src="../../assets/images/gallery view.png"
                      style="width: 22px;"></label>
                </div>
                <div>
                  <input type="radio" (change)="viewChange($event)" id="right" name="align" value="list" />
                  <label class="e-btn" for="right"><img src="../../assets/images/list view.png"
                      style="width: 22px;"></label>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="col-xl-4 " style="float: right;">
          <!-- slider -->
          <!-- <div>
              <input type="checkbox" id="switch" class="checkbox" />
              <label for="switch" class="toggle " >
                <div class="flexible" style="justify-content: space-between;display: flex;">
                  <p><img src="../../assets/images/mostrecent-1.svg" width="12">Most Recent</p>   <p><img src="../../assets/images/most-relevant.svg" width="12">Most Relevant</p>
                </div>
              </label>
            </div> -->

          <!-- end -->

        </div>

      </div>



      <div class="filterMenuRow">
        <div ngbDropdown class="d-inline-block mb-4 sectorsDropdown">
          <!-- <button class="btn" id="dropdownBasic5" ngbDropdownToggle>{{sortValue || 'Select a sector'}}</button> -->
          <!-- <div ngbDropdownMenu aria-labelledby="dropdownBasic4" class="dropdownBasic4">
            <button (click)="dropdownMenu($event); sortValue = 'Picture'" ngbDropdownItem
              value='dc:created'>Created</button>
            <button (click)="dropdownMenu($event); sortValue = 'Video'" ngbDropdownItem
              value='dc:modified'>Modified</button>
            <button (click)="dropdownMenu($event); sortValue = 'Last Contibutor'" ngbDropdownItem
              value='dc:lastContributor'>Last Contibutor</button>
            <button (click)="dropdownMenu($event); sortValue = 'Last Contibutor'" ngbDropdownItem
              value='dc:lastContributor'>Last Contibutor</button>
          </div> -->
          <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button class="sectorrBtn mr-2" id="dropdownManual" ngbDropdownAnchor ngbDropdownToggle>{{sectorSelected || 'All sectors'}} </button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual" class="sectorDropMain" style="z-index: 1;top: -3px;">
              <button ngbDropdownItem class="sectorDropBtn" (click)="sectorSelect(null)">All sectors</button>
              <button *ngFor="let sector of sectors" ngbDropdownItem class="sectorDropBtn" (click)="sectorSelect(sector)">{{sector}}</button>
            </div>
          </div>
        </div>
        <div class="typeSelections">
          <div [ngClass]="selectedType === 'all' ? 'viewSelected' : ''" (click)="selectType('all')" class="recentHeading">All <span class="itemCount">{{count()}}</span></div>
          <div [ngClass]="selectedType === 'Picture' ? 'viewSelected' : ''" (click)="selectType('Picture')" class="recentHeading">Images <span class="itemCount">{{count('Picture')}}</span></div>
          <div [ngClass]="selectedType === 'Video' ? 'viewSelected' : ''" (click)="selectType('Video')" class="recentHeading">Videos <span class="itemCount">{{count('Video')}}</span></div>
          <div [ngClass]="selectedType === 'File' ? 'viewSelected' : ''" (click)="selectType('File')" class="recentHeading">Documents <span class="itemCount">{{count('File')}}</span></div>
        </div>
        <div class="moreFilter" [ngClass]="filtersCount > 0 ? 'hasFilterSelected' : ''">
          <button (click)="clearFilter()" *ngIf="filtersCount > 0">Clear</button>
          <label (click)="openAdvancedFilter()" class="e-btn" style="opacity: 1" >
            <img *ngIf="filtersCount === 0" src="../../assets/images/IconFilters.svg" style="width: 20px;">
            <img *ngIf="filtersCount > 0" src="../../assets/images/IconFiltersYellow.svg" style="width: 20px;">
          </label>
          <span>More filters</span><span *ngIf="filtersCount > 0" class="itemCount">{{filtersCount}}</span>
        </div>
      </div>

      <div class="row">
        <div *ngIf="!showListView">
          <div class="row">
            <div class="col-xl-12 col-md-12 pt-4">
              <!-- <ngx-masonry [options]="myOptions" [ordered]="true" (layoutComplete)="completeLoadingMasonry($event)" [updateLayout]="updateMasonryLayout">
                <div ngxMasonryItem class="masonry-item" *ngFor="let doc of masonryImg; let i = index">
                  <img src="{{doc.url}}" alt="" />
                </div>
              </ngx-masonry> -->


              <ngx-masonry [options]="myOptions" [ordered]="true" (layoutComplete)="completeLoadingMasonry($event)" [updateLayout]="updateMasonryLayout">
                <div ngxMasonryItem class="masonry-item"
                  *ngFor="let doc of documents.entries.slice(0, docSliceInput); let i = index">
                  <!-- <img *ngIf="doc.type === 'Picture" id="fileId" src (error)="getAssetUrl($event, file.contextParameters.thumbnail.url)" alt=""
                (click)="open(file, 'image')" /> -->
                  <document-card
                    [doc]="doc"
                    [viewType]="viewType"
                    (onOpenPreview)="open(doc, doc.type)"
                    (onSelect)="selectImage($event, doc, i)"
                    (onMarkFavourite)="markFavourite(doc, false)"
                    >
                  </document-card>
                </div>
              </ngx-masonry>
            </div>
          </div>
        </div>

        <div class="col-xl-12 col-md-12">
          <div *ngIf="showListView" class="card-view">
            <ul class="flexible">
              <li *ngFor="let doc of documents.entries.slice(0, docSliceInput); let i = index">
              <document-card
                [doc]="doc"
                [viewType]="viewType"
                (onOpenPreview)="open(doc, doc.type)"
                (onSelect)="selectImage($event, doc, i)"
                (onMarkFavourite)="markFavourite(doc, false)"
                >
              </document-card>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="!hideShowMoreBtn" (click)="showMore()"
          style="text-align: center; cursor: pointer;color: #8E6B0B;">Show more</div>
      </div>
    </div>
    <div *ngIf="!loading && !documents?.entries?.length && !checkShowRecent()" class="row">
      <div class="col-xl-12 col-md-12 ">
        <div class="text-center" style="height: 600px;">
          <img src="../../assets/images/search.svg" style="width: 50px;">
          <h2 class="noresult pb-3 pt-4">No results found</h2>
          <p class="searchcontent">Try adjusting your search or filter to find what you are looking for.</p>
        </div>
      </div>
    </div>
  </section>

  <preview-popup #previewModal [doc]="selectedFile" [docUrl]="selectedFileUrl"></preview-popup>

  <div *ngIf="fileSelected.length" class="footer-listing">
    <div class="row">
      <div class="col-md-6 footer-add-items">
        <span>{{fileSelected.length}} item(s) selected</span>
        <a (click)="clearSelected()">Clear</a>
      </div>
      <!-- <div class="col-md-4">
        <img src="../../assets/images/synchronize-arrow-clock-footer.svg" alt="" class="footer-icons">
        <img src="../../assets/images/synchronize-arrow-clock-footer-1.svg" alt="" class="footer-icons">
      </div> -->
      <div class="col-md-6">
        <img src="../../assets/images/download-all-as-zip.svg" placement="top"
          ngbTooltip="This function will be available soon" alt="" class="footer-icons"
          style="    cursor: not-allowed;opacity: 0.4;">
        <img src="../../assets/images/plus-footer.svg" alt="" class="footer-icons" placement="top"
          ngbTooltip="This function will be available soon" style="cursor: not-allowed;opacity: 0.4;">
        <!-- <img src="../../assets/images/copy-footer.svg" alt="" class="footer-icons" placement="top" ngbTooltip="Add to clipboard" style="cursor: not-allowed;opacity: 0.4;"> -->
        <!-- <img src="../../assets/images/upload-footer.svg" alt="" class="footer-icons" placement="top" ngbTooltip="This function will be available soon" style="cursor: not-allowed;opacity: 0.4;"> -->
        <img src="../../assets/images/delete-footer.svg" alt="" class="footer-icons" placement="top"
          ngbTooltip="This function will be available soon" style="cursor: not-allowed;opacity: 0.4;width: 20px;">
      </div>
    </div>
  </div>

</section>