<!-- <div class="document">
  <h4>{{document.title}}</h4>
  <a href="/nuxeo/nxdoc/default/{{document.uid}}/view_documents">
    <img src="{{document.contextParameters?.thumbnail.url}}" /> 
  </a>
</div> -->
<section class="search-subpage pt-2 pb-5">
  <div class="container">
    <div class="row flexible" style="justify-content: space-between;">
      <div class="col-xl-4">
        <!-- <p class="pb-3 searchP">Traveller</p> TODO: pass search term from sub-header to search and then to here -->
        <div class="dropdown mb-4">
          <!-- <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            All 
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">All assets</a></li>
            <li><a class="dropdown-item" href="#">Created</a></li>
            <li><a class="dropdown-item" href="#">Modified</a></li>
            <li><a class="dropdown-item" href="#">Last Contibutor</a></li>
            <li><a class="dropdown-item" href="#">State</a></li>
            <li><a class="dropdown-item" href="#">Nature</a></li>
            <li><a class="dropdown-item" href="#">Coverage</a></li>
          </ul> -->

          <select class="btn" style="    background-color: white;
          height: 44px;
          text-align: left;
          padding: 0px 8px !important;" (change)="dropdownMenu($event)">
            <option class="dropdown-item" value='' selected>All assets</option>
            <option class="dropdown-item" value='dc:created'>Created</option>
            <option class="dropdown-item" value='dc:modified'>Modified</option>
            <option class="dropdown-item" value='dc:lastContributor'>Last Contibutor</option>
            <option class="dropdown-item" value='state'>State</option>
            <option class="dropdown-item" value='dc:nature'>Nature</option>
            <option class="dropdown-item" value='dc:coverage'>Coverage</option>
          </select>
        </div>
      </div>
      <div class="col-xl-4">
        <div id="view" class="e-btn-group flexible">
          <div>
            <input type="radio" (change)="viewChange($event)" id="left" name="align" value="gallery" />
            <label class="e-btn" for="left"><img src="../../assets/images/gallery view.png"
                style="width: 30px;"></label>
          </div>
          <div>
            <input type="radio" (change)="viewChange($event)" id="right" name="align" value="list" />
            <label class="e-btn" for="right"><img src="../../assets/images/list view.png" style="width: 30px;"></label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 flexible" style="justify-content: space-between;">
        <p class="imgHead pb-4">Images</p>
        <a class="fileCount pb-4" href="#">{{images.length}} images</a>
      </div>
      <!-- Gallery -->

      <ul *ngIf="!showListView" class="set-width portfolio-list"
        style="list-style: none;margin: unset; padding: 0; align-items: unset;">
        <li *ngFor="let image of images.slice(0, imageSliceInput); let i = index">

          <!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->
          <a (click)="open(preview, image)">
            <img src="{{getAssetUrl(image.contextParameters.thumbnail.url)}}" class="w-100 shadow-1-strong rounded"
              alt="">
          </a>
        </li>
      </ul>

      <ng-template #preview let-modal class="imgPopUpTab">
        <!-- <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="modal-body ">
          <div class="modalHead">
            <div class="row flexible" style="justify-content: space-between;">
              <div class="col-xl-2 col-md-2">
                <img src="../../assets/images/User.svg" style="width: 50px;">
                <span>Ahmed A.</span>
              </div>
              <div class="col-xl-4 col-md-4">
                <ul class="flexible">
                  <li>
                    <a>
                      <img src="../../assets/images/star.svg">
                    </a>
                  </li>
                  <li>
                    <a>
                      <img src="../../assets/images/add-circle.svg">
                    </a>
                  </li>
                  <li>
                    <a>
                      <img src="../../assets/images/Download.svg">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <img src="{{selectedFileUrl}}">
          <div class="sub-body-modal flexible" style="justify-content: space-between;">
            <div class="mb-5 mb-2">
              <span class="main-heading">{{selectedFile.properties['dc:description']}}</span>
              <span class="yellowBtn">Internal Use ©</span>
            </div>
            <div>
              <ul class="iconsList flexible">
                <li>
                  <a>
                    <img src="../../assets/images/clock.svg">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/images/Comments.svg">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/images/Info.svg">
                  </a>
                </li>
                <li>
                  <a>
                    <img src="../../assets/images/threedots.svg" style="height: 25px;">
                  </a>
                </li>
              </ul>
            </div>

            <!-- <div>
              <h2 class="main-modal-head">Related Images</h2>
              <ul *ngIf="!showListView" class="set-width portfolio-list"
                style="list-style: none;margin: unset; padding: 0; align-items: unset;">
                <li *ngFor="let image of images.slice(0, imageSliceInput); let i = index">
                  <a (click)="open(preview, image)">
                    <img src="{{getAssetUrl(image.contextParameters.thumbnail.url)}}"
                      class="w-100 shadow-1-strong rounded" alt="">
                  </a>
                </li>
              </ul>
            </div> -->
            <!-- <section class="lpSecThree">
              <h2 class="main-modal-head">Related collections</h2>
              <ul class="flexible">
                <li class="">
                  <div class="flexible tripDivOne">
                    <div>
                      <img src="../../assets/images/Picture1.png" class="tripImg1">
                    </div>
                    <div style="display: grid;">
                      <img src="../../assets/images/gallery-3.png" class="tripImg2">
                      <img src="../../assets/images/gallery-4.png" class="tripImg3">
                    </div>
                  </div>
                  <div class="tripDivTwo">
                    <p>Trips</p>
                    <span>27 photos curated by Jing L.</span>
                  </div>
                </li>
                <li class="">
                  <div class="flexible tripDivOne">
                    <div>
                      <img src="../../assets/images/Picture1.png" class="tripImg1">
                    </div>
                    <div style="display: grid;">
                      <img src="../../assets/images/gallery-3.png" class="tripImg2">
                      <img src="../../assets/images/gallery-4.png" class="tripImg3">
                    </div>
                  </div>
                  <div class="tripDivTwo">
                    <p>Trips</p>
                    <span>27 photos curated by Jing L.</span>
                  </div>
                </li>
                <li class="">
                  <div class="flexible tripDivOne">
                    <div>
                      <img src="../../assets/images/Picture1.png" class="tripImg1">
                    </div>
                    <div style="display: grid;">
                      <img src="../../assets/images/gallery-3.png" class="tripImg2">
                      <img src="../../assets/images/gallery-4.png" class="tripImg3">
                    </div>
                  </div>
                  <div class="tripDivTwo">
                    <p>Trips</p>
                    <span>27 photos curated by Jing L.</span>
                  </div>
                </li>
                <li class="">
                  <div class="flexible tripDivOne">
                    <div>
                      <img src="../../assets/images/Picture1.png" class="tripImg1">
                    </div>
                    <div style="display: grid;">
                      <img src="../../assets/images/gallery-3.png" class="tripImg2">
                      <img src="../../assets/images/gallery-4.png" class="tripImg3">
                    </div>
                  </div>
                  <div class="tripDivTwo">
                    <p>Trips</p>
                    <span>27 photos curated by Jing L.</span>
                  </div>
                </li>
              </ul>
            </section> -->
          </div>
        </div>
      </ng-template>



      <div *ngIf="showListView" class="card-view">
        <ul class="flexible">
          <li *ngFor="let image of images.slice(0, imageSliceInput); let i = index">
            <div style="background-color: #F9F7F2;padding: 20px;">
              <div class="row">
                <div class="col-xl-6 col-md-6" style="position: relative;">
                  <p>Young man walking in desert</p>
                  <div class="username">
                    <span>
                      <img src="../../assets/images/user.png" style="width: 20px;">
                    </span>
                    <span>Jing L.</span>
                  </div>
                </div>
                <div class="col-xl-6 col-md-6">
                  <img src="{{getAssetUrl(image.contextParameters.thumbnail.url)}}"
                    style="width: 100%;border-radius: 8px;">
                </div>
              </div>

            </div>
          </li>
        </ul>
      </div>


      <div *ngIf="!hideImageShowMoreBtn" (click)="showMore('image')" style="text-align: center; cursor: pointer;">Show
        more</div>

      <!-- List view Images -->

      <!-- <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="../../../assets/images/gallery-2.png" class="w-100 shadow-1-strong rounded mb-4" alt="" />
        <img src="../../../assets/images/gallery-img1.png" class="w-100 shadow-1-strong rounded mb-4" alt="" />
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="../../../assets/images/gallery-3.png" class="w-100 shadow-1-strong rounded mb-4" alt="" />

        <img src="../../../assets/images/gallery-2.png" class="w-100 shadow-1-strong rounded mb-4" alt="" />
      </div> -->

      <!-- Gallery -->
    </div>
    <div class="row pt-5">
      <div class="col-xl-12 flexible" style="justify-content: space-between;">
        <p class="imgHead pb-4">Videos</p>
        <a class="fileCount pb-4" href="#">{{videos.length}} videos</a>
      </div>
      <div class="col-xl-12">
        <ul class="flexible videosList">
          <li *ngFor="let v of videos.slice(0, videoSliceInput)" class="">
            <a href="{{baseUrl}}/nuxeo/ui/#!/browse{{v.path}}">
              <img src="{{getAssetUrl(v.contextParameters.thumbnail.url)}}"></a>
          </li>
          <!-- <li>
            <a href="#"><img src="../../../assets/images/tourism 1.png"></a>
          </li> -->
        </ul>
        <div *ngIf="!hideVideoShowMoreBtn" (click)="showMore('video')" style="text-align: center; cursor: pointer;">Show
          more</div>

      </div>
    </div>


    <div class="row pt-5">
      <div class="col-xl-12 flexible" style="justify-content: space-between;">
        <p class="imgHead pb-4">Documents</p>
        <a class="fileCount pb-4" href="#">{{docs.length}} documents</a>
      </div>
      <div class="col-xl-12">
        <ul class="flexible docList">
          <li *ngFor="let doc of docs" class="">
            <a href="{{baseUrl}}/nuxeo/ui/#!/browse{{doc.path}}"><img
                src="{{getAssetUrl(doc.contextParameters.thumbnail.url)}}"></a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>