<header class="pt-4 pb-4">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-7 offset-xl-3">
                <ul class="flexible header-menu">
                    <li>
                        <p class="logo">
                            <a href="">GroundX</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Browse</a>
                        </p>
                    </li>
                    <li class="active">
                        <p>
                            <a href="#">Search</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Collections</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Tasks</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Favourites</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Clipboard</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2">
                <ul class="flexible header-right-menu">
                    <li>
                        <p>
                            <img src="../../../assets/images/bell.png">
                        </p>
                    </li>
                    <li>
                        <p>
                            <img src="../../../assets/images/user.png">
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>