<section class="filter-sidebar pt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="mainDiv">
                <div id="main" >
                    <button class="openbtn" (click)="openNav()">open</button>
                   
                </div>
                <div id="main-sidebar"  class="sidepanel closeBtn" >
                   <h3 class="pb-2">Search Settings</h3>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item sidebarList">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h6>Sort by</h6>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="flexible pt-2 pb-2 sideList">
                                <li class="mr-2 active">
                                    <a >Most relevant</a>
                                </li>
                                <li>
                                    <a >Most recent</a>
                                </li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item sidebarList">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <h6>Sector</h6>
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="flexible pt-2 pb-2 sideList">
                                <li *ngFor="let sector of sectors" class="mr-2 mb-2">
                                    <a >{{sector.title}}</a>
                                </li>
                                <!-- <li class="active mb-2">
                                    <a >Tourist</a>
                                </li>
                                <li class="mr-2 ">
                                   <a >Sports</a>
                               </li>
                               <li class="">
                                   <a >Marketing</a>
                               </li> -->
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item sidebarList file-type">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <h6>File type</h6>
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="flexible pt-2 pb-2 sideList">
                                <li class="mr-2 active">
                                    <a >Image</a>
                                </li>
                                <li class="mr-2">
                                    <a >Video</a>
                                </li>
                                <li>
                                   <a >Document</a>
                               </li>
                            </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item sidebarList">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            <h6>Sort by</h6>
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  All assets
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="#">All assets</a></li>
                                  <li><a class="dropdown-item" href="#">Created</a></li>
                                  <li><a class="dropdown-item" href="#">Modified</a></li>
                                  <li><a class="dropdown-item" href="#">Last Contibutor</a></li>
                                  <li><a class="dropdown-item" href="#">Modified</a></li>
                                  <li><a class="dropdown-item" href="#">Modified</a></li>
                                  <li><a class="dropdown-item" href="#">Modified</a></li>
                                  <li><a class="dropdown-item" href="#">Modified</a></li>
                                </ul>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>