
.dropdownCreate .control-group {
    display: block;
  }
  .dropdownCreate .control {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    padding: 0px;
    padding-left: 30px;
    border: 0px;
    margin: 0px 0px 0px;
    color: #040404;
  }
  .dropdownCreate .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .dropdownCreate .control__indicator {
    position: absolute;
    top: 4px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #404040;
  }
  .dropdownCreate .control--radio .control__indicator {
    border-radius: 50%;
  }
  /* .dropdownCreate .control:hover input ~ .control__indicator, */
  /* .dropdownCreate .control input:focus ~ .control__indicator {
    background: #006845;
  } */
  .dropdownCreate .control input:checked ~ .control__indicator {
    background: #006845;
  }
  /* .dropdownCreate .control:hover input:not([disabled]):checked ~ .control__indicator,
  .dropdownCreate .control input:checked:focus ~ .control__indicator {
    background: #fff;
  } */
  .dropdownCreate .control input:disabled ~ .control__indicator {
    background: #fff;
    opacity: 0.6;
    pointer-events: none;
  }
  .dropdownCreate .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
  }
  .dropdownCreate .control input:checked ~ .control__indicator:after {
    display: block;
  }
  .dropdownCreate .control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #23211E;
  }
  .dropdownCreate .control--radio input:disabled ~ .control__indicator:after {
    background: #fff;
  }
  
.dropdownCreate .btn:disabled {
    background: #E8E6DF;
    color: #BAB8B2;
    opacity: 1;
  }
  
.createFolder input.errorInput {
    border-bottom: 2px solid #E03C31 !important;
  }
  
.dropdownCreate.createFolder form {
    clear: left;
    width: 100%;
    float: left;
    padding-top: 10px;
  }

  
.createFolder input{
    border: unset;
    border-bottom: 2px solid #413E3C;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    color: #040404;
    padding-bottom: 5px;
    padding-left: 0px;
    font-weight: 500;
  }
  .createFolder input::placeholder{
    font-size: 15px !important;
    line-height: 24px !important;
    color: #040404 !important;
    font-weight: normal !important;
  }
  .createFolder label{
    font-size: 15px;
    line-height: 24px;
    color: #040404;
    font-weight: normal;
  }
  
.createFolder ::ng-deep .mat-expansion-indicator {
    /* transform: rotate(-180deg) !important; */
    height: 10px;
    width: 10px;
  }
  ::ng-deep .mat-expansion-panel-body{
    padding: 0px !important;
  }
  
.createBtn{
    background-color: #EDD580;
    border-radius: 24px;
    float: right;
    width: unset;
    font-weight: normal;
    padding: 6px 19px;
    font-size: 14px;
    /* line-height: 20px; */
    color: #040505;
  }
  /* ::ng-deep .mat-datepicker-popup{
    left: 819px !important;
  } */
  ::ng-deep .mat-expansion-panel-header-description{
    color: #937206;
  }
  
.createFolder{
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    right: 0px;
    top: 50px;
    /* left: auto; */
    z-index: 999;
  }
  
.createFolder input{
    border: unset;
    border-bottom: 2px solid #413E3C;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    color: #040404;
    padding-bottom: 5px;
    padding-left: 0px;
    font-weight: 500;
  }
  .createFolder input::placeholder{
    font-size: 15px !important;
    line-height: 24px !important;
    color: #040404 !important;
    font-weight: normal !important;
  }
  .createFolder label{
    font-size: 15px;
    line-height: 24px;
    color: #040404;
    font-weight: normal;
  }
  
.createFolder ::ng-deep .mat-expansion-indicator {
    /* transform: rotate(-180deg) !important; */
    height: 10px;
    width: 10px;
  }