.float{
  position: relative;
  bottom: 50px;
  right: 40px;
  z-index: 999;
  background-color: #23211E;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  cursor: pointer;
} 
.float img{
  width: 15px;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{
	background-color: #23211E;
}
.tooltip1 {
	position: relative;
	display: inline-block;
	/* border-bottom: 1px dotted black; */
	margin-left: 10px;
	width: 20px; 
  }
/* sprint16-v1 start */
  .tooltip1 .tooltiptext {
	  visibility: hidden;
    width: 290px;
    background: #23211E;
    /* box-shadow: 0px 2px 3px rgb(0 0 0 / 25%); */
    color: #fff;
    text-align: center;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 4px;
    line-height: 15px;
    position: absolute;
    z-index: 1;
    bottom: -60%;
    right: 30px;
    margin-left: 0px;
    opacity: 0;
    /* font-size: 11px; */
    transition: opacity 0.3s;
    z-index: 99;
    text-align: left;
  }
  /* sprint16-v1 end */
  
  .tooltip1:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }
::ng-deep .ng-select .ng-clear-wrapper .ng-clear {
  font-size: 21px !important;
  color: #DEB31A !important;
}
.float.addMargin {
  bottom: 135px;
}