<app-header *ngIf="showHeader" (selectedTab)="checkSelectedTab($event)"></app-header>

<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''" style="min-height: calc(100vh - 76px);">
  <router-outlet #o="outlet"></router-outlet>
</main>
<!-- <div class="tooltip1">
  <button *ngIf="showAddButton" mat-fab class="float" color="primary" aria-label="Add" (click)="openModal()">
    <mat-icon>add</mat-icon>
  </button>
  <span class="tooltiptext">Upload Assets</span>
</div> -->
<div *ngIf="showAddButton" class="float" (click)="onActivate()">
  <img src="../assets/images/ArrowUp.svg"  >
<!-- <button *ngIf="showAddButton" mat-fab class="float" color="primary" aria-label="Add" (click)="onActivate()">
  <mat-icon>add</mat-icon>
</button> -->
</div>
<!-- <app-footer *ngIf="showFooter"></app-footer> -->
<!-- <button mat-fab class="float" color="primary" aria-label="Add" (click)="openModal()">
    <mat-icon>add</mat-icon>
  </button> -->