::ng-deep .navbar{
    margin-bottom: unset;
    padding: unset
}

header{
    padding: 10px 0px  10px!important;
    top: 0px;
    position: absolute;
    width: 100%;
    transition: .1s;
}

.landingLp{
    background-color: #F1EFE0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    z-index: 99;
}
.landingLp li.nav-item {
    padding: 0px 15px;
    /* cursor: pointer; */
}
.landingLp .nav-item a{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.055em;
    color: #000000;
    /* font-weight: normal; */
    position: relative;
    cursor: pointer;
}
.landingLp .nav-item a:before{
    content: '';
    background-color: #000;
    height: 1.5px;
    width: 0px;
    position: absolute;
    transition: 0.4s;
    bottom: 0px;
    left: 0;
}
.landingLp .navbar-nav .nav-link.active::before{
    content: '';
    background-color: #000;
    height: 1.5px;
    width: 100% !important;
    position: absolute;
    transition: 0.4s;
    bottom: 0px;
    left: 0;
}
.landingLp .nav-item a:hover{
    color: #000;
}
.landingLp .nav-item a:hover::before{
    width: 100%;
}
.rightDrop .nav-item a::before{
    display: none;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    left: auto;
    right: 10px;
    border-radius: 10px;
    padding: 10px 24px;
    width: 250px;
    top: 44px;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: #000;
    color: #fff !important;
}
.dropdown-item.active, .dropdown-item:active a{
    color: #fff !important;
}
.searchHeading .nav-item a{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.055em;
    color: #fff;
    /* font-weight: normal; */
    position: relative;
    cursor: pointer;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-right: 0.2rem;
    padding-right: 0rem;
}
.searchHeading{
    position: fixed;
    width: 100%;
    	transition: 0.3s;
    z-index: 99;
}
.fixedHeader{
    background-color: #040404;
    z-index: 999;
}
.missHeader{
    background-color: transparent !important;
}
.searchHeading .nav-item a:before{
    content: '';
    background-color: #fff;
    height: 1.5px;
    width: 0px;
    position: absolute;
    transition: 0.4s;
    bottom: 0px;
    left: 0;
}
.searchHeading .nav-item a:hover::before{
    /* color: #fff; */
    width: 100%;
}
.searchHeading li.nav-item {
    padding: 0px 15px;
    /* cursor: pointer; */
}
.searchHeading .dropdown-item{
    color: #000;
}
.searchHeading .navbar-nav .nav-link.active{
    color: #C49900 ;
}
.searchHeading .navbar-nav .nav-link.active::before{
    content: '';
    background-color: #C49900 ;
    height: 1.5px;
    width: 100% !important;
    position: absolute;
    transition: 0.4s;
    bottom: 0px;
    left: 0;
}
.searchHeading .dropdown-menu li a{
    color: #000 !important;
}
.rightNav .nav-item{
    padding: 0px 6px !important;
}
.navbar-expand-lg .navbar-nav{
    margin: 0px auto 0;
}
.tooltipCustom:before{
    display: none;
}
/* <!-- sprint12-fixes start --> */
header.pt-4.pb-4.searchHeading.openDrawer {
    width: calc(100% - 280px);
    margin-left: 280px;
}

.fixedHeader .uploadBtn, .fixedHeader .uploadBtn:hover{
    background-color: #fff;
    color: #000 !important;
    font-weight: normal;
}
/* <!-- sprint12-fixes end --> */
.nav-link.uploadBtn, .nav-link.uploadBtn:hover {
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 8px;
    padding: 14px 20px;
    background: #937206;
    border-radius: 50px;
    /* margin-top: 5px; */
    margin-right: 5px;
}
header img.header-logo {
    max-width: 100%;
    margin-left: 0px;
}
.navbar .dropdown-menu > li > a {
    padding: 0px;
    line-height: 36px;
}
.navbar .dropdown-menu>li>a:hover,
.navbar .dropdown-menu>li>a:focus {
    background: transparent;
}
.logout-line {
    border-top: 1px solid #EFEEE9;
    border-radius: 0px;
    margin-top: 10px;
    padding-top: 7px;
}
.navbar .navbar-collapse {
    padding-right: 0px;
    margin-right: -10px;
}
a.dropdown-item:hover {
    opacity: 0.5;
}
.rightDrop{
    flex-direction: row;
}

/* .logo-block {
    margin-top: -18px;
    transition: all 0.3s ease;
} */
header.searchHeading.fixedHeader {
    top: 0px;
}
header.searchHeading.fixedHeader .navbar-expand-lg .navbar-nav {
    margin-top: 0px;
}

/* header.searchHeading.fixedHeader .logo-block {
    margin-top: -3px;
    transition: all 0.3s ease;
} */
/* mobile responsive */
@media(max-width:991.5px){
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        width: unset;
        position: absolute;
    }
    .searchHeading{
        position: absolute;
    }
    .fixedHeader{
        background-color: transparent;
    }
    header img.header-logo{
        width: 100px;
        margin: auto;
    }
}

header.updateHeader {
    padding: 10px 0px 10px!important;
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 76px;
    left: 0px;
    top: 0px;
    background-color: #040404;
    z-index: 999;
    color: #fff;
    transition: all 300ms ease;
}
header.updateHeader .navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 100%);
}
header.updateHeader .dropdown-toggle::after {
    display: none;
}
.play-button {
    width: 38px;
    margin-left: 42px;
    display: block;
    cursor: pointer;
}
.search-bar{
    position: relative;
    padding: 15px 60px 15px 62px;
    border-radius: 8px;
    border: 1px solid #E5E5E5;
    width: 500px;
    background-color: #FDFDFD;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #040404;
}
.search-btn{
    position: absolute;
    left: 0px;
    border-radius: 2px;
    border: unset;
    padding: 16px 11px 18px 24px;
    background-color: transparent;
    z-index: 1;
}
.search-btn img{
    width: 20px;
}
.placeholder-search {
    position: absolute;
    right: 26px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 18px;
}
::placeholder{
    font-weight: 100 !important
}
.customSearchBar {
    display: inline-block;
    width: 70%;
}
.customSearchBar .search-bar {
    /* max-width: 660px; */
    width: 100%;
    border: 1px solid #23211E;
    background: #23211E;
}
header.updateHeader .navbar-nav > li.nav-item.dropdown > a {
    padding-top: 0px;
    padding-bottom: 0px;
}
header.updateHeader .navbar .navbar-collapse {
    margin-top: 5px;
}
.sub-header{
    position: relative;
}
.video-icon {
    height: 70px;
    width: 70px;
    position: absolute;
    left: 3.75rem;
    bottom: 1.75rem;
    border-radius: 100px;
    background: transparent;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}
.video-icon img {
    max-width: 100%;
    position: relative;
}
.playIcon {
    display: block;
    position: absolute;
    margin: 25px auto;
    background-image: url(../../../assets/images/button-play.svg);
    background-size: contain;
    height: 30px;
    width: 30px;
    z-index: 9;
    left: 25px;
}
.modal-body-content .playIcon {
    margin: 0px auto;
    height: 100%;
    width: 100%;

    left: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px;
    cursor: pointer;
  }
  .fixx{
    height: 290px;
    width: 476px;
  }
  .modal-body-content img{
      height: 290px;
  }
  video{
      height: 290px;
      object-fit: cover;
  }
  .select-an-area{
    height: 290px;
    text-align: center;
    padding: 16px 60px
  }
  .select-an-area .logo {
    max-width: 40px;
    display: block;
    clear: both;
    margin: 0px auto;
  }
  .select-an-area h3 {
    color: #fff;
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .next-arrow {
    padding-top: 60px;
  }
  .select-an-area .next-arrow .logo {
    width: 30px;
  }
  .next-arrow i {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    color: #7d7d7d;
  }
  .modal-body-content {
    min-height: 290px;
    background-image: linear-gradient(#2b8aa6, #79cad8);
    border-radius: 10px;
  }
  video{
    border-radius: 8px;
}
.ssector {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    right: 10px;
    top: 2px;
    z-index: 9;
    width: 148px;
    cursor: pointer !important;
}
::ng-deep .ssector .ng-select{
    width: 148px;
    border-color: #DEB31A !important;
}
/* .ssector .ng-select:focus{
 outline: none;
 border: unset;
} */
.ssector span{
    font-size: 10px;
    line-height: 47px;
    color: #FFFFFF;
    display: block;
    padding-right: 15px;
}
::ng-deep .ng-select .ng-select-container {
    color: #DEB31A !important;
    background-color: transparent;
    border-radius: 0px;
    border: unset;
    border-bottom: 1px solid #DEB31A;
    min-height: 36px;
    align-items: center;
}
::ng-deep .ng-select{
    background-color: transparent;
}
::ng-deep .ng-select .ng-clear-wrapper{
    display: none;
}
::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow, ::ng-deep .ng-select.ng-select-opened>.ng-select-container .ng-arrow{
    border-color: #DEB31A transparent transparent;
}
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked, ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked{
    background-color: #DEB31A !important;
}
::ng-deep .ng-select-container.ng-has-value .ng-arrow-wrapper .ng-arrow {
    background-image: url(../../../assets/images/down-arrow-yellow.svg);
}

::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
    background-image: url(../../../assets/images/down-arrow-white.svg);
    background-position: 0px 3px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px !important;
    height: 10px !important;
    border-width: 0px;
}
::ng-deep .ng-select.ng-select-opened>.ng-select-container .ng-arrow{
    top: unset;
    border-color: unset;
    border-width: unset;
}
::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow{
    border-style: unset;
}
::ng-deep .ng-select.ng-select-opened>.ng-select-container{
    background-color: transparent;
    border: unset;
}
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
    font-size: 14px;
}
::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value{
    font-size: 14px;
}
::ng-deep .sectorsss .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
    color: #fff;
    padding: 8px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
::ng-deep .ng-dropdown-panel{
    border: unset;
    box-shadow: unset;
    background-color: unset;
    font-size: 10px;
}
.searchPopup {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    background: #23211E;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #2D2926;
    max-height: calc(100vh - 80px);
    overflow: auto;
}
.removeBorderRadious {
    border-radius: 8px 8px 0 0;
}
.recent-searches, .search-list {
    padding: 20px 30px;
    padding-bottom: 0px;
}
.recent-searches::after {
    content: '';
    display: block;
    clear: both;
}
.recent-searches:last-child {
    padding-bottom: 10px;
}
.recent-searches .heading {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #D1CFC9;
    padding-bottom: 20px;
}
.recent-searches ul.recent-searches-tags {
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.recent-searches ul.recent-searches-tags li {
    background: #040404;
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 100px;
    text-align: center;
    color: #FFFFFF;
}
.recent-searches ul.recent-searches-tags li a {
    padding: 6px 12px;
    color: #fff;
    display: block
}
.recent-searches ul.recent-searches-tags li.show-something {
    background: #937206;
}
.recent-searches ul.recent-searches-tags li.show-something a {
    color: #fff;
}
.tollTipCustom{
    position: relative;
}

.tollTipCustom .tolltipContent {
    position: absolute;
    top: 46px;
    left: 20px;
    background: #413e3c;
    padding: 3px 10px;
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    width: max-content;
    border-radius: 4px;
    white-space: nowrap;
    max-width: max-content;
    width: max-content;
    display: none;
    text-align: center;
    z-index: 999;
    line-height: 20px;
}
.tollTipCustom:hover .tolltipContent {
    display: block;
}
#customScrollBar::-webkit-scrollbar-track,
.workspaceFoldersScrollBar::-webkit-scrollbar-track {
	background-color: transparent;
}

#customScrollBar::-webkit-scrollbar,
.workspaceFoldersScrollBar::-webkit-scrollbar {
	width: 6px;
	background-color:transparent;
}

#customScrollBar::-webkit-scrollbar-thumb,
.workspaceFoldersScrollBar::-webkit-scrollbar-thumb {
	background-color: #413E3C;
    border-radius: 10px;
}
.search-list {
    border-bottom: 1px solid #2D2926;
    padding-bottom: 5px;
}
.search-list a {
    display: block;
    clear: left;
    float: left;
    color: #fff;
    line-height: 24px;
    font-size: 15px;
    padding-bottom: 15px;
}
.search-list a:hover {
    opacity: 0.8;
}
.search-list::after {
    clear: both;
    display: block;
    content: '';
}

.recent-searches ul.recent-searches-folder {
    margin: 0px -7px;
    padding: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-right: -27px;
    padding-right: 10px;
}
.recent-searches ul.recent-searches-folder li {
    float: left;
    margin-bottom: 5px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 8px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    line-height: 17px;
}
.recent-searches ul.recent-searches-folder li:hover {
    background: #413E3C;
    color: #fff;
}
.folder-icon {
    padding-right: 10px;
    vertical-align: 1px;
    display: inline-block;
}
.folder-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 60%;
    display: inline-block;
}
.workspace-folders {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 35%;
    display: inline-block;
    text-align: right;
    padding-left: 15px;
}
.workspaceFoldersScrollBar {
    overflow: auto;
    height: 245px;
}
@media (max-width: 768px) {
    .customSearchBar {
        display: none;
    }
}
@media (max-width: 700px) {
    header.updateHeader .navbar .navbar-collapse {
        margin-top: 0px;
    }
    .navbar-collapse {
        box-shadow: none !important;
    }
    .mobileVideoIcon {
        display: none;
    }
}

.customSlider img {
    max-width: 100%;
}

::ng-deep .ng-dropdown-panel-items::-webkit-scrollbar-track{
	background-color: transparent;
}
::ng-deep .ng-dropdown-panel-items::-webkit-scrollbar{
	width: 6px;
	background-color:transparent;
}
::ng-deep .ng-dropdown-panel-items::-webkit-scrollbar-thumb{
	background-color: #E8E6DF;
    border-radius: 10px;
}
::ng-deep .ng-dropdown-panel-items {
    overflow: hidden;
    overflow-y: scroll;
}

/* new sidebar start */
section.left-sidebar {
    width: 110px;
    background: #23211E;
    height: calc(100% - 76px);
    position: fixed;
    z-index: 9;
    top: 76px;
    left: 0px;
    padding: 12px;
    border-right: 1px solid #413E3C;
}
ul.sidebarList {
    text-align: center;
}
ul.sidebarList img {
    display: block;
    margin: 0px auto 10px;
}
ul.sidebarList li {
    margin-bottom: 10px;
}
ul.sidebarList li .sidebarLink {
    border-radius: 8px;
    padding: 12px 8px 10px;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    display: block;
    transition: all 0.12s ease;
}
ul.sidebarList li .sidebarLink:hover {
    color: #fff;
    background: transparent;
    opacity: 1;
    transition: all 0.12s ease;
}
ul.sidebarList li .sidebarLink.active {
    background: linear-gradient(102.26deg, #E1BB33 27.13%, #DAAA00 68.86%);
    color: #fff;
    opacity: 1;
    transition: all 0.12s ease;
}
.bottomItems {
    position: absolute;
    bottom: 12px;
    width: calc(100% - 24px);
    left: 12px;
    right: 12px;
}
.bottomItems img {
    max-width: 60%;
    width: 100%;
}
.text-center {
    text-align: center !important;
}
.bottomItems ul li {
    border-bottom: 1px solid #343231;;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.bottomItems ul li:last-child {
    border: 0px;
    padding-bottom: 0px;
}
.bottomItems ul li a {
    color: #7A7873;
    font-size: 12px;
    text-align: left;
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 15px;
    transition: all 0.12s ease;
}
.bottomItems ul li a:last-child {
    margin-bottom: 0px;
}
.bottomItems ul li a:hover {
    background: none;
}
.bottomItems ul li a svg {
    margin-right: 5px;
    vertical-align: -2px;
}
/* new sidebar end */
.borderNone {
    border: none !important;
}
.notifactionBlk {
    position: relative;
}
.notifactionCount {
    border-radius: 100px;
    position: absolute;
    top: -5px;
    right: -14px;
    background: #E03C31;
    text-align: center;
    height: 20px;
    width: 20px;
    line-height: 19px;
    font-size: 12px;
}
.notifactionImgCont {
    display: flex;
    align-items: baseline;
}
.notifactionImgCont .notifactionImg img {
    width: 40px;
    max-width: 100%;
}
.notifactionImgCont .notifactionCont {
    color: #BAB8B2;
    font-size: 13px;
    font-family: 'brownlight';
    word-break: break-word;
    line-height: normal;
}
.notifactionImgCont .notifactionImg {
    margin-right: 10px;
}
.notifactionHead {
    line-height: normal;
    padding-bottom: 13px;
    font-size: 14px;
    color: #040404;
}
.notifactionHead {
    line-height: normal;
    padding-bottom: 13px;
    font-size: 14px;
    color: #040404;
}
.dayWeek {
    font-family: 'brownlight';
    text-align: right;
    padding-top: 10px;
    color: #C49900;
    padding-bottom: 5px;
}

.notificationDropdown li {
    border-bottom: 1px solid #EFEEE9;
    border-radius: 0px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
/* .notificationDropdown ul li:last-child {
    padding-bottom: 0px;
    border: 0px;
} */
.notActive{
    color: #040404;
    font-family: 'brownlight' !important;
}
.notificationDropdown {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 10px;
}
#customScrollBar::-webkit-scrollbar-track{
	background-color: transparent;
}

#customScrollBar::-webkit-scrollbar{
	width: 6px;
	background-color:transparent;
}

#customScrollBar::-webkit-scrollbar-thumb{
	background-color: #E8E6DF;
    border-radius: 10px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu.borderNone {
    padding: 10px 9px 10px 17px;
}

.no-notifaction {
    text-align: center;
}

.no-notifaction img {
    padding: 20px 0px;
}

.no-notifaction .no-notifactionContent {
    font-size: 15px;
    font-family: 'brownlight';
}

.no-notifaction .no-notifactionContent span {
    display: block;
    padding-bottom: 20px;
    font-family: 'brownregular';
}
.view-all-notifaction {
    font-size: 15px;
    color: #937206;
    font-family: 'brownregular';
    text-align: center;
    margin: 20px 0px;
}
.view-all-notifaction span {
    cursor: pointer;
}
.fix-notifaction {
    width: 880px;
    height: 500px;
    background-color: #fff;
    padding: 30px !important;
}
.fix-notifaction h1 {
    text-align: center;
    font-size: 26px;
    padding-bottom: 30px;
}
.notificationModal {
    height: 370px;
    overflow: hidden;
    overflow-y: scroll;
}
.notifactionList ul li {
    display: block;
    margin-bottom: 10px;
    background: #fbfaf9;
    border-radius: 8px;
    padding: 20px;
}
.notifactionList ul li::after {
    content: '';
    clear: both;
    display: block;
}
.notifactionList {
    padding-top: 20px;
}
.weekHead {
    font-size: 15px;
    color: #EDD580;
    line-height: 24px;
}
.notifactionListContLeft, .notifactionListContRight {
    display: inline-block;
    vertical-align: top;
}
.notifactionListContLeft {
    width: 80%;
    text-align: left;
}
.notifactionListContRight {
    text-align: right;
    width: 20%;
    color: #C49900;
    font-family: 'brownlight';
}
.notifactionListContLeft p {
    font-family: 'brownlight';
    padding-bottom: 10px;
}
.notifactionListContLeft p span {
    font-family: 'brownregular';
}
.openArchived {
    text-align: right;
}
.openArchived span {
    cursor: pointer;
    color: #937206;
    font-size: 15px;
}
.openArchived span svg {
    margin-left: 8px;
}
.notifactionList .notifactionImgCont {
    margin: 15px 0px;
}
.notifactionList .notifactionImgCont .notifactionCont {
    font-size: 14px;
}
.mt30 {
    margin-top: 30px !important;
}

.empty-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-sidebar .bottomItems ul li a:hover {
    color: #fff;
    opacity: 1;
    transition: all 0.12s ease;
}

.bottomItems ul li a:hover path {
    fill: #fff;
    transition: all 0.12s ease;
}

.rejectApproveBlk .buttonGroup {
    float: right;
}
.reject {
    background: #B02D24;
    color: #fff;
    border-radius: 100px;
    padding: 0px 20px;
    line-height: 35px;
    letter-spacing: 1px;
    border: 1px solid transparent;
    outline: none;
}
.approve {
    background: #0E7A53;
    color: #fff;
    border-radius: 100px;
    padding: 0px 20px;
    line-height: 35px;
    letter-spacing: 1px;
    border: 1px solid transparent;
    outline: none;
}
.cancelBtn {
    background: transparent;
    color: #2D2926;
    border-radius: 100px;
    padding: 0px 20px;
    line-height: 35px;
    letter-spacing: 1px;
    border: 1px solid #2D2926;
    outline: none;
}
.submitBtn {
    background: #C49900;
    color: #fff;
    border-radius: 100px;
    padding: 0px 20px;
    line-height: 35px;
    letter-spacing: 1px;
    border: 1px solid #C49900;
    outline: none;
}
.mr10 {
    margin-right: 10px !important;
}
.requesInput {
    border: 0px solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-bottom: 1px solid #2D2926;
    background: transparent;
    line-height: 34px;
    margin-right: 20px;
    width: calc(100% - 219px);
    vertical-align: top;
}
.requesInput.goldenText {
    border-bottom: 1px solid #C49900;
    color: #C49900;
}

.download-request-reject-form button:disabled,
.download-request-reject-form button[disabled]{
  border: 1px solid #EFEEE9;
  background-color: #EFEEE9;
  color: #BAB8B2;
}
p.approved {
    color: #0E7A53;
}
p.rejected {
    color: #C6342A;
}
p.rejection {
    color: #937206;
}
.positionRelative{
    position: relative;
}
span.userName {
    position: absolute;
    width: calc(100% - 14px);
    height: 100%;
    /* background: rgb(0 0 0 / 33%); */
    background-color: #DEB31A;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    border-radius: 100px;
    border: 1px solid #DEB31A;
    height: 30px;
    width: 30px;
}