::ng-deep .navbar{
    margin-bottom: unset;
    padding: unset
}

header{
    padding: 10px 0px  6px!important;
    top: 0px;
    position: absolute;
    width: 100%;
    transition: .1s;
}

.landingLp{
    background-color: #F1EFE0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    z-index: 99;
}
.landingLp li.nav-item {
    padding: 0px 15px;
    /* cursor: pointer; */
}
.landingLp .nav-item a{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.055em;
    color: #000000;
    /* font-weight: 600; */
    position: relative;
    cursor: pointer;
}
.landingLp .nav-item a:before{
    content: '';
    background-color: #000;
    height: 1.5px;
    width: 0px;
    position: absolute;
    transition: 0.4s;
    bottom: 0px;
    left: 0;
}
.landingLp .navbar-nav .nav-link.active::before{
    content: '';
    background-color: #000;
    height: 1.5px;
    width: 100% !important;
    position: absolute;
    transition: 0.4s;
    bottom: 0px;
    left: 0;
}
.landingLp .nav-item a:hover{
    color: #000;
}
.landingLp .nav-item a:hover::before{
    width: 100%;
}
.rightDrop .nav-item a::before{
    display: none;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    left: auto;
    right: 0px;
    border-radius: 10px;
    padding: 10px 24px;
    width: 250px;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: #000;
    color: #fff !important;
}
.dropdown-item.active, .dropdown-item:active a{
    color: #fff !important;
}
.searchHeading  .nav-item a{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.055em;
    color: #fff;
    /* font-weight: 600; */
    position: relative;
    cursor: pointer;
}
.searchHeading{
    position: fixed;
    width: 100%;
    	transition: 0.3s;
    z-index: 99;
}
.fixedHeader{
    background-color: #040404;
    z-index: 999;
}
.missHeader{
    background-color: transparent !important;
}
.searchHeading .nav-item a:before{
    content: '';
    background-color: #fff;
    height: 1.5px;
    width: 0px;
    position: absolute;
    transition: 0.4s;
    bottom: 0px;
    left: 0;
}
.searchHeading .nav-item a:hover::before{
    /* color: #fff; */
    width: 100%;
}
.searchHeading li.nav-item {
    padding: 0px 15px;
    /* cursor: pointer; */
}
.searchHeading .dropdown-item{
    color: #000;
}
.searchHeading .navbar-nav .nav-link.active{
    color: #C49900 ;
}
.searchHeading .navbar-nav .nav-link.active::before{
    content: '';
    background-color: #C49900 ;
    height: 1.5px;
    width: 100% !important;
    position: absolute;
    transition: 0.4s;
    bottom: 0px;
    left: 0;
}
.searchHeading .dropdown-menu li a{
    color: #000 !important;
}
.rightNav .nav-item{
    padding: 0px 6px !important;
}
.navbar-expand-lg .navbar-nav{
    margin: 0px auto 0;
}
.tooltipCustom:before{
    display: none;
}
/* <!-- sprint12-fixes start --> */
header.pt-4.pb-4.searchHeading.openDrawer {
    width: calc(100% - 280px);
    margin-left: 280px;
}

.fixedHeader .uploadBtn, .fixedHeader .uploadBtn:hover{
    background-color: #fff;
    color: #000 !important;
    font-weight: 600;
}
/* <!-- sprint12-fixes end --> */
.nav-link.uploadBtn, .nav-link.uploadBtn:hover {
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 8px;
    padding: 14px 20px;
    background: #937206;
    border-radius: 50px;
    /* margin-top: 5px; */
    margin-right: 15px;
}
header img.header-logo {
    max-width: 170px;
    margin-left: 0px;
}
.navbar .dropdown-menu > li > a {
    padding: 0px;
    line-height: 36px;
}
.navbar .dropdown-menu>li>a:hover, 
.navbar .dropdown-menu>li>a:focus {
    background: transparent;
}
.logout-line {
    border-top: 1px solid #EFEEE9;
    border-radius: 0px;
    margin-top: 10px;
    padding-top: 7px;
}
.navbar .navbar-collapse {
    padding-right: 0px;
    margin-right: -10px;
}
a.dropdown-item:hover {
    opacity: 0.5;
}
.rightDrop{
    flex-direction: row;
}

.logo-block {
    margin-top: -9px;
}
header.searchHeading.fixedHeader {
    top: 0px;
}
header.searchHeading.fixedHeader .navbar-expand-lg .navbar-nav {
    margin-top: 0px;
}

/* mobile responsive */
@media(max-width:991.5px){
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        width: unset;
        position: absolute;
    }
    .searchHeading{
        position: absolute;
    }
    .fixedHeader{
        background-color: transparent;
    }
    header img.header-logo{
        width: 100px;
        margin: auto;
    }
}