header{
    padding: 10px 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    transition: .1s;
}

.landingLp{
    background-color: #F1EFE0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    z-index: 99;
}
.landingLp li.nav-item {
    padding: 0px 15px;
    /* cursor: pointer; */
}
.landingLp .nav-item a{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.055em;
    color: #000000;
    /* font-weight: 600; */
    position: relative;
    cursor: pointer;
}
.landingLp .nav-item a:before{
    content: '';
    background-color: #000;
    height: 1.5px;
    width: 0px;
    position: absolute;
    transition: 0.4s;
    bottom: 0px;
    left: 0;
}
.landingLp .navbar-nav .nav-link.active::before{
    content: '';
    background-color: #000;
    height: 1.5px;
    width: 100% !important;
    position: absolute;
    transition: 0.4s;
    bottom: 0px;
    left: 0;
}
.landingLp .nav-item a:hover{
    color: #000;
}
.landingLp .nav-item a:hover::before{
    width: 100%;
}
.landingLp .rightDrop .nav-item a::before{
    display: none;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    left: -77px;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: #000;
    color: #fff !important;
}
.dropdown-item.active, .dropdown-item:active a{
    color: #fff !important;
}
.searchHeading  .nav-item a{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.055em;
    color: #fff;
    /* font-weight: 600; */
    position: relative;
    cursor: pointer;
}
.searchHeading{
    position: fixed;
    width: 100%;
    	transition: 0.3s;
    z-index: 999;
}
.fixedHeader{
    background-color: #000;
}
.searchHeading .nav-item a:before{
    content: '';
    background-color: #fff;
    height: 1.5px;
    width: 0px;
    position: absolute;
    transition: 0.4s;
    bottom: 0px;
    left: 0;
}
.searchHeading .nav-item a:hover{
    color: #fff;
}
.searchHeading li.nav-item {
    padding: 0px 15px;
    /* cursor: pointer; */
}
.searchHeading .dropdown-item{
    color: #000;
}
.searchHeading .navbar-nav .nav-link.active::before{
    content: '';
    background-color: #fff;
    height: 1.5px;
    width: 100% !important;
    position: absolute;
    transition: 0.4s;
    bottom: 0px;
    left: 0;
}
.searchHeading .dropdown-menu li a{
    color: #000 !important;
}
.rightNav .nav-item{
    padding: 0px 6px !important;
}
.navbar-expand-lg .navbar-nav{
    margin: auto;
}
.tooltipCustom:before{
    display: none;
}