<header *ngIf="searchHeader" class="pt-4 pb-4 searchHeading">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-7 offset-xl-3">
                <ul class="flexible header-menu ">
                    <li>
                        <p>
                            <a href="#">Browse</a>
                        </p>
                    </li>
                    <li class="active">
                        <p>
                            <a (click)="selectTab('search')">Search</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Assets</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Collections</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Tasks</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Favourites</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Clipboard</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2">
                <ul class="flexible header-right-menu">
                    <li>
                        <p>
                            <a href="#">
                                <img src="../../../assets/images/alarm-bell.svg">
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">
                                <img src="../../../assets/images/user.png">
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a (click)="logout()">
                                Log out
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>


<!-- for landing page -->
 <header *ngIf="!searchHeader" class="pt-4 pb-4 landingLp">
    <div class="container-fluid">
        <div class="row flexible">
            <div class="col-xl-3 col-md-3">
                <div class="logo">
                    <a href="/">
                        <img src="../../../assets/images/NEOM_logo.svg">
                    </a>
                </div>
            </div>
            <div class="col-xl-7 ">
                <ul class="flexible header-menu ">
                    <li>
                        <p>
                            <a href="#">Browse</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a (click)="selectTab('search')">Search</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Assets</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Collections</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Tasks</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Favourites</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">Clipboard</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2">
                <ul class="flexible header-right-menu">
                    <li>
                        <p>
                            <a href="#">
                                <img src="../../../assets/images/alarm-bell.png">
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">
                                <img src="../../../assets/images/Mask Group.png">
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a style="cursor: 'pointer'" (click)="logout()">
                                Log out
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header> 