<header class="updateHeader">
  <div class="container">
    <div class="row flexible">
      <div class="col-xl-3 col-xs-3">
          <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="logo-block">
              <a [routerLink]="['/']" (click)="resetFilter(); selectTab('search')" style="text-decoration: none; color: #fff;"><img src="../../../assets/images/groundx-logo-white.svg" alt="Ground-X" class="header-logo" /></a>
            </div>
            <img class="play-button" src="../../../assets/images/button-play.svg" alt="" />
          </nav>
      </div>
      <div class="col-xl-9 col-xs-9">
        <div class="customSearchBar">
          <div style="position: relative;z-index: 99;" class="searchDiv">
            <form autocomplete="off">
              <button class="primary search-btn"><img
                src="../../../assets/images/search-icon.svg" /></button>
              <input 
                type="text" placeholder="Search" class="search-bar">
                <img style="cursor: pointer" src="../assets/images/circle-close.png" class="placeholder-search">
            </form>
          </div>
        </div>
          <nav class="navbar navbar-expand-lg navbar-light rightNav" style="float: right;">
              <div class=" navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto  mb-lg-0 rightDrop flexible">
                    <li>
                      <a class="nav-link uploadBtn tooltipCustom" (click)="openModal()">Upload</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link tooltipCustom" aria-current="page" >
                        <img src="../../../assets/images/menu-right.svg">
                      </a>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link tooltipCustom" placement="bottom" ngbTooltip="This function will be available soon" aria-current="page"  style="opacity: 0.6;cursor: not-allowed;">
                        <img src="../../../assets/images/alarm-bell.svg">
                      </a>
                    </li> -->

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../../assets/images/greenUser.png" style="border-radius: 50%;border: 2px solid #fff;" width="26" height="26">
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" [routerLink]="['/workspace']" >Workspace</a></li>
                        <!-- <li><a class="dropdown-item tooltipCustom"  style="cursor: not-allowed;" placement="bottom" ngbTooltip="This function will be available soon">Collections</a></li>
                        <li><a class="dropdown-item tooltipCustom"  style="cursor: not-allowed;" placement="bottom" ngbTooltip="This function will be available soon">Tasks</a></li> -->
                        <li><a class="dropdown-item"  placement="bottom" (click)="selectTab('favourite'); toFavouriteSection()" [routerLink]="['/']" fragment="favorites">Favourites</a></li>
                        <li *ngIf="checkForUserGroup()"><a class="dropdown-item" [routerLink]="['/report']">Analytics</a></li>
                        <li class="logout-line"><a class="dropdown-item" (click)="logout()">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
              </div>
          </nav>
      </div>
    </div>
  </div>
</header>