div#dropzone {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    min-height: 300px;
    height: 100%;
    transition: visibility 175ms, opacity 175ms;
    display: table;
    color: #fff;
    background: rgba(249, 247, 242, 0.85);
    border: 2px dashed #937206;
    border-radius: 8px;
  }
  
.breadcrumb-active {
  cursor: pointer;
  text-decoration: none;
  color: rgba(35, 33, 30, 0.6);
}

.breadcrumb-active:hover {
  text-decoration: underline;
  color: rgba(35, 33, 30, 0.6);
}

.breadcrumb-not-active {
  cursor: default;
  text-decoration: none;
  /* color: rgba(35, 33, 30, 0.6); */
  color: #24221f;
}

.tollTipCustom .tolltipContent {
  position: absolute;
  top: 30px;
  left: 0px;
  background: rgba(0, 0, 0, 0.80);
  padding: 4px 10px;
  font-size: 12px;
  color: #fff !important;
  font-weight: normal;
  width: max-content;
  border-radius: 4px;
  line-height: 15px;
  white-space: nowrap;
  max-width: max-content;
  width: max-content;
  display: none;
  text-align: center;
  z-index: 99;
  line-height: normal;
}

.tollTipCustom:hover .tolltipContent {
  display: block;
}

.renameFolderImg, .renameFolderRemoveImg {
  display: inline-block;
  max-width: 18px;
  cursor: pointer;
  vertical-align: -1px;
}

.renameFolderRemoveImg {
  max-width: 30px;
  vertical-align: -8px;
  margin-left: 10px;
}

.publicUseBlock.publishedBlock .mouseHoverInfo {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgb(0 0 0 / 15%);
  color: #040404;
  width: 450px;
  right: 0px;
  left: auto;
  padding: 12px 15px;
  cursor: auto;
}

.publicUseBlock:hover .publicUseBlk {
  background: #B1AAA1;
  color: #1E1B19;
}

.publicUseBlk.published {
  background-color: #E9E0C1;
}

.publicUseBlk.published img{
  width: 10px;
  display: inline-block;
  height: 23px;
}

.publicUseBlk.published::after {
  z-index: -1;
}

.mouseHoverInfo {
  background: #1E1B19;
  border-radius: 4px;
  padding: 4px 12px 7px;
  width: 290px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  top: 32px;
  left: 0px;
  z-index: 9;
  display: none;
}
.createNewFolderDropdown {
  padding: 0px !important; padding: 0px; font-size: 15px; line-height: 24px; color: #937206 !important; font-weight: normal;
}

.customNewFolder  .navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  border: 0px;
  border-radius: 8px;
}

.goldenText{
  color: #C49900  !important;
  border-color: #C49900 !important;
  font-weight: normal;
}

.customToolTipWorkspace {
  display: none;
  position: absolute;
  top: 28px;
  left: 0px;
  z-index: 99;
  border-radius: 4px;
  padding: 0px 9px;
  font-size: 13px;
  line-height: 27px;
  font-size: 13px;
  background: #413E3C;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: max-content;
}

.tollTipWorkspace:hover .customToolTipWorkspace {
  display: block;
}

ul.uploadAssetsClassifications li.tollTipWorkspace.addClass .customToolTipWorkspace {
  right: 0;
}

.customToolTipWorkspace.infoHover {
  width: 380px;
  left: -196px;
  white-space: normal;
  font-size: 13px;
  font-weight: normal;
}

svg.classificationsIcon.disablePermission path {
  stroke: #bab8b1;
}

.classificationsIcon {
  cursor: pointer;
}

.classificationsIcon-disabled {
  cursor: auto;
}

.classificationsIcon:hover path {
  stroke:#DAAA00;
}

.classificationsIcon.manageUsers:hover path {
  fill: #DAAA00;
  stroke: none;
}
/* custom checkbox end */

.classificationsIcon-disabled.manageUsers path {
  fill: #bab8b1;
}

.tollTipWorkspace.workspaceInfoHover .classificationsIcon:hover path {
  stroke:none;
}

.gallery-view-block {
  float: right;
  border-left: 1px solid #EFEEE9;
}

.no-items {
  width: 100%;
  height: 500px;
  text-align: center;
  padding: 70px 0;
  color: #BAB8B2;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
.no-items img {
  display: block;
  margin: 0px auto 14px;
}
.search-bar{
  position: relative;
  padding: 8px 45px 8px 46px;
  border-radius: 8px;
  border: 1px solid #F6F5F2;
  width: 100%;
  background-color: #F6F5F2;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #000;
}
.search-bar::placeholder{
  font-weight: 100;
}
.search-btn{
  position: absolute;
  left: 6px;
  top: 0px;
  bottom: 0px;
  border: unset;
  padding: 0px 10px;
  background-color: transparent;
  z-index: 1;
}
.search-btn img{
  width: 19px;
}
input.search-bar::placeholder{
  color: #413E3C !important;
}
.pb-30{
  padding-bottom: 30px !important;
}
.header-content .customWidth {
  width: calc(100% - 67px);
  display: inline-block;
  min-height: 39px;
  vertical-align: middle;
}
.header-content .main-title{
  font-size: 24px;
  line-height: 22px;
  color: #000000;
  font-weight: normal;
  margin-bottom: 9px !important;
  display: block;
  /* display: contents; */
}
.header-content h6{
font-size: 15px;
line-height: 24px;
color: #23211E;
padding-top: 5px;
font-weight: normal;
}
.folderCircle{
height: 138px;
width: 138px;
background: #e8e6df;
border-radius: 50%;
display: block;
font-size: 13px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
color: #937206;
font-weight: normal;
padding: 8px;
transition: .4s;
}
/* .firstLevel{
width: unset !important;
} */
.folderCircle:hover {
color: #C49900;
}
.folder-structure{
height: 139px;
/* background: url(~/../../../assets/images/yellow-background.svg); */
background: url(~/../../../assets/images/folder-workspace.svg) no-repeat left top / cover;
display: flex;
align-items: flex-end;
padding: 10px;
transition: 0.4s;
border-radius: 10px;
width: 214px;
}
.folderTitle{
font-size: 15px;
line-height: 22px;
color: #000;
font-weight: normal;
padding-bottom: 12px;
}

.folderAssets{
font-size: 13px;
line-height: 13px;
color: #737373;
}
.folder-content{
width: 100%;
/* padding: 15px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px; */
}
.folder-content p{
font-size: 14px;
line-height: 14px;
color: #000000;
font-weight: normal;
padding-bottom: 5px;
}
.folder-content span{
font-size: 13px;
line-height: 13px;
color: #737373;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
width: 100%;
display: inline-block;
}
.breadcrumb-active {
  cursor: pointer;
  text-decoration: none;
  color: rgba(35, 33, 30, 0.6);
}
.breadcrumb-active:hover {
  text-decoration: underline;
  color: rgba(35, 33, 30, 0.6);
}

.breadcrumb-not-active {
  cursor: default;
  text-decoration: none;
  /* color: rgba(35, 33, 30, 0.6); */
  color: #24221f;
}
.header-content h6.tollTipCustom span{
  color: rgba(35, 33, 30, 0.6);
}
.header-content h6.tollTipCustom span{
  color: rgba(35, 33, 30, 0.6);
}
.header-content h6.tollTipCustom span {
  transition: max-width 600ms ease-in-out;
  max-width: 5em;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-content h6.tollTipCustom span:hover {
  max-width: 100em;
}
/* .header-content h6.tollTipCustom span:nth-last-child(1),
.header-content h6.tollTipCustom span:nth-last-child(2) {
  max-width: 300em;
} */
.header-content h6.tollTipCustom span.copy-section {
  max-width: 300em !important;
} 
.edit-icon {
  cursor: pointer;
}
ul.uploadAssetsClassifications li.edit-icon:hover path {
  fill: transparent;
  stroke: #DAAA00;
}
.workspaeName {
  text-align: left; 
  word-break: break-all;
  display: inline-block;
  vertical-align: middle; 
  position: relative; 
  z-index: 99;
  max-width: calc(100% - 30px);
}
.workspaeName .tolltipContent {
  top: 28px;
  height: auto;
  white-space: break-spaces;
  text-align: left;
  padding: 5px 10px; max-width: 100vh;
}
.itemTitle {
  white-space: nowrap;
  width: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.folderTitle {
  white-space: nowrap;
  max-width: calc(100% - 28px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding: 0px;
  padding-right: 10px;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}
.folderTitle.isPrivateFolderName {
  max-width: calc(100% - 91px);
}

.input-renamer {
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0px;
  max-width: calc(100% - 80px);
}

.input-renamer::after {
  height: 1px;
}
.input-sizer input {
  border-radius: 10px;
  background: #FBF7E6;
  padding: 2px 10px 4px 10px;
  line-height: normal;
  font-weight: normal;
}
.dateFileSize {
  padding-top: 10px;
  overflow: hidden;
}
.tollTipCustom {
  position: relative;
}

.input-renamer::after,
.input-renamer input {
  width: auto;
  min-width: 1em;
  grid-area: 1 / 2;
  font: inherit;
  margin: 0;
  resize: none;
  background: none;
  appearance: none;
  border: 0px;
  border-radius: 10px;
  background: #FBF7E6;
  padding: 0px 10px 4px 10px;
  line-height: normal;
  font-weight: normal;
  margin: 0px 0px 6px -9.8px !important;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.input-renamer::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
}
span.addVerticalAlignMiddle {
  vertical-align: 5px !important;
}
.itemTitleContent {
  /* width: calc(100% - 30px); */
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  display: inline-block;
  position: relative;
  z-index: 9;
  white-space: nowrap;
  vertical-align: -2px;
}
.permissionRequired {
  text-align: center;
}
.folderImg {
  background-image: url(../../../assets/images/folder-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 170px;
  width: 208px;
  position: relative;
  padding: 15px;
  margin: 0px auto;
}
.folderImg .lockIcon {
  position: absolute;
  top: 15px;
  left: 15px;
}
.views {
  width: 100%;
  padding-top: 20px;
  text-align: right;
  position: relative;
}
.views img {
  margin-left: 15px;
  opacity: 0.2;
  width: 28px;
  cursor: pointer;
}

ul.uploadAssetsClassifications {
  display: inline-block;
  margin-bottom: 0px;
  margin-right: 20px;
  min-height: 34px;
}
ul.uploadAssetsClassifications li {
  float: left;
  margin-right: 25px;
  vertical-align: middle;
  position: relative;
  /* cursor: pointer; */
}
ul.uploadAssetsClassifications li:last-child {
  margin-right: 0px;
}
ul.uploadAssetsClassifications li:nth-child(2) .customToolTipWorkspace {
  left: auto;
  right: 0px;
}
ul.uploadAssetsClassifications li ul.subDropdownMenu {
  position: absolute;
  width: 250px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;
  text-align: left;
  top: 35px;
  right: 0px;
  z-index: 99;
  display: none;
}
ul.uploadAssetsClassifications li ul.subDropdownMenu li {
  margin: 0 0 20px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: #040404;
  cursor: pointer;
}
ul.uploadAssetsClassifications li ul.subDropdownMenu li:last-child {
  margin-bottom: 0px;
}
ul.uploadAssetsClassifications li:hover ul.subDropdownMenu {
  display: block;
  cursor: auto;
}
.createNew {
  margin-left: 0px;
}
.createNew, .deleteFolder, .recoverFolder {
  font-size: 15px;
  line-height: 31px;
  color: #937206;
  font-weight: normal;
  vertical-align: middle;
}
img, svg {
  display: inline-block;
}
.tollTipWorkspace {
  position: relative;
  line-height: normal;
}

.buttonCreate {
  padding-top: 3px;
  display: inline-block;
  margin-right: 0px;
  vertical-align: top;
}
.selectedItemBlock img {
  opacity: 1;
  height: 11px;
  margin-left: 5px;
  width: 11px;
  vertical-align: 0px;
}
ul.uploadAssetsClassifications li img {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  vertical-align: 0px;
  line-height: normal;
}
.selectedItemBlock {
  display: inline-block;
  background: #F4E6B3;
  border-radius: 8px;
  padding: 4px 8px;
  color: #937206;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-top: 1px;
}
.moveFolderBlock,
.downloadFileWorkspace {
  display: inline-block;
  position: relative;
}
.moveFolderBlock img, .downloadFileWorkspace img {
  opacity: 1;
  height: 18px;
  margin-left: 15px;
  width: 18px;
  vertical-align: -3px;
  margin-right: 6px;
}
.downloadFileWorkspace img {
  height: 26px;
  width: 26px;
  vertical-align: -8px;
  margin-right: 0px;
}
.errorMessage {
  color: #E03C31;
  font-size: 14px;
  float: left;
  line-height: 35px;
}
.dropdownCreate .btn:disabled {
  background: #E8E6DF;
  color: #BAB8B2;
  opacity: 1;
}
.deleteRecover {
  position: relative;
  z-index: 2;
  vertical-align: -5px;
  display: inline-block;
  cursor: pointer;
}
.deleteFolder {
  margin-right: 0px;
  position: relative;
  z-index: 2;
  line-height: normal;
  display: inline-block;
  vertical-align: 2px;
}
.deleteFolder svg {
  width: 20px;
  height: 22px;
  vertical-align: -5px;
}

.blackTetx {
  color: #333;
}
.actionIcon {
  width: 30px;
  text-align: center;
  cursor: pointer;
  margin-top: -15px;
  display: inline-block;
  margin: 5px 0px 0px 5px;
}
.customRenameBlock.input-sizer {
  margin: -8px 0px 0px -11.8px;
}
.customWidth:hover path, .downloadFileWorkspace:hover path, .deleteFolder:hover path {
  stroke: #DAAA00;
}
.invitePeople > span {
  display: inline-block;
  background: #E6F2FF;
  border-radius: 8px;
  line-height: 31px;
  padding: 0px 11px;
  color: #0072A2;
  font-family: 'brownregular';
  margin-top: 10px;
}

.invitePeople > span img {
  display: inline-block;
  vertical-align: 0px;
  cursor: pointer;
  margin-left: 5px;
}
.clickEvent {
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}
.views img.active {
  opacity: 1;
}
.publicUseBlk {
  background: #E6E2DA;
  border-radius: 4px;
  color: #645D57;
  padding: 0px 8px;
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
}
.publicUseBlk::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 200%;
  width: 100%;
}
.publicUseBlock:hover .publicUseBlk {
  background: #B1AAA1;
  color: #1E1B19;
}
.manageAccess {
  width: 67px;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}
.addignCollaborators img.collaboratorsIcon {
  display: block;
  margin: 0px auto 40px;
  max-width: 70px;
}
.addignCollaborators h2{
  color: #040404;
  text-align: center;
  padding-bottom: 40px;
  font-size: 22px;
  font-family: 'brownlight';
}
.addUsers {
  text-align: center;
}
.addUserBtn {
  display: inline-block;
  background: #937206;
  border-radius: 80px;
  padding: 9px 38px;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}
.addUserBtn-disabled {
  display: inline-block;
  background: #937206;
  border-radius: 80px;
  padding: 9px 38px;
  cursor: not-allowed;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}


/* custom checkbox start */
.internal-use .control-group {
  display: block;
}
.internal-use .control {
  display: block;
  position: relative;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  padding: 0px;
  padding-left: 30px;
  border: 0px;
  margin: 25px 0px 0px;
  color: #fff;
}
.internal-use .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.internal-use .control__indicator {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 4px;
}
.internal-use .control--radio .control__indicator {
  border-radius: 50%;
}
.internal-use .control:hover input ~ .control__indicator,
.internal-use .control input:focus ~ .control__indicator {
  background: #fff;
}
.internal-use .control input:checked ~ .control__indicator {
  background: #fff;
}
.internal-use .control:hover input:not([disabled]):checked ~ .control__indicator,
.internal-use .control input:checked:focus ~ .control__indicator {
  background: #fff;
}
.internal-use .control input:disabled ~ .control__indicator {
  background: #fff;
  opacity: 0.6;
  pointer-events: none;
}
.internal-use .control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.internal-use .control input:checked ~ .control__indicator:after {
  display: block;
}
.internal-use .control--checkbox .control__indicator:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #23211E;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.internal-use .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.internal-use .control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #23211E;
}
.internal-use .control--radio input:disabled ~ .control__indicator:after {
  background: #fff;
}

.dropdownCreate .control-group {
  display: block;
}
.dropdownCreate .control {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  padding: 0px;
  padding-left: 30px;
  border: 0px;
  margin: 0px 0px 0px;
  color: #040404;
}
.dropdownCreate .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.dropdownCreate .control__indicator {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #404040;
}
.dropdownCreate .control--radio .control__indicator {
  border-radius: 50%;
}
/* .dropdownCreate .control:hover input ~ .control__indicator, */
/* .dropdownCreate .control input:focus ~ .control__indicator {
  background: #006845;
} */
.dropdownCreate .control input:checked ~ .control__indicator {
  background: #006845;
}
/* .dropdownCreate .control:hover input:not([disabled]):checked ~ .control__indicator,
.dropdownCreate .control input:checked:focus ~ .control__indicator {
  background: #fff;
} */
.dropdownCreate .control input:disabled ~ .control__indicator {
  background: #fff;
  opacity: 0.6;
  pointer-events: none;
}
.dropdownCreate .control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.dropdownCreate .control input:checked ~ .control__indicator:after {
  display: block;
}
.dropdownCreate .control--checkbox .control__indicator:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.dropdownCreate .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #fff;
}
.dropdownCreate .control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #23211E;
}
.dropdownCreate .control--radio input:disabled ~ .control__indicator:after {
  background: #fff;
}
/* custom checkbox end */

a.downloadDisbable {
  color: gray!important;
}

a.downloadDisbable path {
  stroke: gray;
}

.delete-folder-action.activeHover {
opacity: 1;
}
.downloadFileWorkspace {
cursor: pointer;
z-index: 2;
}
.downloadFileWorkspace::after {
content: '';
display: block;
width: 100%;
height: 200%;
position: absolute;
top: 0px;
left: 0px;
z-index: -1;
}
.downloadFileWorkspace:hover .multiDownloadBlock {
display: block;
}
.removeMarginTop .control, .removeMarginTop {
margin-top: 0px !important;
}
.pt-15.removeMarginTop {
padding-top: 0px !important;
}
.classificationsIcon-disabled.manageUsers path {
fill: #bab8b1;
}
ul.uploadAssetsClassifications li:hover path,
.buttonCreate:hover path {
fill: #DAAA00;
}
.customWidth:hover path,
.downloadFileWorkspace:hover path,
.deleteFolder:hover path {
stroke: #DAAA00;
}
.downloadIcon {
width: 30px;
height: 30px;
}
.deleteFolder {
margin-right: 0px;
position: relative;
z-index: 2;
line-height: normal;
}
.deleteFolder svg{
width: 20px;
height: 22px;
vertical-align: -5px;
}

ul.uploadAssetsClassifications li.manageFolderIcon:hover path{
fill: transparent;
}

.pb-20 {
padding-bottom: 20px !important;
}
.pb-30 {
padding-bottom: 30px !important;
}
.copyedBlock {
width: auto;
max-width: 100px;
line-height: normal;
vertical-align: middle;
margin-left: 0px;
border-radius: 100px;
background: #E8E6DF;
white-space: nowrap;
text-align: left;
padding: 3px 10px 5px;
float: right;
}
.copyHover {
position: relative;
margin-left: 0px;
cursor: pointer;
}
.copyHoverInfo {
display: none;
top: 31px;
right: 0px;
background: #413E3C;
padding: 2px 7px;
color: #fff !important;
border-radius: 4px;
position: absolute;
z-index: 1;
width: 75px;
}
.copyHover:hover .copyHoverInfo {
display: block;
}
.deleteRecover .workspaceInfo {
display: none;
}
.deleteRecover:hover .workspaceInfo {
display: block;
}
.deleteRecover {
position: relative;
z-index: 2;
vertical-align: -5px;
cursor: pointer;
}
.deleteRecover::after {
content: '';
display: block;
height: 60px;
width: 100%;
z-index: 1;
position: absolute;
top: 0px;
right: 0px;
}
.document-img ul li {
display: block;
padding-bottom: 10px;
cursor: auto;
color: #fff;
}
.document-img ul li svg {
display: inline-block;
margin-right: 10px;
width: 21px !important;
vertical-align: -5px;
}
.deleteFolder:hover .document-img ul li path {
fill: #fff !important;
stroke: none !important;
}
.deleteFolder:hover .document-img ul li {
color: #fff !important;
}
.workspaceInfo .workspaceHeading, .workspaceInfo .workspaceHeading {
font-family: 'brownregular';
}
.renameAssets {
border-radius: 10px;
background: #ebe9e3;
padding: 2px 10px 4px 10px;
line-height: normal;
border: 0px;
}

div#dropzone {
position: absolute;
top: 0;
left: 0;
z-index: 9999999999;
width: 100%;
min-height: 300px;
height: 100%;
transition: visibility 175ms, opacity 175ms;
display: table;
color: #fff;
background: rgba(249, 247, 242, 0.85);
border: 2px dashed #937206;
border-radius: 8px;
}
div#textnode {
display: table-cell;
text-align: center;
vertical-align: top;
padding: 50px;
}
div#textnode img {
margin-bottom: 20px;
}
div#textnode h3 {
color: #937206;
font-size: 18px;
padding-bottom: 10px;
}
div#textnode p {
color: #DEB31A;
font-size: 14px;
}
.zoomImg {
display: inline-block;
position: relative;
vertical-align: middle;
z-index: 999;
}
.zoomImgBlock {
max-width: 200px;
position: absolute;
left: 0px;
bottom: 34px;
display: none;
z-index: 9;
background: #fff;
width: 250px;
}
.zoomImg:hover .zoomImgBlock {
display: block;
}
.zoomImgBlock img {
max-width: 100%;
width: 100%;
}
img.noPreviewImg {
width: 20px !important;
}
.workspaceLink a {
display: block;
padding: 12px 17px;
color: #3c3c3c;
padding-left: 50px;
}
.workspaceLink a:hover {
background: transparent;
color: #040404;
}
li.hoverPin.active-tab a {
color: #040404 !important;
}
.folderType {
padding-top: 20px;
}
.folderType label {
display: block;
margin-bottom: 10px;
}

.dropdownCreate .folderType .control input:checked ~ .control__indicator::after {
color: transparent;
border: solid transparent;
}
.dropdownCreate .folderType .control input:checked ~ .control__indicator::before {
content: '';
display: block;
height: 100%;
width: 100%;
border: 2px solid white;
border-radius: 100px;
background: #DAAA00;
}
.dropdownCreate .folderType .control input:checked ~ .control__indicator {
background: #DAAA00;
border: 1px solid #DAAA00;
}
.mb-10 {
margin-bottom: 10px !important;
}
.publishingAssets {
background: #E6F2FF;
border-radius: 8px;
padding: 8px 15px;
color: #0072A2;
font-weight: 400;
font-size: 14px;
line-height: 24px;
font-family: 'brownlight';
}
.publishingAssets::after {
content: '';
display: block;
clear: both;
}
.publishingAssets p {
color: #0072A2;
font-weight: 400;
font-size: 14px;
line-height: 24px;
font-family: 'brownlight';
padding-bottom: 10px;
}
.publishingAssets p strong {
font-family: 'brownregular';
font-weight: normal;
}
.publishingAssets ul li {
display: block;
width: 100%;
clear: left;
padding-bottom: 10px;
overflow: hidden;
}
.publishingAssets ul li span.leftCont {
float: left;
font-family: 'brownlight';
width: 50%;
}
.publishingAssets ul li span.rightCont {
width: 50%;
font-family: 'brownregular';
vertical-align: top;
float: right;
}
.publishingAssets ul li:last-child {
padding-bottom: 0px;
}

.createBtn ::ng-deep app-loader-small .text-center {
top: 0px !important;
left: 0px !important;
border-radius: 100px !important;
background: #fff !important;
}
.moveFolderImg {
width: auto;
position: relative;
display: inline-block;
margin: 0px;
cursor: pointer;
vertical-align: middle;
}
ul.uploadAssetsClassifications li:hover .moveIcon path,
.moveFolderImg .moveIcon:hover path,
ul.uploadAssetsClassifications .deleteRecover:hover path,
ul.uploadAssetsClassifications li:hover .downloadIcon path {
stroke: #DAAA00 !important;
fill: transparent !important;
}
ul.uploadAssetsClassifications li:hover .uncheckAfterSuccess.downloadDisbable path {
fill: transparent !important;
stroke: gray!important;
}

.download-btn:hover .uncheckAfterSuccess path,
ul.uploadAssetsClassifications li:hover .uncheckAfterSuccess path,
ul.uploadAssetsClassifications li:hover .deleteRecover .deleteFolder path {
fill: transparent !important;
}

.all-sectors .delete-folder-action {
position: absolute;
}


.input-sizer.customRenameBlock input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #000 !important;
opacity: 1; /* Firefox */
}

.input-sizer.customRenameBlock input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #000 !important;
}

.input-sizer.customRenameBlock input::-ms-input-placeholder { /* Microsoft Edge */
color: #000 !important;
}

img.closeIcon {
width: 20px !important;
float: right;
opacity: 1 !important;
}
.dropdownCreate.createFolder form {
clear: left;
width: 100%;
float: left;
padding-top: 10px;
}
.privateFileshare {
background: #E5F0EC;
border-radius: 8px;
padding: 4px 15px;
color: #006845;
font-weight: 400;
font-size: 14px;
line-height: 24px;
display: inline-block;
margin-top: 100px;
/* font-family: 'brownlight'; */
}
.addignCollaborators img.collaboratorsIcon {
display: block;
margin: 0px auto 40px;
max-width: 70px;
}
.publicUseBlk.published {
background-color: #E9E0C1;
}
.publicUseBlk.published img{
width: 10px;
display: inline-block;
height: 23px;
}
.publicUseBlock.publishedBlock .mouseHoverInfo {
background: #FFFFFF;
box-shadow: 0px 2px 8px rgb(0 0 0 / 15%);
color: #040404;
width: 450px;
right: 0px;
left: auto;
padding: 12px 15px;
cursor: auto;
}
.publicUseBlk.published::after {
z-index: -1;
}
.collapse{
cursor: pointer;
display: block;
background: #cdf;
}
.collapse + input{
display: none; /* hide the checkboxes */
}
.collapse + input + div{
display:none;
}
.collapse + input:checked + div{
display:block;
}
.dropdownCreate, .multiDownloadBlock {
  display:none;
  text-align: left;
}
.btn-disabled, .recover-btn-disabled {
  cursor: default;
  color: #E1BB33;
}
.btn-disabled {
  background-image: url(../../../assets/images/delete-disable-icon.svg);
  background-position: 0px 4px;
  background-repeat: no-repeat;
  background-size: 16px;
  filter: invert(0.5);
  opacity: 0.6;
}
.btn-disabled img, .recover-btn-disabled img {
  /* filter: invert(0.5); */
  opacity: 0;
}

.recover-btn-disabled {
  background-image: url(../../../assets/images/recover-disable-icon.svg);
  background-position: 0px 5px;
  background-repeat: no-repeat;
  background-size: 18px;
  filter: invert(0.5);
  opacity: 0.6;
}
.multiDownloadBlock {
  background: #23211E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  width: 300px;
  right: 0px;
  top: 40px;
}
.multiDownloadBlock p {
  color: #fff;
}

.downloadFileWorkspace:hover .multiDownloadBlock {
  display: block;
}
.removeMarginTop .control, .removeMarginTop {
  margin-top: 0px !important;
}
.pt-15.removeMarginTop {
  padding-top: 0px !important;
}
.classificationsIcon-disabled.manageUsers path {
  fill: #bab8b1;
}
ul.uploadAssetsClassifications li:hover path,
.buttonCreate:hover path {
  fill: #DAAA00;
}
.customWidth:hover path,
.downloadFileWorkspace:hover path,
.deleteFolder:hover path {
  stroke: #DAAA00;
}
.downloadIcon {
  width: 30px;
  height: 30px;
}
.deleteFolder {
  margin-right: 0px;
  position: relative;
  z-index: 2;
  line-height: normal;
}
.deleteFolder svg{
  width: 20px;
  height: 22px;
  vertical-align: -5px;
}

ul.uploadAssetsClassifications li.manageFolderIcon:hover path{
  fill: transparent;
}
.download-btn {
  float: right;
  padding-top: 25px;
  cursor: pointer;
  font-weight: 400;
}
.download-btn {float: right;padding-top: 25px;cursor: pointer;font-weight: normal;}
.download-btn a {text-decoration: none;color: #EDD580; outline: none;}
.download-btn svg {margin-right: 6px;vertical-align: top;}

.download-btn a.download-disabled {color: #BAB8B2 !important;}
.download-btn a.download-disabled path {
  stroke: #BAB8B2 !important;
}
.download-btn a.cancelDownload {
  margin-right: 25px;
}

.download-btn:hover .uncheckAfterSuccess path,
ul.uploadAssetsClassifications li:hover .uncheckAfterSuccess path,
ul.uploadAssetsClassifications li:hover .deleteRecover .deleteFolder path {
  fill: transparent !important;
}

.all-sectors .delete-folder-action {
  position: absolute;
}
.downloadFileWorkspace:after {
  content: "";
  display: block;
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
ul.uploadAssetsClassifications li {
  float: left;
  margin-right: 25px;
  vertical-align: middle;
  position: relative;
  /* cursor: pointer; */
}
ul.uploadAssetsClassifications li:last-child {
  margin-right: 0px;
}
ul.uploadAssetsClassifications li:nth-child(2) .customToolTipWorkspace {
  left: auto;
  right: 0px;
}
ul.uploadAssetsClassifications li ul.subDropdownMenu {
  position: absolute;
  width: 250px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;
  text-align: left;
  top: 35px;
  right: 0px;
  z-index: 99;
  display: none;
}
ul.uploadAssetsClassifications li ul.subDropdownMenu li {
  margin: 0 0 20px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: #040404;
  cursor: pointer;
}
ul.uploadAssetsClassifications li ul.subDropdownMenu li:last-child {
  margin-bottom: 0px;
}
ul.uploadAssetsClassifications li:hover ul.subDropdownMenu {
  display: block;
  cursor: auto;
}
ul.uploadAssetsClassifications li:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -19px;
  right: 0;
  z-index: -2;
}
ul.uploadAssetsClassifications .navbar-expand-lg .navbar-nav .dropdown-menu {
  /* position: absolute; */
  width: 250px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgb(0 0 0 / 15%);
  border-radius: 8px;
  padding: 24px;
  text-align: left;
  top: 35px;
  right: 0px;
  left: auto;
  border: 0px;
}
ul.uploadAssetsClassifications .navbar-expand-lg .navbar-nav .dropdown-menu li {
  padding-left: 0px;
  margin-bottom: 20px;
  cursor: pointer;
}
ul.uploadAssetsClassifications .navbar-expand-lg .navbar-nav .dropdown-menu li:hover {
  opacity: 0.5;
}
ul.uploadAssetsClassifications .navbar-expand-lg .navbar-nav .dropdown-menu li:last-child {
  margin-bottom: 0px;
}
.createNewFolderDropdown {
  padding: 0px !important; padding: 0px; font-size: 15px; line-height: 24px; color: #937206 !important; font-weight: normal;
}
.customNewFolder  .navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  border: 0px;
  border-radius: 8px;
}
.goldenText{
  color: #C49900  !important;
  border-color: #C49900 !important;
  font-weight: normal;
}

.workspaceInfo {
  background: #23211E;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 328px;
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 20px;
  top: 35px;
  text-align: left;
}
.workspaceInfoBlock {
  background: #23211E !important;
  width: 328px !important;
}
.workspaceInfo .workspaceHeading, .workspaceInfo p, .workspaceHeading, .workspaceInfoBlock p {
  color: #fff;
}
.workspaceInfo .workspaceHeading, .workspaceInfo .workspaceHeading {
  font-weight: normal;
  font-size: 15px;
  padding-bottom: 10px;
}
ul.uploadAssetsClassifications li.workspaceInfoHover .workspaceInfo {
  display: none;
}
ul.uploadAssetsClassifications li.workspaceInfoHover:hover .workspaceInfo {
  display: block;
}
.tollTipWorkspace.workspaceInfoHover .classificationsIcon:hover path {
  stroke:none;
}
ul.uploadAssetsClassifications li:after {
  content: '';
  display: block;
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: -19px;
  right: 0;
  z-index: 9;
}
.placeholder-search{
  position: absolute;
  right: 15px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 18px;
}