.four04{
    height: calc(100vh - 60px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
}
.four04 h1{
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-feature-settings: 'cpsp' on, 'kern' off;
    color: #FFFFFF;
}
.four04 p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.white-btn{
    font-size: 16px;
    line-height: 24px;
    color: #040505;
    background: #F6F5F2;
    border-radius: 24px;
    padding: 10px 20px;
    font-weight: 600;
}
