<section class="four04 flexible" style="background-image: url(../../assets/images/404.jpg);">
   <div class="container">
       <div class="row">
           <div class="col-xl-12 text-center">
               <h1 class="pb-3">THE PAGE YOU REQUESTED CANNOT BE<br> FOUND.</h1>
               <p class="pb-4 ">Either the page is not available, or the address (URL) you have entered is incorrect. </p>
               <a href="/" class="white-btn btn">Go to homepage</a>
           </div>
       </div>
    </div>
</section>