<!-- <app-loader [show]="loading"></app-loader> -->
<section *ngIf="isOpen" class="filter-modal pt-5">
  <div class="filter-box">
    <div class="filter-background">


    <div class="filter-box-header">
      <span style="font-size: 20px; margin-left: 0px; text-align: center; display: block; width: 100%;" *ngIf="selectedType === 'all'"> Filter all assets</span>
      <span style="font-size: 20px; margin-left: 0px; text-align: center; display: block; width: 100%;" *ngIf="selectedType === 'Picture'"> Filter images</span>
      <span style="font-size: 20px; margin-left: 0px; text-align: center; display: block; width: 100%;" *ngIf="selectedType === 'Video'"> Filter videos</span>
      <span style="font-size: 20px; margin-left: 0px; text-align: center; display: block; width: 100%;" *ngIf="selectedType === 'File'"> Filter files</span>
      <svg width="20" height="20" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="closeModal()" style="cursor: pointer;width: 30px">
        <path d="M7.00072 5.58599L11.9507 0.635986L13.3647 2.04999L8.41472 6.99999L13.3647 11.95L11.9507 13.364L7.00072 8.41399L2.05072 13.364L0.636719 11.95L5.58672 6.99999L0.636719 2.04999L2.05072 0.635986L7.00072 5.58599Z" fill="#ffffff"/>
      </svg>
    </div>
    <div class="filter-assets-count">
      <span *ngIf="!assetCountLoader" (click)="closeModal()">Show {{assetCount}} assets</span>
      <span *ngIf="assetCountLoader" (click)="closeModal()" class="upload-loading">
        <app-loader-small [show]="true"></app-loader-small>
      </span>
    </div>
    <div class="filter-form">
      <div class="filter-form-left">
        <div class="filter-form-row">
          <div class="filter-dropdown-label">Format</div>
          <ng-multiselect-dropdown
            [settings]="dropdownSettings"
            [data]="mimeTypeData"
            [ngModel]="selectedMimetypeByType"
            (onSelect)="selectMimeType($event)"
            (onSelectAll)="selectMimeType($event)"
            (onDeSelect)="deSelectFormat($event)"
            (onDeSelectAll)="deSelectFormat($event)"
          ></ng-multiselect-dropdown>
        </div>
        <div *ngIf="selectedType === 'all' || selectedType === 'Picture'" class="filter-form-row">
          <div class="filter-dropdown-label">Image width</div>
          <ng-multiselect-dropdown
            [settings]="dropdownSettings"
            [data]="assetWidthData"
            [ngModel]="searchCriteria.asset_width_agg"
            (onSelect)="selectWidth($event)"
            (onSelectAll)="selectWidth($event)"
            (onDeSelect)="deSelectWidth($event)"
            (onDeSelectAll)="deSelectWidth($event)"
          ></ng-multiselect-dropdown>
        </div>
        <div *ngIf="selectedType === 'all' || selectedType === 'Picture'" class="filter-form-row">
          <div class="filter-dropdown-label">Image height</div>
          <ng-multiselect-dropdown
            [settings]="dropdownSettings"
            [data]="assetHeightData"
            [ngModel]="searchCriteria.asset_height_agg"
            (onSelect)="selectHeight($event)"
            (onSelectAll)="selectHeight($event)"
            (onDeSelect)="deSelectHeight($event)"
            (onDeSelectAll)="deSelectHeight($event)"
          ></ng-multiselect-dropdown>
        </div>
      </div>
      <div class="filter-form-right">
        <!-- <div class="filter-form-row">
          <div class="filter-dropdown-label">Date uploaded</div>
          <ng-multiselect-dropdown
            [settings]="dropdownSettings"
            [data]="createdAtData"
            [ngModel]="searchCriteria.dublincore_created_agg"
            (onSelect)="selectCreatedAt($event)"
            (onSelectAll)="selectCreatedAt($event)"
            (onDeSelect)="deSelectCreatedAt($event)"
            (onDeSelectAll)="deSelectCreatedAt($event)"
          ></ng-multiselect-dropdown>
        </div> -->
        <div *ngIf="selectedType === 'all' || selectedType === 'Video'" class="filter-form-row">
          <div class="filter-dropdown-label">Video duration</div>
          <ng-multiselect-dropdown
            [settings]="dropdownSettings"
            [data]="videoSizeData"
            [ngModel]="searchCriteria.video_duration_agg"
            (onSelect)="selectVideoDuration($event)"
            (onSelectAll)="selectVideoDuration($event)"
            (onDeSelect)="deSelectVideoDuration($event)"
            (onDeSelectAll)="deSelectVideoDuration($event)"
          ></ng-multiselect-dropdown>
        </div>

      </div>
    </div>
    <div class="row makePrivate">
      <div class="col-xl-12">
        <label class="control control--checkbox">
          <input
            autocomplete="off"
            type="checkbox"
            checked="checked"
            (change)="onCheckIncludePrivate($event)"
            [(ngModel)]="includePrivate"
            [ngModelOptions]="{standalone: true}"
          />
          Only show assets that can be used publicly
         <div class="control__indicator" style="top: -1px;left: 0px;"></div>
        </label>
      </div>
      <div class="col-xl-12">
        <label class="control control--checkbox">
          <input
            autocomplete="off"
            type="checkbox"
            checked="checked"
            (change)="onCheckDownloadApproval($event)"
            [(ngModel)]="downloadApproval"
            [ngModelOptions]="{standalone: true}"
          />
          Only show assets that don't require usage approval
         <div class="control__indicator" style="top: -1px;left: 0px;"></div>
        </label>
      </div>
    </div>
  </div>
  </div>
</section>
