.sidepanel {
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 9999; 
    top: 0;
    left: 0px;
    padding: unset;
    background-image: url(~/../../../../assets/images/SidePanel.png); 
    overflow-x: hidden; 
    padding: 25px 15px;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
}
.sidepanel a:hover {
    color: #f1f1f1;
}
.sidepanel.closeBtn {
    left: -50px;
}
.openbtn {
    font-size: 14px;
    cursor: pointer;
    color: white;
    border: none;
    transition: 0.4s;
    background-color: unset;
    z-index: 999;
    position: fixed;
    top: 38px;
    padding: 0px;
}
.openbtn span{
    padding-left: 10px;
    display: inline-block;
}
.filter1{
    display: block;
}
.filter2{
    display: none;
}
.openbtn:hover {
    background-color: transparent;
}
.shiftFilter .openbtn span{
    /* display: none; */
    color: #EBC03F;
}
.shiftFilter .openbtn .filter1 {
    display: none;
}
.shiftFilter .openbtn .filter2 {
    display: block;
}
#main{
    position: absolute;
    top: 20px;
    transition: 0.3s;
}
.openbtn img{
    transform: rotate(180deg);
}
.closeBtn#main-sidebar{
    width: 0px !important;
}
.form-group{
    display: block;
}
.accordion-button::after{
    display: none;
}
.closeBtn#main-sidebar .form-group{
    display: none;
}
.shiftFilter{
    left: 290px ;
}
.sidebarList ul{
    list-style: none;
    padding: 0px;
}
.sidebarList ul li{
    width: 46%;
}
.mr-2{
    margin-right: 8px;
}
.btn-check:active+ .btn-outline-primary, .btn-check:checked+ .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active{
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    transition: unset;
    outline: 0;
}
.active .btn-outline-primary, .btn-outline-primary:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    transition: unset;
    outline: 0;
}
.btn-outline-primary{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 14px;
    line-height: 22px;
    padding: 7px 0px;
    text-align: center;
    display: block;
    border-radius: 8px;
    width: 100%;
    transition: unset;
}
.btn-outline-primary:focus{
    outline: 0;
    box-shadow: unset !important;
}
.sidebarList h6{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 7px;
}
#main-sidebar h3{
    font-size: 20px;
    color: #fff;
}
.file-type ul li{
    width: 29%;
}
.accordion-item{
    background-color: unset;
    border: unset;
    padding: unset;
}
.accordion-button{
    background-color: unset;
    box-shadow: unset;
    padding: unset;
}
.accordion-body{
    padding: unset;
}
.dropdown button{
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: transparent;
    width: 100%;
    position: relative;
    text-align: left;
    padding: 9px;
    margin-top: 10px;
    color: #fff;
}
.dropdown-menu{
    margin-top: 0px !important;
    width: 100%;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    position: relative !important;
    transform: unset !important;
    border-top: unset;
    border-radius: 8px;
}
.dropdown-item{
    padding: 3px 13px !important;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}
.dropdown-menu li {
    width: 100% !important;
}
.dropdown-toggle::after{
    right: 10px;
    position: absolute;
    top: 19px;
    bottom: 0;
    margin: auto;
}
.search-btn{
    position: absolute;
    right: 0px;
    background-color: #808080;
    border-radius: 2px;
    border: unset;
    padding: 10px 10px;
}
.search-btn img{
    filter: invert(1);
    width: 18px;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #fff;
    color: #000 !important;
}
.colorPicker{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

/* .shiftFilter{
    left: 10px ;
} */
.min-height{
    position: relative;
}
.btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active{
    background-color: #EBC03F;
    color: #000;
    border-color: #EBC03F;
}
.active .btn-outline-primary, .btn-outline-primary:hover{
    background-color: #EBC03F;
    color: #000;
    border-color: #EBC03F;
}
button:focus{
    box-shadow: unset;
    outline: 0;
}
.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus{
    box-shadow: unset;
}
.resetFilter {
    padding: 15px 0px;
}
