<section class="sub-header" [ngClass]="{ afterSearch: searched }">
  <div class="container mobileContainer">
    <div class="row">
      <div class="col-xl-7 offset-xl-3 text-left">
        <!-- <h2 class="pb-4 discover"><a href="/" style="color: #fff;" >Discover NEOM.</a></h2> -->
        <form>
          <div>
            <!-- <div class="sectorDrop">
              <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor ngbDropdownToggle>{{sectorSelected || 'All sectors'}} </button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual" class="sectorDropMain" style="z-index: 1;top: -3px;">
                  <button ngbDropdownItem class="sectorDropBtn" (click)="sectorSelect(null)">All sectors</button>
                  <button *ngFor="let sector of sectors" ngbDropdownItem class="sectorDropBtn" (click)="sectorSelect(sector)">{{sector}}</button>
                </div>
              </div>
            </div> -->
            <!-- <div class="dropdown">
              <select class="btn" style="background-color: white; height: 44px; text-align: left;" (change)="dropdownMenu($event)">
                <option class="dropdown-item" value='' selected>All assets</option>
                <option class="dropdown-item" value='dc:created'>Created</option>
                <option class="dropdown-item" value='dc:modified'>Modified</option>
                <option class="dropdown-item" value='dc:lastContributor'>Last Contibutor</option>
                <option class="dropdown-item" value='state'>State</option>
                <option class="dropdown-item" value='dc:nature'>Nature</option>
                <option class="dropdown-item" value='dc:coverage'>Coverage</option>
              </select>
            </div> -->
            <!-- <app-search></app-search> -->
            <div
              style="position: relative; z-index: 99; pointer-events: all"
              class="searchDiv"
            >
              <form (ngSubmit)="searchOutputFn(searchText)" autocomplete="off">
                <button class="primary search-btn">
                  <img src="../../../assets/images/search-icon.svg" />
                </button>
                <input
                  [ngModel]="searchText"
                  (ngModelChange)="onSearchBarChange($event)"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  placeholder="Search assets..."
                  class="search-bar"
                  [ngClass]="{ removeBorderRadious: searchPopup }"
                  (blur)="blurOnSearch()"
                  (click)="inputClicked()"
                  (clickOutside)="outClick()"
                  bindLabel="id"
                  bindValue="id"
                  [multiple]="false"
                  [hideSelected]="true"
                  [minTermLength]="2"
                  [loading]="userLoading"
                  typeToSearchText="Search users"
                  [typeahead]="userWorkspaceInput$"
                />
                <app-loader-small [show]="userLoading"></app-loader-small>
                <img
                  *ngIf="searchText"
                  style="cursor: pointer"
                  (click)="resetSearch()"
                  src="../assets/images/circle-close-gray.png"
                  class="placeholder-search"
                />
                <!-- <img src="https://img.icons8.com/material-outlined/24/000000/search--v1.png" class="placeholder-search"> -->
                <!-- <button ngIf="search" class="btn" style="position: absolute; right: 39px; top: 3px;">x</button> -->

                <div
                  class="searchPopup"
                  
                  id="customScrollBar"
                >
                  <!-- <div class="search-list">
                      <a href="#">Traveller</a>
                      <a href="#">Travelling</a>
                      <a href="#">Tourism</a>
                      <a href="#">Tourist</a>
                      <a href="#">Trip</a>
                    </div> -->

                  <div class="recent-searches" *ngIf="loadWorkSpace && !userLoading">
                    <div class="heading" *ngIf="searchedAdeadData?.length>0">Workspace Folders</div>
                    <ul
                      class="recent-searches-folder workspaceFoldersScrollBar"
                    >
                      <li
                        *ngFor="let typeAheadItem of searchedAdeadData"
                        [routerLink]="['/workspace']"
                        [queryParams]="{ folder: typeAheadItem.uid }"
                      >
                          <img
                            src="../../../assets/images/icon_folder_gray.svg"
                            alt=""
                            class="folder-icon"
                          />
                          <span
                            class="folder-text"
                            *ngFor="let str of splitStr(typeAheadItem.title)"
                            [ngClass]="
                              highlightStr(str) ? 'highLightColor' : ''
                            "
                          >
                            {{ str }}&nbsp;</span
                          >

                          <span class="workspace-folders">/{{typeAheadItem.path.split('/')[1]}}</span>
                      </li>
                    </ul>
                  </div>

                  <div class="recent-searches" *ngIf="!loadWorkSpace">
                    <div class="heading" *ngIf="recentSearch?.length > 0">
                      Your Recent Searches
                      <div
                        class="clearSearch"
                        (click)="deleteRecentTags($event)"
                      >
                        Clear
                      </div>
                    </div>
                    <ul class="recent-searches-tags">
                      <li *ngFor="let search of recentSearch; let i = index">
                        <a
                          style="cursor: pointer"
                          *ngIf="search.trim() !== ''"
                          (click)="
                            searchText = search; searchOutputFn(searchText)
                          "
                          >{{
                            sharedService.capitaliseSelectiveTags(search)
                          }}</a
                        >
                      </li>
                    </ul>
                  </div>

                  <div class="recent-searches" *ngIf="!loadWorkSpace">
                    <div class="heading" *ngIf="tagsMetadataNew?.buckets?.length > 0">Trending Searches</div>
                    <!-- <div class="heading" *ngIf="showRelatedSearch && tagsMetadataNew?.buckets.length>0">Related Tags</div> -->
                    <ul class="recent-searches-tags">
                      <li
                        *ngFor="
                          let bucket of tagsMetadataNew?.buckets;
                          let i = index
                        "
                      >
                        <a
                          *ngIf="i < 13"
                          style="cursor: pointer"
                          (click)="
                            searchText = bucket.key; searchOutputFn(searchText)
                          "
                          >{{
                            sharedService.capitaliseSelectiveTags(bucket.key)
                          }}</a
                        >
                      </li>
                    </ul>
                  </div>

                  <div class="recent-searches">
                      <div class="heading">All Assets</div>
                      <ul class="recent-searches-tags">
                        <li class="show-something" style="cursor: pointer;"> <a (click)="showEverything()">Show me everything</a></li>
                      </ul>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </form>
        <!-- <div class="search-tags pt-2">
          <div class="customTagSlider">
            <ngx-slick-carousel class="carousel"
              #slickModal="slick-carousel"
              [config]="slideConfig" >
              <div ngxSlickItem *ngFor="let bucket of tagsMetadata?.buckets; let i = index" class="slide">
                <div class="item" [id]="bucket.id">
                  <a class="card" style="cursor: pointer;" (click)="searchText=bucket.key; searchOutputFn(searchText)" >{{sharedService.capitaliseSelectiveTags(bucket.key)}}</a>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <!-- sprint16 start -->
  <!-- <div class="video-icon" (click)="openSm(content)" *ngIf="modalOpen && !searched">
   <div class="playIcon"></div> -/->
    <img src="../../../assets/images/personalizedVideo.svg" />
  </div> -->

  <!-- <ng-template #content let-modal>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); closeModal()">
      <img src="../../../assets/images/modalclose.svg" />
    </button>
    <div class="modal-body fixx">
      <app-loader-small [show]="modalLoading"></app-loader-small>
      <div class="modal-body-content" *ngIf="hideVideo && !videoResponse && !videoCompleted && showItemOnlyOnce" (click)="clickVideoIcon()">
        <div class="playIcon"></div>
        <img src="../../../assets/images/video-background-pic.png" />
      </div>
      <div class="select-an-area" *ngIf="selectArea && !videoResponse && !videoCompleted && showItemOnlyOnce">
        <img src="../../../assets/images/logo-neom.png" class="logo" />
        <h3>Please select an area of interest.</h3>
        <ng-select
          class="pointer"
          [items]="allSectors"
          ngDefaultControl
          placeholder="Select a sector"
          [(ngModel)]="sectorSelected"
          bindLabel="label"
          bindValue="value"
          [closeOnSelect]
          [searchable]="false" [clearable]="false">
        </ng-select>
        <div *ngIf="sectorSelected" class="next-arrow">
          <!-- <i (click)="playPersonalizedVideo()" class="fa fa-arrow-circle-o-right" style="cursor: pointer;" aria-hidden="true"></i> -/->
          <img src="../../../assets/images/left-arrow-video.svg" class="logo pointer" (click)="playPersonalizedVideo()" />
        </div>

      </div>

      <div class="" *ngIf="defaultVideoSrc && !videoCompleted">
       <div class="ssector">
        <!-- <span>Change sector</span> -/->
        <ng-select [items]="allSectors" class="sectorsss"
          ngDefaultControl
          placeholder="Select a sector"
          [(ngModel)]="sectorSelected"
          bindLabel="label"
          bindValue="value"
          (change)="playPersonalizedVideo()"
          [closeOnSelect]
          [searchable]="false" [clearable]="false"
          >
        </ng-select>
       </div>
          <video style="width: 100%" preload="false" autoplay  controls tabindex="0">
            <source [src]=defaultVideoSrc type="video/mp4" />
          </video>

         <!-- <video
            style="width: 100%"
            autoplay
            controls
            [src]=defaultVideoSrc
            (ended)="videoPayEnded($event)"
          ></video> -/->

      </div>


      <!-- video thankyou section -/->
      <div *ngIf="videoCompleted" class="thankyou-popup text-center">
        <div class="">
          <img src="../../../assets/images/logo-neom.png" style="width: 50px;">
          <h2>Thanks for watching.</h2>
          <p>Start discovering NEOM’s digital assets by using the search. You can search with a specific keyword, select a sector and get keyword suggestions from the Ground X AI.</p>
          <img (click)="modal.dismiss('Cross click'); closeModal()" src="../../../assets/images/Btn Next.png" style="width: 30px; cursor: pointer;">
        </div>
      </div>
    </div>

  </ng-template> -->
  <!-- sprint16 end -->

  <ng-template #clearSearchResult let-modal>
    <div class="modal-body clearSearchModal">
      <p>Are you sure you want to clear search history?</p>

      <div class="modal-footer">
        <div
          class="closeModal"
          (click)="modal.dismiss('Cross click'); closeModal()"
        >
          No
        </div>
        <div
          class="updateModal"
          (click)="deleteRecentTags($event); modal.dismiss('Cross click')"
        >
          Yes
        </div>
      </div>
    </div>
  </ng-template>
</section>
<!-- <app-search></app-search> -->
