.sub-header{
    /* background-image: url(~/../../../../assets/images/HeaderBackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 217px; */
    /* padding-top: 21px !important;
    padding-bottom: 40px; */
    padding: 10px 0px 10px !important;
}
.sub-header h2{
    color: #fff;
    letter-spacing: 0.8px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.search-bar{
    position: relative;
    padding: 15px 60px 15px 62px;
    border-radius: 8px;
    border: 1px solid #23211E;
    background: #23211E;
    width: 100%;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
}
::placeholder{
    font-weight: 100 !important
}
::ng-deep .navbar{
    margin-bottom: unset;
    padding: unset
}
.placeholder-search{
    position: absolute;
    right: 26px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 18px;
}
.sectorDrop button#dropdownManual{
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    background-color: #FDFDFD;
    width: 200px;
    position: relative;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    text-align: left;
    font-size: 15px;
    line-height: 22px;
    padding: 10px 12px;
    color: #000;
    z-index: 9;
}
.sectorDrop button#dropdownManual:focus{
    box-shadow: unset;
    outline: 0;
}
.sectorDropMain{
    top: -8px !important;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    background: #fff;
    padding-top: 15px;
    height: 140px;
    overflow-y: scroll;
    width: 100%;
    z-index: 2 !important;
}
.sectorDropMain::-webkit-scrollbar {
    display: none;
  }
.sectorDropBtn:focus, .sectorDropBtn:hover{
    background-color: #EBC03F !important;
    color: #2B2825 !important;
}
.dropup .sectorDropMain.dropdown-menu {
    top: 24px !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    padding-top: 8px;
    /* padding-bottom: 37px !important; */
    height: 140px;
    background: #fff;
    width: 100%;
}
.dropup .dropdown-toggle::after {
    top: unset;
    bottom: 14px;
}
.sectorDropBtn{
    font-size: 15px;
line-height: 22px;
color: #404040;
background-color: #fff;
}
/* .dropdown-menu{
    margin: 0px 0px 0px 0px;
    margin-top: -2px !important;
}
.dropdown-item{
    padding: 3px 13px;
} */
.dropdown-toggle::after{
    right: 10px;
    position: absolute;
    top: 19px;
    bottom: 0;
    margin: auto;
}
.search-btn{
    position: absolute;
    left: 0px;
    border-radius: 2px;
    border: unset;
    padding: 16px 11px 18px 24px;
    background-color: transparent;
    z-index: 1;
}
.search-btn img{
    width: 20px;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #5FCAD2;
    color: #fff;
}
.search-tags ul{
    padding: 0px;
    list-style: none;
    justify-content: center;
}
.search-tags ul li a{
    background-color: #000;
    font-size: 14px;
    line-height: 11px;
    border-radius: 20px;
    padding: 14px 22px;
    color: #fff;
    text-decoration: unset;
    margin: 0px 5px;
    display: block;
}

.tags-metadata ul {
    padding-top: 10px;
  }
  .tags-metadata ul li {
    padding-bottom: 5px;
  }
  .tags-metadata ul li a{
    background-color: #000;
    font-size: 14px;
    line-height: 6px;
    border-radius: 20px;
    padding: 17px 22px;
    color: #fff;
    text-decoration: unset;
    margin: 0px 5px;
    display: inline-block;
  }
  .scrolling-wrapper {
    /* overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; */
    /* max-width: 610px; */
    margin: 0 auto;
}
.scrolling-wrapper .card  {
    display: inline-block;
    width: auto;
    min-width: 70px;
    height: auto;
    background-size: cover;
    position: relative;
    /* margin-left: 5px; */
    /* overflow: hidden; */
    background-color: black;
    color: white;
    border-radius: 24px;
    border: 0px;
    padding: 5px 10px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
}
::-webkit-scrollbar {
    display: none;
  }

/* ::ng-deep .owl-stage {
    display: flex !important;
    display: inline-block !important;
    float: left !important;
} */
::ng-deep .owl-theme .owl-nav{
    position: relative;
    top: -35px;
    left: 0;
    right: 0;
}
::ng-deep .owl-prev {
    position: absolute;
    left: -25px !important;
    /* z-index: 99999; */
    bottom: -10px;
}
::ng-deep .owl-stage-outer {
    /* width: 590px; */
    overflow: hidden;
    margin: 0 !important;
}
::ng-deep .owl-next {
    position: absolute;
    right: -26px !important;
    bottom: -10px;
}

/* sprint16 start */
.sub-header{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
    pointer-events: none;
    /* background-color: #040404; */
}
.video-icon {
    height: 70px;
    width: 70px;
    position: absolute;
    left: 3.75rem;
    bottom: 1.75rem;
    border-radius: 100px;
    background: transparent;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}
.video-icon img {
    max-width: 100%;
    position: relative;
}
.playIcon {
    display: block;
    position: absolute;
    margin: 25px auto;
    background-image: url(../../../assets/images/button-play.svg);
    background-size: contain;
    height: 30px;
    width: 30px;
    z-index: 9;
    left: 25px;
}
.modal-body-content .playIcon {
    margin: 0px auto;
    height: 100%;
    width: 100%;

    left: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px;
    cursor: pointer;
  }
  .fixx{
    height: 290px;
    width: 476px;
  }
  .modal-body-content img{
      height: 290px;
  }
  video{
      height: 290px;
      object-fit: cover;
  }
  .select-an-area{
    height: 290px;
    text-align: center;
    padding: 16px 60px
  }
  .select-an-area .logo {
    max-width: 40px;
    display: block;
    clear: both;
    margin: 0px auto;
  }
  .select-an-area h3 {
    color: #fff;
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .next-arrow {
    padding-top: 60px;
  }
  .select-an-area .next-arrow .logo {
    width: 30px;
  }
  .next-arrow i {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    color: #7d7d7d;
  }
  .modal-body-content {
    min-height: 290px;
    background-image: linear-gradient(#2b8aa6, #79cad8);
    border-radius: 10px;
  }
/* sprint16 end */
.thankyou-popup{
    padding: 30px;
    background: #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
.thankyou-popup h2{
    font-size: 15px;
    line-height: 47px;
    text-align: center;  
    color: #FFFFFF; 
}
.thankyou-popup p{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 0px;
}
video{
    border-radius: 8px;
}
.ssector {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    right: 10px;
    top: 2px;
    z-index: 9;
    width: 148px;
    cursor: pointer !important;
}
::ng-deep .ssector .ng-select{
    width: 148px;
    border-color: #DEB31A !important;
}
/* .ssector .ng-select:focus{
 outline: none;
 border: unset;
} */
.ssector span{
    font-size: 10px;
    line-height: 47px;
    color: #FFFFFF;
    display: block;
    padding-right: 15px;
}
::ng-deep .ng-select .ng-select-container {
    color: #fff !important;
    background-color: transparent;
    border-radius: 0px;
    border: unset;
    border-bottom: 1px solid #fff;
    min-height: 36px;
    align-items: center;
}
::ng-deep .goldenText.ng-select .ng-select-container {
    color: #DEB31A !important;
    background-color: transparent;
    border-radius: 0px;
    border: unset;
    border-bottom: 1px solid #DEB31A;
    min-height: 36px;
    align-items: center;
}
::ng-deep .ng-select{
    background-color: transparent;
}
::ng-deep .ng-select .ng-clear-wrapper{
    /* display: none; */
    text-align: right;
}
::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow, ::ng-deep .ng-select.ng-select-opened>.ng-select-container .ng-arrow{
    border-color: #DEB31A transparent transparent;
}
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked, ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked{
    background-color: #DEB31A !important;
}
::ng-deep .ng-select-container.ng-has-value .ng-arrow-wrapper .ng-arrow {
    background-image: url(../../../assets/images/down-arrow-white.svg);
}
::ng-deep .goldenText .ng-select-container.ng-has-value .ng-arrow-wrapper .ng-arrow {
    background-image: url(../../../assets/images/down-arrow-yellow.svg) !important;
}
::ng-deep .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: rgba(225, 187, 51, 1) !important;
    box-shadow:  none !important;
}

::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
    background-image: url(../../../assets/images/down-arrow-white.svg);
    background-position: 0px 3px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px !important;
    height: 10px !important;
    border-width: 0px;
}
::ng-deep .ng-select.ng-select-opened>.ng-select-container .ng-arrow{
    top: unset;
    border-color: unset;
    border-width: unset;
}
::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow{
    border-style: unset;
}
::ng-deep .ng-select.ng-select-opened>.ng-select-container{
    background-color: transparent;
    border: unset;
}
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
    font-size: 14px;
}
::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value{
    font-size: 14px;
}
::ng-deep .sectorsss .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
    color: #fff;
    padding: 8px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
::ng-deep .ng-dropdown-panel{
    border: unset;
    box-shadow: unset;
    background-color: unset;
    font-size: 10px;
}
/* .sub-header.afterSearch {
    padding-top: 30px !important;
    padding-bottom: 0px !important;
    height: auto;
} */
.sub-header.afterSearch h2.pb-4 {
    display: none;
}
.ng-select-focused{
    display: none;
  }
  /* ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
    position: unset !important;
  } */
  /* ::ng-deep .ng-select{
    height: 30px !important;
  } 
  ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value{
    overflow: visible !important;
  } */
  ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input, ::ng-deep .ng-select-container {
    cursor: pointer !important;
  }

  ::ng-deep .owl-prev {
    background: url(../../../assets/images/arrow-prev-white.svg) no-repeat center center;
    background-size: contain;
    cursor: pointer;
    text-indent: -9999em;
    bottom: -18px;
    width: 17px;
    height: 17px;
  }
  ::ng-deep .owl-next {
    background: url(../../../assets/images/arrow-next-white.svg) no-repeat center center;
    background-size: contain;
    cursor: pointer;
    text-indent: -9999em;
    bottom: -18px;
    width: 17px;
    height: 17px;
  }
  ::ng-deep .owl-next.disabled, ::ng-deep .owl-prev.disabled {
    cursor: default;
    opacity: 0.6;
  }

  .owl-item {
    display: inline-block !important;
  }
  .searchDiv {
      width: 95%;
  }

  /* mobile responsive */
  @media(max-width: 900px){
    .search-bar, .searchDiv{
        width: 100%;
        z-index: unset !important;
        padding-right: 0px !important;
    }
    .search-bar{
        height: 60px;
    }
    /* .sub-header{
        background-image: url(~/../../../../assets/images/mobileHeaderBackgroundImage.png);
        height: auto;
        padding-top: 76px !important;
        padding-bottom: 35px;
    } */
    .video-icon{
        left: 3%;
        bottom: 17px;
        height: 46px;
        width: 46px;
    }
    .playIcon{
        height: 15px;
        width: 15px;
        margin: auto;
        top: 0px;
        z-index: 9;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
    }
    .discover{
        display: none;
    }
    .search-btn{
        bottom: 0px;
        top: 0px;
    }
    .sub-header.afterSearch{
        padding-top: 76px !important;
    }
    .fixx{
        width: 100%;
        height: 190px;
    }
    .modal-body-content img{
        height: 190px;
    }
    .sub-header .offset-xl-3 {
        margin-left: 0%;
    }
    .sub-header .col-xl-7 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.customTagSlider {
    width: 100%;
    max-width: 450px;
    margin: 0px auto;
    padding-top: 22px;
}
.customTagSlider .item .card {
    display: inline-block;
    width: auto;
    min-width: 70px;
    height: auto;
    background-size: cover;
    position: relative;
    background-color: black;
    color: white;
    border-radius: 24px;
    border: 0px;
    padding: 5px 10px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    outline: none;
}
::ng-deep .customTagSlider .slick-prev:before {
    content: '';
    background: url(../../../assets/images/arrow-prev-white.svg) no-repeat center center !important;
    display: block;
    opacity: 1;
    background-size: contain;
    cursor: pointer;
    width: 17px;
    height: 17px;
}
::ng-deep .customTagSlider .slick-next:before {
    content: '';
    background: url(../../../assets/images/arrow-next-white.svg) no-repeat center center !important;
    display: block;
    opacity: 1;
    background-size: contain;
    cursor: pointer;
    width: 17px;
    height: 17px;
}
::ng-deep .customTagSlider .slick-slide {
    margin-right: 15px;
}
::ng-deep .customTagSlider .slick-slide:last-child {
    margin-right: 0px;
}
::ng-deep .customTagSlider .slick-initialized .slick-slide {
    opacity: 1 !important;
}
::ng-deep .customTagSlider .slick-prev.slick-disabled:before, ::ng-deep .customTagSlider .slick-next.slick-disabled:before {
    opacity: 0.5 !important;
}
.text-left {
    text-align: left !important;
}

.searchPopup {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    background: #23211E;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #2D2926;
    max-height: calc(100vh - 80px);
    overflow: auto;
}
.removeBorderRadious {
    border-radius: 8px 8px 0 0;
}
.recent-searches, .search-list {
    padding: 20px 30px;
    padding-bottom: 0px;
}
.recent-searches::after {
    content: '';
    display: block;
    clear: both;
}
.recent-searches:last-child {
    padding-bottom: 10px;
}
.recent-searches .heading {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #D1CFC9;
    font-family: 'brownlight';
    padding-bottom: 20px;
}
.recent-searches ul.recent-searches-tags {
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.recent-searches ul.recent-searches-tags li {
    background: #040404;
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 999px;
    text-align: center;
    color: #FFFFFF;
}
.recent-searches ul.recent-searches-tags li a {
    padding: 6px 12px;
    color: #fff;
    display: block
}
.recent-searches ul.recent-searches-tags li.show-something {
    background: #E4B200;
}
.recent-searches ul.recent-searches-tags li.show-something a {
    color: #fff;
    padding: 0px 24px;
    line-height: 40px;
    font-size: 15px;
    font-family: 'brownregular';
}
.tollTipCustom{
    position: relative;
}

.tollTipCustom .tolltipContent {
    position: absolute;
    top: 46px;
    left: 20px;
    background: #413e3c;
    padding: 3px 10px;
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    width: max-content;
    border-radius: 4px;
    white-space: nowrap;
    max-width: max-content;
    width: max-content;
    display: none;
    text-align: center;
    z-index: 999;
    line-height: 20px;
}
.tollTipCustom:hover .tolltipContent {
    display: block;
}
#customScrollBar::-webkit-scrollbar-track,
.workspaceFoldersScrollBar::-webkit-scrollbar-track {
	background-color: transparent;
}

#customScrollBar::-webkit-scrollbar,
.workspaceFoldersScrollBar::-webkit-scrollbar {
	width: 6px;
	background-color:transparent;
}

#customScrollBar::-webkit-scrollbar-thumb,
.workspaceFoldersScrollBar::-webkit-scrollbar-thumb {
	background-color: #413E3C;
    border-radius: 10px;
}
.search-list {
    border-bottom: 1px solid #2D2926;
    padding-bottom: 5px;
}
.search-list a {
    display: block;
    clear: left;
    float: left;
    color: #fff;
    line-height: 24px;
    font-size: 15px;
    padding-bottom: 15px;
}
.search-list a:hover {
    opacity: 0.8;
}
.search-list::after {
    clear: both;
    display: block;
    content: '';
}

.recent-searches ul.recent-searches-folder {
    margin: 0px -7px;
    padding: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-right: -27px;
    padding-right: 10px;
}
.recent-searches ul.recent-searches-folder li {
    float: left; 
    margin-bottom: 5px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 8px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    line-height: 17px;
}
.recent-searches ul.recent-searches-folder li:hover {
    background: #413E3C;
    color: #fff;
}
.folder-icon {
    padding-right: 10px;
    vertical-align: 1px;
    display: inline-block;
}
.folder-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: fit-content;
    display: inline-block;
}
.workspace-folders {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 35%;
    /* display: inline-block; */
    text-align: right;
    padding-left: 15px;
    float: right;
}
.workspaceFoldersScrollBar {
    overflow: auto;
    max-height: 245px;
}
.search-bar::placeholder {
    color: red;
}
.clearSearch {
    float: right;
    cursor: pointer;
    font-family: 'brownregular';
}
.clearSearchModal .modal-footer {
    border: 0px;
}
.modal-body.clearSearchModal {
    background: #23211E;
}
.updateModal, .closeModal {
    background: #040404;
    border-radius: 80px;
    width: 120px;
    padding: 9px 12px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}
.closeModal {
    background: transparent;
    margin-right: 10px;
}
.clearSearchModal p {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    padding: 10px 20px;
}
@media (max-width: 900px) {
    .sub-header {
        top: auto;
        position: static;
    }
    .customSearchBar {
        display: none;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        padding-right: var(--bs-gutter-x,1.75rem) !important;
        padding-left: var(--bs-gutter-x,1.75rem) !important;
    }
}
@media (max-width: 700px) {
    .sub-header {
        position: static;
        z-index: 99;
        pointer-events: all;
    }
    .searchPopup {
        width: calc(100% - 21px);
        z-index: 9;
    }
}
.highLightColor{
    color: #937206;
    /* padding: 0px 5px; */
}
::ng-deep .ng-select .ng-clear-wrapper .ng-clear {
    font-size: 21px !important;
    color: #DEB31A !important;
}
.show-something {
    margin-bottom: 0px !important;
}