.sub-header{
    /* background-color: #000; */
    /* background-image: url(~/../../../../assets/images/NEOMbannerImage.png); */
    background-image: url(~/../../../../assets/images/NEOM-banner-Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 145px !important;
    padding-bottom: 100px;
    height: 400px;
}
.sub-header h2{
    color: #fff;
    letter-spacing: 0.8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.31em;
}
.search-bar{
    position: relative;
    padding: 10px 10px 10px 16px;
    border-radius: 8px;
    border: 1px solid #E5E5E5;
    width: 430px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 16px;
line-height: 22px;
background-color: #FDFDFD;
}
.placeholder-search{
    position: absolute;
    left: 11px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 18px;
}
.sectorDrop button#dropdownManual{
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    background-color: #FDFDFD;
    width: 200px;
    position: relative;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 12px;
    color: #000;
    z-index: 9;
}
.sectorDrop button#dropdownManual:focus{
    box-shadow: unset;
    outline: 0;
}
.sectorDropMain{
    top: -8px !important;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    background: #fff;
    padding-top: 15px;
    height: 140px;
    overflow-y: scroll;
    width: 100%;
}
.sectorDropMain::-webkit-scrollbar {
    display: none;
  }
.sectorDropBtn:focus, .sectorDropBtn:hover{
    background-color: #EBC03F !important;
    color: #2B2825 !important;
}
.dropup .sectorDropMain.dropdown-menu {
    top: 24px !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    padding-top: 8px;
    /* padding-bottom: 37px !important; */
    height: 140px;
    background: #fff;
    width: 100%;
}
.dropup .dropdown-toggle::after {
    top: unset;
    bottom: 14px;
}
.sectorDropBtn{
    font-size: 16px;
line-height: 22px;
color: #404040;
background-color: #fff;
}
/* .dropdown-menu{
    margin: 0px 0px 0px 0px;
    margin-top: -2px !important;
}
.dropdown-item{
    padding: 3px 13px;
} */
.dropdown-toggle::after{
    right: 10px;
    position: absolute;
    top: 19px;
    bottom: 0;
    margin: auto;
} 
.search-btn{
    position: absolute;
    right: 0px;
     border-radius: 2px;
    border: unset;
    padding: 10px 10px;
    background-color: transparent;
}
.search-btn img{
    width: 18px;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #5FCAD2;
    color: #fff;
}
.search-tags ul{
    padding: 0px;
    list-style: none;
    justify-content: center;
}
.search-tags ul li a{
    background-color: #000;
    font-size: 14px;
    line-height: 11px;
    border-radius: 20px;
    padding: 14px 22px;
    color: #fff;
    text-decoration: unset;
    margin: 0px 5px;
    display: block;
}

.tags-metadata ul {
    padding-top: 10px;
  }
  .tags-metadata ul li {
    padding-bottom: 5px;
  }
  .tags-metadata ul li a{
    background-color: #000;
    font-size: 14px;
    line-height: 6px;
    border-radius: 20px;
    padding: 17px 22px;
    color: #fff;
    text-decoration: unset;
    margin: 0px 5px;
    display: inline-block;
  } 
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* max-width: 610px; */
    margin: 0 auto;
}
.scrolling-wrapper .card  {
    display: inline-block;
    width: auto;
    height: auto;
    background-size: cover;
    position: relative;
    margin-left: 5px;
    overflow: hidden;
    background-color: black;
    color: white;
    border-radius: 24px;
    border: 0px;
    padding: 5px 10px 9px 10px;
    text-align: center;
}
::-webkit-scrollbar {
    display: none;
  }
 