<section class="sub-header" >
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center">
        <h2 class="pb-4"><a href="/" style="color: #fff;">GROUND X</a></h2>
        <form>
          <div class="flexible" style="justify-content: center">
            <div class="sectorDrop">
              <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor ngbDropdownToggle (focus)="myDrop.open()">All sectors</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual" class="sectorDropMain" style="z-index: 1;top: -3px;">
                  <button ngbDropdownItem class="sectorDropBtn">All sectors</button>
                  <button ngbDropdownItem class="sectorDropBtn">Education </button>
                  <button ngbDropdownItem class="sectorDropBtn">Energy </button>
                  <button ngbDropdownItem class="sectorDropBtn">Entertainment and Culture </button>
                  <button ngbDropdownItem class="sectorDropBtn">Entertainment and Culture </button>
                  <button ngbDropdownItem class="sectorDropBtn">Entertainment and Culture </button>
                  <button ngbDropdownItem class="sectorDropBtn">Entertainment and Culture </button>
                </div>
              </div>
            </div>
            <!-- <div class="dropdown">
              <select class="btn" style="background-color: white; height: 44px; text-align: left;" (change)="dropdownMenu($event)">
                <option class="dropdown-item" value='' selected>All assets</option>
                <option class="dropdown-item" value='dc:created'>Created</option>
                <option class="dropdown-item" value='dc:modified'>Modified</option>
                <option class="dropdown-item" value='dc:lastContributor'>Last Contibutor</option>
                <option class="dropdown-item" value='state'>State</option>
                <option class="dropdown-item" value='dc:nature'>Nature</option>
                <option class="dropdown-item" value='dc:coverage'>Coverage</option>
              </select>
            </div> -->
            <!-- <app-search></app-search> -->
            <div style="position: relative;">
              <form (ngSubmit)="searchOutputFn(searchText)" autocomplete="off">
                <input [ngModel]="searchText" (ngModelChange)="searchText=$event" [ngModelOptions]="{standalone: true}"
                  type="text" placeholder="Search" class="search-bar">
                  <!-- <img src="https://img.icons8.com/material-outlined/24/000000/search--v1.png" class="placeholder-search"> -->
                  <!-- <button ngIf="search" class="btn" style="position: absolute; right: 39px; top: 3px;">x</button> -->
                <button class="primary search-btn"><img
                    src="https://img.icons8.com/material-outlined/24/000000/search--v1.png" /></button>
              </form>
            </div>
          </div>
        </form>
        <!-- <div class="search-tags pt-5">
          <ul class="flexible">
            <li>
              <a href="#">Travel</a>
            </li>
            <li>
              <a href="#">Hotel</a>
            </li>
            <li>
              <a href="#">Tourist</a>
            </li>
            <li>
              <a href="#">Tourism Industry</a>
            </li>
            <li>
              <a href="#">Tourism Industry</a>
            </li>
          </ul>
        </div> -->
      </div>

    </div>
  </div>
</section>
<!-- <app-search></app-search> -->