<section class="sub-header" [ngClass]="{'afterSearch': searched}" >
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 text-center">
        <h2 class="pb-4"><a href="/" style="color: #fff;">Discover NEOM.</a></h2>
        <form>
          <div class="flexible" style="justify-content: center">
            <!-- <div class="sectorDrop">
              <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor ngbDropdownToggle>{{sectorSelected || 'All sectors'}} </button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual" class="sectorDropMain" style="z-index: 1;top: -3px;">
                  <button ngbDropdownItem class="sectorDropBtn" (click)="sectorSelect(null)">All sectors</button>
                  <button *ngFor="let sector of sectors" ngbDropdownItem class="sectorDropBtn" (click)="sectorSelect(sector)">{{sector}}</button>
                </div>
              </div>
            </div> -->
            <!-- <div class="dropdown">
              <select class="btn" style="background-color: white; height: 44px; text-align: left;" (change)="dropdownMenu($event)">
                <option class="dropdown-item" value='' selected>All assets</option>
                <option class="dropdown-item" value='dc:created'>Created</option>
                <option class="dropdown-item" value='dc:modified'>Modified</option>
                <option class="dropdown-item" value='dc:lastContributor'>Last Contibutor</option>
                <option class="dropdown-item" value='state'>State</option>
                <option class="dropdown-item" value='dc:nature'>Nature</option>
                <option class="dropdown-item" value='dc:coverage'>Coverage</option>
              </select>
            </div> -->
            <!-- <app-search></app-search> -->
            <div style="position: relative;z-index: 999;">
              <form (ngSubmit)="searchOutputFn(searchText)" autocomplete="off">
                <button class="primary search-btn"><img
                  src="../../../assets/images/search.png" /></button>
                <input [ngModel]="searchText" (ngModelChange)="searchText=$event" [ngModelOptions]="{standalone: true}"
                  type="text" placeholder="Search" class="search-bar">
                  <img *ngIf="searchText" style="cursor: pointer" (click)="resetSearch()" src="../assets/images/circle-close.png" class="placeholder-search">
                  <!-- <img src="https://img.icons8.com/material-outlined/24/000000/search--v1.png" class="placeholder-search"> -->
                  <!-- <button ngIf="search" class="btn" style="position: absolute; right: 39px; top: 3px;">x</button> -->
               
              </form>
            </div>
          </div>
        </form>
        <div class="search-tags pt-2">

          <div class="scrolling-wrapper">
            <!-- <div *ngFor="let bucket of tagsMetadata.buckets; let i = index" class="card">
              <a style="cursor: pointer;" (click)="searchText=bucket.key; searchOutputFn(searchText)" >{{bucket.key}}</a>
            </div> -->
            <owl-carousel-o [options]="customOptions">

              <ng-container *ngFor="let bucket of tagsMetadata?.buckets; let i = index" >
                <ng-template carouselSlide [id]="bucket.id">
                  <a class="card" style="cursor: pointer;" (click)="searchText=bucket.key; searchOutputFn(searchText)" >{{bucket.key}}</a>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
            <!-- <owl-carousel-o [options]="customOptions">

              <ng-container *ngFor="let slide of slidesStore">
                <ng-template carouselSlide [id]="slide.id">
                  <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                </ng-template>
              </ng-container>

            </owl-carousel-o> -->
        </div>
        </div>
      </div>

    </div>
  </div>

  <!-- sprint16 start -->
  <div class="video-icon" (click)="openSm(content)" *ngIf="modalOpen && !searched">
    <div class="playIcon"></div>
    <img src="https://via.placeholder.com/300x300/3ca2ca/3ca2ca" />
  </div>

  <ng-template #content let-modal>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); closeModal()">
      <img src="../../../assets/images/modalclose.svg" />
    </button>
    <div class="modal-body fixx">
      <app-loader-small [show]="modalLoading"></app-loader-small>
      <div class="modal-body-content" *ngIf="hideVideo && !videoResponse && !videoCompleted && showItemOnlyOnce" (click)="clickVideoIcon()">
        <div class="playIcon"></div>
        <img src="https://via.placeholder.com/300x170/3ca2ca/3ca2ca" />
      </div>
      <div class="select-an-area" *ngIf="selectArea && !videoResponse && !videoCompleted && showItemOnlyOnce">
        <img src="../../../assets/images/logo-neom.png" class="logo" />
        <h3>Please select an area of interest.</h3>
        <ng-select 
          class="pointer"
          [items]="allSectors" 
          ngDefaultControl
          placeholder="Select a sector" 
          [(ngModel)]="sectorSelected"
          bindLabel="label"
          bindValue="value">
        </ng-select>
        <div *ngIf="sectorSelected" class="next-arrow">
          <!-- <i (click)="playPersonalizedVideo()" class="fa fa-arrow-circle-o-right" style="cursor: pointer;" aria-hidden="true"></i> -->
          <img src="../../../assets/images/left-arrow-video.svg" class="logo pointer" (click)="playPersonalizedVideo()" />  
        </div>
        
      </div>
      
      <div class="" *ngIf="defaultVideoSrc && !videoCompleted">
       <div class="ssector">
        <!-- <span>Change sector</span> -->
        <ng-select [items]="allSectors" class="sectorsss"
          ngDefaultControl
          placeholder="Select a sector" 
          [(ngModel)]="sectorSelected"
          bindLabel="label"
          bindValue="value"
          (change)="playPersonalizedVideo()">
        </ng-select>
       </div>
         <video
            style="width: 100%"
            autoplay
            controls
            [src]=defaultVideoSrc
            (ended)="videoPayEnded($event)"
          ></video>
          
      </div>


      <!-- video thankyou section -->
      <div *ngIf="videoCompleted" class="thankyou-popup text-center">
        <div class="">
          <img src="../../../assets/images/logo-neom.png" style="width: 50px;">
          <h2>Thanks for watching.</h2>
          <p>Start discovering NEOM’s digital assets by using the search. You can search with a specific keyword, select a sector and get keyword suggestions from the Ground X AI.</p>
          <img (click)="modal.dismiss('Cross click'); closeModal()" src="../../../assets/images/Btn Next.png" style="width: 30px; cursor: pointer;">
        </div>
      </div>
    </div>

  </ng-template>
  <!-- sprint16 end -->

</section>
<!-- <app-search></app-search> -->