.termsUse h2{
    font-size: 28px;
    line-height: 40px;
    color: #000000;
}
.termsUse p{
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}
.pl-160 {
    padding-left: 160px !important;
}
.pt-5 {
    padding-top: 1rem !important;
}