<div class="container pt-5 pl-160">
    <div class="row">
        <div class="col-xl-12">
            <div class="termsUse pt-5">
                <h2 class="pt-3 pb-3">ACCEPTABLE USE POLICY</h2>
                <p class="pb-2">The following is the Acceptable Use Policy (the &quot;Policy&quot;) setting out terms of use for NEOM&#39;s Ground X Platform (the &quot;Platform&quot;).</p>
                <p class="pb-2">NEOM may modify this Policy at any time by publishing a revised version on the Platform and notify you by displaying the revised version at your next log in to the Platform. NEOM may also notify you by sending you a revised version by email to the email address that you use to login to the Platform. By using the Platform in any way you agree to abide by and comply with the latest version of this Policy.</p>
                <p class="pb-2">You are only permitted to use the Platform to internally distribute NEOM’s digital assets or consume these assets under the usage conditions stated by the asset owners.</p>
                <p class="pb-2 pt-3"><b>NEOM’s business operations only</b></p>
                <p class="pb-2">You may only use the Platform for NEOM&#39;s business operations.</p>
                <p class="pb-2 pt-3"><b>General requirements</b></p>
                <p class="pb-2">You may not use, or facilitate others to use, the Platform:</p>
                <p class="pb-2">(a) for any illegal or fraudulent activity;</p>
                <p class="pb-2">(b) to violate the rights of others;</p>
                <p class="pb-2">(c) to threaten, incite, promote, or actively encourage violence, terrorism, or other serious harm;</p>
                <p class="pb-2">(d) for any content or activity that promotes child sexual exploitation or abuse;</p>
                <p class="pb-2">(e) to violate the security, integrity, or availability of any user, network, computer or communications system, software application, or network or computing device;</p>
                <p class="pb-2">(f) to distribute, publish, send, or facilitate the sending of unsolicited mass email or other messages, promotions, advertising, or solicitations (or &quot;spam&quot;);</p>
                <p class="pb-2">(g) to perform or disclose any benchmarking or availability testing of the Platform;</p>
                <p class="pb-2">(h) to perform or disclose any performance or vulnerability testing of the Platform without NEOM&#39;s prior written approval, or perform or disclose network discovery, port and service identification, vulnerability scanning, password cracking or remote access testing of the Services;</p>
                <p class="pb-2">(i) use the Platform to perform cyber currency or crypto currency mining; or</p>
                <p class="pb-2">(j) to host any content or material that contains any malicious programming, component or security vulnerabilities, including, without limitation, any viruses, Trojan horses, worms or other malicious routines.</p>
                <p class="pb-2 pt-3"><b>Compliance with law</b></p>
                <p class="pb-2">You must only use the Platform and in compliance with applicable law.</p>
                <p class="pb-2 pt-3"><b>Third Party Intellectual Property Rights and other personal rights</b></p>
                <p class="pb-2">(a) You shall not use the Platform to host any software, data, text, images, audio, video,photographs and other content and material, in any format, that are obtained or derived from third party sources outside of NEOM that you may access through, within, or in conjunction with your use of, the Platform unless you have NEOM&#39;s or the third partysource’s express, prior written authorisation to do so, and you will not use the Platform to transmit, distribute or store any content or material in a manner that will infringe the copyright, trademarks, trade secrets or other intellectual property rights of any other person, or the privacy, publicity or other personal rights of any person.</p>
                <p class="pb-2">(b) You shall not modify, make derivative works of, disassemble, decompile, reverse engineer,reproduce, republish, download, or copy any part of the Platform (including data structures or similar materials produced by programs).</p>
                <p class="pb-2 pt-3"><b>Monitoring</b></p>
                <p class="pb-2">We may investigate any suspected violation of this Policy, and remove or disable access to your user account or any content or resource that violates this Policy. We may take action in accordance with the terms of your employment, which may include disciplinary action and termination of your employment. You agree to cooperate with us to investigate and remedy any violation.</p>
                <p class="pb-2 pt-3"><b>Criminal or civil liability</b></p>
                <p class="pb-2">You may be subject to HR, civil or criminal liability for violations of system or network security, or any of the terms of this Policy. We will investigate such violations (including any attempted or suspected violation) and may involve, and co-operate with, law enforcement authorities in any prosecution arising from any such violation or attempted violation.</p>
                <p class="pb-2 pt-3"><b>Confidentiality</b></p>
                <p class="pb-5">You agree to keep any assets marked as “CONFIDENTIAL” you use in connection with your use of the Platform confidential. You are not permitted to screen scrape, print, and/or copy any such information from the Platform for any purpose. You must take all reasonable steps to ensure no such information from the Platform is disclosed to any third parties. If it is used within your NEOM group of companies’ departments, sector, and/or affiliate, you may only disclose such information to those personnel who need to know it and ensure that they are made aware of the confidential and proprietary nature of the information, and these confidentiality restrictions.<br><br>
                    You must destroy any information you have received in connection with your use of the Platform,
                    confidential or otherwise, upon written request by the Ground X department, and in addition any
                    such information you may possess, have power over or control, when your user account is deleted.</p>
            </div>
        </div>
    </div>
</div>


