.login{
    height: 100vh;
    min-height: 600px;
    background-image: url('../../assets/images/mountains-image.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.login form{
    width: 420px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 22px 50px 22px;
}
.login form label{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin: unset;
    padding-bottom: 5px;
}
.login form a{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin: unset;
    padding-bottom: 5px;
    text-decoration: underline;
}
.form-control{
    border-radius: 8px;
    padding: 0px 15px;
    font-family: 'brownregular';
    line-height: 45px;
    min-height: 45px;
    border: 1px solid #404040;
}
.orText{
    position: relative;
    font-size: 18px;
}
.orText::before{
    content: '';
    background-color: #b6b6b6;
    position: absolute;
    height: 1px;
    width: 46%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.orText::after{
    content: '';
    background-color: #b6b6b6;
    position: absolute;
    height: 1px;
    width: 46%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.loginBtn{
    width: 100%;
    background-color: #13100D;
    color: #fff;
    border-radius: 8px;
    padding: 12px 0px;
    border: 1px solid #13100D;
    letter-spacing: normal;
    font-size: 15px;
    line-height: 24px;
}
.loginBtn:hover{
    background-color: #13100D;
}
.login h2{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.31em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: normal;
}
button.btn-primary:focus, button.btn-primary:hover{
    background: #13100D !important;
    outline: 0  !important;
    box-shadow: unset !important;
  }
.loginKeycloakBtn{
    margin-top: 10px;
    width: 100%;
    background-color: #13100D;
    color: #fff;
    border-radius: 8px;
    padding: 12px 0px;
    border: 1px solid #13100D;
    letter-spacing: normal;
}
.loginKeycloakBtn:hover{
    background-color: #13100D;
}

ul.signupForm {
    display: block;
}
ul.signupForm::after {
    display: block;
    clear: both;
    content: '';
}
ul.signupForm li {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    font-family: 'brownregular';
    font-size: 14px;
    line-height: 20px;
}
.signupForm h3 {
    text-align: center;
    color: #040404;
    font-family: 'brownregular';
    font-size: 20px;
    line-height: 32px;
}
ul.signupForm li a{
    color: #937206;
    text-decoration: none;
}
.form-control.showError {
    border-color: #C6342A !important;
}
.showError {
    color: #C6342A;
    font-family: 'brownregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.signupForm .btn-primary.disabled, .signupForm .btn-primary:disabled {
    color: #BAB8B2;
    background-color: #E8E6DF;
    border-color: #E8E6DF;
}

.signupForm .form-control::placeholder, .signupForm .form-control:focus::placeholder,
.signupForm .show-password::placeholder, .signupForm .show-password:focus::placeholder {
    color: #ACACAC !important;
    opacity: 1;
}

.signupForm .form-control:-ms-input-placeholder, .signupForm .form-control:focus:-ms-input-placeholder,
.signupForm .show-password:-ms-input-placeholder, .signupForm .show-password:focus:-ms-input-placeholder {
    color: #ACACAC !important;
}

.signupForm .form-control::-ms-input-placeholder, .signupForm .form-control:focus::-ms-input-placeholder,
.signupForm .show-password::-ms-input-placeholder, .signupForm .show-password:focus::-ms-input-placeholder {
    color: #ACACAC !important;
}

.signupForm ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 8px;
    padding: 0em 0.75em 0 0.75em;
    border: 1px solid #404040;
}
.signupForm ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
    height: 0;
}
.signupForm ::ng-deep .mat-form-field-appearance-fill:not(.mat-form-field-disabled) .mat-form-field-flex:hover~.mat-form-field-underline .mat-form-field-ripple {
    opacity: 0;
}
.signupForm ::ng-deep .mat-form-field-appearance-fill .mat-form-field-ripple {
    bottom: 0;
    height: 0px;
}
.signupForm ::ng-deep .mat-form-field-prefix .mat-icon, .signupForm ::ng-deep .mat-form-field-suffix .mat-icon {
    font-size: 22px;
    line-height: 1.125;
    color: #BAB8B2;
}
.signupForm ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}
.signupForm ::ng-deep .mat-form-field.mat-focused {
    background-color: #f0f0f0;
}
.signupForm ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px;
    border-radius: 8px;
}
.signupForm ::ng-deep .mat-form-field-prefix, .signupForm ::ng-deep .mat-form-field-suffix {
    top: 3px;
}
.signupForm ::ng-deep .mat-icon.clickCheck {
    color: #E1BB33 !important;
}

/* mobile responsive */
@media(max-width: 991.5px){
    .login form{
        width: 100%;
    }
}