<p>trash-view works!</p>
<div class="header-content" style="width: 100%; position: relative; z-index: 1">
  <div>
    <span style="overflow: auto">
      <span class="main-title tollTipCustom">Trash </span>
    </span>
  </div>
  <div class="views">
    <div class="deleteRecover">
      <span
        *ngIf="checkEnableDeleteBtn()"
        class="recoverFolder"
        [ngClass]="checkEnableDeleteBtn() ? '' : 'recover-btn-disabled'"
        (click)="unTrashFolders()"
      >
        <img src="../../../assets/images/recover-icon.svg" />Recover selected items
      </span>
    </div>
    <div style="display: inline-block">
      <img
        src="../../../assets/images/gallery-view.svg"
        class="menu-icon"
        [ngClass]="selectedMenu === 0 ? 'active' : ''"
        (click)="selectMenuView(VIEW_TYPE.GRID)"
      />
      <img
        src="../../../assets/images/list-view-icon.svg"
        class="menu-icon"
        [ngClass]="selectedMenu === 1 ? 'active' : ''"
        (click)="selectMenuView(VIEW_TYPE.LIST)"
      />
    </div>
  </div>
</div>


<app-masonry-view 
    *ngIf="selectedMenu === 0"

    [searchList]="assetList"
    [isTrashView]="isTrashView"

    (clickHandle)="dataTableEvent($event)"
    (assetSelected)="assetSelected($event)"
    (fetchAssets)="fetchAssetsEvent($event)"
></app-masonry-view>

<!-- 
[showAssetPath]="showAssetPath"
    [currentWorkspace]="currentWorkspace"
    [folderStructure]="folderStructure"
    [breadCrumb]="breadCrumb"
 -->

<app-data-table 
    *ngIf="selectedMenu === 1"

    [searchList]="assetList"
    [isTrashView]="isTrashView"
    

    (clickHandle)="dataTableEvent($event)"
    (assetSelected)="assetSelected($event)"
    (fetchAssets)="fetchAssetsEvent($event)"
></app-data-table>
