.lpBAck{
    padding: 160px 0px 60px 0px;
}
.imgGallery a{
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}
.portfolio-list{
  -webkit-column-count: 3;
    -webkit-column-gap: 0;
    -moz-column-count: 3;
    -moz-column-gap: 0;
    column-count: 3;
    column-gap: 0;
}
.portfolio-list li {
  width: 100%;
  float: left;
  padding: 0 4px;
  /* margin: 4px 0; */
  border-radius: 8px;
}
ul.set-width.portfolio-list li a {
    margin-bottom: 7px;
    display: inline-block;
}
.set-width {
  width: calc(100% + 20px);
  margin-left: -10px;
}
.tasksList{
    background-color: #fff;
    border-radius: 8px;
    padding: 0px 20px;
}
.tasksList li{
    padding: 20px 0px;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
    align-items: unset;
    justify-content: space-between;
}
.innerDiv2{
    position: absolute;
    bottom: 20px;
}
.tasksList li img{
    border-radius: 8px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.mainDiv2{
    width: 40%;
    margin-left: 4px;
}
.mainDiv1{
    width: 50%;
}
.innerDiv1 h4, .innerDiv2 h4{
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #171717;
    font-weight: normal;
}
.innerDiv1 p{
    font-size: 14px;
line-height: 24px;
display: flex;
align-items: center;
color: #A3A3A3;
}
.innerDiv1 span{
    font-size: 14px;
    line-height: 24px;
    color: #171717;
}
.lpSecTwo, .lpSecThree{
    padding: 60px 0px;
}
.lpSecThree ul{
    padding: 0px;
    list-style: none;
}
.lpSecThree ul li{
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    width: 23%;
    margin: 10px;
}

.tripDivOne{

}
.tripDivTwo{
    padding: 15px 0px;
}
.tripDivTwo p{
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    font-weight: normal;
}
.tripDivTwo span{
    font-size: 13px;
    line-height: 13px;
    color: #737373;
}
.tripImg1{
    border-top-left-radius: 8px;
    width: 139px;
    margin: 2px;
    height: 185px;
}
.tripImg2{
    width: 90px;
    height: 90px;
    border-top-right-radius: 8px;
    margin: 2px;
}
.tripImg3{
    width: 90px;
    height: 90px;
    margin: 2px;
    border-bottom-right-radius: 8px;
}
.lpBAck h2{
    font-size: 36px;
line-height: 47px;
margin-bottom: 25px;
color: #13100D;
font-weight: normal;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: unset;
    border-color: unset;
    border: unset;
    position: relative;


}
.nav-tabs .nav-item.show .nav-link:before, .nav-tabs .nav-link.active:before{
    content: '';
    position: absolute;
    height: 1.5px;
    width: 100%;
    background-color: #171717;
    bottom: 0px;
    left: 0px;
}
.nav-tabs .nav-link{
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #171717;
    margin: 0px 7px;
    padding: 7px 3px;
    border: unset;
    border-radius: unset;
}
.norecent{
    height: 500px;
    justify-content: center;
    background-color: #F9F7F2;
    text-align: center;
    width: 100%;
}
.noresult{

}
.searchcontent{
    font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #ACACAC;
  }
  .noresult{
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    
    color: #2B2825;
  }
  
  /* modal css */
  .modalHead{
    padding: 8px 15px;
    background-color: #fff;
    border: unset;
}
  .modalHead ul, .iconsList {
    list-style: none;
    padding: 0;
    float: right;
}
.modalHead ul li, .iconsList li {
    margin-left: 15px;
    cursor: pointer;
}
.modalHead ul li img, .iconsList li img {
    width: 25px;
}

.modal-header {
    border-bottom: unset;
    padding: unset;
}
.downloadDrop.dropdown{
    width: unset;
  }
  .downloadDrop .dropdown-toggle::after{
    display: none;
  }
  .dropdown .dropdown-menu.show,.dropup .dropdown-menu.show {
    left: -150px !important;
    top: 25px !important;
    background-color: #000;
    min-width: max-content !important;
  }
  .settingsDropdown .dropdown-menu.show{
    left: -184px !important;
    top: 25px !important;
    background-color: #000;
    min-width: -webkit-max-content !important;
    min-width: -moz-max-content !important;
    min-width: max-content !important;
    width: 200px;
  }
  .dropdown .dropdown-menu.show .dropdown-item, .settingsDropdown .dropdown-menu.show .dropdown-item  ,.dropup .dropdown-menu.show .dropdown-item, .settingsDropdown .dropdown-menu.show .dropdown-item{
    color: #fff ;
  }
  .dropdown .dropdown-menu.show .dropdown-item span{
    text-align: right;
    float: right;
    padding-left: 15px;
  }
  .popupTabSec{
    height: 600px;
    position: relative;
  }
  .popupTabSec img{
    height: 600px;
    object-fit: cover;
    object-position: center;
  }
  .myTabContent{
    width: 100%;
    position: relative;
  overflow: scroll;
  height: 100%;
  }
  .myTabContentMain{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-color: transparent;
  }
  
  .myTabContentMain:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    opacity: 0.7;
  }
  .iconsTab.nav-tabs {
    border-bottom: unset !important;
    height: fit-content;
    align-items: center;
  }
  .iconsTab.nav-tabs .nav-item.show .nav-link, .iconsTab.nav-tabs .nav-link.active{
    border: unset !important;
    padding: unset !important;
  }
  .iconsList.nav-tabs .nav-link{
    border: unset !important;
    padding: unset !important;
  }
  .timeline-content ul{
    list-style: none;
    padding: 0;
    width: calc(100% - 500px);
    margin: auto;
    position: relative;
    padding-top: 60px;
    margin: auto;
  
  }
  
  .timeline-content ul li{
    padding-bottom: 70px;
    position: relative;
  }
  .timeline-content ul li::before{
    content: '';
    position: absolute;
    background-color: transparent;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: -5px;
    border: 1px solid #fff;
  }
  .timeline-content ul li::after{
    content: '';
    position: absolute;
    background-color: #fff;
    height: calc(100% - 11px);
    width: 1px;
    left: 0px;
    top: 11px;
  
  }
  .timeline-content ul li:nth-last-child(1)::after{
    display: none;
  }
  .timeline-content ul li p{
    font-size: 18px;
    line-height: 14px;
    color: #FFFFFF;
    padding-left: 30px;
    margin-bottom: unset;
  }
  .timeline-content ul li p span{
    color: #EBC03F;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .sub-body-modal {
    padding: 15px;
}
.iconsTab.nav-tabs {
    border-bottom: unset !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
}
.main-heading {
    font-size: 24px;
    line-height: 34px;
    color: #000000;
    border: unset;
    padding-bottom: 15px;
    font-weight: normal;
}
.yellowBtn {
  background: #F7E6B2;
  border-radius: 60px;
  padding: 0px 10px;
  font-size: 12px;
  color: #8E6B0B;
  height: 23px;
  width: 100%;
  display: block;
  line-height: 23px;
}
.weightSize {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #C4C4C4;
}
.modalHead ul, .iconsList {
    list-style: none;
    padding: 0;
    float: right;
}
.iconsList li{
    margin-left: 5px;
}
.search-tags ul{
    padding: 0px;
    list-style: none;
    justify-content: center;
  }
  .search-tags ul li a{
    background-color: #000;
    font-size: 14px;
    line-height: 5px;
    border-radius: 20px;
    padding: 15px 22px 16px 22px;
    color: #fff;
    text-decoration: unset;
    margin: 0px 5px;
    display: inline-block;
  }
  .close{
    position: absolute;
    left: -8%;
    top: -10%;
    z-index: 9999 !important;
    background-color: transparent;
    border: unset;
}
.modal-header button img {
    width: 35px;
}
.nav-link.active{
    position: relative;
}
#myTab .nav-link.active::before {
    content: '' !important;
    background-image: url(../../assets/images/trianglearrow.svg) !important;
    height: 18px !important;
    width: 18px !important;
    position: absolute !important;
    top: -16px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    left: 0 !important;
    right: 0;
    bottom: unset !important;
    margin: auto;
    background-color: unset !important;
}
.iconsTab.nav-tabs .nav-item.show .nav-link, .iconsTab.nav-tabs .nav-link.active {
    border: unset !important;
    padding: unset !important;
}

.hide {
    display: none;
  }
  .comment-content ul{
    list-style: none;
    padding: 0px;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    height: 478px;
    overflow: scroll;
  }
  .comment-content ul li{
    padding: 15px 0px;
    position: relative;
  }
  .comment-content ul li p{
    font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  }
  .comment-content ul li img{
    height: 30px !important;
    width: 30px;
    margin-right: 10px;
  }
  .comment-content ul li p span{
    opacity: 0.6;
  }
  .comment-content, .info-content{
    position: relative;
    width: calc(100% - 200px);
    margin: auto;
  }
  .comment-content input{
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #fff;
    width: calc(100% - 220px);
    margin: auto;
    position: absolute;
    bottom: -80px;
    text-align: center;
    background: transparent;
    padding: 15px;
    left: 0;
    text-align: left;
    right: 0;
  }
  .info-content ul{
    list-style: none;
    padding: 0px;
    padding-top: 50px;
  }
  .info-content ul li{
    font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 15px 0px;
  }
  .enterComment {
    position: absolute;
    width: 29px;
    bottom: -69px;
    right: 121px;
    -o-object-fit: contain;
    object-fit: contain;
    height: unset !important;
}
.tag-input {
    padding: 5px 10px 9px 16px;
    border-radius: 20px;
    border: 1px solid;
    width: 100px;
}
/* #myTab .nav-tabs .nav-item.show .nav-link:before,
#myTab  .nav-tabs .nav-link.active:before{
    display: none;
} */
  /* end */
  .tab-content .slick-list{
    overflow: visible !important;
  }