.sub-header{
  background-image: url(~/../../../../assets/images/NEOM-banner-Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.main-div {
  display: flex;
}

.sidebar {
  width: 25%;
}

span.toggle-children-wrapper.toggle-children-wrapper-collapsed span.toggle-children {
  color: 'red'
}
.toggle-children-wrapper span.toggle-children {
  display: block !important;
}

.menu-icon.active {
  color: #0dcaf0
}
.menu-icon {
  font-size: 23px;
  margin-left: 10px;
}

.main-content {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.block-container {
  width: 200px;
  margin: 10px;
  position: relative;
}
.hover-content{
  display: none;
  position:absolute;
  padding: 12px;
  padding-bottom: 2px;
}
.block-container.active .hover-content{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.hover-content .hover-menu-icon {
  color: rgb(128 128 128 / 57%);
  font-size: 23px;
}

.right-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right-bottom-content {
  border: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.header-content {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-image {
  height: 123px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #8080806e;
}
.block-image .icons {
  font-size: 40px;
  color: #706f6f;
}
.block-title {
  font-size: 18px;
  font-weight: 900;
  margin-top: 10px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-container {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  margin-top: 25px;
}

.list-image {
  height: 73px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #80808045;;
}
.list-image .icons {
  font-size: 40px;
  color: #706f6f;
}
.list-title {
  font-size: 18px;
  font-weight: 900;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-tab {
  /* background: #48caf0; */
  color: #000;
  font-weight: 600;
  font-size: 16px;
  background: #E1BB33;
}
.set{
  padding: 10px 25px;
  /* width: max-content; */
/* max-width: 100%; */
}
.person-icons {
  color: gray
}
.header-content h6{
  font-size: 16px;
line-height: 24px;
color: rgba(35, 33, 30, 0.6);
}
.searchHeading .navbar-nav .nav-link.active::before{
  display: none;
}
.views {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.update-classifications-btn {
  color: #E1BB33;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 6px;
}
.views img {
  margin-left: 15px;
  opacity: 0.6;
  width: 24px;
  cursor: pointer;
}
.views img.active{
  opacity: 1;
}
.leftPanel{
  padding: 0px;
}
.leftPanel li span{
font-size: 16px !important;
}
section.lpSecOne {
  min-height: 600px;
}

.masonry-item {
  margin-bottom: 10px;
  /* background-color: #f1f1f1; */
  background-size: cover;
  width: calc(24% - 9px);
}
.masonry-item-thumbnail {
  margin-bottom: 10px;
  background-color: #f1f1f1;
  background-size: cover;
  width: calc(50% - 10px);
}
.float{
	position:fixed;
	bottom:40px;
	right:40px;
  background-color: #23211E;
} 

.paddingLeft{
  padding-left: 40px;
}
.paddingLeft1{
  padding-left: 60px;
}
.header-content h3{
    font-size: 24px;
    line-height: 22px;
    color: #000000;
    font-weight: 600;
}
.header-content h6{
  font-size: 16px;
line-height: 24px;
color: rgba(35, 33, 30, 0.6);
padding-top: 10px;

font-weight: 600;
}
.folderCircle{
  height: 140px;
  width: 140px;
  background: #E8E6DF;
  border-radius: 50%;
  display: block;
  font-size: 16px;
line-height: 22px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
color: #937206;
font-weight: 600

}