
<section style="background-color: #fff;" class="lpBAck">
  <section class="lpSecOne ">
    <div class="container">

      <div class="row">
        <div class="col-xl-3 col-md-3 pt-2 customToggle pt-5 animate__animated animate__fadeIn animate__delay-2s" style="background-color: #F8F8F5;">
          <app-browse-navigation 
            [folderStructure]="folderStructure" 
            [isExternalView]="isExternalView"
            (navigationBarEvent)="navigationBarEvent($event)"
          >
          </app-browse-navigation>
        </div>
        <div class="col-xl-9 col-md-9 pl-5 pt-5 pb-5 bg-white positionRelative" style="min-height: calc(100vh - 76px)">
         
          <app-loader [show]="loading"></app-loader>

          <div class="no-items" *ngIf="folderNotFound">
            <img
              src="../../../assets/images/folder-delete-icon.svg"
              alt="This folder has been deleted"
            />
            This folder has been deleted
          </div>

          <div class="no-items" style="color: black;" *ngIf="accessDenied && !selectedFolder">
            <img
              src="../../../assets/images/folder-icon.svg"
              alt="Permission required"
            />
            <h2>Permission required</h2>
            <span>Please contact your NEOM representative to access the folder.</span>
          </div>

          <div 
            *ngIf="selectedFolder && !folderNotFound" 
            [ngClass]="{ 'animate__animated animate__fadeIn': showSearchbar }" 
            style="position: relative; z-index: 1;"
          >
            <div class="row">
              <!--  -->
              <div class="col-xl-5">
                <div style="float: right; position: relative">
                  <div class="deleted-by-me" *ngIf="isTrashView">
                    <label
                      class="control control--checkbox"
                      style="margin-bottom: 0px; float: left"
                    >
                      Only show items removed by me
                      <input
                        type="checkbox"
                        checked="checked"
                        (click)="myDeleted($event)"
                      />
                      <div
                        class="control__indicator"
                        style="top: 0px; left: 0px"
                      ></div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="selectedFolder && !folderNotFound" class="" [ngClass]="{ 'animate__animated animate__fadeIn': showSearchbar }" style="position: relative; z-index: 1;">
            <div
              *ngIf="!isTrashView"
              class="header-content"
              style="width: 100%"
            >
              <router-outlet></router-outlet>
            </div>

            <preview-popup
              #previewModal
              [doc]="selectedFile"
              [docUrl]="selectedFileUrl"
            ></preview-popup>

          </div>
        </div>
      </div>
    </div>
  </section>
</section>