<div class="addUserBlock">
    <h3>Who can have private access to this folder?
      <button type="button" class="close-modal-icon" aria-label="Close" (click)="closeModal()" style="float: right;">
        <img src="../../assets/images/close-modal.svg" style="width: 20px" />
     </button>
    </h3>
    <!-- <div (click)="openEditAccessModal()">test modal</div> -->
    
    <div class="button-groups">
      <button (click)="closeModal()" class="cancel-btn">Cancel</button>
      <button *ngIf="!doneLoading" class="upload-btn">Done</button>
      <button *ngIf="doneLoading" class="upload-btn" style="position: relative; position: relative; height: 36px; padding: 0px; overflow: hidden;"><app-loader-small [show]="loading"></app-loader-small></button>
    </div>  