::ng-deep .cdk-global-overlay-wrapper{
  right: 0px;
}
::ng-deep .cdk-overlay-pane{
  width: 1000px !important;
      max-width: 100% !important;
      min-height: 200px !important;
      max-height: 100%!important;
      height: auto !important;
      overflow: auto;
}
.close{
  position: absolute;
  left: -8%;
  top: -10%;
  z-index: 9999 !important;
  background-color: transparent;
  border: unset;
}
.modal-header button img{
width: 35px;
}
.modal-header{
border-bottom: unset;
padding: unset;
}

.upload-modal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* min-height: 400px; */
}
.upload-modal-step {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}
.upload-label {
display: grid;
border: unset;
}
.upload-label span{
  font-size: 18px;
line-height: 22px;
text-align: center;
color: #8E6B0B;
}
.upload-label span b{
font-size: 20px;
}
.upload-icon {
  font-size: 35px;
  padding: 10px;
}
.upload-prevoew li{
  width: 29%;
  margin: 0px 15px;
}
.upload-file-preview {
  background: rgba(0, 104, 69, 0.1) !important;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 25%);
  border-radius: 8px !important;
  font-size: 14px;
  min-height: 80px !important;
  height: 90px !important;
  width: 100% !important;
  max-width: 100% !important;
  display: block !important;
  padding: 15px!important;
  min-width: 100% !important;
}
.assets-selected{
  background: rgba(0, 104, 69, 0.1);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px !important;
  font-size: 14px;
  min-height: 80px !important;
  background-image: none !important;
  width: 100% !important;
  max-width: 100% !important;
  display: block !important;
  padding: 15px!important;
  min-width: 100% !important;
  color: #006845;
  position: relative;
}
::ng-deep ngx-dropzone-remove-badge{
  top: -7px !important;
  right: -9px !important;
  width: 20px !important;
  height: 20px !important;
  background: red !important;
}
.imgLabel{
  overflow-wrap: anywhere;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.055em;
  color: #161824;
}
.imgSize{
  font-size: 12px;
line-height: 16px;
letter-spacing: 0.055em;
position: absolute;
    bottom: 10px;
color: #C4C4C4;
}
.upload-loading {
  color: #006dd4;
  position: absolute;
  bottom: 10px;
}
ngx-dropzone-preview:hover {
  background-color: white !important;
  border: 2px solid red;
}
.button-groups {
  display: flex;
  margin-top: 50px;
  width: 100%;
}
.button-groups button {
  border-radius: 7px;
}
.progress-btns {
  margin-left: auto;
}
.upload-btn {
  color: #fff;
  margin-left: 20px;
  background: #000;
  border-radius: 8px !important;
  padding: 8px 32px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.055em;
  border: 1px solid #000;
}
.cancel-btn{
  color: #23211E;
  background: #fff;
  border-radius: 8px !important;
  padding: 8px 32px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.055em;
  border: 1px solid #23211E;
}
button[disabled] {
  background-color: #E5E5E5;
  cursor: no-drop;
  border-color: #E5E5E5;
  color: rgba(183, 183, 184);
  /* display: none; */
}

.select-workspace {
  margin: 15px 0;
}
.select-workspace-menu {
  display: flex;
  margin-top: 40
px
;
  margin-bottom: 30
px
;
}
.select-workspace-menu-btn {
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;
  font-weight: 600;
  color: #8E6B0B;
  margin-left: 20px;
}
div.menu-title {
  /* font-weight: 600; */
  font-size: 16px;
  line-height: 24px;
  color: #23211E;
}
/* .workspace-list {
  background: #F9F7F2;
  border: 1px dashed #8E6B0B;
  border-radius: 8px;
  margin: 25px 0px;
  overflow-y: auto;
  display: flex;
  flex-flow: wrap;
  max-height: 300px;
  padding: 15px 20px;
} */
.workspace-title {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 12px;
  cursor: pointer;
  background: #FFFFFF;
  font-weight: 600;
  color: rgba(147, 114, 6, 1);
}
.ws-selected {
  background-color: #8E6B0B;
  color: #fff;
  font-size: 12px;
line-height: 22px;
text-align: center;

color: #FFFFFF;
}
.upload-form {
  margin: 0px  2px;
}
.upload-form-input {
  margin-bottom: 20px;
      /* display: flex;
      align-items: end; */
}
.upload-form-input label {
  font-size: 16px;
  line-height: 24px;
  color: #23211E;
}
.upload-form-input input {
  /* width: calc(100% - 50px); */
  border: unset;
  font-size: 14px;
  border-bottom: 1.5px solid #000;
  font-family: myBrown !important;
  /* font-weight: 600; */
  /* border-bottom: 1.5px solid #000; */
}
.upload-form-input select {
  width: calc(100% - 50px);
  height: 30px;
  border: unset;
  border-bottom: 1.5px solid #000;
  font-size: 14px;
  background-color: transparent;
  /* font-weight: 600; */
}
.upload-form-input select option {
  height: 30px !important;
}
.upload-form-input textarea {
  resize: none;
  vertical-align: top;
  width: calc(100% - 50px);
  height: 36px;
  border: unset;
  border-bottom: 1.5px solid #000;
  vertical-align: top;
  background-color: transparent;
}

/* custom drowndown */
.custom-select {
  position: relative;
  width: calc(100% - 50px);
  margin: 0;
  padding: 0;
  /* border-bottom: 1.5px solid #000; */
}
.select-css {
  display: block;
  color: #000;
  width: 100%;
  max-width: 100%;
  height: 30px;
  box-sizing: border-box;
  margin: 0;
  border: unset;
  border-radius: 0px !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  position: relative;
  z-index: 10;
  border-radius: unset !important;
  border-left: unset !important;

}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  color: #222;
  outline: none;
}
.custom-select-icons {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 20;
  border: 1px solid white;
  background: transparent;
  height: 22px;
}
.custom-select-options {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  border-radius: 0 0 0.25em 0.25em;
  line-height: 1.5;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  list-style-type: none;
  font-weight: normal;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
}
.custom-select-options li {
  padding: 1em;
}
.custom-select-options li.styled:hover {
  background:#E1BB33;
  /* border: 1px solid #000;
  border-width: 0 0 0 1px; */
}

.custom-select-options li.styled:focus {
  border: 1px solid rgb(89, 246, 252);
}
.hidden-all {
  display: none;
}
.hidden-visually {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
.add-new-option {
  padding: 3px;
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
}
.add-new-option input {
  width: 200px;
  height: 25px;
  border: none;
  margin-right: 10px;
}
.yellowfix {
  background: #E1BB33;
}
.custom-select-options li.styled:hover input {
  background:#fff;
}
.add-new-btn {
  color: green;
  font-weight: 700;
}

::ng-deep .ng-select .ng-select-container{
  border: unset !important;
  /* border-bottom: 1.5px solid #000 !important; */
  border-radius: 0px !important;
  background-color: transparent;
  height: unset !important;
  min-height: unset;
}
.publish-file-preview-img span{
  font-size: 13px;
line-height: 20px;
letter-spacing: 0.055em;

color: #23211E;
font-weight: 600;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  white-space: nowrap;
  background: #EDD580;
  padding: 7px;
  border-radius: 48px;
  border-radius: 48px;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #040505;
  font-weight: 600;
}
::ng-deep .ng-value.ng-star-inserted span:nth-child(1) {
  order: 2;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left{
  border: unset;
}
.info-icon {
  margin-left: 8px;
  color: gray;
  cursor: default;
}
.publish-summary {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 15px;
  background: rgba(0, 104, 69, 0.1);
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
.publish-summary span {
  max-width: 300px;
}
.publish-summary mat-icon {
  margin-right: 3px;
  margin-left: 5px;
}
.publish-summary-location {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid gray; */
  border-radius: 7px;
  padding: 5px;
}
.publish-file-preview {
  display: flex;
  background-color: #F8F8F5;
  margin: 10px 0;
  padding:30px 15px;
}
.publish-file-preview-img {
  display: block;
  font-size: 12px;
  width: 47%;
  float: left;
}
.publish-file-preview-access {
  width: 57%;
  margin-left: 27px;
}
.preview-img {
  width: 160px;
      border-radius: 8px;
      margin-right: 12px;
      height: 112px;
}
.publish-file-preview-access label {
  /* width: 100px !important; */
}
.publish-file-preview-access select {
  /* width: 180px !important; */
}
.publish-file-preview-access ng-select {
  /* width: 180px !important; */
}
.publish-file-preview-access label {
  margin-right: 22px;
}
.publish-file-preview-access .upload-form-input select{
  width: 100% !important;
}
.publish-file-preview-access .upload-form-input  ng-select{
  width: 100% !important;
}
.finish-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.finish-screen span{
  font-size: 24px;
line-height: 22px;
text-align: center;

color: #23211E;
font-weight: 600;
}
.assetName{
  font-size: 16px !important;
  line-height: 22px !important;


  color: #2B2825 !important;
}
.destination-folder {
  display: flex;
  align-items: center;
  min-width: 300px;
  justify-content: center;
  min-height: 120px;
  background: #F8F8F5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border-radius: 15px
;
  padding: 10px
;
  margin: 20px 0;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
}
.close-modal{
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;

  color: #937206;
}
.destination-folder img {
  width: 150px;
}
.destination-folder span {
  /* margin-left: 15px; */
}
.close-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.drag-drop{

  align-items: center;
    background: #F9F7F2 !important;
    border: 1px dashed #937206 !important;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 282px !important;
    overflow-x: auto;
}
.tooltip1 {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
  margin-left: 10px;
  width: 20px;
}
.tooltip1 img{
  width: 20px;
}
.tooltip1 .tooltiptext {
  visibility: hidden;
  width: 290px;
  background: #23211E;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 25%);
  border-radius: 100px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -60%;
  right: 30px;
  margin-left: 0px;
  opacity: 0;
  font-size: 11px;
  transition: opacity 0.3s;
  z-index: 99;
  padding: 8px 20px;
  text-align: left;
}

/* .tooltip1 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 38%;
  left: 102%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(-90deg);
} */

.tooltip1:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 17px;
}
.publish-summary span{
  color: #006845;
}
.userText{
  font-size: 16px;
  line-height: 24px;
  color: #23211E;
  font-weight: 600;
  padding-bottom: 15px !important;
}
::ng-deep input:focus + .noborder{
  outline: unset !important;
}
.workshaptitle{
  font-size: 16px;
line-height: 24px;
padding-left: 4px;
color: #23211E;
}
/* .custompadding{
  padding: 0px 10px;
} */

.fix-scroll{
  height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
}

.goldenText{
  color: #C49900;
  border-color: #C49900 !important;
}
select option{
  color: #000;
}
.goldenText.ng-select .ng-select-container{
  border-color: #C49900;
}
::ng-deep ng-select {
  width: calc(100% - 50px);
  border-bottom: 1.5px solid #000 !important;
}
::placeholder {
  color: #000;
}
.publish-file-preview-access label{
  float: right;
}
/* sprint16-v1 start */
.workspace-list {
  position: relative;
  background: #F9F7F2;
  border: 1px dashed #8E6B0B;
  border-radius: 8px;
  margin: 25px 0px;
  overflow-y: auto;
  display: flex;
  flex-flow: wrap;
  max-height: 300px;
  padding: 15px 20px;
  overflow: visible;
  justify-content: center;
  align-items: center;
  /* border-radius: 0.25em;
  display: flex; */
  /* border: 1px dashed grey; */
 }

.triangle { 
  display: block;
  height: 20px;
  width: 20px;
  background-color: inherit;
  border: inherit;
  position: absolute;
  top: -10px;
  left: calc(50% - 80px);
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  transform: rotate(135deg);
  border-radius: 0 0 0 0.25em;
 }
 /* sprint16-v1 end */
.destination-folder-block{
  display: table;
  min-width: 395px;
  min-height: 110px;
  background: #F8F8F5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
  margin: 30px 0px;
}
.destination-img-block, .destination-content-block{
   display: table-cell;
   vertical-align: top;
}
.destination-img-block img{
  object-fit: cover;
  width: 100%;
  height: 110px;
  padding: 0px;
  border-radius: 8px;
}
.destination-content-block{
  padding-left: 12px;
}
.destination-img-block {
  width: 140px;
}
.publish-file-preview-img span{
  vertical-align: top;
  display: inline-block;
}
.publish-file-preview-img span span{
  font-size: 13px;
  line-height: 20px;
  color: #A3A3A3;
  letter-spacing: 0.055em;
  clear: both;
  width: 100%;
  padding-top: 0px;
}
.copyright-information {
  padding-top: 15px;
  color: #937206;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.copyright-information img {
  width: 20px;
  margin-right: 8px;
}
.copyright-form ul {display: block;position: relative;}
.copyright-form ul li {
  display: inline-block;
}
.copyright-input-block {
  position: relative;
  width: 230px;
  font-size: 16px;
  font-weight: 600;
  /* height: 38px;
  line-height: 38px; */
  height: 30px;
  color: #040404;
}
/* .copyright-input-block:after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: #000;
  z-index: 9;
} */
.copyright-form ul {
  display: flex;
  align-items: end;
}
.copyright-form ul li:nth-child(2){
  border-bottom: 1px solid #000;
}
.copyright-input-block{

}
input.copyright-input {
  border: 0px;
  background: transparent;
  font-size: 14px;
  font-weight: normal;
  padding: 0px 0px 0px 10px;
  font-weight: 600;
}
.copyright-form img {
  width: 29px !important;
  margin-left: -4px;
}
.copyright-form li:last-child {
  width: 80px;
  margin-left: 16px;
}
::ng-deep ::placeholder{
  color: #000 !important;
}
::ng-deep .grayField input::placeholder, ::ng-deep .grayField textarea::placeholder {
opacity: 0.5;
}
::ng-deep .grayField input, ::ng-deep .grayField textarea{
opacity: 0.5;
}
::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #000;
    font-weight: 400;
}
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked{
  background-color: #E1BB33 !important;
}
.errorInfotxt{
  font-size: 16px;
line-height: 22px;
color: #DEB31A;
}
.errorMsg{
  font-size: 16px;
line-height: 20px;
color: #E03C31;
border: 1px solid #E03C31;
border-radius: 100px;
background: #FFF1F1;
padding: 10px 18px
}
.errortext{
  position: absolute;
  bottom: -12px;
}
::ng-deep .grayField .mat-form-field-suffix {
  opacity: 0.5;
}
.ng-select-focused{
  outline: 0;
  border: unset;
}
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 20px;
  width: 190px;
  height: 180px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 6px;
  height: 17px;
  width: 17px;
  /* background: #e6e6e6; */
  border: 1px solid #000;
  border-radius: 4px;

}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #fff;
}
.control input:checked ~ .control__indicator {
  background: #2C6946;
  border-color: #2C6946;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #2C6946;
  border-color: #2C6946;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate( 
45deg
);
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}

.ng-select-focused:focus, .ng-select-focused:active {
  box-shadow: none !important;
  border: none !important;
}
::ng-deep .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
  box-shadow: unset !important;
}
::ng-deep .ng-select .ng-select-container{
  background-color: transparent !important;
}
.numberAssets{
  font-size: 13px;
line-height: 13px;
color: #737373;
}

::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
  position: unset !important;
}
::ng-deep .ng-select{
  height: 30px !important;
}
::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value{
  overflow: visible !important;
}
::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input, ::ng-deep .ng-select-container {
  cursor: pointer !important;
}
/* ::ng-deep .ng-select.ng-select-single .ng-select-container{
  height: 36px !important;
} */
::ng-deep .ng-select .ng-select-container:hover {
  box-shadow: unset !important;
}
.goldenText .copyright-input-block{
  color: unset;
}
input.copyright-input::placeholder{
  color: #cccac4 !important;
  font-weight: 400 !important;
}
::ng-deep .mat-datepicker-popup {
  width: 296px !important;
  position: absolute !important;
  right: 0px !important;
  box-shadow: 2px 2px 6px 3px rgb(0 0 0 / 25%);
  border-radius: 8px;
  left: 848px !important;
  bottom: 83px !important;
}
::ng-deep .mat-calendar-body-today.mat-calendar-body-selected{
  box-shadow: unset !important;
}
::ng-deep .mat-calendar-body-selected {
  background-color: #EDD580;
  color: #000;
}
::ng-deep th.mat-header-cell, ::ng-deep th.mat-header-cell button, ::ng-deep th{
  border-bottom: unset !important;
}
::ng-deep .mat-calendar-arrow{
  background-image: url(../../assets/images/down.png);
  border: unset !important;
  height: 6px !important;
  width: 12px !important;
  right: 0px;
  z-index: 99;
  position: relative;
  background-size: 11px;
  background-repeat: no-repeat;
  /* top: 4px; */
}
::ng-deep .mat-calendar-table-header-divider::after{
  display: none !important;
}
/* ::ng-deep .mat-calendar-body-label{
  opacity: 0;
} */
::ng-deep .cdk-text-field-autofill-monitored:not(:-webkit-autofill){
  animation:  unset !important
}