<div class="upload-modal">
  <div class="upload-modal-step">{{step !== 4 ? stepLabel : '' }}</div>
  <ngx-dropzone *ngIf="step === 1" [accept]="'application/pdf,image/jpeg,image/jpg,image/png,image/gif,video/x-flv,video/mp4,application/x-mpegURL,video/x-m4v,video/x-msvideo,video/mpeg'" (change)="onSelect($event)" class="drag-drop">
  <ngx-dropzone-label  class="noborder">
     <div class="flexible" style="height: 230px;justify-content: center;">
        <div class="upload-label">
           <img src="../../assets/images/cloud-upload.png" style="width: 40px;margin: auto;">
           <span><b>Drag and drop assets to upload</b><br>
           or click to select files to upload</span>
        </div>
     </div>
  </ngx-dropzone-label>
  <ul class="flexible upload-prevoew">
     <li  *ngFor="let f of filesMap | keyvalue">
        <ngx-dropzone-preview class="upload-file-preview upload-progress-bar-{{f.key}}" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label class="flexible" style="margin: unset;">
           <div style="width: 80%;text-align: left;">
              <p class="imgLabel">{{ shortTheString(f.value.name, 20) }}</p>
              <span *ngIf="filesUploadDone[f.key]" class="imgSize">{{ humanFileSize(f.value.size) }}</span>
              <span *ngIf="!filesUploadDone[f.key]" class="upload-loading">Uploading...</span>
           </div>
           <div *ngIf="filesUploadDone[f.key]" style="width: 20%; text-align: center;">
              <img src="../../assets/images/BtnTickbox.png">
           </div>
        </ngx-dropzone-label>
        </ngx-dropzone-preview>
     </li>
  </ul>
  </ngx-dropzone>
  <div *ngIf="step === 2" class="publish-assets">
     <div class="custompadding">
        <ul class="flexible upload-prevoew">
           <li  style="margin: unset;">
              <div class="assets-selected"  >
                 <div class="flexible" style="margin: unset;">
                    <div style="width: 80%;text-align: left;">
                       <p class="assets-selected-text">{{ getSelectedAssetsTitle() }}</p>
                       <span class="imgSize">{{ getTotalFileSize() }}</span>
                    </div>
                    <div style="width: 20%; text-align: center;">
                       <img src="../../assets/images/BtnTickbox.png">
                    </div>
                 </div>
              </div>
           </li>
        </ul>
        <div class="select-workspace">
           <div class="select-workspace-menu row" style="width: 100%;">
              <!-- <div class="" > -->
              <div class="col-xl-3 col-md-3">
                 <div class="menu-title">Workspace</div>
              </div>
              <div class="col-xl-9 col-md-9">
                 <div class="flexible">
                    <div class="workshaptitle">{{ selectedWorkspace.title || "Please select workspace!" }}</div>
                    <div class="select-workspace-menu-btn" (click)="showWorkspaceList()">Change workspace</div>
                 </div>
              </div>
              <!-- </div> -->
           </div>
           <div *ngIf="showWsList" class="workspace-list">
               <span class="triangle"></span>
              <div *ngFor="let ws of workspaceList">
                 <div
                 class="workspace-title"
                 [class.ws-selected]="selectedWorkspace.id === ws.id"
                 (click)="selectWorkspace(ws)"
                 >
                 {{ ws.title }}
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="upload-form">
     <div class="row upload-form-input">
        <div class="col-xl-3 col-md-3">
           <label for="title"> Title<br>
           <span style="font-size: 14px">Project or event name</span></label>
           <div id='custom-select-status' class='hidden-visually' aria-live="polite"></div>
        </div>
        <div class="col-xl-9 col-md-9 flexible">
           <div class="custom-select" id="myCustomSelect">
              <input type="text" id="title" value="{{folderToAdd || selectedFolder?.title}}" (input)="filterFolder($event)" (focus)="focusDropdown()" (focusout)="focusOutDropdown()" class="select-css"  placeholder="Search for existing folder or create new folder" [ngClass]="{'goldenText': selectedFolder?.title || folderToAdd}">

              <span class="custom-select-icons">
              <i class="fa fa-caret-down"></i>
              </span>
              <ul *ngIf="showCustomDropdown" class="custom-select-options" id="custom-select-list">
                 <div style="    min-height: 52px;
                 max-height: 150px;
                 overflow: auto;">
                 <li *ngFor="let folder of dropdownFolderList" (click)="selectFolder(folder)" class="styled">{{folder.title}}</li>
                 <li *ngIf="!dropdownFolderList || dropdownFolderList.length === 0"><span style="font-style: italic;">-No folder found-</span></li>
                 </div>
                 <li class="styled yellowfix">
                    <div class="add-new-option">
                       <div class="flexible">
                          <!-- <mat-icon>add</mat-icon> -->
                          <img src="../../assets/images/Regular.png" style="    width: 14px;
                          margin-right: 5px;" (click)="addNewFolder(folderToAdd)">
                          <input type="text" id="titleAddNew" #folderToAdd placeholder="Create new folder" class="add-new-input">
                       </div>
                       <!-- <mat-icon class="add-new-btn" (click)="addNewFolder(folderToAdd)">check</mat-icon> -->
                       <img src="../../assets/images/Shape.png" (click)="addNewFolder(folderToAdd)">
                    </div>
                 </li>
              </ul>
           </div>
           <div class="tooltip1">
              <img src="../../assets/images/Info-icon.svg">
              <span class="tooltiptext">Either select an exsiting folder by searching the keyword or name a new folder.</span>
           </div>
           <!-- <mat-icon class="info-icon" matTooltip="Select an existing folder or create a new folder">info</mat-icon> -->
        </div>
     </div>
     <div class="upload-form-input row">
      <div class="col-xl-3 col-md-3">
         <label for="title">Description <br><span style="font-size: 14px">(optional)</span></label>
      </div>
      <div class="col-xl-9 col-md-9"  [ngClass]="{'grayField': descriptionFilled}">
         <textarea [disabled]="descriptionFilled" [(ngModel)]="description" id="title" name="Title" [ngClass]="{'goldenText': description }"></textarea>
      </div>
     </div>
     <div class="row upload-form-input custom-date-picker">
        <div class="col-xl-3 col-md-3">
           <label for="date">Associated Date <br><span style="font-size: 14px">(optional)</span></label>
        </div>
        <div class="col-xl-9 col-md-9 flexible" [ngClass]="{'grayField': disableDateInput}">
           <mat-form-field appearance="fill">
              <!-- <mat-label>Choose a date</mat-label> -->
              <!-- #docregion toggle -->
              <input matInput [matDatepicker]="picker" style="width: 100%; border-bottom: 1.5px solid #000;"
              placeholder="Choose a date" [(ngModel)]="associatedDate" (click)="picker.open()" [disabled]="disableDateInput" [ngClass]="{'goldenText': associatedDate}">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <!-- #enddocregion toggle -->
           </mat-form-field>
           <!-- <input id="date" [(ngModel)]="associatedDate" [matDatepicker]="myDatepicker" style="border-bottom: 1.5px solid #000;"> -->
           <!-- <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker> -->
           <!-- <input type="date" id="start" name="trip-start" [(ngModel)]="associatedDate" style="border-bottom: 1.5px solid #000;"> -->
           <!-- <input id="date" [(ngModel)]="associatedDate" [matDatepicker]="myDatepicker" style="border-bottom: 1.5px solid #000;">
              <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker> -->
        </div>
     </div>
     <div class="upload-form-input row">
        <div class="col-xl-3 col-md-3">
           <label for="confidentiality">Confidentiality</label>
        </div>
        <div class="col-xl-9 col-md-9 flexible">
         <ng-select placeholder="Specify sensitivity" (change)="onSelectConfidentiality($event)" [(ngModel)]="confidentiality" id="confidentiality" [ngClass]="{'goldenText': confidentiality}">
            <ng-option *ngFor="let c of CONFIDENTIALITY | keyvalue" [value]="c.value">
                {{c.value}}
            </ng-option>
         </ng-select>

           <!-- <select name="confidentiality" (change)="onSelectConfidentiality($event.target.value)" id="confidentiality" [ngClass]="{'goldenText': confidentiality }" >
           <option value="" disabled selected hidden invalid >Specify sensitivity</option>
           <option style="color: golden;" [selected]="confidentiality === c.value" *ngFor="let c of CONFIDENTIALITY | keyvalue" value="{{c.value}}">{{ c.value }}</option>
           </select> -->


           <!-- <button type="button" class=" mr-2" placement="left" ngbTooltip="Confidentiality can't be changed once the asset is published.">
              <img src="../../assets/images/Info-icon.svg">
              </button> -->
           <!-- <button type="button" class="btn btn-outline-secondary mr-2" placement="left" ngbTooltip="Tooltip on left">
              Tooltip on left
              </button> -->
           <!-- <mat-icon class="info-icon" matTooltip="Confidentiality can't be changed once the asset is published.">info</mat-icon> -->
           <div class="tooltip1">
              <img src="../../assets/images/Info-icon.svg">
              <span class="tooltiptext">Ground X will classify the asset(s) as per the sensitivity specified.</span>
           </div>
        </div>
     </div>
     <div class="upload-form-input row">
        <div class="col-xl-3 col-md-3">
           <label for="access">Show to</label>
        </div>
        <div class="col-xl-9 col-md-3 flexible">
         <ng-select placeholder="Specify visibility" (change)="onSelectAccess($event)" [(ngModel)]="access" id="access" [ngClass]="{'goldenText': access}">
            <ng-option *ngFor="let c of ACCESS | keyvalue" [value]="c.value" [disabled]="checkAccessOptionDisabled(c.value)">
                {{c.value}}
            </ng-option>
         </ng-select>

           <!-- <select name="access" (change)="onSelectAccess($event.target.value)" id="access" [ngClass]="{'goldenText': access }" >
            <option value="" disabled selected hidden invalid >Specify sensitivity</option>
           <option [selected]="access === c.value" [disabled]="checkAccessOptionDisabled(c.value)" *ngFor="let c of ACCESS | keyvalue" value="{{c.value}}">{{ c.value }}</option>
           </select> -->
           <!-- <mat-icon class="info-icon" matTooltip="Acess rights can't be changed once the asset is published.">info</mat-icon> -->
           <div class="tooltip1">
              <img src="../../assets/images/Info-icon.svg">
              <span class="tooltiptext">Ground X will only display the asset(s) to the specified users</span>
           </div>
        </div>
     </div>
     <div *ngIf="checkShowUserDropdown()" class="upload-form-input row">
        <div class="col-xl-3 col-md-3">
           <label for="user">Users</label>
        </div>
        <div class="col-xl-9 col-md-9">
           <p class="userText pb-2">Please specify the restricted users</p>
           <ng-select
           [items]="userList$ | async"
           bindLabel="id"
           bindValue="id"
           [multiple]="true"
           [hideSelected]="true"
           [trackByFn]="trackByFn"
           [minTermLength]="2"
           [loading]="userLoading"
           typeToSearchText="Search users"
           [typeahead]="userInput$"
           [(ngModel)]="selectedUsers"
           [ngClass]="{'goldenText': selectedUsers }" >
           <ng-template ng-option-tmp let-item="item">
              {{item.id}} ({{item.fullname}})
           </ng-template>
           </ng-select>
        </div>
     </div>
     <div class="upload-form-input row">
        <div class="col-xl-3 col-md-3">
           <label for="allow">Allow use in</label>
        </div>
        <div class="col-xl-9 col-md-3 flexible">
         <ng-select placeholder="Specify permissible usage" (change)="onSelectAllow($event)" [(ngModel)]="allow" id="allow" [ngClass]="{'goldenText': allow}">
            <ng-option *ngFor="let c of ALLOW | keyvalue" [value]="c.value">
                {{c.value}}
            </ng-option>
         </ng-select>
        </div>
     </div>
  </div>
</div>
<div *ngIf="step === 3">
  <div>Please review the classifications of the uploaded files.</div>
  <div class="publish-summary">
     <span>{{ getSelectedAssetsTitle() }}</span>
     <div class="publish-summary-location flexible">
        <div class="flexible">
           <img src="../../assets/images/upload.png">
           <!-- <mat-icon>folder</mat-icon> -->
           <span style="margin-left: 10px; display: block;">{{ folderToAdd || selectedFolder?.title }}</span>
        </div>
        <div style="margin-left: 20px;" class="flexible">
           <!-- <mat-icon>calendar_today</mat-icon> -->
           <img src="../../assets/images/calendar.png">
           <span style="margin-left: 10px; display: block;">{{ showLocaleDate(associatedDate) }}</span>
        </div>
     </div>
  </div>
  <div class="publish-file-preview-groups fix-scroll">
     <div *ngFor="let file of filesMap | keyvalue" class="publish-file-preview">
        <div class="publish-file-preview-img">
           <img [src]="imageSrc[file.key] || getPreviewSrc(file.value, file.key)" alt="preview" class="preview-img"
              onerror="this.src='./assets/images/preview-placeholder.png';"/>
           <span>{{ file.value.name }}<br /><br /><span>2.17 MB</span></span>
           <div class="copyright-information">
              <div (click)="openCopyright(file.key)" *ngIf="!openCopyrightMap[file.key]">
               <img src="../../assets/images/add-copyright-golden.svg" alt="Add copyright information" /> Add copyright information
              </div>
              <div *ngIf="openCopyrightMap[file.key]" class="copyright-form">
                 <ul>
                    <li>
                       <img (click)="closeCopyright(file.key)" src="../../assets/images/add-circle-brown.svg" alt="Copyright Owner" />
                    </li>
                    <li>
                       <div class="copyright-input-block">
                        Ⓒ <input type="text" placeholder="Copyright Owner" [(ngModel)]="copyrightUserMap[file.key]" class="copyright-input">
                       </div>
                    </li>
                    <li>
                        <ng-select [items]="years"
                           bindLabel="name"
                           [(ngModel)]="copyrightYearMap[file.key]"
                           placeholder="Year" ngDefaultControl>
                        </ng-select>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
        <div class="publish-file-preview-access">
           <div class="upload-form-input row">
              <div class="col-xl-4">
                 <label for="confidentiality">Confidentiality</label>
              </div>
              <div class="col-xl-8 ">
                 <!-- <select name="confidentiality" (change)="onSelectConfidentiality($event.target.value, file.key)" id="confidentiality" [ngClass]="{'goldenText': confidentiality }" >
                 <option [selected]="confidentiality === c.value" *ngFor="let c of CONFIDENTIALITY | keyvalue" value="{{c.value}}">{{ c.value }}</option>
                 </select> -->


                 <ng-select (change)="onSelectConfidentiality($event, file.key)" name="confidentiality" id="confidentiality" [ngModel]="confidentiality"  [ngClass]="{'goldenText': confidentiality }">
                  <ng-option  *ngFor="let c of CONFIDENTIALITY | keyvalue" value="{{c.value}}" value="{{c.value}}">{{ c.value }}
                  </ng-option>
                  </ng-select>
              </div>
           </div>
           <div class="upload-form-input row">
              <div class="col-xl-4">
                 <label for="access">Show to</label>
              </div>
              <div class="col-xl-8">
                 <!-- <select name="access" (change)="onSelectAccess($event.target.value, file.key)" id="access" [ngClass]="{'goldenText': access }" >
                 <option [selected]="access === c.value"  [disabled]="checkAccessOptionDisabled(c.value, file.key)" *ngFor="let c of ACCESS | keyvalue" value="{{c.value}}">{{ c.value }}</option>
                 </select> -->


                 <ng-select name="access" (change)="onSelectAccess($event, file.key)" id="access" [ngModel]="access" [ngClass]="{'goldenText': access }" >
                  <ng-option [disabled]="checkAccessOptionDisabled(c.value, file.key)" *ngFor="let c of ACCESS | keyvalue" value="{{c.value}}">{{ c.value }}
                  </ng-option>
                  </ng-select>
              </div>
           </div>
           <div *ngIf="checkShowUserDropdown(file.key)" class="upload-form-input row" style="display: flex;">
              <div class="col-xl-4">
                 <label for="user">Users</label>
              </div>
              <div class="col-xl-8">
                 <ng-select
                 [items]="userList$ | async"
                 bindLabel="id"
                 bindValue="id"
                 [multiple]="true"
                 [hideSelected]="true"
                 [trackByFn]="trackByFn"
                 [minTermLength]="2"
                 [loading]="userLoading"
                 typeToSearchText="Search users"
                 [typeahead]="userInput$"
                 [(ngModel)]="customUsersMap[file.key]">
                 <ng-template ng-option-tmp let-item="item">
                    {{item.id}} ({{item.fullname}})
                 </ng-template>
                 </ng-select>
              </div>
           </div>
           <div class="upload-form-input row">
              <div class="col-xl-4">
                 <label for="allow">Allow use in</label>
              </div>
              <div class="col-xl-8">
                 <!-- <select name="allow" (change)="onSelectAllow($event.target.value, file.key)" id="allow" [ngClass]="{'goldenText': allow }" >
                 <option [selected]="allow === c.value" *ngFor="let c of ALLOW | keyvalue" value="{{c.value}}">{{ c.value }}</option>
                 </select> -->



                 <ng-select name="allow" (change)="onSelectAllow($event, file.key)" id="allow" [ngModel]="allow" [ngClass]="{'goldenText': allow }" >
                  <ng-option  *ngFor="let c of ALLOW | keyvalue" value="{{c.value}}">{{ c.value }}
                  </ng-option>
                  </ng-select>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<div *ngIf="step === 4">
  <div class="finish-screen">
     <!-- <mat-icon>upload</mat-icon> -->
     <span>Your assets have been successfully published on Ground X.</span>
     <div class="destination-folder-block" (click)="openBrowseRoute()" style="cursor: pointer;">
        <div class="destination-img-block">
         <img src="../../../assets/images/yellow-folder.png" style="max-width: 100%;">
        </div>
        <div class="destination-content-block">
         <span class="assetName" style="width: 100%;text-align: left; display: block;">{{ folderToAdd || selectedFolder?.title }}</span>
        </div>
     </div>
     <div (click)="closeModal()" class="close-modal">
        <!-- <mat-icon>close</mat-icon> -->
        Close
     </div>
  </div>
</div>
<div class="button-groups" *ngIf="step !== 4">
  <button (click)="closeModal()" class="cancel-btn">Cancel</button>
  <div class="progress-btns">
     <button class="cancel-btn" *ngIf="step > 1" (click)="toPreviousStep()">Back</button>
     <button class="upload-btn" [disabled]="checkButtonDisabled()" (click)="toNextStep()">{{ buttonLabel }}</button>
  </div>
</div>
</div>