<div class="upload-modal">
   <button type="button" class="close-modal-icon" aria-label="Close" (click)="openBrowseRoute($event)">
      <img src="../../assets/images/close-modal.svg" style="width: 20px" />
   </button>
   <mat-horizontal-stepper *ngIf="step !== 4" [linear]="true" #stepper>
      <mat-step [completed]="!checkUploadStep()">
         <ng-template matStepLabel>Select assets</ng-template>
         <div>
            <ngx-dropzone #drop class="drag-drop" [ngClass]="{'dragDropDate' : !getAssetNumber() }" (change)="onSelect($event)" id="customScrollBar"> <!-- (change)="onSelect($event, fileLimitExceeded)"-->
               <!--  [accept]="'application/pdf,image/jpeg,image/jpg,image/png,image/gif,video/x-flv,video/mp4,application/x-mpegURL,video/x-m4v,video/x-msvideo,video/mpeg'" -->
            <ngx-dropzone-label  class="noborder" *ngIf="!data?.dropFilesNew?.length" >
               <div class="flexible" style="justify-content: center;position: relative;margin: 0px auto; height: 100%;" *ngIf="sizeExeeded && !uploadLimit" >
                  <div class="checkUploadLength">
                     <img src="../../assets/images/controller-360.svg" alt="" style="margin: 0px auto;" />
                     <h2>Assets larger than 50GB take too long to upload. Consider breaking into smaller files.</h2>
                     <div class="butonBlock">
                        <div class="cancelUpload" (click)="openBrowseRoute($event)">Cancel upload</div>
                        <div class="cancelUpload" (click)="proceedClick($event)">Proceed anyway</div>
                     </div>
                  </div>
               </div>
               
               <div class="flexible" style="justify-content: center;position: relative;margin: 0px auto" *ngIf="!sizeExeeded && !uploadLimit">
                  <div class="upload-label"> <!-- Remove *ngIf="!fileLimitExceed"-->
                     <img src="../../assets/images/private-fileshare-icon.svg" alt="" style="margin: 0px auto;" /> 
                     <span style="margin-top: 20px; color: #040404; padding-bottom: 10px;"><b>{{ !data ? 'Drag and drop assets to upload' : 'Drag and drop to upload assets to '}} </b></span>
                     <div *ngIf="data" class="uploadAssetsBlock">
                        <div class="folder-img">
                           <img src="../../assets/images/folder-icon.svg" style="width: 60px;margin: 0 14px 0 0;">
                        </div>
                        <div class="folder-content">
                           <div class="folderHeading">
                              {{shortTheString(data.title, 35)}}
                              <span>/{{WORKSPACE_ROOT}}{{data.path}}</span>
                           </div>
                        </div>
                     </div>
                     <span style="font-family: 'brownlight'; color: #040404;">{{ !data ? 'or click to select files to upload' : 'or click to select assets to upload'}}</span>
                  </div>
                  <!-- <div class="errortext">
                     <span class="errorInfotxt goldenText">Images, videos and PDF documents only</span>
                  </div> -->
               </div>

               <div class="limitExceeded" *ngIf="uploadLimit">
                  <img src="../../assets/images/file-size-icon.svg" alt="" />
                  <div class="uploadText">You can only upload 50 assets at a time.</div>
                  <button class="cancel-btn" (click)="$event.stopPropagation(); closeAll()">OK</button>
               </div>
            </ngx-dropzone-label>
            <!-- <div class="malware" style="color: red;width: 100%; text-align: center;" *ngIf="fileLimitExceed">You can upload upto 100 files</div> -->
            <ul class="flexible upload-preview" *ngIf="!sizeExeeded">
               <li *ngFor="let f of filesMap | keyvalue">
                  <ngx-dropzone-preview *ngIf="!f?.value['isVirus']" class="upload-file-preview upload-progress-bar-{{f.key}}" [ngClass]="{'fillbar': filesUploadDone[f.key]}" [removable]="true" (removed)="onRemove(f)">
                     <ngx-dropzone-label class="" style="margin: unset;">
                        <div *ngIf="!f?.value['isVirus']" style="width: 100%;text-align: left;margin-top: 0px;">
                           <p class="imgLabel">{{ shortTheString(f.value.name, 20) }}</p>
                           <span *ngIf="filesUploadDone[f.key]" class="imgSize">{{ humanFileSize(f.value.size) }}</span>
                           <span *ngIf="!filesUploadDone[f.key]" class="upload-loading">Uploading</span>
                           <div *ngIf="filesUploadDone[f.key] && !f?.value['isVirus']" class="selected-icon">
                              <img src="../../assets/images/BtnTickbox.png" style="float: right;">
                           </div>
                        </div>
                        <!-- <div *ngIf="filesUploadDone[f.key] && !f?.value['isVirus']" style="width: 20%; text-align: center;">
                           <img src="../../assets/images/BtnTickbox.png" style="float: right;">
                        </div> -->
                     </ngx-dropzone-label>
                  </ngx-dropzone-preview>

                  <!-- below div for virus containing files -->
                  <ngx-dropzone-preview *ngIf="f?.value['isVirus']" class="upload-file-preview errorNewUi upload-progress-bar-{{f.key}}" [ngClass]="{'fillbar': filesUploadDone[f.key]}" [removable]="true" (removed)="onRemove(f)">
                     <ngx-dropzone-label class="flexible" style="margin: unset;">
                        <div  style="width: 80%;text-align: left;margin-top: 0px;">
                           <p class="imgLabel">{{ shortTheString(f.value.name, 20) }}</p>
                           <!-- <span *ngIf="filesUploadDone[f.key]" class="imgSize">{{ humanFileSize(f.value.size) }}</span> -->
                           <span class="upload-loading">
                              <span class="malware">File upload failed</span>
                              <img src="../../assets/images/btn-tickbox.svg" class="tickboxImg" />
                           </span>
                        </div>
                        <!-- <div *ngIf="f?.value['isVirus']" style="width: 20%; text-align: center;">
                           <img src="../../assets/images/circle-close-gray.png" style="float: right;">
                        </div> -->
                     </ngx-dropzone-label>
                  </ngx-dropzone-preview>
               </li>
            </ul>
            </ngx-dropzone>
            <div class="row pt-2 acknowledgeBlock">
               <div class="col-xl-3" *ngIf="getAssetNumber() && !sizeExeeded" >
                  <div class="flexible pt-3 pointer" style="align-items: end;" (click)="drop.showFileSelector()">
                     <a>
                     <img src="../../assets/images/addTags.svg" style="width: 20px;margin-right: 8px;">
                     </a>
                     <span class="goldenText">
                     Add more assets
                     </span>
                  </div>
               </div>
               <div class="col-xl-9 flexible" *ngIf="getAssetNumber() && !sizeExeeded">
                  <label class="control control--checkbox" style="margin-bottom: 0px;">
                     Where any of the assets being uploaded contains a photo/video of a recognizable individual, I acknowledge that I have sought and received the consent of the person to store their photo/video and make accessible to other users across NEOM. I also acknowledge that I have a clear business justification for storing this asset
                     <input type="checkbox" checked="checked"
                     [(ngModel)]="agreeTerms"
                     [ngModelOptions]="{standalone: true}"/>
                     <div class="control__indicator"></div>
                  </label>
               </div>
            </div>

            <div class="button-groups" style="padding-top: 0px; padding-right: 0px; padding-left: 0px; position: relative; bottom: 0px;">
               <button (click)="dialogRef.close()" class="cancel-btn">Cancel</button>
               <div class="progress-btns">
                  <button *ngIf="!isPrivateFolder() && !checkboxIsPrivate" mat-button matStepperNext class="upload-btn tollTipCustom" [disabled]="checkUploadStep()">
                     Next
                     <div *ngIf="checkUploadStep()" class="tolltipContent" style="top: -30px; right: 0px; left: auto;">
                        Please complete all mandatory fields to proceed
                      </div>
                  </button>
                  <button *ngIf="(isPrivateFolder() || checkboxIsPrivate) && !publishing" (click)="publish()" mat-button class="upload-btn tollTipCustom" [disabled]="checkUploadStep()">
                     Upload
                     <div *ngIf="checkUploadStep()" class="tolltipContent" style="top: -30px; right: 0px; left: auto;">
                        Please complete all mandatory fields to proceed
                      </div>
                  </button>
                  <button *ngIf="(isPrivateFolder() || checkboxIsPrivate) && publishing" mat-button class="upload-btn" style="position: relative" >
                     {{!isPrivateFolder()?'Publish':'Upload'}} <app-loader-small [show]="loading"></app-loader-small>
                  </button>
               </div>
            </div>
         </div>
      </mat-step>

      <mat-step [completed]="!checkUploadFormStep()" >
         <ng-template matStepLabel>Add information</ng-template>
         <div class="upload-form" id="customScrollBar">
            <div  class="publish-assets">
               <div class="custompadding">
                  <ul class="flexible upload-preview">
                     <li class="flexible" style="margin: unset;">
                        <div class="assets-selected">
                           <div style="margin: unset; position: relative;">
                              <div style="width: 80%;text-align: left;margin-top: 0px;">
                                 <p class="assets-selected-text">{{ getSelectedAssetsTitle() }}</p>
                                 <span class="imgSize">{{ getTotalFileSize() }}</span>
                                 <div class="selected-icon step2">
                                    <img src="../../assets/images/BtnTickbox.png" style="float: right;">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
                  <div class="select-workspace">
                     <div class="select-workspace-menu row" style="width: 100%;">
                        <div class="col-xl-3 col-md-3">
                           <div class="menu-title">Workspace</div>
                        </div>
                        <div class="col-xl-9 col-md-9">
                           <div class="flexible">
                              <div class="workshaptitle">{{ selectedWorkspace.title || "Select workspace" }}</div>
                              <div class="select-workspace-menu-btn pointer" (click)="showWorkspaceList()">Change workspace</div> <!-- *ngIf="!data"  [ngClass]="{'disableDiv': data}" -->
                           </div>
                        </div>
                     </div>
                     <div *ngIf="showWsList" class="workspace-list">
                        <span class="triangle"></span>
                           <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                                 <li ngxSlickItem  *ngFor="let ws of workspaceList, let i = index"  class="slide">
                                    <div class="workspace-title" [class.ws-selected]="selectedWorkspace.uid === ws.uid" (click)="selectWorkspace(ws)">{{ ws.title }}</div>
                                 </li>
                           </ngx-slick-carousel>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row upload-form-input mb-20">
               <div class="col-xl-3 col-md-3">
                  <label for="title">Folder name<br>
                  <span style="font-size: 12px" *ngIf="!data">e.g. Title of project or event</span></label>
                  <div id='custom-select-status' class='hidden-visually' aria-live="polite"></div>
               </div>
               <div class="col-xl-9 col-md-9 flexible">
                  <!-- <div *ngIf="data" class="workshaptitle" style="padding-left: 0; margin-left: -2px;">{{folderNameParam}}</div> -->
                  <div  class="custom-select" id="myCustomSelect" [ngClass]="{'goldenText': selectedFolder?.title || folderToAdd || folderNameParam}"> <!-- *ngIf="!data"-->
                     <input autocomplete="off" type="text" id="title" #searchFolderInput value="{{sharedService.stringShortener(folderOrder,30)}}"
                        [(ngModel)]="folderNameParam" (input)="filterFolder($event)"  (click)="opened = !opened" class="select-css"  placeholder="Search for a folder or create a new one" > <!-- (focusout)="focusOutDropdown()" --> <!-- [disabled]="data"-->
                     <span class="custom-select-icons" (click)="opened = !opened" ><!-- (focusout)="focusOutDropdown()" -->
                        <i class="fa fa-angle-down"></i>
                     </span>
                     <ul class="custom-select-options" id="custom-select-list"
                     *ngIf="opened" (clickOutside)="clickOutside()">
                        <div class="breadcrumb-folder">
                           <span *ngFor="let folder of breadCrumb; let i = index">
                              <!-- span *ngIf="i > 0">/</span><a [ngClass]="i !== breadCrumb.length - 1 ? 'breadcrumb-active' : 'breadcrumb-not-active'" (click)="getFolderByParentId(folder.uid, folder.path, i); removeBreadcrumb(folder.title); selectFolder(folder); $event.stopPropagation()" <i>Go back to starting folder</i>--> 
                              <span *ngIf="i > 0">/</span><a [ngClass]="i !== breadCrumb.length - 1 ? 'breadcrumb-active' : 'breadcrumb-not-active'" (click)="getFolderByParentId(folder.uid, folder.path, i); removeBreadcrumb(folder.title); $event.stopPropagation()">
                                 
                                 {{sharedService.stringShortener(folder.title,30)}}
                              </a>
                           </span>
                           <div style="display: block; clear: both; height: 1;"></div>
                           <!-- <a *ngIf="breadCrumb.length >= 2" class="back-icon" (click)="getFolderByParentId(breadCrumb[breadCrumb.length - 2].uid, breadCrumb[breadCrumb.length - 2].path, null); removeBreadcrumb(selectedFolder?.title)"><i class="fa fa-angle-left" aria-hidden="true" ></i> Back</a> -->
                           <div [ngClass]="{'showBackBtn' : breadCrumb.length >= 2}" class="back-icon" (click)="getFolderByParentId(breadCrumb[breadCrumb?.length - 2].uid, breadCrumb[breadCrumb.length - 2].path, null); removeBreadcrumb(selectedFolder?.title); $event.stopPropagation()"><i class="fa fa-angle-left" aria-hidden="true" ></i> Back</div>
                        </div>
                        <div style="min-height: 52px; max-height: 138px; overflow: auto; margin-bottom: 10px;" id="customScrollBar">
                           <li *ngFor="let folder of dropdownFolderList" class="styled">
                              <div (click)="selectFolder(folder)" class="folderTitle">
                                 <img src="../../assets/images/folderBlack.png" style="width: 18px; margin-right: 10px; vertical-align: -2px;">
                                 {{folder.title}}
                                 <span *ngIf="folder?.properties['dc:isPrivate']" class="publicUseBlk">Private</span>
                              </div>
                              <span (click)="getFolderByParentId(folder.uid, folder.path); extractBreadcrumb(folder.contextParameters); $event.stopPropagation()" class="folderTitleArrow">
                                 <img src="../../assets/images/back-arrow.svg" />
                              </span>
                           </li>
                           <li *ngIf="!dropdownFolderList || dropdownFolderList.length === 0">
                              <span style="font-style: italic;">-No folder found-</span>
                           </li>
                        </div>
                        <!-- <li *ngIf="!showFolderNameField" class="styled yellowfix">
                           <div class="add-new-option">
                              <div class="flexible" (click)="showFolderNameField = true">
                                 <img src="../../assets/images/add-circle.svg" style="width: 18px; margin-right: 10px;" >
                                 <span>Create a new folder</span>
                              </div>
                           </div>
                        </li> -->
                        <li *ngIf="showCreateFolderButton(searchFolderInput.value)" class="styled yellowfix" (click)="addNewFolder(searchFolderInput)">
                           <div class="add-new-option">
                              <div class="flexible">
                                 <!-- <mat-icon>add</mat-icon> -->
                                 <img src="../../assets/images/add-circle.svg" style="width: 18px; margin-right: 10px;" >
                                 <span>Create folder "{{searchFolderInput.value.split('/').pop()}}"</span>
                              </div>
                              <!-- <mat-icon class="add-new-btn" (click)="addNewFolder(folderToAdd)">check</mat-icon> -->
                              <!-- <img src="../../assets/images/Shape.png" (click)="addNewFolder(folderToAdd)"> -->
                           </div>
                        </li>
                     </ul>
                  </div>
                  <div class="tooltip1" *ngIf="!data">
                     <img src="../../assets/images/Info-icon.svg">
                     <span class="tooltiptext">Either select an exsiting folder by searching the keyword or name a new folder.</span>
                  </div>
                  <!-- <mat-icon class="info-icon" matTooltip="Select an existing folder or create a new folder">info</mat-icon> -->
               </div>
            </div>
            <div class="update-form-input row mb-20">
               <!-- <div class="col-xl-3 col-md-3"></div> -->
               <div  class="col-xl-12 col-md-12">
                  <!-- [ngClass]="{'disableDiv': data}" -->

                  <div class="upload-form-input row mb-20" *ngIf="enableFolderType">
                     <div class="col-xl-3 col-md-3">
                        <label for="title">Folder type</label>
                     </div>
                     <div class="col-xl-9 col-md-9 folderType"  [ngClass]="{'grayField': descriptionFilled}" >
                        <div class="row">
                           <div class="col-xl-2 col-md-2">
                              <div class="row">
                                 <div class="col-xl-12 mb-10">
                                    <label class="control control--checkbox" (change)="handleChange($event, 'published')" style="margin-bottom: 0px; display: inline-block;">
                                      Published
                                      <input type="radio" id="Published" name="publishedPrivate" checked/>
                                      <div class="control__indicator" for="Published" style="top: 4px;left: 0px; border-radius: 100px;"></div>
                                    </label>
                                  </div>
                                  <div class="col-xl-12 mb-10">
                                    <label class="control control--checkbox" (change)="handleChange($event, 'private')" style="margin-bottom: 0px; display: inline-block;">
                                      Private
                                      <input type="radio" id="Private" name="publishedPrivate"/>
                                      <div class="control__indicator" for="Private" style="top: 4px;left: 0px;border-radius: 100px;"></div>
                                    </label>
                                  </div>
                              </div>
                           </div>
                           <div class="col-xl-10 col-md-10" >
                              <div class="row">
                                 <div class="col-xl-12 mb-10">
                                    <div class="publishingAssets" *ngIf="publishingAssets">
                                       <p>Used for publishing assets to "<strong>ALL USERS</strong>" or "<strong>ALL NEOM EMAIL HOLDERS</strong>"</p>
                                       
                                       <table class="table table-bordered">
                                          <tbody>
                                             <tr>
                                                <td style="padding-left: 0px; white-space: nowrap;">Discoverable from search</td>
                                                <td style="border-right: 0px; font-family: 'brownregular';">Yes</td>
                                             </tr>
                                             <tr>
                                                <td style="padding-left: 0px; white-space: nowrap;">Access and Usage</td>
                                                <td style="border-right: 0px; font-family: 'brownregular';">Set per asset <br />("ALL USERS" or "ALL NEOM EMAIL HOLDERS")</td>
                                             </tr>
                                             <tr>
                                                <td style="padding-left: 0px; white-space: nowrap;">Can receive files from external users</td>
                                                <td style="border-right: 0px;font-family: 'brownregular';">No</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                      
                                      <!-- <ul>
                                        <li>
                                          <span class="leftCont">Access and Usage:</span> <span class="rightCont">Set per asset ("ALL USERS" or "ALL NEOM EMAIL HOLDERS")</span>
                                        </li>
                                        <li>
                                          <span class="leftCont">Can receive files from external users:</span> <span class="rightCont">No</span>
                                        </li>
                                      </ul> -->
                                    </div>
       
                                    <div class="publishingAssets" *ngIf="publishingPrivateAssets">
                                      <p>Used for restricting files to specific users or receiving files from external users</p>
                                      <table class="table table-bordered">
                                          <tbody>
                                             <tr>
                                                <td style="padding-left: 0px; white-space: nowrap;">Access and Usage</td>
                                                <td style="border-right: 0px; font-family: 'brownregular';">Folder members only</td>
                                             </tr>
                                             <tr>
                                                <td style="padding-left: 0px; white-space: nowrap;">Can receive files from external users</td>
                                                <td style="border-right: 0px;font-family: 'brownregular';">Yes (if folder member)</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                      <!-- <ul>
                                        <li>
                                          <span class="leftCont">Access and Usage:</span> <span class="rightCont">Folder members only</span>
                                        </li>
                                        <li>
                                          <span class="leftCont">Can receive files from external users:</span> <span class="rightCont">Yes (if folder member)</span>
                                        </li>
                                      </ul> -->
                                    </div>
                                  </div>
                              </div>
                           </div>
                         </div>
                     </div>
                  </div>

                  <div class="upload-form-input row mb-20">
                     <div class="col-xl-3 col-md-3">
                        <label for="title">Description <br><span style="font-size: 12px">Project or event description (optional)</span></label>
                     </div>
                     <div class="col-xl-9 col-md-9"  [ngClass]="{'grayField': descriptionFilled }" >
                        <!-- [ngClass]="{'grayField': descriptionFilled}" -->
                        <input type="text" [disabled]="descriptionFilled || !enableFolderType" [(ngModel)]="description" id="title" name="Title" [ngClass]="{'goldenText': description }" style="width: calc(100% - 50px); margin-top: 26px;" />
                        <!-- <textarea  [(ngModel)]="description" id="title" name="Title" [ngClass]="{'goldenText': description }"></textarea> -->
                        <!-- [disabled]="descriptionFilled" -->
                     </div>
                  </div>
                  <div class="row upload-form-input custom-date-picker mb-20">
                     <div class="col-xl-3 col-md-3">
                        <label for="date">Associated Date <br><span style="font-size: 12px">Project or event date (optional)</span></label>
                     </div>
                     <div class="col-xl-9 col-md-9 flexible" [ngClass]="{'grayField': descriptionFilled }" >
                        <!-- [ngClass]="{'grayField': disableDateInput}" -->
                        <!-- placeholder="Choose a date"  -->
                        <mat-form-field appearance="fill">
                           <input matInput [disabled]="disableDateInput || !enableFolderType" [matDatepicker]="picker" style="width: 100%; border-bottom: 1.5px solid #000;"
                           [(ngModel)]="associatedDate" (click)="picker.open()"  [ngClass]="{'goldenText': associatedDate}">
                           <!-- [disabled]="disableDateInput" -->
                           <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                           <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                     </div>
                  </div>


                  <!-- <mat-accordion>
                     <mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false" >
                     <mat-expansion-panel-header class="set-width" *ngIf="!data">
                        <mat-panel-description class="goldenText mb-10" style="font-size: 14px !important; color: #937206 !important; font-weight: 600 !important;">
                           {{panelOpenState ? 'Hide' : 'Show'}} optional information
                        </mat-panel-description>
                     </mat-expansion-panel-header>
                     <div class="upload-form-input row mb-20">
                        <div class="col-xl-3 col-md-3">
                           <label for="title">Description <br><span style="font-size: 14px">(optional)</span></label>
                        </div>
                        <div class="col-xl-9 col-md-9"  [ngClass]="{'grayField': descriptionFilled}">
                           <textarea [disabled]="descriptionFilled" [(ngModel)]="description" id="title" name="Title" [ngClass]="{'goldenText': description }"></textarea>
                        </div>
                     </div>
                     <div class="row upload-form-input custom-date-picker mb-20">
                        <div class="col-xl-3 col-md-3">
                           <label for="date">Associated Date <br><span style="font-size: 14px">(optional)</span></label>
                        </div>
                        <div class="col-xl-9 col-md-9 flexible" [ngClass]="{'grayField': disableDateInput}">
                           <mat-form-field appearance="fill">
                              <input matInput [matDatepicker]="picker" style="width: 100%; border-bottom: 1.5px solid #000;"
                              placeholder="Choose a date" [(ngModel)]="associatedDate" (click)="picker.open()" [disabled]="disableDateInput" [ngClass]="{'goldenText': associatedDate}">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                           </mat-form-field>
                        </div>
                     </div>
                     </mat-expansion-panel>
                  </mat-accordion> -->
               </div>
            </div>
         </div>

         <div class="button-groups" style="padding-top: 0px;">
            <button (click)="dialogRef.close()" class="cancel-btn">Cancel</button>
            <div class="progress-btns">
               <button *ngIf="!publishing" mat-button matStepperPrevious class="cancel-btn" (click)="backBtn()">Back</button>
               <button *ngIf="!isPrivateFolder() &&!checkboxIsPrivate" mat-button matStepperNext class="upload-btn tollTipCustom" (click)="copyUserMap()" [disabled]="checkUploadFormStep()">Review
                  <div *ngIf="checkUploadFormStep()" class="tolltipContent" style="top: -30px; right: 0px; left: auto;">
                     Please complete all mandatory fields to proceed
                   </div>
               </button>
               <button *ngIf="(isPrivateFolder() || checkboxIsPrivate) && !publishing" (click)="publish()" mat-button class="upload-btn tollTipCustom" [disabled]="checkUploadStep()">
                  Upload
                  <div *ngIf="checkUploadStep()" class="tolltipContent" style="top: -30px; right: 0px; left: auto;">
                     Please complete all mandatory fields to proceed
                   </div>
               </button>
               <button *ngIf="(isPrivateFolder() || checkboxIsPrivate) && publishing" mat-button class="upload-btn" style="position: relative" >
                  {{!isPrivateFolder() ? 'Publish':'Upload'}} <app-loader-small [show]="loading"></app-loader-small>
               </button>
            </div>
         </div>
      </mat-step>

      <mat-step>
         <ng-template matStepLabel >Publish assets</ng-template>
         <div class="reviewClassifaction">
            <!-- Upload Classification start -->
            <div class="updateClassificationBlk">
               <div class="updateClassification">
               <div class="updateClassiNameblock">
                  <div class="folderImg"><img src="../../assets/images/folder-icon.svg" alt="" /></div>
                  <div class="nameBreadcrumbBlk">
                     <div class="workspaceName">{{ folderToAdd || selectedFolder?.title || data?.title }}
                     <!-- <img src="../../assets/images/pencil-write.svg" alt="" class="renameFolderImg" /> -->
                     </div>
                     <!-- <div class="updateClassiBreadcrumb">/All sectors/Energy, Water & Food/Conference 2022</div> -->
                  </div>
               </div>
               <div class="assetsBlock">
                  <span style="padding-right: 3px; color: #413E3C; font-weight: normal;">{{getSelectedAssetsTitle1()}}, </span>
                  <span style="color: #413E3C;font-weight: normal;">{{getTotalFileSize()}}</span>
               </div>
               </div>
            </div>
            <!-- Upload Classification start -->


            <div class="upload-form-input row mb-20 uploadModalBlk">
               <div class="col-xl-12 mb-20">
                  <div class="workspaceName">Please review the classifications of the uploaded files.</div>
               </div>
               <div class="col-xl-6 col-md-6">
                  <div class="row">
                     <div class="col-xl-3 col-md-3">
                        <label for="confidentiality" style="text-align: right; display: block;">Confidentiality</label>
                     </div>
                     <div class="col-xl-9 col-md-9 flexible">
                        <ng-select placeholder="Specify sensitivity"
                           (change)="onSelectConfidentiality($event)"
                           [searchable]="true"
                           [clearable]="true"
                           [(ngModel)]="overallConfidentiality"
                           id="confidentiality"
                           [ngClass]="{'goldenText': overallConfidentiality}"
                        >
                           <ng-option *ngFor="let c of CONFIDENTIALITY | keyvalue" [value]="c.value">
                              {{CONFIDENTIALITY_LABEL[c.value]}}
                           </ng-option>
                        </ng-select>
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-md-6">
                  <div class="row">
                     <div class="col-xl-4 col-md-4">
                        <label for="access" style="text-align: right;display: block;">{{ACCESS_TITLE}}</label>
                     </div>
                     <div class="col-xl-8 col-md-8 flexible">
                        <ng-select placeholder="Specify visibility" [searchable]="true" [clearable]="true" (change)="onSelectAccess($event)" [(ngModel)]="overallAccess" id="access" [ngClass]="{'goldenText': overallAccess}">
                           <ng-option *ngFor="let c of ACCESSNEW | keyvalue" [value]="c.value" [disabled]="checkAccessOptionDisabled(c.value)">
                           {{ACCESS_LABEL[c.value]}}
                           </ng-option>
                        </ng-select>
                     </div>
                  </div>
               </div>
            </div>

            <div class="upload-form-input row mb-30 uploadModalBlk" *ngIf="checkShowUserDropdown()">
               <div class="col-xl-6 col-md-6">&nbsp;</div>
               <div class="col-xl-6 col-md-6">
                  <div class="row">
                     <div class="col-xl-12 col-md-12">
                        <label for="{{SPECIFIC_USER_LABEL}}" style="text-align: right;display: block;">{{SPECIFIC_USER_LABEL}}</label>
                        <ng-select style="height: unset !important;" 
                        (change)="userOverall()"
                        [items]="userList$ | async"
                        bindLabel="id"
                        bindValue="id"
                        [multiple]="true"
                        [hideSelected]="true"
                        [trackByFn]="trackByFn"
                        [minTermLength]="2"
                        [loading]="userLoading"
                        typeToSearchText="Search users"
                        [typeahead]="userInput$"
                        [(ngModel)]="overallUsers"
                        [ngClass]="{'goldenText': overallUsers }"
                        [searchable]="true"
                        [clearable]="true" >
                        <ng-template ng-option-tmp let-item="item">
                           {{item.id}} ({{item.fullname}})
                        </ng-template>
                        </ng-select>
                     </div>
                  </div>
               </div>
            </div>

            <div class="upload-form-input row mb-20">
               <div class="col-xl-6 col-md-6">
                  <div class="row">
                     <div class="col-xl-3 col-md-3" style="text-align: right;">Usage right</div>
                     <div class="col-xl-9 col-md-9 flexible">
                        <label class="control control--checkbox" style="margin-bottom: 0px; font-family: 'brownlight';">
                          Approval required before download
                          <input
                            autocomplete="off"
                            type="checkbox"
                            checked="checked"
                            (change)="onCheckDownloadApproval($event)"
                            [(ngModel)]="overallDownloadApproval"
                            [ngModelOptions]="{standalone: true}"
                         />
                         <div class="control__indicator" style="top: 4px;left: 0px;"></div>
                        </label>
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-md-6" *ngIf="overallDownloadApproval">
                  <div class="row" >
                     <div class="col-xl-4 col-md-4"><label style="margin-bottom: 0px;text-align: right;float: none;color: #040404;display: block;">{{OWNER_APPROVAL_LABEL}}</label></div>
                     <div class="col-xl-8 col-md-8">
                        <ng-select style="height: unset !important; width: 100%;"
                        (change)="dowloadUsers()"
                        [items]="userList$ | async"
                        bindLabel="id"
                        bindValue="id"
                        [multiple]="true"
                        [hideSelected]="true"
                        [trackByFn]="trackByFn"
                        [minTermLength]="2"
                        [loading]="userLoading"
                        typeToSearchText="Search users"
                        [typeahead]="userInput$"
                        [(ngModel)]="overallDownloadApprovalUsers"
                        [ngClass]="{'goldenText': overallDownloadApprovalUsers }"
                        [searchable]="true"
                        [clearable]="true" >
                        <ng-template ng-option-tmp let-item="item">
                           {{item.id}} ({{item.fullname}})
                        </ng-template>
                        </ng-select>
                     </div>
                  </div>
               </div>
            </div>

            <div class="upload-form-input row uploadModalBlk" style="margin-bottom: 20px; margin-right: 3px">
               <div class="col-xl-12 col-md-12">
                  <span class="showAllClassifications" (click)="showAllAsset()">Show all asset classifications 
                     <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg" [ngClass]="{'rotateArrow' : showHideAllAsset}">
                        <path d="M5.17168 7.00026L0.221679 2.05026L1.63568 0.636257L7.99968 7.00026L1.63568 13.3643L0.22168 11.9503L5.17168 7.00026Z" fill="#937206"/>
                     </svg>
                  </span>
               </div>
            </div>

            <div class="newscrollBar fix-scroll" id="customScrollBar">
               <div class="updated-asset-classifications" *ngIf="showHideAllAsset">
                  <div class="publish-file-preview-groups">
                     <div *ngFor="let file of filesMap| keyvalue" class="publish-file-preview">
                        <div class="publish-file-preview-img">
                           <img [src]="imageSrc[file.key] || getPreviewSrc(file.value, file.key)" alt="preview" class="preview-img"
                              onerror="this.src='./assets/images/preview-placeholder.png';"/>
                           <span class="tollTipCustom" >
                              {{ sharedService.stringShortener(file.value.name, 20) }}
                              <div class="tolltipContent">
                                 {{file.value.name}}
                               </div>
                              <br/><br/>
                              <span>{{ humanFileSize(file.value.size) }}</span>
                           </span>
                           <div class="copyright-information">
                              <div (click)="openCopyright(file.key)" *ngIf="!openCopyrightMap[file.key]">
                                 <img src="../../assets/images/add-copyright-golden.svg" alt="Add copyright information" /> Add copyright information
                              </div>
                              <!-- <div *ngIf="openCopyrightMap[file.key]" (click)="closeCopyright(file.key)" [ngClass]="{'collapseInformationLink': openCopyrightMap[file.key]}">
                                 <img src="../../assets/images/add-circle-brown.svg" alt="Collapse optional information" class="collapse-img" /> Collapse optional information
                              </div> -->
                              <div *ngIf="openCopyrightMap[file.key]" class="copyright-form">
                                 <ul>
                                    <li>
                                       <img class="copyrightCloseIcon" (click)="closeCopyright(file.key)" src="../../assets/images/add-circle-brown.svg" alt="Copyright Owner" />
                                    </li>
                                    <li [ngClass]="{'goldenText':copyrightUserMap[file.key] }">
                                       <div class="copyright-input-block" >
                                          <span class="copyright-icon" [ngClass]="{'goldenText' : copyrightUserMap[file.key]}">©</span> <input autocomplete="off" type="text" placeholder="Copyright Owner" [(ngModel)]="copyrightUserMap[file.key]" class="copyright-input" >
                                       </div>
                                    </li>
                                    <li>
                                       <ng-select [items]="years" class="yearssss" [searchable]="true" [clearable]="true"
                                          bindLabel="name"
                                          [(ngModel)]="copyrightYearMap[file.key]"
                                          placeholder="Year" ngDefaultControl
                                          [ngClass]="{'goldenText': copyrightYearMap[file.key] }"
                                       >
                                       </ng-select>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div *ngIf="!isPrivateFolder() && !checkboxIsPrivate" class="publish-file-preview-access">
                           <div class="upload-form-input row mb-20" [ngClass]="{'validationMsg': showErrorUpload && !customConfidentialityMap[file.key] }">
                              <div class="col-xl-4">
                                 <label for="confidentiality" style="text-align: right; display: block;">Confidentiality</label>
                              </div>
                              <div class="col-xl-8 ">
                                 <!-- <select name="confidentiality" (change)="onSelectConfidentiality($event.target.value, file.key)" id="confidentiality" [ngClass]="{'goldenText': confidentiality }" >
                                    <option [selected]="confidentiality === c.value" *ngFor="let c of CONFIDENTIALITY | keyvalue" value="{{c.value}}">{{ c.value }}</option>
                                    </select> -->
                                 <ng-select placeholder="Specify sensitivity"  [searchable]="true" [clearable]="true" name="confidentiality" id="confidentiality" [(ngModel)]="customConfidentialityMap[file.key]"  [ngClass]="{'goldenText': customConfidentialityMap[file.key] }">
                                 <ng-option  *ngFor="let c of CONFIDENTIALITY | keyvalue" value="{{c.value}}">{{ CONFIDENTIALITY_LABEL[c.value] }}
                                 </ng-option>
                                 </ng-select>
                                 <div class="showErrorMessage" *ngIf="showErrorUpload && !customConfidentialityMap[file.key] ">Please complete all mandatory fields</div>
                              </div>
                           </div>
      
                           <div class="upload-form-input row mb-20" [ngClass]="{'validationMsg': showErrorUpload && !customAccessMap[file.key] }">
                              <div class="col-xl-4">
                                 <label for="access" style="text-align: right; display: block;">{{ACCESS_TITLE}}</label>
                              </div>
                              <div class="col-xl-8">
                                 <ng-select placeholder="Specify visibility" name="access"  [searchable]="true" [clearable]="true" id="access" [(ngModel)]="customAccessMap[file.key]" [ngClass]="{'goldenText': customAccessMap[file.key] }" >
                                    <ng-option   [disabled]="checkAccessOptionDisabled(c.value, file.key)" *ngFor="let c of ACCESSNEW | keyvalue" value="{{c.value}}">{{ ACCESS_LABEL[c.value] }}
                                    </ng-option>
                                 </ng-select>
                                 <div class="showErrorMessage" *ngIf="showErrorUpload && !customAccessMap[file.key] ">Please complete all mandatory fields</div>
                              </div>
                           </div>
      
                           <div *ngIf="checkShowUserDropdown(file.key)" class="upload-form-input row mb-20" style="display: flex;">
                              <div class="col-xl-4">
                                &nbsp; <!-- <label for="user" style="text-align: right;">Please specify who can access</label> -->
                              </div>
                              <div class="col-xl-8">
                                 <p class="userText pb-3">{{SPECIFIC_USER_LABEL}}</p>
                                 <ng-select style="height: unset !important;"
                                 [items]="userList$ | async"
                                 bindLabel="id"
                                 bindValue="id"
                                 [multiple]="true"
                                 [hideSelected]="true"
                                 [trackByFn]="trackByFn"
                                 [minTermLength]="2"
                                 [loading]="userLoading"
                                 typeToSearchText="Search users"
                                 [typeahead]="userInput$"
                                 [(ngModel)]="customUsersMap[file.key]"
                                 [ngClass]="{'goldenText': customUsersMap[file.key] }"
                                 [searchable]="true"
                                 [clearable]="true" >
                                 <ng-template ng-option-tmp let-item="item">
                                    {{item.id}} ({{item.fullname}})
                                 </ng-template>
                                 </ng-select>
                              </div>
                           </div>
      
                           <div class="upload-form-input row mb-20"  [ngClass]="{'validationMsg': showErrorUpload && !customDownloadApprovalMap[file.key] }">
                              <div class="col-xl-4">
                                 <label>Usage right</label>
                              </div>
                              <div class="col-xl-8">
                                 <label class="control control--checkbox" style="margin-bottom: 0px; float: left;font-family: 'brownlight';">
                                    Approval required before download
                                    <input
                                       autocomplete="off"
                                       type="checkbox"
                                       checked="checked"
                                       (change)="changeDownloadTick(file.key)"
                                       [(ngModel)]="customDownloadApprovalMap[file.key]"
                                       [ngModelOptions]="{standalone: true}"
                                    />
                                    <div class="control__indicator" style="top: 4px;left: 0px;"></div>
                                 </label>
                                 <!-- <div class="showErrorMessage" *ngIf="showErrorUpload && !customDownloadApprovalMap[file.key] ">Please complete all mandatory fields</div> -->
                              </div>
                           </div>
      
                           <div *ngIf="checkOwnerDropdown(file.key)" class="upload-form-input row mb-20"  [ngClass]="{'validationMsg': showErrorUpload && !customDownloadApprovalUsersMap[file.key] }" >
                              <div class="col-xl-4">
                                 &nbsp;
                              </div>
                              <div class="col-xl-8">
                                 <label style="margin-bottom: 0px;text-align: left;float: none;color: #040404;">{{OWNER_APPROVAL_LABEL}}</label>
                                 <ng-select style="height: unset !important;"
                                 [items]="userList$ | async"
                                 bindLabel="id"
                                 bindValue="id"
                                 [multiple]="true"
                                 [hideSelected]="true"
                                 [trackByFn]="trackByFn"
                                 [minTermLength]="2"
                                 [loading]="userLoading"
                                 typeToSearchText="Search users"
                                 [typeahead]="userInput$"
                                 [(ngModel)]="customDownloadApprovalUsersMap[file.key]"
                                 [ngClass]="{'goldenText': customDownloadApprovalUsersMap[file.key] }"
                                 [searchable]="true"
                                 [clearable]="true" >
                                 <ng-template ng-option-tmp let-item="item">
                                    {{item.id}} {{item.fullname ? '('+item.fullname+')' : ''}}
                                 </ng-template>
                                 </ng-select>
                                 <div class="showErrorMessage" *ngIf="showErrorUpload && !customDownloadApprovalUsersMap[file.key] ">Please complete all mandatory fields</div>
                              </div>
                           </div>
      
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="button-groups" style="padding-top: 0px;">
            <button (click)="dialogRef.close()" class="cancel-btn">Cancel</button>
            <div class="progress-btns">
               <button mat-button matStepperPrevious class="cancel-btn">Back</button>
               <button *ngIf="!publishing" [ngClass]="{'btnDisable': checkFormState()}" mat-button matStepperNext class="upload-btn" (click)="publish()">{{(!isPrivateFolder()&& !checkboxIsPrivate)?'Publish':'Upload'}}</button>
               <button *ngIf="publishing" mat-button class="upload-btn" style="position: relative" >
                  {{(!isPrivateFolder() && !checkboxIsPrivate)?'Publish':'Upload'}} <app-loader-small [show]="loading"></app-loader-small>
               </button>
            </div>
         </div>
      </mat-step>
   </mat-horizontal-stepper>
<!-- todo -->
<div *ngIf="step === 4">
   <div class="finish-screen">
      <!-- <mat-icon>upload</mat-icon> -->
      <span>Your assets have been successfully {{isPrivateFolder() || checkboxIsPrivate?'uploaded':'published'}} on Ground X.</span>
      <p style="padding-top: 20px;" *ngIf="checkboxIsPrivate">You are the only member of this private folder. You can manage the folder and invite people to join as folder members.</p>
      <!-- remove this condition *ngIf="showRedirectUrl()" -->
      <div class="newFolderUi" (click)="openBrowseRoute($event)" style="cursor: pointer;">
         <div class="destination-content-block">
            <!-- <span class="assetName">National Day 2021</span> -->
            <span class="assetName" style="width: 100%;text-align: left; display: block;">{{ folderToAdd || selectedFolder?.title }}</span>
            <p class="numberAssets">{{ getAssetNumber() }} assets</p>
         </div>
      </div>
   </div>
</div>
</div>


<ng-template #fileLimitExceeded let-modal>
   <div class="modal-body fix-notifaction">
     <h1>You can upload upto 50 files</h1>
     <div class="cloaseModal" (click)="closeAll()">Ok</div>
   </div>
</ng-template>

