::ng-deep .cdk-global-overlay-wrapper{
  right: 0px;
}
/* ::ng-deep .cdk-overlay-pane {
  /* min-width: auto !important;
  max-width: 1000px !important; /
  width: auto !important;
  min-height: 60px !important;
  max-height: 100%!important;
  height: auto !important;
  /* overflow: auto;  /
} */
.upload-form{
  margin: 0px  2px 20px 0px;
  /* height: 60vh; */
  height: calc(92vh - 200px);
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
}
.close{
  position: absolute;
  left: -8%;
  top: -10%;
  z-index: 9999 !important;
  background-color: transparent;
  border: unset;
}
.modal-header button img{
width: 35px;
}
.modal-header{
border-bottom: unset;
padding: unset;
}

.upload-modal {
  /* height: 100%;
  width: 100%; */
  /* width: 1000px; */
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  /* height: calc(92vh - 50px); */
  /* min-height: 400px; */
}
.upload-modal-step {
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 20px;
}
.upload-label {
display: grid;
border: unset;
}
.upload-label span{
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #8E6B0B;
  font-weight: normal;
}
.upload-label span b{
font-size: 20px;
font-weight: normal;
}
.upload-icon {
  font-size: 35px;
  padding: 10px;
}
.upload-prevoew li{
  width: 29%;
  margin: 0px 15px;
  max-width: 240px;
}
.upload-file-preview {
  background: rgba(0, 104, 69, 0.1) !important;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 25%);
  border-radius: 8px !important;
  font-size: 14px;
  min-height: 80px !important;
  height: 90px !important;
  width: 100% !important;
  max-width: 100% !important;
  display: block !important;
  padding: 15px!important;
  min-width: 100% !important;
  border: 2px solid transparent;
}
.assets-selected{
  background: rgba(0, 104, 69, 0.1);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px !important;
  font-size: 14px;
  min-height: 80px !important;
  background-image: none !important;
  width: 100% !important;
  max-width: 100% !important;
  display: block !important;
  padding: 8px 15px 15px!important;
  min-width: 100% !important;
  color: #006845;
  position: relative;
}
::ng-deep ngx-dropzone-remove-badge{
  top: -7px !important;
  right: -9px !important;
  width: 20px !important;
  height: 20px !important;
  background: red !important;
}
.imgLabel{
  overflow-wrap: anywhere;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.055em;
  color: #161824;
}
.imgSize{
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.055em;
  position: absolute;
  bottom: 10px;
  color: #B7B7B8;
}
.upload-loading {
  color: #006dd4;
  position: absolute;
  bottom: 10px;
}
ngx-dropzone-preview:hover {
  background-color: white !important;
  border: 2px solid red;
}
.button-groups {
  display: flex;
  /* margin-top: 50px; */
  width: 100%;
}
.button-groups button {
  border-radius: 7px;
}
.progress-btns {
  margin-left: auto;
}
.upload-btn {
  color: #fff;
  margin-left: 20px;
  background: #000;
  border-radius: 50px !important;
  padding: 8px 32px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  border: 1px solid #000;
}
.cancel-btn{
  color: #040404;
  background: #fff;
  border-radius: 50px !important;
  padding: 8px 32px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  border: 1px solid #040404;
}
button[disabled] {
  background-color: #E5E5E5;
  cursor: no-drop;
  border-color: #E5E5E5;
  color: rgba(183, 183, 184);
  /* display: none; */
}

.select-workspace {
  margin: 30px 0 30px;
}
.select-workspace-menu {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
}
.select-workspace-menu-btn {
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: none;
  font-weight: normal;
  color: #937206;
  margin-left: 20px;
}
div.menu-title {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #040404;
}
/* .workspace-list {
  background: #F9F7F2;
  border: 1px dashed #8E6B0B;
  border-radius: 8px;
  margin: 25px 0px;
  overflow-y: auto;
  display: flex;
  flex-flow: wrap;
  max-height: 300px;
  padding: 15px 20px;
} */
.workspace-title {
  border: 1px solid #E8E6DF;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 12px;
  cursor: pointer;
  background: #E8E6DF;
  font-weight: normal;
  transition: 0.4s;
  color: #937206;
  padding: 5px;
}
.workspace-title:hover{
  background-color: #937206;
  color: #FFFFFF;
  border: 1px solid #937206;
}
.ws-selected {
  background-color: #8E6B0B;
  color: #fff;
  font-size: 12px;
line-height: 22px;
text-align: center;

color: #FFFFFF;
}
.upload-form {
  margin: 0px  2px 20px 0px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.upload-form-input label {
  font-size: 14px;
  line-height: 24px;
  color: #040404;
  font-weight: normal !important;
}
.upload-form-input input {
  /* width: calc(100% - 50px); */
  border: unset;
  font-size: 14px;
  border-bottom: 1.5px solid #000;
  font-family: 'brownregular' !important;
  /* font-weight: normal; */
  /* border-bottom: 1.5px solid #000; */
}
.upload-form-input select {
  width: calc(100% - 50px);
  height: 30px;
  border: unset;
  border-bottom: 1.5px solid #000;
  font-size: 14px;
  background-color: transparent;
  /* font-weight: normal; */
}
.upload-form-input select option {
  height: 30px !important;
}
.upload-form-input textarea {
  resize: none;
  vertical-align: top;
  width: calc(100% - 50px);
  min-height: 36px;
  border: unset;
  border-bottom: 1.5px solid #000;
  vertical-align: top;
  background-color: transparent;
}

/* custom drowndown */
.custom-select {
  position: relative;
  width: calc(100% - 50px);
  margin: 0;
  padding: 0;
  /* border-bottom: 1.5px solid #000; */
}
.select-css {
  display: block;
  color: #000;
  width: 100%;
  max-width: 100%;
  height: 30px;
  box-sizing: border-box;
  margin: 0;
  border: unset;
  border-radius: 0px !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  position: relative;
  z-index: 10;
  border-radius: unset !important;
  border-left: unset !important;

}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  color: #222;
  outline: none;
}
.custom-select-icons {
  position: absolute;
  top: 0px;
  right: 2px;
  z-index: 20;
  border: 1px solid white;
  background: transparent;
  height: 22px;
  font-size: 20px;
  cursor: pointer;
}
.custom-select-options {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  border-radius: 0 0 0.25em 0.25em;
  line-height: 1.5;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  list-style-type: none;
  font-weight: normal;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
}
.custom-select-options li {
  padding: 0;
  color: #000;
  word-break: break-all;
  border-radius: 8px;
  margin: 0px 6px;
  background: transparent;
}
.custom-select-options li.styled:hover {
  background:#f8eecc;
  font-weight: normal;
  /* border: 1px solid #000;
  border-width: 0 0 0 1px; */
}

.custom-select-options li.styled:focus {
  border: 1px solid rgb(89, 246, 252);
}
.hidden-all {
  display: none;
}
.hidden-visually {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
.add-new-option {
  padding: 5px 7px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.add-new-option input {
  width: 200px;
  height: 25px;
  border: none;
  margin-right: 10px;
}
.yellowfix {
  background: #E1BB33;
  margin-bottom: 7px !important;
}
.custom-select-options li.styled:hover input {
  background:#fff;
}
.add-new-btn {
  color: green;
  font-weight: normal;
}

.upload-form-input ::ng-deep .ng-select .ng-select-container{
  border: unset !important;
  /* border-bottom: 1.5px solid #000 !important; */
  border-radius: 0px !important;
  background-color: transparent;
  height: unset !important;
  min-height: unset;
}
.publish-file-preview-img span{
  font-size: 13px;
line-height: 20px;
letter-spacing: 0.055em;

color: #040404;
font-weight: normal;
}
.upload-form-input ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  white-space: nowrap;
  background: #EDD580;
  padding: 2px 7px;
  border-radius: 48px;
  border-radius: 48px;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #040505;
  font-weight: normal;
}
::ng-deep .ng-value.ng-star-inserted span:nth-child(1) {
  order: 2;
}
.upload-form-input ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left{
  border: unset;
}
.info-icon {
  margin-left: 8px;
  color: gray;
  cursor: default;
}
.publish-summary {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 15px;
  background: rgba(0, 104, 69, 0.1);
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
.publish-summary span {
  max-width: 300px;
}
.publish-summary mat-icon {
  margin-right: 3px;
  margin-left: 5px;
}
.publish-summary-location {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid gray; */
  border-radius: 7px;
  padding: 5px;
}
.publish-file-preview {
  display: flex;
  background-color: #F8F8F5;
  margin: 0px 0;
  padding:20px 15px;
  border-radius: 8px;
}
.publish-file-preview-img {
  display: block;
  font-size: 12px;
  width: 38%;
  float: left;
}
.publish-file-preview-access {
  width: 62%;
  margin-left: 0px;
}
.preview-img {
  width: 140px;
  border-radius: 0px;
  margin-right: 12px;
  height: 92px;
}
.publish-file-preview-access label {
  /* width: 100px !important; */
}
.publish-file-preview-access select {
  /* width: 180px !important; */
}
.publish-file-preview-access ng-select {
  /* width: 180px !important; */
}
.publish-file-preview-access label {
  margin-right: 5px;
}
.publish-file-preview-access .upload-form-input select{
  width: 100% !important;
}
.publish-file-preview-access .upload-form-input  ng-select{
  width: 100% !important;
}
.finish-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
.finish-screen span{
  font-size: 24px;
line-height: 22px;
text-align: center;

color: #040404;
font-weight: normal;
}
.assetName{
  font-size: 15px !important;
  line-height: 22px !important;
  color: #2B2825 !important;
  padding-bottom: 10px !important;
}
.destination-folder {
  display: flex;
  align-items: center;
  min-width: 300px;
  justify-content: center;
  min-height: 120px;
  background: #F8F8F5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border-radius: 15px
;
  padding: 10px
;
  margin: 20px 0;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
}
.close-modal{
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;

  color: #937206;
}
.destination-folder img {
  width: 150px;
}
.destination-folder span {
  /* margin-left: 15px; */
}
.close-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.drag-drop{
  align-items: center;
  background: #F9F7F2 !important;
  border: 1px dashed #937206 !important;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 15px;
  /* height: 320px !important; */
  /* height: calc(92vh - 270px) !important; */
  min-height: 323px;
  overflow-x: auto;
  margin-right: 24px;
  height: 100%;
  margin: 0px auto;
  padding: 10px;
}
.tooltip1 {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
  margin-left: 10px;
  width: 20px;
}
.tooltip1 img{
  width: 20px;
}
.tooltip1 .tooltiptext {
  visibility: hidden;
  width: 290px;
  background: #040404;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 25%);
  border-radius: 100px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -60%;
  right: 30px;
  margin-left: 0px;
  opacity: 0;
  font-size: 11px;
  transition: opacity 0.3s;
  z-index: 99;
  padding: 8px 20px;
  text-align: left;
}

/* .tooltip1 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 38%;
  left: 102%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(-90deg);
} */

.tooltip1:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 17px;
}
.publish-summary span{
  color: #413E3C;
  font-weight: normal;
}
.userText{
  font-size: 15px;
  line-height: 24px;
  color: #040404;
  font-weight: normal;
  /* padding-bottom: 15px !important; */
}
::ng-deep input:focus + .noborder{
  outline: unset !important;
}
.workshaptitle{
  font-size: 15px;
  line-height: 24px;
  padding-left: 4px;
  color: #040404;
  font-weight: normal;
}
/* .custompadding{
  padding: 0px 10px;
} */

.fix-scroll{
  height: 24vh;
  overflow: hidden;
  overflow-y: scroll;
}

.goldenText{
  color: #C49900;
  border-color: #C49900 !important;
  font-weight: normal;
}
select option{
  color: #000;
}
.goldenText.ng-select .ng-select-container{
  border-color: #C49900 !important;
}
.upload-form-input ::ng-deep ng-select {
  width: calc(100% - 50px);
  border-bottom: 1.5px solid #000;
}
::placeholder {
  color: #000;
}
.publish-file-preview-access label{
  float: right;
}
/* sprint16-v1 start */
.workspace-list {
  position: relative;
  background: #F9F7F2;
  border: 1px dashed #8E6B0B;
  border-radius: 8px;
  margin: 25px 0px;
  max-height: 300px;
  padding: 15px 20px;
 }

.triangle {
  display: block;
  height: 20px;
  width: 20px;
  background-color: inherit;
  border: inherit;
  position: absolute;
  top: -10px;
  left: calc(50% - 25px);
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  transform: rotate(135deg);
  border-radius: 0 0 0 0.25em;
 }
 /* sprint16-v1 end */
.destination-folder-block{
  display: table;
  min-width: 395px;
  min-height: 110px;
  background: #F8F8F5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
  margin: 30px 0px;
}
.destination-img-block, .destination-content-block{
   display: table-cell;
   vertical-align: top;
}
.destination-img-block img{
  object-fit: cover;
  width: 100%;
  height: 110px;
  padding: 0px;
  border-radius: 8px;
}
.destination-content-block{
  padding-left: 12px;
}
.destination-img-block {
  width: 140px;
}
.publish-file-preview-img span{
  vertical-align: top;
  display: inline-block;
}
.publish-file-preview-img span span{
  font-size: 13px;
  line-height: 20px;
  color: #A3A3A3;
  letter-spacing: 0.055em;
  clear: both;
  width: 100%;
  padding-top: 0px;
}
.copyright-information {
  padding-top: 15px;
  color: #937206;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
}
.copyright-information img {
  width: 20px;
  margin-right: 8px;
}
.copyright-form ul {display: block;position: relative;}
.copyright-form ul li {
  display: inline-block;
}
.copyright-input-block {
  position: relative;
  width: 230px;
  font-size: 15px;
  font-weight: normal;
  /* height: 38px;
  line-height: 38px; */
  /* height: 30px; */
  color: #040404;
}
/* .copyright-input-block:after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: #000;
  z-index: 9;
} */
.copyright-form ul {
  display: flex;
  align-items: end;
}
.copyright-form ul li:nth-child(2){
  border-bottom: 1.5px solid #000;
}
.copyright-input-block{

}
input.copyright-input {
  border: 0px;
  background: transparent;
  font-size: 14px;
  font-weight: normal;
  padding: 0px 0px 0px 10px;
  font-weight: normal;
}
.copyright-form img {
  width: 29px !important;
  margin-left: -4px;
}
.copyright-form li:last-child {
  width: 80px;
  margin-left: 16px;
}
.upload-form ::ng-deep ::placeholder{
  color: #000 !important;
}
::ng-deep .grayField input::placeholder, ::ng-deep .grayField textarea::placeholder {
opacity: 0.5;
}
::ng-deep .grayField input, ::ng-deep .grayField textarea{
opacity: 0.5;
}
.upload-form-input ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #000 !important;
    font-weight: 400;
}
.upload-form-input ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked{
  background-color: #E1BB33 !important;
}
.errorInfotxt{
  font-size: 15px;
line-height: 22px;
color: #DEB31A;
}
.errorMsg{
  font-size: 15px;
line-height: 20px;
color: #E03C31;
border: 1px solid #E03C31;
border-radius: 100px;
background: #FFF1F1;
padding: 10px 18px
}
.errortext{
  position: absolute;
  bottom: -50px;
}
::ng-deep .grayField .mat-form-field-suffix {
  opacity: 0.5;
}
.ng-select-focused{
  outline: 0;
  border: unset;
}
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 20px;
  width: 190px;
  height: 180px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 6px;
  height: 17px;
  width: 17px;
  /* background: #e6e6e6; */
  border: 1px solid #000;
  border-radius: 4px;

}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #fff;
}
.control input:checked ~ .control__indicator {
  background: #2C6946;
  border-color: #2C6946;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #2C6946;
  border-color: #2C6946;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(
45deg
);
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}

.upload-form-input .ng-select-focused:focus, .upload-form-input .ng-select-focused:active {
  box-shadow: none !important;
  border: none !important;
}
.upload-form-input ::ng-deep .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
  box-shadow: unset !important;
}
.upload-form-input ::ng-deep .ng-select .ng-select-container{
  background-color: transparent !important;
}
.numberAssets{
  font-size: 13px;
  line-height: 13px;
  color: #737373;
  font-family: 'brownlight';
}

/* ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
  position: unset !important;
} */
.upload-form-input ::ng-deep .ng-select{
  min-height: 30px !important;
}
.upload-form-input ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value{
  overflow: visible !important;
}
.upload-form-input ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input, .upload-form-input ::ng-deep .ng-select-container {
  cursor: pointer !important;
}
/* ::ng-deep .ng-select.ng-select-single .ng-select-container{
  height: 36px !important;
} */
.upload-form-input ::ng-deep .ng-select .ng-select-container:hover {
  box-shadow: unset !important;
}
.goldenText .copyright-input-block{
  color: unset;
}
input.copyright-input::placeholder{
  color: #cccac4 !important;
  font-weight: 400 !important;
}
::ng-deep .mat-datepicker-popup {
  width: 296px !important;
  position: absolute !important;
  right: 0px !important;
  box-shadow: 2px 2px 6px 3px rgb(0 0 0 / 25%);
  border-radius: 8px;
  left: 725px !important;
  bottom: 83px !important;
  overflow: hidden;
  height: max-content !important;
}
::ng-deep .mat-calendar-body-today.mat-calendar-body-selected{
  box-shadow: unset !important;
}
::ng-deep .mat-calendar-body-selected {
  background-color: #EDD580;
  color: #000;
}
::ng-deep th.mat-header-cell, ::ng-deep th.mat-header-cell button, ::ng-deep th{
  border-bottom: unset !important;
}
::ng-deep .mat-calendar-arrow{
  background-image: url(../../assets/images/down.png);
  border: unset !important;
  height: 6px !important;
  width: 12px !important;
  right: 0px;
  z-index: 99;
  position: relative;
  background-size: 11px;
  background-repeat: no-repeat;
  /* top: 4px; */
}
::ng-deep .mat-calendar-table-header-divider::after{
  display: none !important;
}
/* ::ng-deep .mat-calendar-body-label{
  opacity: 0;
} */
::ng-deep .cdk-text-field-autofill-monitored:not(:-webkit-autofill){
  animation:  unset !important
}
.goldenText input {
  color: #C49900 !important;
  border-color: #C49900 !important;
  font-weight: normal;
}
/* ::ng-deep .ng-select .ng-clear-wrapper{
  display: none
} */
/* ::ng-deep .yearssss ng-dropdown-panel{
  max-height: 120px;
  overflow: auto;
} */
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items{
  max-height: 120px !important;
}
::ng-deep .ng-arrow-wrapper .ng-arrow {
  content: "";
  background-image: url(../../assets/images/black-downarrow.png) !important;
  background-position: 0px 4px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 10px !important;
    width: 10px !important;
}
 .goldenText ::ng-deep .ng-arrow-wrapper .ng-arrow {
  background-image: url(../../assets/images/golden-arrow.png) !important ;
  height: 10px !important;
  /* width: 10px !important; */
}
.publish-assets .fa-caret-down:before {
  content: "";
  background-image: url(../../assets/images/black-downarrow.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 9px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: -11px;
  z-index: 99;
}
.publish-assets .goldenText  .fa-caret-down:before {
  background-image: url(../../assets/images/golden-arrow.png);
}
.mat-stepper-horizontal {
  margin-top: 0px;
}

.mat-form-field {
  margin-top: 16px;
}
::ng-deep .mat-step-header .mat-step-icon {
  background-color: #BAB8B2 !important;
}
::ng-deep .mat-step-header .mat-step-icon-selected,::ng-deep .mat-step-header .mat-step-icon-state-done,::ng-deep .mat-step-header .mat-step-icon-state-edit{
  background-color: #DAAA00 !important;

}
::ng-deep .mat-step-header.cdk-keyboard-focused, ::ng-deep .mat-step-header.cdk-program-focused, ::ng-deep .mat-step-header:hover {
  background-color: unset;
}
::ng-deep mat-expansion-panel.mat-expansion-panel{
  /* width: calc(100% - 50px); */
  box-shadow: unset !important;
  padding: 0px;
  display: unset;
}
::ng-deep .mat-expansion-panel-header{
  padding: 0px !important
}
::ng-deep .mat-expansion-panel-body{

  padding: 0px !important;
}
::ng-deep .mat-content{
  flex: unset !important
}

.set-width{
  width: calc(100% - 50px);
  height: unset !important;
}
::ng-deep .mat-expansion-panel-header-description,::ng-deep .mat-expansion-indicator::after{
  color: #C49900 !important;
}
.upload-form ::ng-deep .mat-expansion-indicator::after {
  border-width: 0 1.5px 1.5px 0px !important;
  padding: 2.5px !important;
  transform: rotate(-45deg) !important;
  position: absolute !important;
  top: -7px !important;
}
.upload-form ::ng-deep .mat-expanded .mat-expansion-indicator::after{
    top: 6px !important;
    transform: rotate(
225deg
) !important;
}
::ng-deep .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]),::ng-deep .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]),::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
  background-color: unset !important;
}
::ng-deep .slick-prev.slick-disabled:before,::ng-deep .slick-next.slick-disabled:before {
  opacity: 0.25;
}
::ng-deep .slick-prev:before, ::ng-deep .slick-next:before{
  opacity: 1;
}
::ng-deep .workspace-list  .slick-prev:before, ::ng-deep .workspace-list .slick-next:before{
  content: "\f104";
  font: normal normal normal 14px/1 FontAwesome;
  color: #937206;
  font-size: 28px;
  width: 14px;
  display: block;
  left: 0px;
}
::ng-deep .workspace-list .slick-next:before {
  content: "\f105";
  right: 0px;
}
::ng-deep .workspace-list .slick-prev {
  left: -10px;
}
::ng-deep .workspace-list .slick-next {
  right: -10px;
}
::ng-deep .ng-dropdown-panel{
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
}

.upload-form-input ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  padding: 1px 5px 1px 4px;
  border: 1px solid transparent !important;
  height: 16px;
  width: 16px;
  line-height: 11px;
  border-radius: 100px;
  text-align: center;
  background: url(../../assets/images/cross-icon.svg) no-repeat center center;
  background-size: contain;
  font-size: 0px
}

::ng-deep.mat-step-header .mat-step-label.mat-step-label-active {
  font-weight: normal;
  color: #040404;
}
::ng-deep .mat-stepper-horizontal-line{
  margin: 0px 10px 25px !important;
}
::ng-deep .mat-step-label {
  margin-top: -2px !important;
}
::ng-deep .mat-horizontal-stepper-header {
  margin-bottom: 30px !important;
  height: 32px !important;
}
::ng-deep .mat-horizontal-content-container {
  padding-bottom: 0px !important;
}
.upload-form-input ::ng-deep .ng-select .ng-select-container .ng-value-container{
  padding-left: 0px !important;
}

#customScrollBar::-webkit-scrollbar-track{
	background-color: transparent;
}

#customScrollBar::-webkit-scrollbar{
	width: 6px;
	background-color:transparent;
}

#customScrollBar::-webkit-scrollbar-thumb{
	background-color: #E8E6DF;
  border-radius: 10px;
}
.assets-selected-text {
  line-height: 16px;
}
.upload-form-input ::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow{
  border: 0px !important;
}
.upload-form-input ::ng-deep .ng-select .ng-select-container{
  color: inherit;
}

.tollTipCustom{
  position: relative;
}
.tollTipCustom .tolltipContent {
  position: absolute;
  top: 30px;
  left: 0px;
  background: rgba(0, 0, 0, 0.80);
  padding: 3px 10px;
  font-size: 13px;
  color: #fff;
  font-weight: normal;
  width: max-content;
  border-radius: 40px;
  white-space: nowrap;
  min-width: max-content;
  display: none;
  text-align: center;
  z-index: 99;
  line-height: normal;
}
.tollTipCustom:hover .tolltipContent {
  display: block;
}
.upload-form-input ::ng-deep .ng-select .ng-arrow-wrapper {
  text-align: right !important;
}

.uploadAssetsBlock {
  background: #FFFFFF;
  border-radius: 8px;
  width: 436px;
  height: 100px;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
  padding: 22px 20px 22px 13px;
  margin: 30px 0 20px;
  text-align: left;
}
.folderHeading {
  font-size: 15px;
  line-height: 32px;
  color: #040404;
  font-weight: normal;
}
.uploadAssetsBlock .folder-img, .uploadAssetsBlock .folder-content {
  display: inline-block;
  vertical-align: middle;
}
.uploadAssetsBlock .folder-content .folderHeading span {
  display: block;
  font-size: 12px;
  text-align: left;
  line-height: 20px;
  color: rgba(35, 33, 30, 0.6);
  font-weight: normal;
}
/* .uploadAssetsBlock .folder-content  {
  padding-left: 0px;
} */

.disableDiv {
  pointer-events:none;
  opacity: 0.4;
}
.uploadAssetsBlock  .folder-img {
  width: 74px;
}
.uploadAssetsBlock .folder-content {
  width: calc(100% - 74px);
  text-align: left;
}
.optionalText {
  font-size: 12px;
}
.optional-information {
  position: absolute;
  left: 0px;
  height: 30px;
  padding-left: 30px !important;
  width: 100%;
}
.goldenText .copyrightGolden path{
  fill: #C49900;
}
.optionalInformationDate {
  display: block;
}
.optionalInformationDate li {
  width: 50%;
  float: left;
}
.optionalInformationDate li:nth-child(2) {
  width: 33%;
  float: right;
}
.collapseInformation .mat-form-field {
  margin-top: 0px;
}
.collapseInformationLink {
  margin-top: 214px;
}
.optionalInformationDate ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  display: none !important;
}

ul.custom-select-options li div.folderTitle {
  width: calc(100% - 35px);
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em 0.7em;
}
.folderTitle .publicUseBlk {
  background: #E6E2DA;
  border-radius: 4px;
  color: #645D57;
  padding: 0px 8px;
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
}
ul.custom-select-options li span.folderTitleArrow {
  width: 28px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100px;
  background: transparent;
  height: 28px;
  line-height: 30px;
  text-align: center;
  margin-right: 5px;
}
ul.custom-select-options li span.folderTitleArrow img {
  transform: rotate(180deg);
  float: none;
  margin: 0px auto;
  margin-top: -4px;
}
.breadcrumb-folder {padding: 5px 15px;}
.back-icon {display: none;color: #8f8f8f;font-size: 14px;padding: 10px 2px 0px; text-decoration: none;}
.back-icon.showBackBtn {display: inline-block;}
.back-icon i {font-size: 20px;vertical-align: -2px;}
.breadcrumb-folder {color: #8f8f8f;}
.breadcrumb-folder a {color: #040404;}

.custom-select input#title::-webkit-input-placeholder {
  color: #BAB8B2 !important;
}

.custom-select input#title:-ms-input-placeholder {
  color: #BAB8B2 !important;
}

.custom-select input#title::placeholder {
  color: #BAB8B2 !important;
}
a.breadcrumb-active {
  color: #BAB8B2 !important;
}
a.breadcrumb-not-active {
  color: #413E3C !important;
  cursor: auto;
}
.upload-form-input input#title {
  /* padding-right: 30px; */
}

.errorMessage {
  color: #E03C31;
  font-size: 14px;
  float: left;
  line-height: 35px;
}
button.upload-btn.tollTipCustom.disableBtn, button.upload-btn.tollTipCustom.disableBtn1 {
  background: #E8E6DF;color: #BAB8B2; border-color: #E8E6DF;
}
.drag-drop.disableError {
  border-color: #E03C31 !important;
}
.validationError .control__indicator {
  border-color: #E03C31;
}
.custom-select-options li.styled:hover span.folderTitleArrow {
  background-color: #daaa00 !important;
  background: url(../../assets/images/back-arrow-white.svg) no-repeat center center / 8px;
  transform: rotate(180deg);
}
.custom-select-options li.styled:hover .folderTitleArrow img {
  opacity: 0 !important;
}
.custom-select-options li.styled:hover .folderTitleArrow:hover {
  background-color: #937206 !important;
}

::ng-deep .cdk-global-overlay-wrapper{
  overflow: auto !important;
  pointer-events: auto !important;
}
::ng-deep .mat-dialog-container {
  border-radius: 8px !important;
  /* margin-top: 30px !important; */
  /* overflow: hidden !important; */
}

/* .updateClassificationBlk ::ng-deep .mat-form-field-flex {
  width: 100%;
}
.updateClassificationBlk ::ng-deep .mat-form-field {
  width: auto;
}
.updateClassificationBlk .custom-date-picker ::ng-deep .mat-form-field-wrapper {
  width: auto;
}
.updateClassificationBlk .custom-date-picker ::ng-deep .mat-form-field-infix {
  width: 70px;
}
.updateClassificationBlk .upload-form-input input {
  width: 100%;
} */

.updateClassificationBlk {margin-bottom: 10px; border-bottom: 0px solid #D1CFC9; padding-bottom: 0px;}
.updateClassification {display: block;width: 100%;overflow: hidden;}

.updateClassification .updateClassiNameblock {float: left;}

.updateClassification .assetsBlock {float: right;padding-top: 18px;}

.updateClassification .updateClassiNameblock .folderImg {display: inline-block;vertical-align: middle;margin-right: 20px;}

.updateClassification .updateClassiNameblock .nameBreadcrumbBlk {display: inline-block;vertical-align: middle;}
.workspaceName {color: #040404; font-style: normal;font-weight: normal;font-size: 15px;line-height: 35px;}
.renameFolderImg {
  display: inline-block;
  max-width: 17px;
  cursor: pointer;
  vertical-align: -1px;
  margin-left: 10px;
}

.uploadModalBlk ::ng-deep ng-select {
  width: 100%;
}
.cancel-btn{
  color: #23211E;
  background: #fff;
  border-radius: 50px !important;
  padding: 8px 32px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  border: 1px solid #23211E;
}
.reviewClassifaction .workspaceName {
  font-size: 14px;
}
button.btn-disable {
  background-color: #cccccc;
  color: #666666;
  border-color: #cccccc;
  cursor: no-drop;
  pointer-events: none;
}
.upload-file-preview.fillbar {
  background: rgba(0, 104, 69, 0.1) !important;
  background-image: linear-gradient(to right, rgba(0, 104, 69, 0) 100%,#ffffff 100%) !important;
}
.upload-form-input.validationMsg ng-select {
  border-bottom: 1px solid #E03C31 !important;
}
button.btnDisable {
  background-color: #cccccc;
  color: #666666;
  border-color: #cccccc;
}
.showErrorMessage {
  color: #E03C31;
  font-size: 14px;
  float: left;
  line-height: 35px;
}
.createFolder input.errorInput {
  border-bottom: 2px solid #E03C31 !important;
}

.upload-btn ::ng-deep app-loader-small .text-center {
  top: 0px !important;
  left: 0px !important;
  border-radius: 100px !important;
  background: #fff !important;
}
.showAllClassifications {
  text-align: right;
  float: right;
  color: #937206;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}
span.showAllClassifications svg {
  margin-left: 7px;
  transition: all 0.3s ease;
}
.publish-file-preview {
  background-color: #fff;
}
.updated-asset-classifications {
  position: relative;
  z-index: 9;
  padding: 20px 0px;
}
.updated-asset-classifications::after {
  position: absolute;
  content: '';
  width: 120%;
  height: 100%;
  left: -48px;
  top: 0px;
  background-color: #F6F5F2;
  z-index: -1;
}
span.showAllClassifications svg.rotateArrow {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 0px 24px 0px !important;
  padding-bottom: 0px !important;
}
.updateClassification, .upload-form-input.row.mb-30.uploadModalBlk, .publish-assets {
  padding-right: 20px;
}
.updated-asset-classifications::after {
  width: 107%;
}
.newscrollBar {
  margin: 0px 0px 17px -8px;
  padding: 0px 30px 0px 30px;
}
.publish-assets {
  padding-right: 10px;
}

.upload-file-preview.errorNewUi {
  background: #FDEDED !important;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px !important;
  font-size: 14px;
  min-height: 80px !important;
  height: 90px !important;
  width: 100% !important;
  max-width: 100% !important;
  display: block !important;
  padding: 15px!important;
  min-width: 100% !important;
  border: 2px solid #C6342A;
  background-image: linear-gradient(to right, #FDEDED 100%,#FDEDED 100%) !important;
}
.upload-file-preview.errorNewUi .upload-loading {
  color: #C6342A !important;
}
.upload-file-preview.errorNewUi .imgLabel {
  color: #B1AAA1;
}
.upload-loading span.malware {
  width: 70%;
  float: left;
  line-height: 18px;
  font-size: 13px;
}
.upload-loading img.tickboxImg {
  margin-top: -10px;
  float: right;
  margin-right: 14px;
}
.acknowledgeBlock {
  display: flex; 
  align-items: baseline; 
  min-height: 14vh;
}
@media  screen and (min-width: 1440px) {
  .acknowledgeBlock {
    min-height: 12vh;
  }
  .fix-scroll{
    height: 30vh;
  }
}
@media  screen and (min-width: 1680px) {
  .acknowledgeBlock {
    min-height: 10vh;
  }
  .fix-scroll{
    height: 37vh;
  }
}
@media  screen and (min-width: 1920px) {
  .acknowledgeBlock {
    min-height: 90px;
  }
  .fix-scroll{
    height: 46vh;
  }
  
}

.folderType .control input:checked ~ .control__indicator::after {
  color: transparent;
  border: solid transparent;
}
.folderType .control input:checked ~ .control__indicator::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 100px;
  background: #DAAA00;
}
.folderType .control input:checked ~ .control__indicator {
  background: #DAAA00;
  border: 1px solid #DAAA00;
}
.publishingAssets {
  background: #E6F2FF;
  border-radius: 8px;
  padding: 8px 15px;
  color: #0072A2;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: 'brownlight';
  margin-right: 18px;
}
.publishingAssets::after {
  content: '';
  display: block;
  clear: both;
}
.publishingAssets p {
  color: #0072A2;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: 'brownlight';
  padding-bottom: 10px;
}
.publishingAssets p strong {
  font-family: 'brownregular';
  font-weight: normal;
}
.publishingAssets ul li {
  display: block;
  width: 100%;
  clear: left;
  padding-bottom: 10px;
  overflow: hidden;
}
.publishingAssets ul li span.leftCont {
  float: left;
  font-family: 'brownlight';
  width: 50%;
}
.publishingAssets ul li span.rightCont {
  width: 50%;
  font-family: 'brownregular';
  vertical-align: top;
  float: right;
}
.publishingAssets ul li:last-child {
  padding-bottom: 0px;
}

::ng-deep .cdk-overlay-pane.custom-modalbox {
  width: 1080px !important;
  max-width: calc(100vw - 120px) !important;
  max-height: calc(100vh - 80px) !important;
  margin-right: auto !important;
  margin-left: auto !important;
  position: absolute !important;
  top: 20px !important;
  right: 0px !important;
  left: 0px !important;
}
::ng-deep .custom-modalbox .mat-dialog-container {
  padding: 0px !important;
  min-height: auto !important;
  max-height: 100% !important;
  border-radius: 8px !important;
}

.newFolderUi {
  background-image: url(../../assets/images/folder-workspace.svg);
  background-position: center center;
  background-size: contain;
  height: 146px;
  width: 200px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 40px;
}
.newFolderUi .assetName {
  width: 180px;
  text-align: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}