<div class="create-supplier">
    <h3>Create new supplier
        <button type="button" class="close-modal-icon" aria-label="Close" (click)="closeModal()" style="float: right;">
          <img src="../../assets/images/close-modal.svg" style="width: 20px" />
       </button>
    </h3>

    <div class="create-supplier-form">
        <ul>
            <li>
                <div class="form-group">
                    <label for="Supplier's Name" >Supplier's Name</label>
                    <input type="text" placeholder="Drone Experts Ltd" [(ngModel)]="suppliersName" />
                    <span *ngIf="suppliersName && isSupplierNameExisted()" style="color: red;">Supplier already existed!</span>
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label for="Supplier ID (three letters)">Supplier ID (three letters)</label>
                    <input type="text" [(ngModel)]="supplierId" placeholder="Enter supplier ID" />
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label for="Tech support email (optional)">Tech support email</label>
                    <input type="email" [(ngModel)]="supportEmail" placeholder="Enter a tech support email" />
                </div>
            </li>
            <li>
                <div class="form-group">
                    <label for="Tech support email (optional)">Assigned regions (optional)</label>
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let suppliers of fruits;let indx=index;" [selectable]="selectable" [removable]="removable" (removed)="remove(suppliers,indx)">
                                {{suppliers.initial}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Add..." #suppliersInput [formControl]="suppliersCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let suppliers of filteredFruits | async" [value]="suppliers">
                                {{suppliers.initial}} <span style="color: gray;">{{suppliers.name}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </li>

            <li class="folderListview">
                <label for="Permissions">Access Expiry</label>
                <mat-form-field appearance="fill">
                    <input matInput class="datePicker" [ngClass]="{'goldenText': selectedMonth}" placeholder="Choose a date"
                    [(ngModel)]="selectedMonth" [matDatepicker]="picker" style="width: 100%; border-bottom: 1.5px solid #000;"
                    (click)="picker.open()">
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </li>
        </ul>
    </div>

    <div class="button-groups">
        <button (click)="closeModal()" class="cancel-btn">Cancel</button>
        <button class="upload-btn" [disabled]="!(suppliersName && validateEmail(supportEmail) && validateSupplierId()) || loading || isSupplierNameExisted()" (click)="createSupplier()">Create new supplier</button>
    </div>
</div>
