
<footer>
<div class="container">
    <div class="row flexible" >
        <div class="col-xl-1">
            <a href="/">
                <img src="../../../assets/images/logo-neom.png" style="width: 50px;">
            </a>
        </div>
        <div class="col-xl-9">
            <ul class="flexible footerList">
                <li>
                    <a href="mailto:groundxfeedback@neom.com"><p>Feedback</p></a>
                </li>
                <li>
                    <a class="pointer" (click)="openTermsPage()"><p>Acceptable Use Policy</p></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</footer>