footer{
    background-color: #23211E;
    padding: 33px 0px;
    position: relative;
    z-index: 1;
    /* position: absolute;
    bottom: 0px;
    width: 100%; */
    position: relative;
    z-index: 2;
}
.footerList{
    list-style: none;
    padding: 0px;
    margin: unset;
}
.footerList li{
    position: relative;margin: 0px 20px;
}
.footerList li:nth-child(1)::before{
    display: none;

}
.footerList li:nth-child(1){
    margin-left: 0px;
}
.footerList li:nth-child(1) span{
    padding-left: 0px;
}
.footerList li::before{
    content: '';
    background-color: #C49900;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
}
.footerList li span{
    font-size: 15px;
    line-height: 24px;
    font-feature-settings: 'cpsp' on, 'kern' off;
    font-family: 'brownregular' !important;
    color: #FFFFFF;
    padding-left: 20px;
    font-weight: 400;
    letter-spacing: 0.065rem;
}

.mailLink {
    text-decoration: none;
    font-weight: 400 !important;
    color: #fff !important;
    position: relative;
    display: inline-block;
    font-family: 'brownregular' !important;
}
.mailLink:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 0px;
}
.customSlider img {
    max-width: 100%;
}

.footerGoundx {
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    letter-spacing: 0.1rem;
    width: 190px;
    float: right;
    cursor: pointer;
}

.footerGoundx svg {
    display: inline-block;
    max-width: 61%;
    margin-left: 5px;
    vertical-align: -6px;
}
.slide {
    min-height: 400px;
}