
<footer>
<div class="container-fluid">
    <div class="row flexible" >
        <div class="col-xl-1">
            <a href="/">
                <img src="../../../assets/images/logo-neom.png" style="width: 50px;">
            </a>
        </div>
        <div class="col-xl-9">
            <ul class="flexible footerList">
                <li>
                    <span>Send feedback to: </span><a href="mailto:groundxfeedback@neom.com"><span class="mailLink">groundxfeedback@neom.com</span></a>
                </li>
                <li>
                    <a class="pointer" [routerLink]="['/common/terms']" target="_blank"><span>Acceptable Use Policy</span></a>
                </li>
                <li>
                    <span>© 2022 NEOM</span>
                </li>
            </ul>
        </div>
        <div class="col-xl-2">
            <img src="../../../assets/images/about-groundx.png" style="float: right; width: 100%; cursor: pointer;" (click)="openOnboardingModal(onboarding)" />
        </div>
    </div>
</div>
</footer>

<ng-template #onboarding let-c="close" let-d="dismiss">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click'); closeModal()">
      <img src="../../../assets/images/modalclose.svg" />
    </button>

    <ngx-slick-carousel class="carousel customSlider" 
      #slickModal="slick-carousel" 
      [config]="tagsConfig" >
      <!-- <div ngxSlickItem *ngFor="let bucket of tagsMetadataDummy; let i = index" class="slide">
        <div class="item" >
          <img src="{{bucket.image}}" />
        </div>
      </div> -->
      <div ngxSlickItem class="slide">
        <div class="item" >
          <img src="../../../assets/images/mask-group1.png" />
        </div>
      </div>
      <div ngxSlickItem class="slide">
        <div class="item" >
          <img src="../../../assets/images/mask-group2.png" />
        </div>
      </div>
      <div ngxSlickItem class="slide">
        <div class="item" >
          <img src="../../../assets/images/mask-group3.png" />
        </div>
      </div>
      <div ngxSlickItem class="slide">
        <div class="item" >
          <img src="../../../assets/images/mask-group4.png" />
        </div>
      </div>
    </ngx-slick-carousel>
</ng-template>