<div class="create-supplier">
    <h3>{{isCreate ? 'Create' : 'Edit'}} device <span *ngIf="!isCreate"> : {{selectedDevice.installationId}}</span>
        <button type="button" class="close-modal-icon" aria-label="Close" (click)="closeModal()" style="float: right;">
          <img src="../../../assets/images/close-modal.svg" style="width: 20px" />
       </button>
    </h3>

    <div class="create-supplier-form">
        <ul>
            <li>
                <label *ngIf="isCreate" for="Device Type">Device Type</label>
                <ol *ngIf="isCreate" class="deviceType">
                    <li>
                        <input  type="radio" [checked]="selectedType=='timelapse'" id="timelapse" name="deviceType" (change)="onSelectdeviceType($event, 'timelapse')" checked />
                        <label for="timelapse">Timelapse</label>
                    </li>
                    <li>
                        <input type="radio" [checked]="selectedType=='360'" id="360" name="deviceType" (change)="onSelectdeviceType($event, '360')" />
                        <label for="360">360</label>
                    </li>
                    <li>
                        <input type="radio" [checked]="selectedType=='live'" id="live" name="deviceType" (change)="onSelectdeviceType($event, 'live')" />
                        <label for="live">Live</label>
                    </li>
                    <li>
                        <input type="radio" [checked]="selectedType=='drone'" id="drone" name="deviceType" (change)="onSelectdeviceType($event, 'drone')" />
                        <label for="drone">Drone</label>
                    </li>
                </ol>
                <!-- <ol *ngIf="!isCreate" class="deviceType">
                    <li>
                        <input type="radio" id="timelapse" name="deviceType" checked />
                        <label for="timelapse">{{capitalizeFirstLetter(selectedType)}}</label>
                    </li>
                </ol> -->
            </li>
            <li class="regionBlok">
                <div class="form-group">
                    <label for="Region">Owner</label>
                    <ng-select placeholder="Select"
                        [searchable]="true"
                        [clearable]="true"
                        [(ngModel)]="selectedOwner"
                        id="region"
                        [ngClass]="{'goldenText': selectedOwner}"
                    >
                        <ng-option *ngFor="let owner of owners" [value]="owner">
                            {{owner}}
                        </ng-option>
                    </ng-select>
                </div>
            </li>
            <li>
                <div class="flex">
                    <div class="form-group">
                        <label for="Latitude / Northing">Latitude / Northing</label>
                        <input [(ngModel)]="latitude" type="text" placeholder="E.g. 27.480860" [ngClass]="{'goldenText': latitude}"/>
                    </div>
                    <div class="form-group">
                        <label for="Longitude / Easting">Longitude / Easting</label>
                        <input [(ngModel)]="longitude" type="text" placeholder="E.g. 35.589090" [ngClass]="{'goldenText': longitude}"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex">
                    <div class="form-group" *ngIf="directionShow">
                        <label for="Direction">Direction
                            <div class="copyHover">
                                <img src="../../../assets/images/Info-icon.svg" />
                                <div class="copyHoverInfo" style="top: 1px; left: 20px;">3-digit degree value on a 360 degrees scale</div>
                            </div>
                        </label>
                        <input [(ngModel)]="direction" type="text" placeholder="E.g. 270" [ngClass]="{'goldenText': direction}" />
                    </div>
                    <div class="form-group" *ngIf="poleIdShow">
                        <label for="Pole ID">Pole ID</label>
                        <input [(ngModel)]="poleId" type="text" placeholder="E.g. A05" [ngClass]="{'goldenText': poleId}" />
                    </div>
                </div>
            </li>
            <li class="regionBlok">
                <div class="form-group">
                    <label for="Supplier">Supplier</label>
                    <ng-select placeholder="Select"
                        [searchable]="false"
                        [clearable]="false"
                        [(ngModel)]="selectedSupplier"
                        (change)="onSelectedSupplier($event)"
                        id="supplier"
                        [ngClass]="{'goldenText': selectedSupplier}"
                        [disabled]="!isCreate"
                    >
                        <ng-option *ngFor="let supplier of supplierList" [value]="supplier.supplierId">
                            {{supplier.supplierId}} - {{supplier.name}}
                        </ng-option>
                    </ng-select>
                </div>
            </li>
            <li class="regionBlok">
                <div class="form-group">
                    <label for="Region">Region</label>
                    <ng-select placeholder="Select"
                        [searchable]="true"
                        [clearable]="false"
                        [(ngModel)]="selectedRegions"
                        (change)="onSelectRegion($event)"
                        id="region"
                        [ngClass]="{'goldenText': selectedRegions}"
                        [disabled]="!isCreate"
                    >
                        <ng-option *ngFor="let region of regionList" [value]="region">
                            {{region.initial}} - {{region.name}}
                        </ng-option>
                    </ng-select>
                </div>
            </li>
            <li class="regionBlok">
                <div class="form-group">
                    <label for="Sub-area">Sub-area</label>
                    <ng-select placeholder="Select"
                        [searchable]="true"
                        [clearable]="false"
                        [(ngModel)]="selectedsubAreas"
                        (change)="onSelectSubArea($event)"
                        id="Sub-area"
                        [ngClass]="{'goldenText': selectedSubArea}"
                        [disabled]="!isCreate"
                    >
                        <ng-option *ngFor="let subArea of filteredSubAreaList" [value]="subArea">
                            {{subArea.name}}
                        </ng-option>
                    </ng-select>
                </div>
            </li>
            <!-- <li *ngIf="!!installationID">
                <div class="form-group">
                    <label for="Supplier's Name">Installation ID</label>
                    <input style="color: #DAAA00;" type="text" placeholder="Installation ID" [(ngModel)]="installationID" readonly/>
                </div>
            </li> -->
        </ul>
    </div>

    <div class="button-groups">
        <button (click)="closeModal()" class="cancel-btn">Cancel</button>
        <button (click)="createDevice()" class="upload-btn" [disabled]="!checkEnableCreateDeviceButton() || loading" >{{isCreate ? 'Create new device' : 'Save'}}</button>
    </div>
</div>
