
<app-loader [show]="loading"></app-loader>
<section class="login flexible" style="justify-content: center; margin-top: -76px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12">
                <h2 class="text-center mb-4"><img src="../../assets/images/Logo_Ground_X.svg" /></h2>
                <form autocomplete="off">
                    <ul class="signupForm" *ngIf="sendInvite" >
                        <li>
                            <h3><a [routerLink]="['/login']" ><img src="../../assets/images/back-arrow.svg" class="backArrow" /></a> Reset your password</h3>
                        </li>
                        <li><p>Forgot your password? Please enter your email address. We will send you a verfication code via email to reset your password.</p></li>
                        <li>
                            <input type="email" class="form-control" id="email" name="email" placeholder="abc@xyz.com" [(ngModel)]="emailValue" />
                        </li>
                        <li>
                            <button type="submit" class="btn btn-primary loginBtn" [disabled]="!emailValue" (click)="formSubmit()">Submit</button>
                        </li>
                    </ul>

                    <ul class="signupForm" *ngIf="yourEmail">
                        <li>
                            <h3><a [routerLink]="['/login']" ><img src="../../assets/images/back-arrow.svg" class="backArrow" /></a> Check your email</h3>
                        </li>
                        <li><p>You will receive an email containing a verfication code at your email address ({{emailValue}}).</p></li>
                        <li>
                            <button type="submit" class="btn btn-primary loginBtn" (click)="submitCode()">Enter code</button>
                        </li>
                    </ul>

                    <ul class="signupForm" *ngIf="enterCode">
                        <li>
                            <h3><a [routerLink]="['/login']" ><img src="../../assets/images/back-arrow.svg" class="backArrow" /></a> Enter your code</h3>
                        </li>
                        <li><p>Please enter the verfication code that was sent to {{emailValue}}</p></li>
                        <li>
                            <input type="text" class="form-control" id="code" name="code" placeholder="XXXX" [(ngModel)]="code" />
                        </li>
                        <li>
                            <button type="submit" class="btn btn-primary loginBtn" [disabled]="!code" (click)="verify()">Verify</button>
                        </li>
                    </ul>

                    <ul class="signupForm" *ngIf="newPassword">
                        <li>
                            <h3><a [routerLink]="['/login']" ><img src="../../assets/images/back-arrow.svg" class="backArrow" /></a> Enter a new password</h3>
                        </li>
                        <li>
                            <label>Enter a new password below to change your password.</label>
                            <mat-form-field appearance="fill">
                                <!-- <mat-label>Password</mat-label> -->
                                <input matInput [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="resetPassword">
                                <mat-icon matSuffix (click)="togglePasswordVisibility()" [ngClass]="{'clickCheck': showPassword}">
                                    visibility<!-- {{showPassword?'visibility':'visibility'}} -->
                                </mat-icon>
                            </mat-form-field>
                            <!-- <input type="password" class="form-control" id="resetPassword" name="resetPassword" placeholder="XXXX" [(ngModel)]="resetPassword" /> -->
                        </li>
                        <li>
                            <label>Re-enter new password</label>
                            <mat-form-field appearance="fill">
                                <!-- <mat-label>Password</mat-label> -->
                                <input matInput [type]="showPasswordRenter ? 'text' : 'password'" name="password" [(ngModel)]="resetNewPassword">
                                <mat-icon matSuffix (click)="togglePasswordVisibilityRenter()" [ngClass]="{'clickCheck': showPasswordRenter}">
                                    visibility<!-- {{showPasswordRenter?'visibility':'visibility'}} -->
                                </mat-icon>
                            </mat-form-field>
                            <!-- <input type="password" class="form-control" id="resetNewPassword" name="resetNewPassword" placeholder="XXXX" [(ngModel)]="resetNewPassword" /> -->
                        </li>
                        <li>
                            <button type="submit" class="btn btn-primary loginBtn" [disabled]="!resetPassword || !resetNewPassword" (click)="passwordSuccessfullyReset()">Reset password</button>
                        </li>
                    </ul>

                    <ul class="signupForm" *ngIf="successfullyReset">
                        <li>
                            <h3>Password successfully reset</h3>
                        </li>
                        <li>
                            <p style="text-align: center; font-weight: 400; font-size: 15px; line-height: 24px; color: #040404;">Please log in with the new password.</p>
                        </li>
                        <li>
                            <button class="btn btn-primary loginBtn" [routerLink]="['/login']">Log in</button>
                        </li>
                    </ul>
                    <div *ngIf="!!errorMsg" class="showError">{{errorMsg}}</div>
                </form>
            </div>
        </div>
    </div>
</section>