<section class="documentationBlck">
  <div *ngIf="notAuthorize" class="not-authorize">
    <p>You are not authorized to view other construction assets.</p>
    <ul>
      <li>Click <a href="mailto:Neom.Documentation@neom.com?subject=Ground X Construction Assets Request">here</a> to request viewing access to construction assets.</li>
      <li>Click <a href="mailto:groundxsupport@neom.com?subject=Ground X API Access Request">here</a> to request API access to construction assets.</li>
    </ul>
  </div>
  <div *ngIf="!notAuthorize" class="container">
      <h2>Construction assets</h2>
      <h3>{{company}}</h3>
      <!-- <div *ngIf="!loading && (!assetList || assetList.length == 0) && checkNoFilterSelected()" class="adding-assets">
          <img src="../../assets/images/upload-icon.svg" />
          Start adding assets
          <div class="uploadBtn" (click)="openModal()">Upload</div>
      </div> -->

      <div class="masonryBlock">
        <div class="regionBlok">
          <ul>
            <li>
                <ng-select placeholder="Region"
                    (change)="onSelectRegions($event)"
                    [searchable]="true"
                    [clearable]="true"
                    [(ngModel)]="selectedRegion"
                    id="confidentiality"
                    [ngClass]="{'goldenText': selectedRegion}"
                >
                    <ng-option *ngFor="let region of regionList" [value]="region">
                      {{region.initial}} - {{region.name}}
                    </ng-option>
                </ng-select>
            </li>
            <li>
                <ng-select placeholder="Sub-area"
                    (change)="onSelectSubArea($event)"
                    [searchable]="true"
                    [clearable]="true"
                    [(ngModel)]="selectedsubArea"
                    id="confidentiality"
                    [ngClass]="{'goldenText': selectedsubArea}"
                >
                    <ng-option *ngFor="let subArea of filteredSubAreaList" [value]="subArea">
                        {{subArea.name}}
                    </ng-option>
                </ng-select>
            </li>
            <li>
                <mat-form-field appearance="fill" [ngClass]="{'goldenText': selectedStartDate || selectedEndDate}">
                  <mat-label (click)="picker.open();">Enter a date range</mat-label>
                  <mat-date-range-input (dateChange)="dateRangeChange()" [rangePicker]="picker" (click)="picker.open();">
                    <input matinput (dateChange)="dateRangeChange()" class="customInput" matStartDate placeholder="Start date" [(ngModel)]="selectedStartDate">
                    <input matinput (dateChange)="dateRangeChange()" class="customInput" matEndDate placeholder="End date" [(ngModel)]="selectedEndDate">
                  </mat-date-range-input>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </li>
            <li>
                <ng-select placeholder="Format"
                    (change)="getAssetList()"
                    [searchable]="true"
                    [clearable]="true"
                    [(ngModel)]="selectedFormat"
                    id="confidentiality"
                    [ngClass]="{'goldenText': selectedFormat}"
                >
                    <ng-option *ngFor="let format of formats" [value]="format">
                        {{format}}
                    </ng-option>
                </ng-select>
            </li>
          </ul>
          <div class="row">
            <div *ngIf="!isNeomUser()" class="col-md-4">
              <label class="control control--checkbox" style="margin-bottom: 0px;">
                Only show assets uploaded by me
                <input (change)="getAssetList()" [(ngModel)]="assetByMe" type="checkbox" checked="checked"/>
                <div class="control__indicator"></div>
             </label>
            </div>
            <!-- <div class="col-md-4">
              <label class="control control--checkbox" style="margin-bottom: 0px;">
                Only show monthly videos
                <input type="checkbox" checked="checked"/>
                <div class="control__indicator"></div>
             </label>
            </div> -->
          </div>
        </div>


        <app-loader
          [show]="loading"
        ></app-loader>

        <ngx-masonry [options]="masonryOptions"
          (layoutComplete)="completeLoadingMasonry($event)"
          [updateLayout]="updateMasonryLayout">

          <div
            ngxMasonryItem
            class="masonry-item"
            [ngClass]="{'masonrZindex': masoneryItemIndex === i}"
            *ngFor="let doc of assetList; let i = index"
            (mouseover)="over(i)"
            (mouseout)="out()"
          >
            <document-card
              [doc]="doc"
              [viewType]="viewType"
              (onOpenPreview)="open(doc, doc.type)"
              (onMarkFavourite)="markFavourite(doc, 'recent')"
            >
            </document-card>
          </div>
        </ngx-masonry>
        <div class="no-asset" *ngIf="(!assetList || assetList.length == 0) && !checkNoFilterSelected()">
          No results found &#8722; Limited access
        </div>
      </div>

      <preview-popup
        #previewModal
        [doc]="selectedFile"
        [docUrl]="selectedFileUrl"
      ></preview-popup>
  </div>

</section>
