<section class="documentationBlck">
    <div class="container">
        <h2>Documentation assets</h2>
        <h3>Company DFG</h3>
        <!-- <div class="adding-assets">
            <img src="../../assets/images/upload-icon.svg" />
            Start adding assets
            <div class="uploadBtn" (click)="openModal()">Upload</div>
        </div> -->
        
        <div class="masonryBlock">
          <ngx-masonry [options]="masonryOptions"
            (layoutComplete)="completeLoadingMasonry($event)"
            [updateLayout]="updateMasonryLayout">
            <div ngxMasonryItem class="masonry-item" *ngFor="let picture of dummyPictures">
              <img src="{{picture.picture}}">
            </div>
          </ngx-masonry>
        </div>
        

    </div>

</section>