.documentationBlck {
    padding: 35px 0 0;
    margin-left: 140px;
}
.pl-110 {
    position: relative;
    padding-left: 110px;
}
.documentationBlck h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    padding-bottom: 10px;
}
.documentationBlck h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.adding-assets {
    max-width: 250px;
    margin: 40px auto;
    text-align: center;
    font-family: 'brownlight';
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    width: 100%;
}
.adding-assets img {
    display: block;
    margin: 0px auto 30px;
    width: 50px;
}
.adding-assets .uploadBtn {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #937206;
    border-radius: 80px;
    padding: 8px 34px;
    letter-spacing: 0.5px;
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
}

.masonry-item{
    width: 306px;
    /* width: calc(25% - 10px); */
    margin-bottom: 10px;
}
.masonry-item img {
    max-width: 100%;
    width: 100%;
}
.masonryBlock {
    margin: 30px 0px;
}

.regionBlok {
    padding: 0px 0px 30px;
    max-width: 86%;
}
.regionBlok::after,
.regionBlok ul::after {
    content: '';
    clear: both;
    display: block;
}
.regionBlok ul {
    width: 100%;
    display: block;
    clear: left;
}
.regionBlok ul li {
    float: left;
    padding-right: 30px;
    width: 25%;
}
.goldenText input {
    color: #C49900 !important;
    border-color: #C49900 !important;
    font-weight: normal;
  }
.documentationBlck ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items{
    max-height: 120px !important;
}
.documentationBlck ::ng-deep .ng-arrow-wrapper .ng-arrow {
    content: "";
    background-image: url(../../assets/images/black-downarrow.png) !important;
    background-position: 0px 3px !important;
    right: -6px;
  }
.goldenText ::ng-deep .ng-arrow-wrapper .ng-arrow {
    background-image: url(../../assets/images/golden-arrow.png) !important ;
    height: 10px !important;
}
.documentationBlck ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container {
    padding: 0px !important;
}
.documentationBlck ::ng-deep .ng-select .ng-arrow-wrapper {
    padding-right: 0px;
}
.regionBlok .ng-select-focused:focus, .regionBlok .ng-select-focused:active {
    box-shadow: none !important;
    border: none !important;
}
.regionBlok ::ng-deep .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
    box-shadow: unset !important;
    border-color: unset !important;
}
.regionBlok ::ng-deep .ng-select .ng-select-container{
    background-color: transparent !important;
    border-color: #413E3C !important;
}
.regionBlok ::ng-deep .ng-select.goldenText .ng-select-container{
    border-color: #DEB31A !important;
}
.regionBlok ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label,
.regionBlok ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked .ng-option-label{
    font-weight: normal !important;
}
.regionBlok ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder,
.regionBlok ::ng-deep .mat-form-field-label {
    color: #404040;
    font-family: 'brownregular';
}
::ng-deep .mat-calendar-body-selected {
    background-color: #EDD580 !important;
    color: #000 !important;
}
.regionBlok ::ng-deep span.mat-button-wrapper {
    position: relative;
}
.regionBlok ::ng-deep .mat-calendar-body-in-range::before {
    background: #f8eecc;
}
.regionBlok ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 0 0 0 0 !important;
    padding: 0px !important;
    background: transparent;
}
.regionBlok ::ng-deep .mat-form-field-appearance-fill .mat-form-field-ripple {
    height: 1px;
}
.regionBlok ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: rgb(65 62 60) !important;
}
.regionBlok ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0em 0 0.6em 0;
    position: relative;
    z-index: 2;
}
.regionBlok ::ng-deep .mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.regionBlok ::ng-deep .mat-form-field-appearance-fill.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-0.59375em) scale(0);
    width: 133.3333333333%;
}

.regionBlok ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix::after {
    content: "";
    background-image: url(../../assets/images/black-downarrow.png);
    background-repeat: no-repeat;
    background-position: 10px 5px !important;
    right: -6px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0px;
    background-size: 12px;
    z-index: -1;
}
::ng-deep .goldenText.mat-form-field-appearance-fill .mat-form-field-infix::after {
    background-image: url(../../assets/images/golden-arrow.png) !important ;
}
.regionBlok ::ng-deep .mat-calendar-body-cell-content,
.regionBlok ::ng-deep .mat-date-range-input-separator {
    color: #C49900;
}
.regionBlok ::ng-deep .goldenText.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: #C49900 !important;
}
::ng-deep tbody tr:hover {
    background-color: transparent;
}

/* .control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 20px;
    width: 190px;
    height: 180px;
    margin: 10px;
  } */
  .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: 400;
  }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .control__indicator {
    position: absolute;
    top: 3px;
    left: 0px;
    height: 17px;
    width: 17px;
    /* background: #e6e6e6; */
    border: 1px solid #000;
    border-radius: 4px;

  }
  .control--radio .control__indicator {
    border-radius: 50%;
  }
  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
    background: #fff;
  }
  .control input:checked ~ .control__indicator {
    background: #2C6946;
    border-color: #2C6946;
  }
  .control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:checked:focus ~ .control__indicator {
    background: #2C6946;
    border-color: #2C6946;
  }
  .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
  }
  .control input:checked ~ .control__indicator:after {
    display: block;
  }
  .control--checkbox .control__indicator:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
  }
  .no-asset {
      display: flex;
      justify-content: center;
      margin-top: 15px;
  }

  .not-authorize {
    background-color: #e8f2ff;
    color: #4d8bb3;
    border-style: hidden;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
  }
  .not-authorize ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  .not-authorize a {
    text-decoration: underline;
  }
.regionBlok  ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
    color: #DEB31A !important;
}
::ng-deep .ng-dropdown-panel .scroll-host {
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    background: #fff;
}
::ng-deep .ng-select .ng-clear-wrapper .ng-clear {
    font-size: 21px !important;
    color: #DEB31A !important;
}
::ng-deep .mat-calendar-table-header-divider::after{
    display: none !important;
}
::ng-deep th.mat-calendar-table-header-divider {
    display: none !important;
}
::ng-deep .mat-calendar th.mat-header-cell, ::ng-deep .mat-calendar th.mat-header-cell button, ::ng-deep .mat-calendar th {
    border-bottom: 0px solid !important;
}
ng-select input {
    color: #000;
}

.showMoreBtn {
    display: block;
    margin: 30px auto;
    width: fit-content;
    background: #937206;
    color: #fff;
    border-radius: 50px;
    padding: 8px 20px 10px;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    cursor: pointer;
    letter-spacing: 0.05em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border: 0px;
  }
.downloadAssets {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0;
  background: #EDD580;
  z-index: 3;
  padding: 20px;
  text-align: center;
}

.selectedItems {
  display: inline-block;
  background: transparent;
  border-radius: 8px;
  padding: 4px 8px;
  color: #937206;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-top: 1px;
  font-weight: normal;
}
.selectedItems img {
  height: 11px;
  margin-left: 5px;
  width: 11px;
  vertical-align: 0px;
  cursor: pointer;
}

.downloadSelectedAssets {
  position: relative;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 100px;
  /* padding: 10px 30px; */
  color: #937206;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  margin-left: 40px;
  cursor: pointer;
}
.downloadSelectedAssets img {
  display: inline-block;
  width: 25px;
  vertical-align: top;
}

.multiDownloadBlock {
  background: #23211E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  width: 300px;
  right: 0px;
  bottom: 58px;
  display: none;
  text-align: left;
}

.multiDownloadBlock p {
  color: #fff;
}

.downloadSelectedAssets span {
  display: inline-block;
  padding: 10px 40px;
}

.multiDownloadBlock p {
  color: #fff;
  font-weight: normal;
  padding-bottom: 10px;
  font-size: 14px;
}

.download-btn {
  float: right;
  padding-top: 25px;
  cursor: pointer;
  font-weight: 600;
}

.download-btn a {
  text-decoration: none;
  color: #EDD580;
  outline: none;
  font-weight: normal;
}

.download-btn svg {
  margin-right: 6px;
  vertical-align: top;
}

/* custom checkbox start */
.internal-use .control-group {
  display: block;
}

.internal-use .control {
  display: block;
  position: relative;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  padding: 0px;
  padding-left: 30px;
  border: 0px;
  margin: 10px 0px 0px;
  color: #fff;
}

.internal-use .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.internal-use .control__indicator {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 4px;
}

.internal-use .control--radio .control__indicator {
  border-radius: 50%;
}

.internal-use .control:hover input~.control__indicator,
.internal-use .control input:focus~.control__indicator {
  background: #fff;
}

.internal-use .control input:checked~.control__indicator {
  background: #fff;
}

.internal-use .control:hover input:not([disabled]):checked~.control__indicator,
.internal-use .control input:checked:focus~.control__indicator {
  background: #fff;
}

.internal-use .control input:disabled~.control__indicator {
  background: #fff;
  opacity: 0.6;
  pointer-events: none;
}

.internal-use .control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.internal-use .control input:checked~.control__indicator:after {
  display: block;
}

.internal-use .control--checkbox .control__indicator:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #23211E;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.internal-use .control--checkbox input:disabled~.control__indicator:after {
  border-color: #7b7b7b;
}

.internal-use .control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #23211E;
}

.internal-use .control--radio input:disabled~.control__indicator:after {
  background: #fff;
}

/* custom checkbox end */

a.downloadDisbable {
  color: gray !important;
}

a.downloadDisbable path {
  stroke: gray;
}

.pt-15 {
  padding-top: 15px;
}

ul.downloadImgLisst {
  margin-top: 15px;
}

ul.downloadImgLisst li {
  padding-bottom: 10px;
}

ul.downloadImgLisst li:last-child {
  padding-bottom: 0px;
}

ul.downloadImgLisst li .imgListBlk,
ul.downloadImgLisst li .contentListBlk,
ul.downloadImgLisst li .imgMailIcon {
  display: inline-block;
  vertical-align: middle;
}

.downloadFileWorkspace ul.downloadImgLisst li .imgListBlk,
.downloadFileWorkspace ul.downloadImgLisst li .imgMailIcon {
  max-width: 20px;
}

.downloadFileWorkspace ul.downloadImgLisst li .imgListBlk img,
.downloadFileWorkspace ul.downloadImgLisst li .imgMailIcon img {
  margin-left: 0px;
  width: auto;
  height: auto;
  vertical-align: middle;
}

.downloadFileWorkspace ul.downloadImgLisst li .imgMailIcon img {
  vertical-align: -3px;
}

ul.downloadImgLisst li .contentListBlk {
  padding: 0px 10px;
  color: #fff;
  width: calc(100% - 40px);
}

.download-btn a.cancelDownload {
  margin-right: 25px;
}

::ng-deep .mat-snack-bar-container.snackBarMiddle, 
::ng-deep .mat-snack-bar-container.snackBarMiddleRecover {
    margin-top: 125px !important;
}