::ng-deep .delete-confirmation {
    padding: 20px !important;
    border-radius: 8px !important;
}


.button-groups {
    padding-top: 12px;
    display: flex;
    justify-content: end;
}

.button-groups::after {
    content: '';
    display: block;
    clear: both;
}

.button-groups button.cancel-btn {
    float: left;
    appearance: none;
    border: 1px solid #BAB8B2;
    border-radius: 30px;
    color: #090808;
    line-height: 34px;
    padding: 0px 20px 3px;
    min-width: 100px;
    letter-spacing: 0.5px;
}

button.upload-btn {
    float: left;
    appearance: none;
    border: 1px solid #BAB8B2;
    border-radius: 30px;
    color: #090808;
    line-height: 34px;
    padding: 0px 20px 3px;
    min-width: 100px;
    letter-spacing: 0.5px;
    margin-left: 16px;
}

.button-groups button.upload-btn.disabled {
    background: #91908F;
    color: #fff;
    border: 1px solid #91908F;
    cursor: not-allowed;
    padding: 0px 20px 3px;
}

.modalContentBlock .deleteBlock h3,
.deleteBlock h3 {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: normal;
    color: #040404;
    line-height: normal;
    padding-bottom: 20px;
}

.disableColor {
    color: #BAB8B2;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.pl-10 {
    padding-left: 10px;
}

.deleteBlock {
    max-width: 400px !important;
    width: max-content;
}

.deleteFolder {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 15%);
    border-radius: 8px;
    padding: 20px;
    right: 0px;
    top: 40px;
    z-index: 999;
}

.placeholderText {
    font-size: 14px;
    line-height: 20px;
    color: #BAB8B2;
    float: right;
    padding-top: 2px;
}