<div class="deleteBlock">
  <h3>
    {{data.message || 'Are you sure you want to delete selected items?'}}
    <button type="button" class="close-modal-icon" aria-label="Close" (click)="closeModal()" style="float: right;">
      <img src="../../assets/images/close-modal.svg" style="width: 20px" />
    </button>
  </h3>
</div>
<div class="button-groups">
  <button (click)="closeModal()" class="cancel-btn">Cancel</button>
  <button (click)="confirmDelete()" class="upload-btn" style="position: relative">
    {{data.confirmButtonText || 'Delete'}}
  </button>
</div>