<div class="upload-modal customHeight">
  <button type="button" class="close-modal-icon" aria-label="Close" (click)="closeModal()">
    <img src="../../assets/images/close-modal.svg" />
 </button>
  <!-- <div class="upload-modal-step">{{step !== 2 ? stepLabel : '' }}</div> -->
  <div>
    <!-- Update Classification start -->
    <div class="updateClassificationBlk">
      <div class="updateClassification">
        <div class="updateClassiNameblock">
          <div class="folderImg"><img src="../../assets/images/folder-icon.svg" alt="" /></div>
          <div class="nameBreadcrumbBlk">
            <div class="workspaceName">{{ sharedService.stringShortener(selectedFolder.title, 40) }} 
              <!-- <img src="../../assets/images/pencil-write.svg" alt="" class="renameFolderImg" /> -->
            </div>
            <!-- <div class="updateClassiBreadcrumb">/All sectors/Energy, Water & Food/Conference 2022</div> -->
          </div>
        </div>
        <div class="assetsBlock">
          <span style="padding-right: 3px; color: #413E3C; font-weight: normal;">{{ getSelectedAssetsTitle() }}, </span>
          <span style="color: #413E3C;font-weight: normal;">{{ getSelectedAssetsSize() }}</span>
        </div>
      </div>

      <div class="descriptionDadBlk">
        <div class="upload-form-input row mb-20" style="padding-bottom: 10px;">
          <div class="col-xl-2 col-md-2">
             <label for="title">Description</label>
          </div>
          <div class="col-xl-10 col-md-10">
             <textarea [(ngModel)]="description" id="title" name="Title" [ngClass]="{'goldenText': description}" class="goldenText"></textarea>
          </div>
       </div>
       <div class="row upload-form-input custom-date-picker mb-20">
        <!-- <input id="txt" type="text" value="Hello World!" /> -->
          <div class="col-xl-2 col-md-2">
             <label for="date">Date</label>
          </div>
          <div class="col-xl-3 col-md-3" >
             <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="associatedDate"
                 (click)="picker.open()" [ngClass]="{'goldenText': associatedDate}" id="txt" type="text" autofocus>
                <mat-datepicker-toggle  matSuffix [for]="picker" (click)="resizeInput()"></mat-datepicker-toggle>
                <mat-datepicker #picker
                (opened)="resizeInput()"
                (closed)="resizeInput()"></mat-datepicker>
             </mat-form-field>
          </div>
       </div>
      </div>
    </div>

    <div class="reviewClassifaction">
      <div class="workspaceName">Please review the classifications of the uploaded files.</div>
      <div class="upload-form-input row mb-20">
        <div class="col-xl-6 col-md-6">
          <div class="row">
            <div class="col-xl-4 col-md-4">
              <label for="confidentiality" style="margin-bottom: 0px;">Confidentiality</label>
            </div>
            <div class="col-xl-8 col-md-8">
              <ng-select  placeholder="Specify confidentiality" name="confidentiality" [searchable]="false" [clearable]="false"
                (change)="onSelectConfidentiality()"
                [(ngModel)]="overallConfidentiality"
                 [ngClass]="{'goldenText': overallConfidentiality}"
                id="confidentiality">
                  <ng-option *ngFor="let c of CONFIDENTIALITY | keyvalue" value="{{c.value}}">{{ CONFIDENTIALITY_LABEL[c.value] }}
                  </ng-option>
               </ng-select>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6">
          <div class="row">
            <div class="col-xl-3 col-md-3">
              <label for="access" style="margin-bottom: 0px;">{{ACCESS_TITLE}}</label>
            </div>
            <div class="col-xl-9 col-md-9">
              <ng-select
              placeholder="Specify visibility"
              name="access"
              (change)="onSelectAccess()" [searchable]="false" [clearable]="false"
              [(ngModel)]="overallAccess"
              [ngClass]="{'goldenText': overallAccess}"
              id="access">
                <ng-option
                  [disabled]="checkAccessOptionDisabled(c.value)"
                  *ngFor="let c of ACCESS | keyvalue"
                  value="{{c.value}}">
                    {{ ACCESS_LABEL[c.value] }}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6">&nbsp;</div>
        <div class="col-xl-6 col-md-6">
          <div class="row upload-form-input" *ngIf="checkShowUserDropdown()">
            <div class="col-xl-3 col-md-3">
              <!-- <label for="access" style="margin-bottom: 0px;">{{ACCESS_TITLE}}</label> -->
            </div>
            <div class="col-xl-9 col-md-9">
              <p class="userText pb-3">{{SPECIFIC_USER_LABEL}}</p>
                <ng-select
                [items]="userList$ | async"
                bindLabel="id"
                bindValue="id"
                [multiple]="true"
                [hideSelected]="true"
                [trackByFn]="trackByFn"
                [minTermLength]="2"
                [loading]="userLoading"
                typeToSearchText="Search users"
                [typeahead]="userInput$"
                [(ngModel)]="overallUsers"
                [ngClass]="{'goldenText': overallUsers}">
                <ng-template ng-option-tmp let-item="item">
                  {{item.id}} ({{item.fullname}})
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-md-6">
          <div class="row">
            <div class="col-xl-4 col-md-4" style="margin-top: 20px;">Usage right</div>
            <div class="col-xl-8 col-md-8">
              <div class="upload-form-input" style="overflow: hidden; margin-bottom: 0px;">
                <label class="control control--checkbox" style="margin-bottom: 0px;float: left;">
                  Approval required before download
                  <input
                     type="checkbox"
                     checked="checked"
                     [(ngModel)]="overallDownloadApproval"
                     [ngModelOptions]="{standalone: true}"
                  />
                  <div class="control__indicator" style="top: 4px;left: 0px;"></div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="upload-form-input row mb-20">
      <div class="col-xl-6 col-md-6">
        <div class="row" *ngIf="overallDownloadApproval">
          <div class="col-xl-4">
            <label style="margin-bottom: 0px;">Specify approver</label>
          </div>
          <div class="col-xl-8">
             <ng-select style="height: unset !important;"
             [items]="userList$ | async"
             bindLabel="id"
             bindValue="id"
             [multiple]="false"
             [hideSelected]="true"
             [trackByFn]="trackByFn"
             [minTermLength]="2"
             [loading]="userLoading"
             typeToSearchText="Search users"
             [(ngModel)]="overallDownloadApprovalUsers"
             [ngClass]="{'goldenText': overallDownloadApprovalUsers}"
             [typeahead]="userInput$" >
             <ng-template ng-option-tmp let-item="item">
                {{item.id}} ({{item.fullname}})
             </ng-template>
             </ng-select>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-6">
        <button (click)="applyToAll()" class="cancel-btn" style="float: right;">Apply to all</button>
      </div>
    </div>
    <!-- Update Classification end -->

    <!-- <div class="publish-summary">
      <div class="assets-details">
        <div class="flexible">
          <img src="../../assets/images/upload.png">
          <!-- <mat-icon>folder</mat-icon> -/->
        <span style="margin-left: 10px; display: block;font-weight: normal;" class="tollTipCustom">{{ sharedService.stringShortener(selectedFolder.title, 40) }}
        <div class="tolltipContent">
          {{selectedFolder.title}}
        </div>
      </span>
        </div>
      </div>

      <div class="publish-summary-location flexible" style="display: inline-block; text-align: right;">
        <div *ngIf="showLocaleDate()" style="margin-left: 20px;padding-bottom: 5px;" class="">
          <!-- <mat-icon>calendar_today</mat-icon> -/->
          <img src="../../assets/images/calendar.png" style="display: inline-block;padding-right: 0px; vertical-align: top;">
          <span style="margin-left: 5px; display: inline-block; font-weight: normal;">{{ showLocaleDate() }}</span>
        </div>
        <span style="padding-right: 3px; color: #413E3C; font-weight: normal;">{{ getSelectedAssetsTitle() }}, </span>
        <span style="color: #413E3C;font-weight: normal;">{{ getSelectedAssetsSize() }}</span>

      </div>
    </div> -->

    <div class="publish-file-preview-groups" style="width: 100%;" id="customScrollBar" >
      <div *ngFor="let doc of docs; let i = index" class="publish-file-preview">
        <div class="row" style="width: 100%;">
          <div class="col-xl-6">
            <div class="publish-file-preview-img">
              <img alt="preview" class="preview-img"
                [src]="getAssetUrl(null, doc.contextParameters.thumbnail?.url)"/>
              <span class="tollTipCustom">{{ sharedService.stringShortener(doc.title, 20) }}
                <div class="tolltipContent">
                  {{doc.title}}
                </div>
              </span>

              <div class="copyright-information">
                <div (click)="openCopyright(i)" *ngIf="!openCopyrightMap[i]">
                 <img src="../../assets/images/add-copyright-golden.svg" alt="Add copyright information" /> Add copyright information
                </div>
                <div *ngIf="openCopyrightMap[i]" class="copyright-form">
                   <ul>
                      <li>
                         <img (click)="closeCopyright(i)" src="../../assets/images/add-circle-brown.svg" alt="Copyright Owner" />
                      </li>
                      <li [ngClass]="{'goldenText':copyrightUserMap[i] }">
                         <div class="copyright-input-block" >
                          Ⓒ <input type="text" placeholder="Copyright Owner" [(ngModel)]="copyrightUserMap[i]" class="copyright-input">
                         </div>
                      </li>
                      <li>
                          <ng-select [items]="years" [searchable]="false" [clearable]="false"
                             bindLabel="name"
                             [(ngModel)]="copyrightYearMap[i]"
                             placeholder="Year"  [ngClass]="{'goldenText': copyrightYearMap[i] }" ngDefaultControl>
                          </ng-select>
                      </li>
                   </ul>
                </div>
             </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="publish-file-preview-access">
              <div class="upload-form-input row">
                <div class="col-xl-4">
                  <label for="confidentiality">Confidentiality</label>
                </div>
                <div class="col-xl-8 ">
                  <!-- <select name="confidentiality" (change)="onSelectConfidentiality($event.target.value, i)" id="confidentiality" [ngClass]="{'goldenText': customConfidentialityMap[i] }">
                    <option hidden disabled selected value></option>
                    <option [selected]="customConfidentialityMap[i] === c.value" *ngFor="let c of CONFIDENTIALITY | keyvalue" value="{{c.value}}">{{ c.value }}</option>
                  </select> -->

                  <ng-select name="confidentiality" [searchable]="false" [clearable]="false"
                  (change)="onSelectConfidentiality(i)"
                  [(ngModel)]="customConfidentialityMap[i]"
                  id="confidentiality"
                  [ngClass]="{'goldenText': customConfidentialityMap[i] }">
                    <ng-option *ngFor="let c of CONFIDENTIALITY | keyvalue" value="{{c.value}}">{{ CONFIDENTIALITY_LABEL[c.value] }}
                    </ng-option>
                 </ng-select>
                </div>

              </div>
              <div class="upload-form-input row">
                <div class="col-xl-4">
                  <label for="access">{{ACCESS_TITLE}}</label>
                </div>
                <div class="col-xl-8">
                  <!-- <select name="access" (change)="onSelectAccess($event.target.value, i)" id="access" [ngClass]="{'goldenText': customAccessMap[i] }" >
                    <option hidden disabled selected value></option>
                    <option [selected]="customAccessMap[i] === c.value"  [disabled]="checkAccessOptionDisabled(c.value, i)" *ngFor="let c of ACCESS | keyvalue" value="{{c.value}}">{{ c.value }}</option>
                  </select> -->


                  <ng-select
                    placeholder="Specify visibility"
                    name="access"
                    (change)="onSelectAccess(i)" [searchable]="false" [clearable]="false"
                    id="access"
                    [(ngModel)]="customAccessMap[i]"
                    [ngClass]="{'goldenText': customAccessMap[i] }">
                      <ng-option
                        [disabled]="checkAccessOptionDisabled(c.value, i)"
                        *ngFor="let c of ACCESS | keyvalue"
                        value="{{c.value}}">
                          {{ ACCESS_LABEL[c.value] }}
                      </ng-option>
                 </ng-select>
                </div>

              </div>
              <div *ngIf="checkShowUserDropdown(i)" class="upload-form-input row" style="display: flex;">
                <div class="col-xl-4">
                  <!-- <label for="user">Users</label> -->
                  &nbsp;
                </div>
                <div class="col-xl-8">
                  <p class="userText pb-3">{{SPECIFIC_USER_LABEL}}</p>
                  <ng-select
                  [items]="userList$ | async"
                  bindLabel="id"
                  bindValue="id"
                  [multiple]="true"
                  [hideSelected]="true"
                  [trackByFn]="trackByFn"
                  [minTermLength]="2"
                  [loading]="userLoading"
                  typeToSearchText="Search users"
                  [typeahead]="userInput$"
                  [(ngModel)]="customUsersMap[i]"
                  [ngClass]="{'goldenText': customUsersMap[i]}">
                  <ng-template ng-option-tmp let-item="item">
                    {{item.id}} ({{item.fullname}})
                  </ng-template>
                </ng-select>
                </div>

              </div>
              <!-- <div class="upload-form-input row">
                <div class="col-xl-4">
                   <label for="allow">Allow use</label>
                </div>
                <div class="col-xl-8">
                  <ng-select placeholder="Specify permissible usage" name="allow" [searchable]="false" [clearable]="false"(change)="onSelectAllow($event.target.value, i)" id="allow" [ngClass]="{'goldenText': customAllowMap[i] }" [(ngModel)]="customAllowMap[i]">
                    <ng-option *ngFor="let c of ALLOW | keyvalue" value="{{c.value}}" [disabled]="checkAccessOptionDisabled(c.value, i)">{{ ALLOW_LABEL[c.value] }}
                    </ng-option>
                 </ng-select>
                </div>
              </div> -->

              <div class="upload-form-input row" style="overflow: hidden;">
                <div class="col-xl-4">
                  <label style="margin-bottom: 0px;">Usage right</label>
                </div>
                <div class="col-xl-8">
                  <label class="control control--checkbox" style="margin-bottom: 0px;float: left;">
                    Approval required before download
                    <input
                       type="checkbox"
                       checked="checked"
                       [(ngModel)]="customDownloadApprovalMap[i]"
                       [ngModelOptions]="{standalone: true}"
                    />
                    <div class="control__indicator" style="top: 4px;left: 0px;"></div>
                  </label>
                </div>
              </div>

              <div *ngIf="checkOwnerDropdown(i)" class="upload-form-input row mb-20">
                <div class="col-xl-4">
                   &nbsp;
                </div>
                <div class="col-xl-8">
                   <p class="userText pb-3">{{OWNER_APPROVAL_LABEL}}</p>
                   <ng-select style="height: unset !important;"
                   [items]="userList$ | async"
                   bindLabel="id"
                   bindValue="id"
                   [multiple]="true"
                   [hideSelected]="true"
                   [trackByFn]="trackByFn"
                   [minTermLength]="2"
                   [loading]="userLoading"
                   typeToSearchText="Search users"
                   [typeahead]="userInput$"
                   [(ngModel)]="customDownloadApprovalUsersMap[i]"
                   [ngClass]="{'goldenText': customDownloadApprovalUsersMap[i] }" >
                   <ng-template ng-option-tmp let-item="item">
                      {{item.id}} ({{item.fullname}})
                   </ng-template>
                   </ng-select>
                </div>
              </div>

            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
  <!-- <div *ngIf="step === 2">
    <div class="finish-screen">
      <span>Updating...</span> -->
      <!-- <span>Your assets have been successfully updated.</span>
      <div class="destination-folder">
        <span class="assetName">{{ selectedFolder.title }}</span>
      </div>
      <div (click)="closeModal()" class="close-modal">
        Close
      </div> -->
    <!-- </div>
  </div>  -->
  <div class="button-groups" >
    <button (click)="closeModal()" class="cancel-btn">Cancel</button>
    <div class="progress-btns">
      <button *ngIf="step === 2" class="upload-btn" >
        Updating
      </button>
      <button *ngIf="step !== 2" (click)="toNextStep()" [ngClass]="{'btn-disable': checkFormState()}" class="upload-btn" >
        Update
      </button>

    </div>
  </div>
</div>
