/*
.load{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top: 10px solid #EBC03F;
    border-bottom: 10px solid #EBC03F;
    animation: rotate 1.8s linear infinite;
    position: absolute;
      left: 0;
      right: 0;
      margin: auto;
  }

   */

   .overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222;
    z-index: 99999;
    opacity: 0.7;
}
.white_overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: white;
  z-index: 99999;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* .overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
} */

.spinner {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-width: 8px;
  border-color: #DEB31A;
  border-top-color: #f8eecc;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
  opacity: 1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute !important;
  background: #fff;
  z-index: 5;
  opacity: 1;
}
.overlay__content {
  left: 50%;
  position: absolute;
  top: 150px;
  transform: translate(0%, -50%);
}
.loadingText {
  display: block;
  text-align: center;
}