
.load{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top: 10px solid #EBC03F;
    border-bottom: 10px solid #EBC03F;
    animation: rotate 1.8s linear infinite;
    position: absolute;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  