<!-- <app-sub-header></app-sub-header> -->
<section style="background-color: #fff;" class="lpBAck">
  <section class="lpSecOne ">
    <div class="container">

      <div class="row">
        <div class="col-xl-3 col-md-3 pt-2 customToggle pt-5 animate__animated animate__fadeIn" style="background-color: #F8F8F5;">
         <app-setting-navigation></app-setting-navigation>
        </div>
        <div
          class="col-xl-9 col-md-9 pl-5 pt-5 pb-5 bg-white positionRelative animate__animated animate__fadeIn"
          style="min-height: calc(100vh - 76px)"
        >
          <app-loader [show]="loading"></app-loader>
         

          <router-outlet></router-outlet>
          <!-- <app-manage-suppliers *ngIf="showUserManageSuppliers && !showUserSettingPage && !showUserAccessPage"></app-manage-suppliers>
          <app-manage-locations *ngIf="showUserManageLocations && !showUserManageSuppliers && !showUserSettingPage && !showUserAccessPage"></app-manage-locations> -->
        </div>
      </div>
    </div>
  </section>
</section>
