.pb-10 {
    padding-bottom: 10px !important;
}
.pb-20 {
    padding-bottom: 20px !important;
}
.pb-30 {
    padding-bottom: 30px !important;
}
.pt-30 {
    padding-top: 30px !important;
}
.pt-60 {
    padding-top: 60px !important;
}
.pt-none{
    padding-top: 0px !important;
}
.reportBlock {
  padding: 0px 0px 60px 110px;
  min-height: calc(100vh - 130px);
}
.displayFlex{
    display: flex;
    padding: 30px 0px;
}
static-card{
    margin-right: 20px;
    width: 20%;
    background: #E8E6DF;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px 10px 20px;
    min-height: 130px;
}
.tableGraph {
    overflow: hidden;
    margin: 0px -10px;
}
app-graph, app-table-card{
    margin: 0px 10px;
    width: calc(50% - 20px);
    background: #fff;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid #E8E6DF;
    padding: 20px;
    float: left;
}
static-card{
    background: #fff8e3;
    color: #333;
    box-shadow: 0px 0px 10px #e7ddbf;
}
/* 
static-card:nth-child(1){
    background: #cd6b12;
    /* background: linear-gradient(177deg, #F68D2E 0%, #cd6b12 100%); 
    background: linear-gradient(177deg, #f7809a 0%, #ed3e64 100%);
    color: #fff;
}
static-card:nth-child(2){
    background: #03709f;
    background: linear-gradient(177deg, #25bbfb 0%, #03709f 100%);
    color: #fff;
}
static-card:nth-child(3){
    background: #59b25f;
    background: linear-gradient(177deg, #73e37b 0%, #59b25f 100%);
    color: #fff;
}
static-card:nth-child(4){
    background: #0076A8;
    background: linear-gradient(177deg, #0076A8 0%, #015275 100%);
    color: #fff;
}
static-card:nth-child(5){
    background: #0daec3;
    background: linear-gradient(177deg, #1ae5ff 0%, #0daec3 100%);
    color: #fff;
} */
/* Custom tabs css start 12-Nov-2021 */
.customTab {
    padding: 60px 0px 40px;
    width: 100% !important;
    float: left;
  }
  .customTab .tab-content {
    padding: 25px 0px 0px;
  }
  .customTab .nav>li>a {
    position: relative;
    display: block;
    padding: 8px 0px;
    color: #000000;
    font-size: 15px;
  }
  .customTab .nav-tabs {
     border-bottom: 0px;
  }
  .customTab .nav-tabs > li.active:before {
    border-color: transparent;
    border-top-color: transparent;
    border-width: 1px;
    margin-left: 0;
    height: 2px;
    background: #C49900;
    width: 100%;
    left: 0px;
  }
  .customTab .nav-tabs > li.active:after {
    border-color: transparent;
    border-top-color: transparent;
    border-width: 0px;
    margin-left: 0;
    left: 0px;
  }
  .customTab .nav-tabs > li.active > a,
  .customTab .nav-tabs > li.active > a:focus,
  .customTab .nav-tabs > li.active > a:hover{
    color: #C49900 !important;
    font-weight: normal !important;
  }
  .customTab .nav-tabs>li>a{
    margin: 0px;
  }
  .customTab .nav-tabs > li {
    margin-right: 20px;
  }
  .customTab .image-block {
    margin: 5px;
    position: relative;
  }
  .customTab .tab-pane {
    position: relative;
  }
  .customTab .show-all {
    font-size: 15px;
    line-height: 24px;
    color: #040404;
    position: absolute;
    top: -56px;
    right: 90px;
    cursor: pointer;
  }
  /* Custom tabs css end 12-Nov-2021 */